.card {
  width: 326px;
  height: 311px;
  border-radius: 10px;
  padding: 32px;
  background-color: aliceblue;
}

.wideCard {
  width: 343px;
}

.margined {
  margin-top: 163px;
}

.industry {
  border-radius: 20px;
  padding: 5px 10px;
  width: fit-content;
  height: 21px;
  background-color: rgba(0, 123, 255, 0.08);
  text-transform: uppercase;
  margin: 32px 0 12px 0;
}

.industryText {
  display: block;
}

.link {
  display: flex;
  align-items: center;
}

.arrow {
  margin-left: 13px;
  width: 12px;
  height: 12px;
}

@media (max-width: 900px) {
  .margined {
    margin-top: 0;
  }
}
