---
layout: "newsletter"
background_color: "#FFFFFF"
title: "Latest News"
lead: "We believe the best way to protect data is not to reveal it. That's why our platform enables confidential bank account checks that don't reveal personal or sensitive data, not even to us."
noindex: true
sitemap:
  exclude: "yes"
---

{% include newsletter/components/spacer.html %}

{% include newsletter/components/card/col-1.html 
  media = "https://mcusercontent.com/9f43d32d2e59f93b328809787/images/483af261-e6e1-48b9-9bcc-0b2efda31642.jpg"
  media_alt = "Paint being creating spreading pattern on the floor"
  label = "Press - Release"
  title = "The Growing Ecosystem of Non-Fungible Tokens (NFTs)"
  body = "A recent report from Forbes (2021) shows that Non-Fungible Tokens (NFT) transaction volume more than quadrupled in 2020, from $ 62 million to over $ 250 million. Brands like NBA, Nike, and Formula 1 have started to issue their own NFTs, catering to a tech-savvy audience.<br><br>The main characteristics and use cases of NFTs are outlined in our recent press-release."
  button_label = "Learn more"
  button_color = "highlight"
  button_link = "https://appliedblockchain.com/growing-ecosystem-non-fungible-tokens"
%}

{% include newsletter/components/spacer.html %}

{% include newsletter/components/card/col-1.html 
  media = "https://mcusercontent.com/9f43d32d2e59f93b328809787/images/f9980300-a61d-49ff-a424-2b9b63235cd3.png"
  media_alt = "Paint being creating spreading pattern on the floor"
  label = "Company"
  title = "Our team is growing"
  body = "The size of the team has doubled in the past 12 months with 9 more people joining the team in the last 2 months"
%}

{% include newsletter/components/spacer.html %}
