@charset "UTF-8";



/* 
 * —————————————————————————————————————————————————————————————————
 * ABOUT
 * —————————————————————————————————————————————————————————————————
*/

.about-intro {
    padding-bottom: 0;

    &__item {
        padding-bottom: $integer*6;

        &:nth-child(1) {
            @include background-image(linear-gradient(to bottom, rgba($primary-lighten, 0), $primary-lighten));
            padding-right: $integer*4; 
            padding-left: $col*2;
        }
        
        &:nth-child(2) {
            @include background-image(linear-gradient(to bottom, rgba($primary-darken, 0), $primary-darken));
            padding-right: $col*2; 
            padding-left: $integer*4;
        }

        @include responsive(max-width, $break-tablets-max) {
            background-image: none !important;
            background-color: $primary;
            padding-left: $col*3 !important;
            padding-right: $col*3 !important;
        }

        @include responsive(max-width, $break-phones-max) {
            padding-left: $col*2 !important;
            padding-right: $col*2 !important;
        }
    }

    &__image {
        height: $integer*15;
        margin: $integer*2 0;
        @include responsive(max-width, $break-tablets-max) {
            height: $integer*10;
        }
    }
}

.timeline {
    padding-bottom: 0;

    &__content {
        @include flex-direction(column);
        position: relative;

        &:before {
            @include pseudo-element('', 0, auto, 0, 50%, 2px, 100%);
            @include transform(translateX(-1px));
            @include border-radius(5px);
            background-color: $mediumgrey;
            @include responsive(max-width, $break-tablets-max) {
                left: $integer;
            }
        }

        /*date position*/
        > span {

            &:nth-of-type(odd) {

                .timeline__date {
                    @include calc(left, '50% +' $integer*2); 
                    right: auto;
                }
            }

            &:nth-of-type(even) {

                .timeline__date {
                    @include calc(right, '50% +' $integer*2);
                    left: auto;
                }
            }
        }

        /*item position*/
        > div {

            &:nth-of-type(odd) {
    
                .timeline__text {
                    text-align: right;
                    padding-right: $integer*2;
                    padding-left: $col;
                    @include responsive(max-width, $break-desktop-max) {
                        padding-left: 0;
                    }
                }
    
                .timeline__icon {
                    padding-left: $integer*2;
                }
            }
    
           &:nth-of-type(even) {
               @include flex-direction(row-reverse);
    
               .timeline__text {
                    text-align: left;
                    padding-left: $integer*2;
                    padding-right: $col;
                    @include responsive(max-width, $break-desktop-max) {
                        padding-right: 0;
                    }
                }
    
                .timeline__icon {
                    padding-right: $integer*2;
                }
            }                
        }
    }

    &__headline {
        position: relative;
        margin: $integer 0;
        @include responsive(max-width, $break-tablets-max) {
            width: 100%;
            text-align: left;
        }
        @include responsive(max-width, $break-tablets-max) {
            margin-bottom: $integer/2;
        }

        &:nth-child(1) {
            margin-top: 0;            
        }
    }

    &__dot {
        @include border-radius($integer*2);     
        display: inline-block;
        background-color: $secondary;
        width: $integer;
        height: $integer;
        margin-top: -$integer/2;
        border: $integer/2 solid $white;
        box-sizing: content-box;
    }

    &__date {
        position: absolute;
        top: -$integer/2;
        pointer-events: none;
        @include responsive(max-width, $break-tablets-max) {
            right: auto !important;
            left: $integer*3 !important;
        }
    }

    &__item {
        @include display-flex();
        @include align-items(center);
        @include responsive(max-width, $break-desktop-max) {
            margin-top: $integer;
            margin-bottom: $integer;
        }
        @include responsive(min-width, $break-xlarge-desktop) {
            margin-top: $integer;
            margin-bottom: $integer;
        }

        & + & {
            margin-top: -$integer;
        }

        &:nth-last-child(1) {
            padding-bottom: $integer*2;
        }

        @include responsive(max-width, $break-tablets-max) {
            & + & {
                margin-top: $integer;
            }
        }
    }
    
    &__text {
        @include flex-basis(50%);
        @include responsive(max-width, $break-tablets-max) {
            @include flex-basis(100% !important);
            text-align: left !important;
            padding-left: $integer*3 !important;
            padding-right: 0!important;
        }
    }

    &__icon {
        @include flex-basis(0);
        height: $integer*10;
        @include responsive(max-width, $break-tablets-max) {
            display: none;
        }
    }
}

.leadership {

    .background--cover {
        background-position: top right;
    }

    #bilal.background--cover {
        background-position: center right;
    }

    &__content {
        @include background-image(linear-gradient(to left, rgba($primary, 0), $primary 40%, $primary));
        padding: $integer*4 $col*4 $integer*8 $col*2;
        text-align: left;
        @include responsive(max-width, $break-desktop-max) {
            padding-right: $col*2;
            padding-bottom: $integer*6;
        }
        @include responsive(max-width, $break-tablets-max) {
            padding-left: $col;
            padding-right: $col;
            padding-bottom: $integer*4;
            background-image: none;
            background-color: $primary;
        }
    }

    &__nav {
        margin-top: -$integer*4;
        margin-bottom: -$integer;
        z-index: 1;
        @include responsive(max-width, $break-desktop-max) {
            margin-top: -$integer*3;
        }
        @include responsive(max-width, $break-tablets-max) {
            margin-top: -$integer*2;
        }
    }

    .nav__button--active {
        @include filter(grayscale(0));
    }

    &__button {
        width: $integer*10;
        margin-bottom: $integer;
        @include responsive(max-width, $break-desktop-max) {
            width: $integer*7;
        }
        @include responsive(max-width, $break-tablets-max) {
            width: $integer*5;
        }
    }

    &__portrait {
        width: $integer*8;
        height: $integer*8;
        margin: 0 auto $integer auto;
        @include responsive(max-width, $break-desktop-max) {
            width: $integer*6;
            height: $integer*6;
        }
        @include responsive(max-width, $break-tablets-max) {
            width: $integer*4;
            height: $integer*4;
        }
    }
}

.team {
    position: relative;
    height: $integer*30;

    &:before {
        @include pseudo-element('', 0, 0, 0, 0, 100%, 100%);
        background-color: rgba($primary, 0.7);
    }

    &__button {
        @include align-self(center);
    }
}