@charset "UTF-8";



/* 
 * —————————————————————————————————————————————————————————————————
 * DELIVERY PROCESS
 * —————————————————————————————————————————————————————————————————
*/

.calendar {
    @include display-flex();
    @include align-items(center);
    @include justify-content(space-between);
    width: 100%;

    &__item {
        @extend .calendar;
        height: 2px;
        background-color: $mediumgrey;

        &:nth-child(14n+14) {
            background-color: transparent;
        }
    }
    
    &__dot {
        @include border-radius(50%);
        width: $integer/2;
        height: $integer/2;
        background-color: $mediumgrey;
        
        &--large {
            @extend .calendar__dot;
            width: $integer;
            height: $integer;
        }
    }
}