@charset "UTF-8";



/* 
 * —————————————————————————————————————————————————————————————————
 * PRODUCTS
 * —————————————————————————————————————————————————————————————————
*/

.products-intro__image {
    @include responsive(max-width, $break-desktop-max) {
        display: none;
    }
}

.products {

    &__container {

        & + & {
            @include responsive(max-width, $break-phones-max) {
                margin-top: $integer;
            }
        }
    }

    &__intro {
        @include background(85% top, 65%);
        @include responsive(min-width, $break-large-desktop-min) {
            @include background(85% top, 45%);
        }
        @include responsive(max-width, $break-desktop-max) {
            background-image: none !important;
            text-align: center;
        }
    }

    &__item {
        @include display-flex();
        @include flex-direction(column);
        @include justify-content(space-between);
        padding: $integer*4;
        height: 100%;
        @include responsive(max-width, $break-tablets-max) {
            padding: $integer*2;
        }
    }

    &__logo {
        width: 20%;
        min-width: $integer*4;
        max-width: $integer*6;
    }

    &__name {
        margin: $integer 0 $integer/2 0;
    }

    &__button {
        margin-top: $integer;
    }
}

.devtools {
    text-align: left;
    @include responsive(max-width, $break-tablets-max) {
        text-align: center;
    }

    &__item {
        @include align-items(center);
    }

    &__image {
        max-height: $integer*12;
        @include responsive(max-width, $break-tablets-max) {
            display: none;
        }
    }
}