---
layout: default
title: About
subtitle: We are a team of engineers, designers, and advisors with unique expertise in applying advances in cryptography to solve our client’s business problems
background_color: white
---

<section id="about-intro" class="section section--white section--full">
  <div class="section__content section__content--2">
    {% for item in site.data.about.intro %}
    <div class="card card--lg">
      <div class="card__inner">
        <p class="card__title subtitle">{{ item.title }}</p>
        <img src="{{ site.base-url }}{{ site.imageurl }}/icons/icon-{{ item.id | slugify }}.svg" alt="{{ item.id }} icon" class="card__image">
        <p class="card__body body">{{ item.body }}</p>
      </div>
    </div>
    {% endfor %}
  </div>   
</section>

<section id="about-leadership" class="section section--grey">
  {% include components/sectionHeader.html
    title = 'Leadership team'
    body = 'Our founding team brings in 20+ years of experience in enterprise IT architecture, big data, artificial intelligence, integration and solution delivery in telecommunications and financial services.'
  %}
  <div class="section__content body--left z-index--2">
    <div class="row card__wrapper">
      {% for item in site.data.about.leadership %}
      <div class="card__outer grid__item--xl5 grid__item--lg6">
        <div class="card card--portrait background--shadow">
          <div class="card__image background--cover" style="background-image: url('{{ site.base-url }}{{ site.imageurl}}/team/{{ item.name | slugify }}.jpg');">
            <p class="card__body-hidden body">{{ item.bio }}</p>
          </div>
          <div class="card__inner">
            <p class="card__label label">{{ item.title }}</p>
            <p class="card__title lead">{{ item.name }}</p>
            <p class="card__body body">{{ item.bio }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="about-team" class="section section--white section--overlap">
  {% include components/sectionHeader.html
    title = 'Management team'
  %}
  <div class="section__content body--left">
    <div class="row card__wrapper card__wrapper--inline">
      {% for item in site.data.about.team %}
      <div class="card card--portrait card--sm">
        <img src="{{ site.base-url }}{{ site.imageurl}}/team/portrait/{{ item.thumbnail }}.jpg" alt="Portrait of team member" class="card__avatar">
        <div class="card__inner body--center">
          <p class="card__label body--large body--primary body--regular">{{ item.name }}</p>
          <p class="card__title label">{{ item.title }}<br><span class="body--regular">{{ item.office }}</span></p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="section__content">
    <a href="https://apply.workable.com/appliedblockchain/" target="_blank" class="ga-button-join button button--primary button--animate fas fa-user-plus">
      <h1 class="button__inner">Join us</h1>
    </a>
  </div>
</section>

<section class="section section--grey no-padding--left no-padding--right">
  {% include components/sectionHeader.html
    title = 'Investors'
  %}
  <div class="section__content">
    <div class="card testimonials">
      {% include components/carousel.html 
        type = 'testimonials'
        variant = 'testimonials_investors' 
      %}
    </div>
  </div>
</section>

<section class="section section--white timeline">
  {% include components/sectionHeader.html
    title = 'Our story'
  %}
  <div class="section__content timeline">
    {% for year in site.data.timeline %}
    <span class="timeline__headline">
      <span class="timeline__dot"></span>
      <p class="timeline__date lead">{{ year.year }}</p>
    </span>
    {% for item in year.item %}
    <div class="timeline__item">
      <div class="timeline__text">
        <div class="card card--sm card__inner background--shadow">
          <p class="card__title body">{{ item.body }}</p>
          {% if item.link %}
          <a href="{{ site.base-url }}/{{ item.link }}" class="timeline__button button button--small button--primary button--animate fas fa-{{ item.link_icon }}">
            <p class="button__inner">{% if item.link_title %}{{ item.link_title }}{% else %}{{ item.link }}{% endif %}</p>
          </a>
          {% endif %}
        </div>
      </div>
      <span class="timeline__dot"></span>
      <div class="timeline__icon">
        <img src="{{ site.base-url }}{{ site.imageurl }}/{% if item.icon_type == 'logo' %}logos/products/{{ item.icon }}.png{% else %}icons/icon-{{ item.icon }}.svg{% endif %}" alt="{{ item.icon }} icon"{% if item.icon_type == 'logo' %} class="timeline__logo"{% endif %}>
      </div>
    </div>
    {% endfor %}
    {% endfor %}
  </div>
</section>