---
layout: "default"
id: "applied-privacy"
title: "Confidential Computing"
label: "Confidential Computing"
headline: "The future of data privacy"
body: "Take data security to the next level with confidential computing. Conduct computation on data without having any access to the data. Data resides inside hardware secured enclaves, meaning that even a system administrator or someone with physical access to the machine cannot access the sensitive data. Our team of experts specialise in building solutions using the most advanced platforms in this space including Intel SGX, R3 Conclave and Microsoft Azure."
background_image: "applied-privacy.svg"
---

<section id="index-intro" class="section section--white">
  {% include components/sectionHeader.html
    title = 'Industry leading partners'
  %}
  <div class="section__content">
    <div class="row">
      <div class="coloffset--xl2 grid__item--xl8 coloffset--md1 grid__item--md10">
        <div class="card block__title">
          {% include components/carousel.html
              variant = 'partners'
            %}
        </div>
      </div>
    </div>
  </div>
</section>

<section id="index-intro" class="section section--white">
  {% include components/sectionHeader.html
    comment = 'Use cases'
  %}
  <div class="section__content z-index--2">
    <div class="card__wrapper">
      <div class="row">
        <!-- edit use cases content in _data/privacy.yml -->
        {% for item in site.data.privacy %}
        <div class="grid__item--xl3 grid__item--sm6">
          <div class="card card--sm">
            <div class="card__inner background--shadow">
              <i class="card__image subtitle fas fa-{{ item.icon }} body--primary"></i>
              <p class="card__title body--large body--bold">{{ item.title }}</p>
              <p class="card__body body">{{ item.body }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section id="index-testimonials" class="section section--primary section--overlap no-padding--left no-padding--right">
  <div class="section__content">
    <div class="card testimonials">
      {% include components/carousel.html
        type = 'testimonials'
        variant = 'testimonials_clients'
      %}
    </div>
  </div>
</section>

<section class="section">
  {% include components/sectionHeader.html
    comment = 'Register interest and get our report'
    title = 'Confidential computing and the future of data privacy'
    body = 'A new data privacy technology is becoming available in the mainstream, and we believe it opens up a wealth of opportunities. In this paper we explain secure enclaves and the breadth of new business applications they present.'
  %}
  <div class="section__content">
    <div class="form__container">
      <div class="form form--pipedrive background--shadow">
        <img class="form__cover" src="{{ site.base-url }}{{ site.imageurl }}/resources/reports/report-confidential-computing.jpg" alt="Cover and inside example of a printed report">
        <div class="pipedriveWebForms"
          data-pd-webforms="https://webforms.pipedrive.com/f/2XgSPY89VeFbDqNzLeKa2lJZbcUrJ5y484hBON2kAjTYXcAAjrpSzp3IzhpUULOg3">
          <script src="https://webforms.pipedrive.com/f/loader"></script>
        </div>
      </div>
    </div>
  </div>
</section>
