---
layout: default
title: Confidential Computing
comment:
headline: Confidential Computing
subtitle: The future of data privacy
body: Take data security to the next level with confidential computing. Conduct computation on data without having any access to the data. Data resides inside hardware secured enclaves, meaning that even a system administrator or someone with physical access to the machine cannot access the sensitive data. Our team of experts specialise in building solutions using the most advanced platforms in this space including Intel SGX, R3 Conclave and Microsoft Azure.
logo: images/logos/applied-privacy.svg
---

<section id="index-intro" class="section section--white">
  {% include containers/sections/header.html
    title = 'Partnering with the industry leaders'
  %}
  <div class="section__content">
    <div class="row">
      <div class="coloffset--xl2 col--xl8 coloffset--md1 col--md10">
        <div class="card block__title">
          {% include elements/carousel.html
              variant = 'partners'
            %}
        </div>
      </div>
    </div>
  </div>
</section>

<section id="index-intro" class="section section--white">
  {% include containers/sections/header.html
    comment = 'Use cases'
  %}
  <div class="section__content">
    <div class="card__wrapper">
      <div class="row">
        <div class="col--lg4 col--md6">
          <div class="card card--sm">
            <div class="card__inner background--shadow">
              <i class="card__header title fas fa-fingerprint body--primary"></i>
              <p class="card__body body"><strong>AI</strong>: Perform privacy-preserving NLP and machine learning to gain insights from fully encrypted sensitive data belonging to different parties.</p>
            </div>
          </div>
        </div>
        <div class="col--lg4 col--md6">
          <div class="card card--sm">
            <div class="card__inner background--shadow">
              <i class="card__header title fas fa-exchange-alt body--highlight"></i>
              <p class="card__body body">Market Data: Generate data from private, sensitive, fully encrypted transactional data belonging to different parties.</p>
            </div>
          </div>
        </div>
        <div class="col--lg4 col--md12">
          <div class="card card--sm">
            <div class="card__inner background--shadow">
              <i class="card__header title fas fa-coins body--dark"></i>
              <p class="card__body body">Dark Pools: Match encrypted fully transactions to prevent anyone from seeing or accessing the order book.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section--alt">
  <div class="section__content">
    <div class="row">
      <div class="form__container">
        <div class="form form--pipedrive background--shadow">
          <div class="pipedriveWebForms"
            data-pd-webforms="https://webforms.pipedrive.com/f/2XgSPY89VeFbDqNzLeKa2lJZbcUrJ5y484hBON2kAjTYXcAAjrpSzp3IzhpUULOg3">
            <script src="https://webforms.pipedrive.com/f/loader"></script>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
