---
layout: "default"
title: "Confidential Computing"
label: "Confidential Computing"
headline: "The future of data privacy"
subtitle: "Take data security to the next level with confidential computing. Conduct computation on data without having any access to the data. Data resides inside hardware secured enclaves, meaning that even a system administrator or someone with physical access to the machine cannot access the sensitive data. Our team of experts specialise in building solutions using the most advanced platforms in this space including Intel SGX, R3 Conclave and Microsoft Azure."
---

<div class="section">
  <div class="section__container">
    {% include components/section-header.html
      title = "Industry leading partners"
    %}
    <div class="section__content">
      <div class="grid__wrapper grid__spacing--2 grid--jc-center grid__inline grid__inline--xl7 grid__inline--lg6 grid__inline--md5 grid__inline--sm4 grid__inline--3">
        {% for logo in site.data.partners %}
        <div class="grid__item">
          <img src="{{ site.base-url }}{{ site.imageurl }}/logos/partners/{{ logo.name | slugify }}.png" alt="Logo for {{ logo.name }}">
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="section section--grey">
  <div class="section__container">
    {% include components/section-header.html
      title = "Use cases"
    %}
    <div class="section__content">
      <div class="grid__wrapper grid__spacing--2">
        {% for item in site.data.privacy %}
        <div class="grid__item grid__item--xl3 grid__item--sm6">
          <div class="card card--md card--center">
            <div class="card__media">
              {% svg assets/icons/feather/{{item.icon}}.svg fill="#000A1E" %}
            </div>
            <div class="card__header">
              <p class="card__title">{{ item.title }}</p>
              <p class="card__subtitle">{{ item.body }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>  
</div>

<div class="section">
  <div class="section__container">
    <div class="section__content">
      {% include components/sections/testimonials.html %}
    </div>
  </div>
</div>

<div class="section section--primary">
  <div class="section__container">
    <div class="grid__wrapper grid__spacing--8">
      <div class="grid__item grid__item--md6">
        {% include components/section-header.html
          label = "Register interest and get our report"
          title = "Confidential computing and the future of data privacy"
          subtitle = "A new data privacy technology is becoming available in the mainstream, and we believe it opens up a wealth of opportunities. In this paper we explain secure enclaves and the breadth of new business applications they present."
          link_label = "Download report"
          link_collection = "_reports"
          link_url = "confidential-computing"
          link_title = "Go to report page"
          link_color = "white"
        %}    
      </div>
      <div class="grid__item grid__item--md6">
        <div class="card card--lg card--transparent">
          <div class="card__media">
            <img src="{{ site.base-url }}{{ site.imageurl }}/resources/reports/report-confidential-computing.jpg" alt="Cover and inside example of a printed report" class="card__thumbnail">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
