---
layout: "default"
title: "Blog"
subtitle: "Pellentesque eu laoreet augue. Praesent ullamcorper elementum ex. Etiam ante dolor, bibendum eget dignissim vel, tempor nec nisl. Aliquam varius eu augue et placerat."
banner_image: "news-article.jpg"
menus:
  header:
    weight: 5
  footer_company:
    weight: 6
tabs: "post-categories"
---

{% include components/sections/search.html 
  variant = "posts"
%}

<div class="section">
  <div class="section__container">
    <div class="section__content">
      <div class="js-filter-content grid__wrapper grid__spacing--2">
        {% if site.posts.size > 0 %}
        {% for post in site.posts %}
        <div class="grid__item grid__item--lg4 grid__item--md6 {{ post.category | slugify }}">
          {% include components/cards/post.html %}
        </div>
        {% endfor %}
        {% else %}
        <div class="grid__item">
          {% include components/section-header.html
            title = "We’re sorry"
            subtitle = "There are no posts available right now. Come back soon!"
          %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
