---
layout: "default"
title: "Case studies"
subtitle: "We work with enterprises and startups across all verticals. We advise, design and develop pragmatic solutions best suited to customer needs using blockchain, advanced cryptography and secure enclaves"
banner_image: "projects.jpg"
menus: 
  solutions:
    weight: 3
  footer_customers_all:
    title: "All case studies"
---

{% assign case_studies = site.projects | sort : "order" | where: "case_study", true %}

{% include components/sections/search.html 
  variant = "case-studies"
%}

<div class="section">
  <div class="section__container">
    <div class="section__content">
      <div class="grid__wrapper grid__spacing--2">
        {% for project in case_studies %}
        <div class="grid__item grid__item--lg4 grid__item--sm6">
          {% include components/cards/case-study.html %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
