---
layout: "default"
background_image: contact.svg
title: "Contact"
headline: "Contact us"
subtitle: "Send us a message to learn more about our services and how we can support you"
menus:
  footer_company:
    weight: 7
---

<div class="section">
  <div class="section__container">
    <div class="grid__wrapper grid__spacing--8 grid--jc-flex-end">
      <div class="grid__item grid__item--md5">
        <div class="card card--md spinner spinner--center">
          <div class="pipedriveWebForms" data-pd-webforms="https://pipedrivewebforms.com/form/273256c741bb877073d9fe9c923f1c942026773">
            <script src="https://cdn.eu-central-1.pipedriveassets.com/web-form-assets/webforms.min.js"></script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="section__container">
    <div class="grid__wrapper grid__spacing--8">
      <div class="grid__item grid__item--md7">
        {% include components/section-header.html
          title = "Our offices"
          subtitle = "Applied Blockchain is based in London and Porto"
        %}
        <div class="section__content">
          <div class="grid__wrapper grid__spacing--6">
            {% for office in site.offices %}
            <div class="grid__item">
              <div class="card card--md card--transparent">
                <div class="card__header">
                  <p class="card__title">{{ office.location }}</p>
                  <p class="card__subtitle">{{ office.address | markdownify }}</p>
                </div>
                <div class="card__actions">
                  <a href="{{ office.direction }}" target="_blank" rel="noopener" class="button button--primary">
                    Get directions
                    {% svg /assets/icons/feather/external-link.svg %}
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
