---
layout: "default"
title: "Events"
background_color: "white"
menus: "about-us"
---

<!-- reverse the order -->
{% assign sorted = site.data.events | reverse %}
<!-- capture today's date -->
{% capture now %} {{ 'now' | date: '%s' | plus: 0 }} {% endcapture %}

<section class="section section--white">
  <div class="section__content tab tab--events">
    <div class="tab__nav">
      <a href="#webinars" class="tab__button button button--primary button--animate fa fa-desktop">
        <p class="button__inner">Webinars</p>
      </a>
      <a href="#upcoming" class="tab__button button button--primary button--primary-lighten button--animate fa fa-fast-forward">
        <p class="button__inner">Upcoming</p>
      </a>
      <a href="#past" class="tab__button button button--primary button--primary-lighten button--animate fa fa-fast-backward">
        <p class="button__inner">Past</p>
      </a>
    </div>
    <div class="tab__content">
      <div id="webinars" class="tab__item">
        <div class="tab__content block background--shadow no-padding">
          {% for event in site.data.events %}
          {% if event.display == 'webinar' %}
          {% include components/event.html %}
          {% endif %}
          {% endfor %} 
        </div>
      </div>
      <div id="upcoming" class="tab__item">
        <div class="tab__content block background--shadow no-padding">
          {% for event in sorted %}
          {% capture date %} {{ event.date | date: '%s' | plus: 0 }} {% endcapture %} 
          {% if date >= now %}
          {% include components/event.html 
            variant = 'upcoming'
          %}
          {% endif %}
          {% endfor %} 
        </div>
      </div>
      <div id="past" class="tab__item">
        <div class="tab__content block background--shadow no-padding">
          {% for event in site.data.events %}
          {% capture date %} {{ event.date | date: '%s' | plus: 0 }} {% endcapture %}
          {% if date < now %}
          {% include components/event.html 
            variant = 'past'
          %}
          {% endif %}
          {% endfor %} 
        </div>
      </div>
    </div>
  </div>
</section>