---
layout: "default"
title: "Events"
subtitle: "Find us at Blockchain events, subscribe to our webinars"
banner_image: "event.jpg"
menus: 
  about-us:
    weight: 3
  footer_company:
    weight: 8
---

<!-- reverse the order -->
{% assign sorted = site.events | reverse %}
<!-- capture today's date -->
{% capture now %} {{ 'now' | date: '%s' }} {% endcapture %}
<!-- capture date -28 days for recent events -->
{% capture past %} {{ 'now' | date: '%s' | minus: 2419200 }} {% endcapture %}

<div class="section">
  <div class="section__container">
    <div class="grid__wrapper grid__spacing--8">
      <div class="grid__item grid__item--8 grid--ai-stretch">
        {% include components/section-header.html
          title = "Upcoming events"
        %}
        <div class="section__content">
          <div class="grid__wrapper grid__spacing--2">
            {% for event in sorted %}
            {% capture date %} {{ event.date | date: '%s' }} {% endcapture %} 
            {% if date > now %}
            <div class="grid__item">
              {% include components/cards/event.html %}
            </div>
            {% endif %}
            {% endfor %} 
          </div>
        </div>
        {% include components/section-header.html
          title = "Recent events"
        %}
        <div class="section__content">
          <div class="grid__wrapper grid__spacing--2">
            {% for event in site.events %}
            {% capture date %} {{ event.date | date: '%s' }} {% endcapture %} 
            {% if date > past and date <= now %}
            <div class="grid__item">
              <!-- {{ past }}
              {{ event.date }} -->
              {% include components/cards/event.html %}
            </div>
            {% endif %}
            {% endfor %} 
          </div>
        </div>
      </div>
      <div class="grid__item grid__item--4">
        <div class="card card--md card--grey card--noShadow">
          <div class="card__header">
            <div class="card__title">
              <p>Webinar recordings</p>
              <a href="" class="button button--sm button--primary">View all</a>
            </div>
          </div>
          <div class="card__content">
            <div class="grid__wrapper grid__spacing--1">
              <div class="grid__item">
                <div class="card card--sm card--white card--noShadow">
                  <div class="card__header">
                    <div class="card__title">
                      <p>Toto</p>
                      <a href="" class="button button--icon button--sm button--primary">
                        {% svg /assets/icons/feather/chevron-right.svg %}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
