---
layout: "default"
title: "FAQ"
headline: "Frequently Asked Questions"
subtitle: "Below we’ve provided a bit of background on Applied Blockchain, blockchain technology, cryptocurrencies, mining and smart contracts"
menus:
  resources:
    weigth: 3
  footer_resources:
    weight: 3
---

<div class="section">
  <div class="section__container">
    <div class="grid__wrapper grid__spacing--8">
      <div class="grid__wrapper grid__item grid__item--lg4">
        <div class="grid__item grid__item--xl10 sticky">
          {% include components/section-header.html
            title = "Table of contents"
            size = "sm"
          %}
          <div class="anchor">
            {% for section in site.data.faq %}
            {% capture section_id %}{{ section.title | slugify }}{% endcapture %}
            <p class="anchor__item"><a href="#{{ section_id }}" class="body2 js-anchor">{{ section.title }}</a></p>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="grid__item grid__item--lg8 grid--ai-stretch">
        {% for section in site.data.faq %}
        {% capture section_id %}{{ section.title | slugify }}{% endcapture %}
        <!-- the id and the class are for the anchor tag link -->
        {% include components/section-header.html
          title = section.title
          title_id = section_id
          title_class = "anchor__target"
        %}
        <div class="section__content accordion__container">
          {% for item in section.questions %}
          <div class="accordion">
            <div class="accordion__header">
              <p class="subtitle2">{{ item.q }}</p>
              {% svg /assets/icons/feather/plus.svg width="24" class="accordion__icon" %}
            </div>
            <div class="accordion__content markdown">{{ item.a | markdownify }}</div>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>