---
layout: default
title: FAQ
headline: Frequently Asked Questions
subtitle: Below we’ve provided a bit of background on Applied Blockchain, blockchain technology, cryptocurrencies, mining and smart contracts
background_color: white
---

<section class="section section--white">
    <div class="section__content">
        <div class="row">
            <div class="col--lg6 block">
                <h2 class="block__header subtitle">Applied Blockchain</h2>
                <div class="block__content block--shadow no-padding accordion">
                    {% for item in site.data.faq.company %}
                    {% include components/faq.html %}
                    {% endfor %}
                </div>
            </div>
            <div class="col--lg6 block">
                <h2 class="block__header subtitle">Blockchain Technology</h2>
                <div class="block__content block--shadow no-padding accordion">
                    {% for item in site.data.faq.technology %}
                    {% include components/faq.html %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>