---
layout: default
title: Join
subtitle: Step into a collaborative, unique and fast-paced environment
body: We are continuously looking for highly motivated and ambitious people who are passionate about delivering innovative solutions to global enterprises and disruptive startups
background_color: white
---

<section class="section section--white">
    <div class="row">
        {% for item in site.data.images.join %}
        <div class="col--lg3 col--sm6">
            <div class="card">
                <img src="{{ site.url }}{{ site.imageurl }}/icons/icon-{{ item.url }}.svg" alt="{{ item.url }} icon" class="card__image">
                <p class="card__title">{{ item.alt }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<section id="join-header" class="section section--primary">
    <div class="join__background--porto" style="background-image: url('{{ site.url }}{{ site.imageurl }}/background/porto.jpg');"></div>
    <div class="join__background--london" style="background-image: url('{{ site.url }}{{ site.imageurl }}/background/london.jpg');"></div>
    {% include containers/sections/header.html
        title = 'Opportunities in Porto and London'
    %}
</section>

<section class="section section--overlap">
    <div class="section__content tab tab--jobs">
        <div>
          <a href="https://apply.workable.com/appliedblockchain/" class="js-button-london tab__button button button--white button--animate fa fa-map-marker-alt">
              <p class="button__inner">See Opportunities</p>
          </a>
        </div>
    </div>
    <!--
    <div class="section__content">
        <p class="block__title lead">Can’t find what you’re looking for?</p>
        <div class="block__content">
            <a href="{{ site.url }}/contact" class="ga-button-contact button button--primary button--animate fa fa-file-alt">
                <p class="button__inner"><span class="hide--mobile">Drop us a </span>message!</p>
            </a>
        </div>
    </div>
    -->
</section>
