---
layout: default
title: Join
subtitle: Step into a collaborative, unique and fast-paced environment
body: We are continuously looking for highly motivated and ambitious people who are passionate about delivering innovative blockchain-based solutions to global enterprises and disruptive startups
background_color: white
---

<section class="section section--white">
    <div class="row">
        {% for item in site.data.images.join %}
        <div class="col--lg3 col--sm6">
            <div class="card">
                <img src="{{ site.url }}{{ site.imageurl }}/icons/icon-{{ item.url }}.svg" alt="{{ item.url }} icon" class="card__image">
                <p class="card__title">{{ item.alt }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<section id="join-header" class="section section--primary">
    <div class="join__background--london" style="background-image: url({{ site.url }}{{ site.imageurl }}/background/london.jpg);"></div>
    <div class="join__background--porto" style="background-image: url({{ site.url }}{{ site.imageurl }}/background/porto.jpg);"></div>
    {% include containers/sections/header.html
        title = 'Our openings in London and in Porto'
        subtitle = 'Apply today by sending in your CV to careers@appliedblockchain.com'
    %}
</section>

<section class="section section--overlap">
    <div class="section__content tab tab--jobs">
        <div class="section__filter tab__nav">
            <a href="#porto" class="js-button-porto tab__button button button--primary button--animate fa fa-map-marker-alt">
                <p class="button__inner">Porto</p>
            </a>
            <a href="#london" class="js-button-london tab__button button button--primary button--primary-lighten button--animate fa fa-map-marker-alt">
                <p class="button__inner">London</p>
            </a>
        </div>
        <div class="tab__content block background--shadow no-padding accordion">
            <div id="porto" class="tab__item">
                {% if site.data.jobs.porto %}
                {% for job in site.data.jobs.porto %}
                {% include components/job.html %}
                {% endfor %}
                {% else %}
                <div class="card card--sm">
                    <p class="card__inner body--large body--bold">There are no positions available in our Porto office at the moment. Come back soon!</p>
                </div>
                {% endif %}
            </div>
            <div id="london" class="tab__item">
                {% if site.data.jobs.london %}
                {% for job in site.data.jobs.london %}
                {% include components/job.html %}
                {% endfor %}
                {% else %}
                <div class="card card--sm">
                    <p class="card__inner body--large body--bold">There are no positions available in our London office at the moment. Come back soon!</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="section__content">
        <p class="block__title subtitle">Can’t find what you’re looking for?</p>
        <div class="block__content">
            <a href="{{ site.url }}/contact" class="ga-button-contact button button--highlight button--animate fa fa-file-alt">
                <p class="button__inner"><span class="hide--mobile">Drop us a </span>message!</p>
            </a>
        </div>
    </div>
</section>