---
layout: default
title: Mantle
subtitle: Identity and privacy toolkit
body: A key element of public distributed ledger technologies is that anyone hosting a node on the network can view all confirmed transactions on that network. This level of transparency naturally creates a barrier to entry for enterprises and startups who wish to deploy blockchain applications but require an element of privacy in order to maintain their competitive advantage.
background_color: dark
---

<section class="section section--primary section--left">
    <div class="section__content">
        <div class="row mantle body--left">
            <div class="col--lg4">
                <h1 class="subtitle block__title">What Mantle delivers</h1>
                <div class="block__content">
                    <p class="body">Mantle solves the problem of privacy and anonymity by adding an additional layer of security on top of any blockchain application that supports smart contracts.</p>
                    <p class="body">This enables confidential data to be encrypted within smart contracts and kept anonymous, whilst other data can be shared on the ledger for users to see.</p>
                    <p class="body">Mantle enables data caching to greatly improve system performance and data retrieval to run application operations.</p>
                </div>
            </div>
            <div class="col--lg3 coloffset--md1 col--md5 col--6">
                <img src="{{ site.base-url }}{{ site.imageurl }}/icons/icon-mantle.svg" alt="Mantle schematic" class="mantle__diagram">
            </div>
            <div class="col--lg4 col--md5 col--6 mantle__legend">
                <p class="mantle__label">Mantle and its layers</p>
                <p class="mantle__label">Blockchain application</p>
                <p class="mantle__label">Encrypted data</p>
                <p class="mantle__label">Blockchain platform</p>
            </div>
        </div>
    </div>
</section>

<section class="section section--primary">
    {% include containers/sections/header.html
        title = 'The layers of Mantle include'
    %}
    <div class="section__content">
        <div class="row">
            {% for item in site.data.images.mantle %}
            <div class="col--lg3 col--sm6 card">
                <img src="{{ site.base-url }}{{ site.imageurl }}/icons/icon-{{ item.url }}.svg" alt="{{ item.url }} icon" class="card__image">
                <p class="card__title body--large body--bold">{{ item.title }}</p>
                <p class="card__body body--small">{{ item.alt }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>