---
layout: "default"
title: "Blog"
subtitle: "Pellentesque eu laoreet augue. Praesent ullamcorper elementum ex. Etiam ante dolor, bibendum eget dignissim vel, tempor nec nisl. Aliquam varius eu augue et placerat."
banner_image: "news-article.jpg"
menus:
  header:
    weight: 5
  company:
    weight: 7
tabs: "post-categories"
---

<div class="section">
  <div class="section__container">
    <div class="section__content">
      <div class="js-filter-content grid__wrapper grid__spacing--2">
        {% if site.posts.size > 0 %}
        {% for post in site.posts %}
        <div class="grid__item grid__item--lg4 grid__item--md6 {{ post.category }}">
          <div class="card card--md">
            <div class="card__media">
              <div class="card__thumbnail background--cover" style="background-image: url('{{ site.base-url }}{{ site.imageurl }}/{% if post.image %}posts/{{ post.image }}{% else %}default{% endif %}.jpg');"></div>
            </div>
            <div class="card__header">
              <div class="card__label">{{ post.date | date: "%b %-d, %Y" }} {{ post.category | capitalize }}</div>
              <h2 class="card__title">{{ post.title }}</h2>
            </div>
            <p class="card__content">{{ post.headline | truncate: 250, "…" }}</p>
            <div class="card__actions">
              <a href="{{ post.link }}"{% if post.link.type == "external" %} target="_blank" rel="noopener"{% endif %} class="button button--primary button--sm">
                Read
                {% if post.link.type == "external" %}
                {% svg /assets/icons/feather/external-link.svg %}
                {% endif %}
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
