---
layout: default
title: Media
description: Discover the latest blockchain news, insights and opinions to help you make informed decisions.
background_color: white
---

<section class="section section--white section--alt">
  <div class="section__content blog">
    <div class="js-blog-filter tab__nav button__wrapper">
      <a id="all-btn" class="tab__button button button--primary button--animate fas fa-infinity active" data-filter="*">
        <p class="button__inner">All</p>
      </a>
      <a id="news-btn" class="tab__button button button--primary button--primary-lighten button--animate fas fa-newspaper" data-filter=".news">
        <p class="button__inner">News</p>
      </a>
      <a id="press-release-btn" class="tab__button button button--primary button--primary-lighten button--animate fas fa-file-alt" data-filter=".press-release">
        <p class="button__inner">Press release</p>
      </a>
      <a id="blog-btn" class="tab__button button button--primary button--primary-lighten button--animate fas fa-rss" data-filter=".blog">
        <p class="button__inner">Blog</p>
      </a>
      <a id="videos-btn" class="tab__button button button--primary button--primary-lighten button--animate fas fa-play" data-filter=".videos">
        <p class="button__inner">Videos</p>
      </a>
      <a id="podcasts-btn" class="tab__button button button--primary button--primary-lighten button--animate fas fa-play" data-filter=".podcasts">
        <p class="button__inner">Podcast</p>
      </a>
    </div>
    <div class="grid row tab__content card__wrapper">
      {% if site.posts.size > 0 %}
      {% for post in site.posts %}
      <div class="col--lg4 col--md6 {{ post.category }} {{ post.date | date: "%Y" }}">
        <div class="card card--portrait background--shadow">
          <a href="{% if post.link %}{% if post.social contains "pdf" %}{{ site.base-url }}/assets/pdfs/{{ post.link }}{% else %}{{ post.link }}{% endif %}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}"{% if post.link %} target="_blank"{% else %}{% endif %}>
            <div class="card__image background--cover" style="background-image: url('{{ site.base-url }}{{ site.imageurl }}/{% if post.image %}posts/{{ post.image }}{% else %}default{% endif %}.jpg');"></div>
          </a>
          <div class="card__inner">
            <div class="card__content">
              <img src="{{ site.base-url }}{{ site.imageurl }}/icons/blog/{{ post.category }}.svg" alt="" class="card__icon card__icon--{{ post.category }}">
              <p class="card__label body--bold">{{ post.date | date: "%b %-d, %Y" }}</p>
              <h2 class="card__title lead">
                <a href="{% if post.link %}{% if post.social contains "pdf" %}{{ site.base-url }}/assets/pdfs/{{ post.link }}{% else %}{{ post.link }}{% endif %}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}"{% if post.link %} target="_blank"{% else %}{% endif %}>{{ post.title }}</a>
              </h2>
              <p class="card__body">{{ post.headline | truncate: 250, "…" }}</p>
            </div>
            <div class="card__actions">
              {% if post.link %}
              {% if post.link_label %}
              <a href="{{ post.link }}" target="_blank" class="button button--secondary button--small button--animate fas fa-external-link-alt">
                <p class="button__inner">{{ post.link_label }}</p>
              </a>
              {% else %}
              {% if post.social contains "newsletter" %}
              <a href="{{ post.link }}" target="_blank" class="button button--primary button--small button--animate fas fa-newspaper">
                <p class="button__inner">Read</p>
              </a>
              {% elsif post.social contains "external" %}
              <a href="{{ post.link }}" target="_blank" class="button button--secondary button--small button--animate fas fa-external-link-alt">
                <p class="button__inner">Read</p>
              </a>
              {% elsif post.social contains "podcast" %}
              <a href="{{ post.link }}" target="_blank" class="button button--secondary button--small button--animate fas fa-headphones">
                <p class="button__inner">Listen</p>
              </a>
              <a href="{{ post.video_link }}" target="_blank" class="button button--primary button--small button--animate fas fa-play">
                <p class="button__inner">Watch video</p>
              </a>
              {% elsif post.social contains "linkedin" %}
              <a href="{{ post.link }}" target="_blank" class="button button--linkedin button--small button--animate fab fa-linkedin-in">
                <p class="button__inner">Read</p>
              </a>
              {% elsif post.social contains "medium" %}
              <a href="{{ post.link }}" target="_blank" class="button button--medium button--small button--animate fab fa-medium-m">
                <p class="button__inner">Read</p>
              </a>
              {% elsif post.social contains "video" %}
              <a href="{{ post.link }}" target="_blank" class="button button--primary button--small button--animate fas fa-play">
                <p class="button__inner">Watch video</p>
              </a>
              {% elsif post.social contains "pdf" %}
              <a href="{{ site.base-url }}/assets/pdfs/{{ post.link }}" target="_blank" class="button button--primary button--small button--animate fas fa-eye">
                <p class="button__inner">Read</p>
              </a>
              {% elsif post.social contains "blank" %}
              {% endif %}
              {% else %}
              <a href="{{ post.url | prepend: site.baseurl }}" class="button button--primary button--small button--animate fas fa-eye">
                <p class="button__inner">Read</p>
              </a>
              {% endif %}
              {% if post.event %}
              <a href="{{ post.event }}" target="_blank" class="button button--highlight button--small button--animate fas fa-eye">
                <p class="button__inner">Register</p>
              </a>
              {% endif %}
              {% if post.social == 'webinar' %}
              <a href="{{ site.base-url }}/{{ post.link }}" target="_blank" class="button button--highlight button--small button--animate fas fa-eye">
                <p class="button__inner">View recording</p>
              </a>
              {% endif %}
              {% if post.social == 'report' %}
              <a href="{{ site.base-url }}/{{ post.link }}" target="_blank" class="button button--highlight button--small button--animate fas fa-eye">
                <p class="button__inner">Download report</p>
              </a>
              {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <p>There are no posts available right. Come back soon!</p>
      {% endif %}
    </div>
  </div>
  <script>

    function clickTab() {
      if (window.location.href.indexOf("#all") > -1) {
        document.getElementById('all-btn').click()
      } else if (window.location.href.indexOf("#news") > -1) {
        document.getElementById('news-btn').click()
      } else if (window.location.href.indexOf("#press-release") > -1) {
        document.getElementById('press-release-btn').click()
      } else if (window.location.href.indexOf("#blog") > -1) {
        document.getElementById('blog-btn').click()
      } else if (window.location.href.indexOf("#videos") > -1) {
        document.getElementById('videos-btn').click()
      } else if (window.location.href.indexOf("#podcasts") > -1) {
        document.getElementById('podcasts-btn').click()
      }
    }

    var existCondition = setInterval(() => {
      if (document.getElementsByClassName('js-blog-filter').length > 0) {
        clearInterval(existCondition)
        setInterval(() => {
          clickTab()
        }, 1000)
      }
    }, 100)

  </script>
</section>