---
layout: default
title: Projects
subtitle: We have built applications for enterprises and startups in financial services, energy, aviation, automotive, supply chain, commodities, telecoms, legal, medical, property and recruitment.
background_color: dark
---

{% if site.projects.size > 0 %}

<section class="section section--dark">
    <div class="section__content portfolio portfolio--featured">
        {% for project in site.projects %}
        {% if project.tag contains 'featured' %}
        <a href="{{ project.url }}" class="portfolio__item block background--cover" style="background-image: url({{ site.url }}{{ site.imageurl }}/projects/cover/{{ project.slug }}.jpg);">
            <div class="portfolio__logo">
                <img src="{{ site.url }}{{ site.imageurl }}/logos/clients-white/{{ project.slug }}.png" alt="{{ project.title }} logo">
            </div>
            <div class="portfolio__content">
                <p class="portfolio__comment">{{ project.industry }}</p>
                <h2 class="portfolio__title subtitle">{{ project.title }}</h2>
                <p class="portfolio__subtitle lead">{{ project.subtitle }}</p>
                <p class="portfolio__desc">
                    <span>{{ project.summary }}</span>
                </p>
                <div class="portfolio__button">
                    <span href="" class="button button--secondary button--small button--animate fa fa-eye">
                        <p class="button__inner">Case study</p>
                    </span>
                </div>
            </div>
        </a>
        {% endif %}
        {% endfor %}
    </div>
</section>

<section class="section section--nopadding portfolio">
    <div class="portfolio--grid">
        {% for project in site.projects %}
        {% assign project = site.projects | sort: 'order' %}
        {% unless project.tag contains 'featured' %}
        <a href="{{ project.url }}" class="portfolio__item background--cover" style="background-image: url({{ site.url }}{{ site.imageurl }}/projects/cover/{{ project.slug }}.jpg);">
            <div class="portfolio__content">
                <p class="portfolio__comment">{{ project.industry }}</p>
                <h2 class="portfolio__title subtitle">{{ project.title }}</h2>
                <p class="portfolio__subtitle lead">{{ project.subtitle }}</p>
                <p class="portfolio__desc">
                    <span>{{ project.summary }}</span>
                </p>
                <div class="portfolio__button">
                    <span href="" class="button button--secondary button--small button--animate fa fa-eye">
                        <p class="button__inner">Case study</p>
                    </span>
                </div>
            </div>
        </a>
        {% endunless %}
        {% endfor %}
    </div>
</section>

{% else %}

<section class="section section--dark">
    {% include containers/sections/header.html
        title = 'There are no project at the moment. Come back soon!'
    %}
</section>

{% endif %}