---
layout: default
title: Press releases
description: Articles and reports from industry experts reporting on Applied Blockchain.
background_color: white
has_custom_title_section: true
---
<!-- check if recent events is empty array -->
{% capture press_releases %}
{% for post in site.posts %}
{% if post.category == 'press-release' %}
not_empty
{% endif %}
{% endfor %}
{% endcapture %}

<section class="section section--white section--alt section--press">
  <div class="top-section">
    <div class="top-section__inner-container">
      <div class="top-section__text-container">
        <div class="top-section__title">{{page.title}}</div>
        <div class="top-section__description">{{ page.description }}</div>
      </div>
    </div>
  </div>

  <div class="section__content blog">
    {% if press_releases contains 'not_empty' %}

    <div class="cards-container">
      <div class="cards-inner-container">
        {% for post in site.posts %}
        {% if post.category == 'press-release' %}
        <a
          href="{% if post.link %}{% if post.social contains 'pdf' %}{{ site.base-url }}/assets/pdfs/{{ post.link }}{% else %}{{ post.link }}{% endif %}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}"
          {% if post.link %} target="_blank" {% endif %}
          class="card"
        >
          <div
            href="https://www.youtube.com/watch?v=sY1o3iRqLzg&t=14s"
            target="_blank"
            class="card__thumbnail"
            style="background-image: url('{{ site.base-url }}{{ site.imageurl }}/{% if post.image %}posts/{{ post.image }}{% else %}default{% endif %}.jpg')"
          ></div>
          <div class="card__content">
            <div class="card__badge">{{ post.date | date: "%b %-d, %Y" }}</div>
            <div class="card__title">
              {{ post.title }}
            </div>
          </div>
          <div class="card__actions-container">
            <button type="button" class="button">
              Read
            </button>
            </div>
        </a>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    {% else %}
    <p>There is no press release available. Please come back later!</p>
    {% endif %}
  </div>
</section>