---
layout: "default"
title: "Privacy Policy"
subtitle: "Applied Blockchain Ltd. takes personal data seriously. This notice explains how we look after your personal data and tells you about your privacy rights and how the law protects you"
menus:
  resources:
    weight: 10
---

<section class="section">
  <div class="section__container">
    <div class="grid__wrapper grid__spacing--8">
      <div class="grid__wrapper grid__item grid__item--lg4">
        <div class="grid__item grid__item--xl10 sticky">
          {% include components/section-header.html
            title = "Table of contents"
            size = "sm"
          %}
          <div class="anchor">
            {% for section in site.data.privacy-policy %}
            {% capture section_id %}{{ section.title | slugify }}{% endcapture %}
            <p class="anchor__item"><a href="#{{ section_id }}" class="body2">{{ section.title }}</a></p>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="grid__item grid__item--lg8 grid--ai-stretch">
        <article>
          <div class="section__content markdown">
            <p class="subtitle2 gutter">In this policy “we”, “us” and “our” refers to Applied Blockchain Ltd, a company registered in England and Wales (company no. 0968627). You can contact us:</p>
            <ul class="body">
              <li>By post, to Applied Blockchain, Level39 One Canada Square, Canary Wharf, London, England, E14 5AB.</li>
              <li>Using our website contact form.</li>
            </ul>
          </div>
          {% for section in site.data.privacy-policy %}
          {% capture section_id %}{{ section.title | slugify }}{% endcapture %}
          <!-- the id and the class are for the anchor tag link -->
          {% include components/section-header.html
            title = section.title
            title_id = section_id
            title_class = "anchor__target"
            title_component = "h1"
          %}
          <div class="section__content markdown">{{ section.content | markdownify }}</div>
          {% endfor %}
        </article>
      </div>
    </div>
  </div>
</section>
