---
layout: "default"
title: "Products"
subtitle: "Applied Blockchain Labs is our research and development centre. We build our own technology to support client requirements"
banner_image: "code.jpg"
menus:
  header:
    weight: 2
---

{% for item in site.data.products %}
<div class="divider divider--white divider--landscape"></div>
<div class="section section--primary background--cover" style="background-image: url('{{ site.base-url }}{{ site.imageurl}}/background/products/{{ item.background }}');">
  <div class="section__container">
    <div class="grid__wrapper grid__spacing--8">
      <div class="grid__item grid__item--8">
        <div class="card card--lg card--transparent card--{{ item.id }}">
          <div class="card__header">
            <p class="card__label">{{ item.category }}</p>
            <h2 class="card__title">{{ item.title }}</h2>
            <div class="card__subtitle">
              <p class="tag tag--{% if item.status == 'Live' %}success{% else %}warning{% endif %} label">{{ item.status }}</p>
            </div>
          </div>
          <p class="card__content">{{ item.description }}</p>
          <div class="card__actions">
            <div class="button__wrapper">
              {% for link in item.links %}
              <a href="{% if item.type == 'internal' %}{{ site.base-url }}/{% endif %}{{ link.url }}" target="_blank" rel="noopener" class="button button--white">
                {{ link.label }}
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="grid__item grid__item--4">
        <img src="{{ site.base-url }}{{ site.imageurl }}/logos/products/{{ item.logo }}.png" alt="Logo for {{ item.title | strip_html }}">
      </div>
    </div>
  </div>
</div>
{% endfor %}
