---
layout: default
title: Projects
subtitle: We develop multi party, privacy preserving solutions for startups and enterprises
background_color: white
---

{% assign sorted = site.projects | sort : "order" %}

<section class="section section--alt section--white">
    <div class="grid row card__wrapper">
        {% for project in sorted %}
        <div class="col--lg4 col--sm6">
            <div class="card card--portrait background--shadow">
                <div class="card__image">
                    <img src="{{ site.url }}{{ site.imageurl }}/carousel/clients_color/{{ project.slug }}.png" alt="{{ project.title }} logo">
                </div>
                <div class="card__inner">
                    <div class="card__content">
                        <p class="card__label label">{{ project.industry }}</p>
                        <h2 class="card__title subtitle">
                            <a href="{{ project.url }}">{{ project.title }}</a>
                        </h2>
                        <p class="card__subtitle lead">
                            <a href="{{ project.url }}">{{ project.subtitle }}</a>
                        </p>
                        <p class="card__body">
                            <span>{{ project.summary }}</span>
                        </p>
                    </div>
                    {% if project.case_study == true or project.link %}
                    <div class="card__actions">
                        {% if project.case_study == true %}
                        <a href="{{ project.url }}" class="button button--primary button--small button--animate fa fa-eye">
                            <p class="button__inner">Learn more</p>
                        </a>
                        {% endif %}
                        {% if project.link %}
                        <a href="{{ project.link }}" target="_blank" class="button button--highlight button--small button--animate fa fa-globe">
                            <p class="button__inner">{% if project.link_title %}{{ project.link_title }}{% else %}Website{% endif %}</p>
                        </a>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
