---
layout: default
title: Projects
subtitle: We develop applications for startups and enterprises using blockchain, advanced cryptography and secure enclaves
background_color: white
has_custom_title_section: true
---

{% assign sorted = site.projects | sort : "order" %}

<section class="section section--alt section--white section--projects">
    <div class="top-section">
        <div class="top-section__inner-container">
            <div class="top-section__text-container">
                <div class="top-section__title">{{page.title}}</div>
                <div class="top-section__description">{{page.subtitle}}</div>
            </div>
            <div class="top-section__icons-container">
                <div class="top-section__icons" style="background-image: url('{{ site.base-url }}{{ site.imageurl }}/icons/icon-projects-logo-bg-0.svg'), url('{{ site.base-url }}{{ site.imageurl }}/icons/icon-projects-logo-bg-1.svg'), url('{{ site.base-url }}{{ site.imageurl }}/icons/icon-projects-logo-bg-2.svg'), url('{{ site.base-url }}{{ site.imageurl }}/icons/icon-projects-logo-bg-3.svg'), url('{{ site.base-url }}{{ site.imageurl }}/icons/icon-projects-logo-bg-4.svg'), url('{{ site.base-url }}{{ site.imageurl }}/icons/icon-projects-logo-bg-5.svg'), url('{{ site.base-url }}{{ site.imageurl }}/icons/icon-projects-logo-bg-6.svg')">
                </div>
            </div>
        </div>
    </div>

    <div class="content-container">
        <div class="buttons-container">
            <button type="button" class="button">Supply-Chain</button>
            <button type="button" class="button">DeFi</button>
            <button type="button" class="button">NFT’s</button>
            <button type="button" class="button">Web3</button>
            <button type="button" class="button">Passkey</button>
        </div>

        <!-- <iframe class="projects__video" src="https://www.youtube.com/embed/WyLoPXjJaNE?autoplay=1&mute=1"></iframe> -->
        <div class="projects-container">
            <div class="projects-inner-container">
                {% for project in sorted %}
                {% if project.hidden == true %}
                    {% continue %}
                {% endif %}
                <a href="{{ project.url }}" class="project-card">
                    <div class="project-card__img-container">
                        <img
                            src="{{ site.base-url }}{{ site.imageurl }}/icons/{{ project.icon }}"
                            alt="{{ project.title }}"
                        >
                    </div>
                    <div class="project-card__badges-container">
                        {% for industry in project.industry %}
                        <div class="project-card__industry-badge">{{ industry }}</div>
                        {% endfor %}
                    </div>
                    <div class="project-card__description">{{ project.subtitle }}</div>

                    {% if project.case_study == true %}
                        <div class="project-card__view-project-btn">
                            <span>View project</span>
                            {% include elements/right-arrow.html %}
                        </div>
                    {% endif %}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
