---
layout: "default"
title: "Reports"
subtitle: "Here is a list of our reports, fugit rem nostrum veniam eum qui doloribus. Ut est quo voluptates. Deleniti eum aut non placeat rerum."
banner_image: "file-folder.jpg"
menus: 
  resources:
    weight: 2
  footer_resources:
    weight: 2
---


<div class="section">
  <div class="section__container">
    <div class="section__content">
      <div class="grid__wrapper grid__spacing--2">
        {% for report in site.reports %}
        <div class="grid__item grid__item--lg4 grid__item--md6">
          <div class="card card--md card--post">
            <div class="card__media">
              <div class="card__thumbnail background--cover" style="background-image: url('{{ site.base-url}}{{ site.imageurl}}/{% if report.image %}reports/{{ report.image }}{% else %}default.jpg{% endif %}');"></div>
            </div>
          <div class="card__header">
              <h2 class="card__title">{{ report.title }} </h2>
            </div>
            <p class="card__content">{{ report.subtitle }}</p>
            <div class="card__actions">
              <a href="{{ site.base-url }}{{ report.url }}" class="button button--sm button--primary">
                Download report
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
