---
layout: default
title: Services
subtitle: We bring innovative solutions to problems businesses face today
body: We work with enterprises and startups across all verticals. We design and develop solutions best suited to your needs. We work across the entire development stack. We advise, design, build and deploy future-proof, secure and private-preserving business applications. We work with you from the initial seed of your idea and continue to support you as you move into production and beyond
background_color: white
---

<section class="section section--grey">
    {% include containers/sections/header.html
        title = 'Quality of service'
    %}
    <div class="section__content z-index--2">
        <div class="row">
            {% for item in site.data.solutions %}
            <div class="col--4">
                <div class="card card--large background--shadow">
                    <div class="card__inner">
                        <img src="{{ site.url }}{{ site.imageurl }}/icons/solutions/{{ item.icon }}.svg" alt="" class="card__image">
                        <h2 class="card__title lead">{{ item.title }}</h2>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="section section--white section--overlap">
    {% include containers/sections/header.html
        title = 'Our Approach'
        subtitle = 'Building your Project'
    %}
    <div class="section__content tab tab--approach z-index--2">
        <div class="tab__nav z-index--2">
            {% for item in site.data.approach %}
            <a href="#{{ item.id }}" class="tab__button{% if item.active %} tab__button--active{% endif %}">
                <h2 class="comment">{{ item.number }}. {{ item.title }}</h2>
            </a>
            {% endfor %}
        </div>
        <div class="tab__content background--shadow">
            {% for item in site.data.approach %}
            <div id="{{ item.id }}" class="tab__item">
                <div class="card card--large card--landscape">
                    <div class="card__inner">
                        <div class="card__content z-index--2">
                            <p class="card__title subtitle">{{ item.title }}</p>
                            <p class="card__body body">{{ item.text }}</p>
                        </div>
                    </div>
                    <div class="card__image">
                        <img src="{{ site.url }}{{ site.imageurl }}/icons/{{ item.icon }}.svg" alt="Icon" class="">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="section section--grey section--alt section--overlap">
    {% include containers/sections/header.html
        title = 'Blockchain platforms'
    %}
    <div class="section__content">
        {% include elements/carousel.html 
            variant = 'technologies' 
        %}
    </div>
</section>