---
layout: "default"
title: "Technologies"
subtitle: "Solutions tailored to your business. Our team builds and supports full stack, privacy-preserving, secure and distributed applications."
menus:
  solutions:
    weight: 2
  footer_technologies:
    title: "All technologies"
    weight: 1
---

<div class="section">
  <div class="section__container">
    {% include components/section-header.html
      title = "Privacy-preserving technology experts"
      subtitle = "We use advanced technologies such as confidential computing, secure enclaves, blockchains and advanced cryptography"
    %}
  </div>
</div>

<div class="section section--grey">
  <div class="section__container">
    {% include components/section-header.html
      title = "Technology stack"
    %}
    <div class="section__content">
      <div class="grid__wrapper grid__spacing--2 grid--jc-center grid__inline grid__inline--lg7 grid__inline--md4 grid__inline--sm3 grid__inline--2">
        {% for image in site.static_files %}
        {% if image.path contains 'logos/technologies' %}
        <div class="grid__item">
          <img src="{{ site.baseurl }}{{ image.path }}" alt="Logo">
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="section__container">
    {% include components/section-header.html
      title = "Development stack"
      subtitle = "Applied Blockchain acompanies on all the aspects of your proejct. We build across the entire development stack"      
    %}
    <div class="section__content">
      <div class="grid__wrapper grid__spacing--2">
        {% for skill in site.data.skills %}
        <div class="grid__item grid__item--6">
          <div class="card card--md">
            <div class="card__header">
              <h3 class="card__title">{{ skill.title }} </h3>
            </div>
            <div class="card__content">
              <p>{{ skill.subtitle }}</p>
            </div>
            <div class="card__content">
              <div class="card card--sm card--transparent">
                <div class="card__header">
                  <p class="card__title">Featured project</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>







<div id="services-solutions" class="section section--grey">
  {% include components/section-header.html
    title = "Our solutions"
  %}
  <div class="section__content z-index--2">
    <div class="row">
      <div class="card__wrapper">
        {% for item in site.data.solutions %}
        <div class="grid__item--lg4">
          <div class="card card--lg">
            <img src="{{ site.base-url }}{{ site.imageurl }}/icons/solutions/icon-{{ item.icon }}.svg" alt="" class="card__image">
            <h2 class="card__title lead">{{ item.title }}</h2>
            <p class="card__body body">{{ item.body }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div id="services-stack" class="section section--white z-index--2">
  {% include components/section-header.html
    title = "Technology"
    body = "Our team builds and supports full stack, privacy-preserving, secure and distributed applications."
  %}
  <div class="section__content">
    <div class="card__wrapper">
      <div class="row">
        {% for item in site.data.services.stack %}
        <div class="grid__item--md6">
          <div class="card body--left">
            <div class="background--shadow">
              <div class="card__inner">
                <div class="card__title">
                  <img src="{{ site.base-url }}{{ site.imageurl }}/icons/services/{{ item.icon }}.png" alt="{{ item.title }} icon" class="card__image">
                  <h2 class="lead">{{ item.title }}</h2>
                </div>
                <p class="card__body">{{ item.body }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="section section--white">
  {% include components/section-header.html
    title = "Our Approach"
    subtitle = "Building your Project"
  %}
  <div class="section__content tab tab--approach z-index--2">
    <div class="tabs z-index--2 hide--tablet">
      {% for item in site.data.approach %}
      <a href="#{{ item.id }}" class="tab__button{% if item.active %} tab__button--active{% endif %}">
        <h2 class="comment">{{ item.number }}. {{ item.title }}</h2>
      </a>
      {% endfor %}
    </div>
    <div class="tab__content background--shadow">
      {% for item in site.data.approach %}
      <div id="{{ item.id }}" class="tab__target">
        <div class="card card--lg card--landscape">
          <div class="card__inner">
            <div class="card__content z-index--2">
              <p class="card__title subtitle">{{ item.title }}</p>
              <p class="card__body body">{{ item.text }}</p>
            </div>
          </div>
          <div class="card__image hide--mobile">
            <img src="{{ site.base-url }}{{ site.imageurl }}/icons/{{ item.icon }}.svg" alt="Icon" class="">
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
