---
layout: "default"
title: "Webinars"
subtitle: "Here is a list of our past webinars, fugit rem nostrum veniam eum qui doloribus. Ut est quo voluptates. Deleniti eum aut non placeat rerum."
banner_image: "webinar.jpg"
links: 
  - label: "Check our upcoming events"
    url: "events"
    title: "Go to events page"
    color: "white"
menus: 
  resources:
    weight: 1
  footer_resources:
    weight: 1

side_content: "components/cards/webinar.html"
---

<!-- get only webinars with recordings -->
{% assign webinars = site.events | reverse | where: "type", "Webinar" | where: "recording", true %}

{% include components/sections/search.html 
  variant = "webinars"
%}

<div class="section">
  <div class="section__container">
    <div class="section__content">
      <div class="grid__wrapper grid__spacing--2">
        {% for event in webinars %}
        {% if event.type == "Webinar" and event.recording %}
        <div class="grid__item">
          {% include components/cards/event.html %}
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
