{% assign label = include.label %}
{% assign color = include.color %}
{% assign link = include.link %}
{% assign size = include.size %}
{% assign align = include.align %}

<tr>
  <td>
    <table align="{% if align %}{{ align }}{% else %}left{% endif %}" role="presentation" cellspacing="0" cellpadding="0" border="0">
      <tr>
        <td class="button-td button-td-{{ color }}" style="-webkit-border-radius: 40px; border-radius: 40px; background: {% if color == 'primary' %}#007BFF{% elsif color == 'secondary' %}#64F0FF{% elsif color == 'highlight' %}#FF6F00{% endif %};">
          <a class="button-a button-a-{{ color }}" href="{{ link }}" target="_blank" style="background: {% if color == 'primary' %}#007BFF{% elsif color == 'secondary' %}#64F0FF{% elsif color == 'highlight' %}#FF6F00{% endif %}; border: 1px solid {% if color == 'primary' %}#007BFF{% elsif color == 'secondary' %}#64F0FF{% elsif color == 'highlight' %}#FF6F00{% endif %}; font-family: Arial, sans-serif; {% if size == 'sm' %} font-size: 14px; padding: 7px 16px;{% elsif size == 'xs' %} font-size: 13px; padding: 6px 14px;{% elsif size == 'lg' %} font-size: 18px; padding: 10px 24px;{% else %} font-size: 16px; padding: 8px 20px; {% endif %} text-transform: uppercase; font-weight: 700; line-height: 1.5; text-decoration: none; color: #FFFFFF; display: block; -webkit-border-radius: 40px; border-radius: 40px;">{{ label }}</a>
        </td>
      </tr>
    </table>
  </td>
</tr>
