// —————————————————————————————————————————————————————————————————
// elements
// color
// views
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// elements
// —————————————————————————————————————————————————————————————————

.page {
  margin-top: $navbar-height;

  &__header {

    // display elements on top of gradient
    > * {
      position: relative;
    }
  }
}

// —————————————————————————————————————————————————————————————————
// color
// —————————————————————————————————————————————————————————————————

// see color section of _section.scss file

// —————————————————————————————————————————————————————————————————
// views
// —————————————————————————————————————————————————————————————————

#contact {

  .page__header {
    mix-blend-mode: multiply;
  }
}