@import "components/_typography";

// —————————————————————————————————————————————————————————————————
// general
// color
// size
// variants
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: $section-spacing $page-gutter;

  & + & {
    padding-top: 0;
  }
  
  &--overlap {
    padding-top: 0 !important;
    
    & + .section {
      padding-top: $section-spacing;
    }
  }

  &__container {
    width: 100%;
    max-width: $page-max-width;
  }
  
  &__header {

    & + &,
    & + .section__content {
      margin-top: $section-spacing-content;
    }
  }

  &__label {
    @extend .caption;

    & + .section__title {
      margin-top: $spacing*2;
    }
  }

  &__title {
    @extend .h2;
    color: $primary;

    & + .section__subtitle {
      margin-top: $spacing*2;
    }
  }

  &__subtitle {
    @extend .subtitle1;
    max-width: $page-max-width/2;
  }

  &__button {
    margin-top: $spacing*4;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  
    & + &,
    & + .section__header {
      margin-top: $section-spacing-content;
    }
  }
}

// —————————————————————————————————————————————————————————————————
// color
// —————————————————————————————————————————————————————————————————

@mixin background-color($background-color, $title-color: $primary, $color: $text) {

  &.section {
    background-color: $background-color;
    padding-top: $section-spacing;
    color: $color;
  }
  
  & + .section {
    padding-top: $section-spacing;
  }

  & + & {
    padding-top: 0;
  }

  &.background--cover {
    
    &:before {
      @include pseudo-element("", 0, 0 ,0, 0, 100%, 100%);
      background-image: linear-gradient(to left, rgba($background-color, 0.6), $background-color);
    }
  }

  .section__title,
  .card__title {
    color: $title-color;
  }
  
  .form__input,
  .form__checkbox .form__label,
  .form__radio .form__label {
    color: $color;
    border-color: rgba($color, 0.66);
    
    &:before {
      border-color: $color;
    }
  }

  .spinner {

    &:before {
      border-color: $title-color;
    }

    > * {
      background-color: $background-color;
    }
  }
}

.section {

  &--white { @include background-color($background-paper); }
  &--grey { @include background-color($background-default); }
  &--primary { @include background-color($primary, $primary-text-contrast, $primary-text-contrast); }
  &--primary-light { @include background-color($primary-light, $text, $text); }
  &--primary-dark { @include background-color($primary-dark, $primary-text-contrast, $primary-text-contrast); }
  &--dark { @include background-color($dark, $text-contrast, $text-contrast); }
}

// —————————————————————————————————————————————————————————————————
// size
// —————————————————————————————————————————————————————————————————

@mixin size($size, $ratio) {

  .section {

    &__label {
      @if $size == lg {
        @extend .body2;
      }

      & + .section__title {
        margin-top: $ratio;
      }
    }
  
    &__title {
      @if $size == sm {
        @extend .h3;
      } @else if $size == lg {
        @extend .h1;
      }

      + .section__subtitle {
        margin-top: $ratio;
      }
    }

    &__subtitle {
      @if $size == sm {
        @extend .body1;
      } @else if $size == lg {
        @extend .h5;
      }
    }
  }
}

.section__header {

  &--sm { @include size(sm, $spacing*1.5); }
  &--md { @include size(md, $spacing*2); }
  &--lg { @include size(lg, $spacing*3); }
}

// —————————————————————————————————————————————————————————————————
// variants
// —————————————————————————————————————————————————————————————————

.section {

  &--fullWidth {
    padding-left: 0 !important;
    padding-right: 0 !important;
    overflow: hidden;

    .section {

      &__container {
        max-width: unset;
      }
    }
  }

  &--maxWidth {

    @include responsive(up, $tablet-up) {

      .section {
        
        &__header,
        &__content {
          max-width: $page-max-width/2;
        }
      }
    }
  }

  &--overlap {
    position: absolute;
    top: $navbar-height+$section-spacing;
    left: 0;
    width: 100vw;
    pointer-events: none;

    .section__container > * {
      pointer-events: initial;
    }
  }

  &--tabs {
    padding-bottom: 0;

    .tabs {
      margin-top: $section-spacing-content;
    }
  }
}
