@import "components/_typography";

// —————————————————————————————————————————————————————————————————
// variables
// general
// size
// color
// variant
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// variables
// —————————————————————————————————————————————————————————————————

$section-spacing: $spacing*8;
$section-spacing-content: $spacing*5;

// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: $section-spacing $page-gutter;

  & + & {
    padding-top: 0;
  }

  &__container {
    width: 100%;
    max-width: $page-max-width;
  }
  
  &__header {
    max-width: $page-max-width/2;

    & + &,
    & + .section__content {
      margin-top: $section-spacing-content;
    }
  }

  &__label {
    @extend .caption;

    & + .section__title {
      margin-top: $spacing*2;
    }
  }

  &__title {
    @extend .h3;
    color: $primary;

    & + .section__subtitle {
      margin-top: $spacing*2;
    }
  }

  &__subtitle {
    @extend .subtitle1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  
    & + & {
      margin-top: $section-spacing-content;
    }
  }
}

// —————————————————————————————————————————————————————————————————
// color
// —————————————————————————————————————————————————————————————————

@mixin background-color($background-color, $title-color: $primary, $color: $text) {

  &.section {
    background-color: $background-color;
    padding-top: $section-spacing;
    color: $color;
  }
  
  & + .section {
    padding-top: $section-spacing;
  }

  & + & {
    padding-top: 0;
  }

  .section__title,
  .card__title {
    color: $title-color;
  }

  &.page__header {

    &:before {
      background-image: linear-gradient(to bottom, rgba($background-color, 0.5), $background-color);
    }
  }
}

.section {

  &--white { @include background-color($background-default); }
  &--grey { @include background-color($background-paper); }
  &--primary { @include background-color($primary, $primary-text-contrast, $primary-text-contrast); }
  &--dark { @include background-color($dark, $text-contrast, $text-contrast); }
}

// —————————————————————————————————————————————————————————————————
// size
// —————————————————————————————————————————————————————————————————

@mixin size($size, $ratio) {

  .section {

    &__label {
      @if $size == lg {
        @extend .body2;
      }

      & + .section__title {
        margin-top: $ratio;
      }
    }
  
    &__title {
      @if $size == sm {
        @extend .h4;
      } @else if $size == md {
        @extend .h3;
      } @else if $size == lg {
        @extend .h1;
      }

      + .section__subtitle {
        margin-top: $ratio;
      }
    }

    &__subtitle {
      @if $size == sm {
        @extend .body1;
      } @else if $size == md {
        @extend .subtitle1;
      } @else if $size == lg {
        @extend .h5;
      }
    }
  }
}

.section__header {

  &--sm { @include size(sm, $spacing*1.5); }
  &--md { @include size(md, $spacing*2); }
  &--lg { @include size(lg, $spacing*3); }
}

// —————————————————————————————————————————————————————————————————
// variants
// —————————————————————————————————————————————————————————————————

.section {

  &--fullWidth {
    padding-left: 0 !important;
    padding-right: 0 !important;
    overflow: hidden;

    .section {

      &__container {
        max-width: unset;
      }
    }
  }
}
