// —————————————————————————————————————————————————————————————————
// general
// responsive
// z-index
// hover classes
// overrides
// misc
// —————————————————————————————————————————————————————————————————

img {
  // prevent images from stretching with flex
  align-self: center;
  width: 100%;
}

// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

* {
  box-sizing: border-box;
  outline: none;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  // prevent horizontal scroll
  overflow-x: hidden;
  
  &:before {
    @include pseudo-element('', 0, 0, 0, 0, 100vw, 100vh);
    position: fixed;
    background-color: rgba($black, 0.8);
    opacity: 0;
    pointer-events: none;
    transition: opacity $transition;
    will-change: opacity;
  }
  
  &.js-freeze {
    // prevents scrolling when menu is opened on mobile
    overflow: hidden;
    
    &:before {
      transition: opacity $transition;
      will-change: opacity;
      opacity: 1;
    }
  }
}

// embed responsively (embed Youtube and Vimeo)

.embed-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
  width: 100%;
  border-radius: $border-radius*3;

  iframe, object, embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
  }
}

// remove autocomplete from webkit browsers

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px $white inset;
  -webkit-box-shadow: 0 0 0px 1000px $white inset;
  transition: background-color $transition;
}

// lists

ul {
  list-style: disc;
}

// images

.background {

  &--cover { @include background(center center, cover); }
  &--contain { @include background(center center, contain); }

  &--shadow {
    box-shadow: $box-shadow-sm;
    overflow: hidden;

    &.testimonials {
      overflow: visible;
    }
  }
}

// —————————————————————————————————————————————————————————————————
// responsive
// —————————————————————————————————————————————————————————————————

.hide {
  
  &--desktop { @include responsive(down, $desktop-down) { display: none !important; } }
  &--laptop { @include responsive(down, $laptop-down) { display: none !important; } }
  &--tablet { @include responsive(down, $tablet-down) { display: none !important; } }
  &--mobile { @include responsive(down, $mobile-down) { display: none !important; } }
  &--touch { @include responsive-touch() { display: none !important; } }
}

.show {

  &--desktop { @include responsive(up, $desktop-up) { display: none !important; } }
  &--laptop { @include responsive(up, $laptop-up) { display: none !important; } }
  &--tablet { @include responsive(up, $tablet-up) { display: none !important; } }
  &--mobile { @include responsive(up, $mobile-up) { display: none !important; } }
}

// —————————————————————————————————————————————————————————————————
// z-index
// —————————————————————————————————————————————————————————————————

.anchor { z-index: 5; }
.widget--newsletter { z-index: 6; }
.widget--cookie { z-index: 7; }
body:before { z-index: 8; }
.navbar { z-index: 9; }
.modal { z-index: 10; }

@for $i from 0 through 9 {
  .z-index--#{$i} { z-index: $i; }
}

// —————————————————————————————————————————————————————————————————
// overrides
// —————————————————————————————————————————————————————————————————

.w {

  &-100 { width: 100%; }
}

.m {
  &-0 { margin: 0; }

  &t {
    &-0 { margin-top: 0; }
    &-1 { margin-top: $spacing; }
    &-2 { margin-top: $spacing*2; }
    &-4 { margin-top: $spacing*4; }
  }

  &r {
    &-0 { margin-right: 0; }
    &-1 { margin-right: $spacing; }
    &-2 { margin-right: $spacing*2; }
    &-4 { margin-right: $spacing*4; }
  }

  &b {
    &-0 { margin-bottom: 0; }
    &-1 { margin-bottom: $spacing; }
    &-2 { margin-bottom: $spacing*2; }
    &-4 { margin-bottom: $spacing*4; }
  }

  &l {
    &-0 { margin-left: 0; }
    &-1 { margin-left: $spacing; }
    &-2 { margin-left: $spacing*2; }
    &-4 { margin-left: $spacing*4; }
  }
}

.p {
  &-0 { padding: 0; }

  &t {
    &-0 { padding-top: 0; }
  }

  &r {
    &-0 { padding-right: 0; }
  }

  &b {
    &-0 { padding-bottom: 0; }
  }

  &l {
    &-0 { padding-left: 0; }
  }
}

.display {

  &--block { display: block; }
  &--flex { display: flex; }
}

.sticky {
  position: sticky;
  top: $navbar-height+$section-spacing-content;
}

.position {

  &--absolute { position: absolute; }
  &--relative { position: relative; }
}

.image {

  &--greyscale {
    filter: grayscale(1);
  }
}

.overflow {

  &--hidden { overflow: hidden; }
  &--visible { overflow: visible; }
}

.flex {

  &-1 {
    flex-grow: 1;
  }
}

// —————————————————————————————————————————————————————————————————
// misc
// —————————————————————————————————————————————————————————————————

.video {

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 16.6667%;
    padding-bottom: 16.6667%;
    width: 100%;
  }

  &__button {
    transition: transform $transition;
    will-change: transform;
    width: $spacing*10;

    @include hover {
      transform: scale(1.2);
    }
  }

  &__notice {
    margin-top: $spacing*4;
  }
}

.rating {
  display: flex;

  &__item {
    width: $spacing*2.5;
    height: auto;
    fill: $warning;
    opacity: 0.33;

    &--active {
      opacity: 1;
    }
  }
}

.divider {
  background-color: rgba($text, 0.15);
  border-radius: $spacing/4;
  height: $spacing/2;
  width: $spacing/2;
  
  &--white { background-color: rgba($text-contrast, 0.15); }

  &--portrait { height: 100%; }
  &--landscape { width: 100%; }
}

.arrow {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: $spacing/2;
  background-image: linear-gradient(to right, $grey-30 0%, $grey-30 50%, transparent 50%);
  background-size: $spacing*5 100%;
  background-repeat: repeat-x;

  &:after {
    content: "";
    position: absolute;
    right: 0;
    width: 0; 
    height: 0; 
    border-top: $spacing*1.2 solid transparent;
    border-bottom: $spacing*1.2 solid transparent;
    border-left: $spacing*1.2 solid $grey-30;
    transform: scaleX(3);
  }
}