// —————————————————————————————————————————————————————————————————
// variables
// elements
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// variables
// —————————————————————————————————————————————————————————————————

$spacing-accordion: $spacing*2;

// —————————————————————————————————————————————————————————————————
// elements
// —————————————————————————————————————————————————————————————————

.accordion {

  & + & {
    border-top: $border;
  }

  &:first-child {
    margin-top: -$spacing-accordion;
  }

  &:last-child {
    margin-bottom: -$spacing-accordion;
  }

  &__container {
    width: 100%;
  }
  
  &__header {
    transition: padding-top $transition;
    will-change: padding-top;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: $spacing-accordion;
    padding-bottom: $spacing-accordion;

    &.js-accordion-active {
      padding-top: $spacing-accordion*2;

      .accordion__icon {
        transform: rotate(45deg);
      }
    }
  }

  &__content {
    display: none;
    padding-bottom: $spacing-accordion*2;
  }

  &__icon {
    flex-shrink: 0;
    margin-left: $spacing;
    transition: transform $transition;
    will-change: transform;
    fill: $primary;
  }
}