// —————————————————————————————————————————————————————————————————
// ACCORDIONS
// —————————————————————————————————————————————————————————————————

.accordion {

	&__header {
		cursor: pointer;

		&.js-accordion-active {

			.button--icon {
				transform: rotate(45deg);
			}
		}
	}

	&__content {
		display: none;
	}
}