// —————————————————————————————————————————————————————————————————
// ANCHOR
// —————————————————————————————————————————————————————————————————

.anchor {
  margin-top: $spacing*4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__item {
    transition: color $transition;
    will-change: color;

    &.js-active {
      color: $primary;
    }

    @include hover {
      color: $primary;
    }

    & + & {
      margin-top: $spacing;
    }
  }

  &__target {
    pointer-events: none;
    
    &:before {
      display: block; 
      content: ""; 
      margin-top: -($navbar-height+$section-spacing-content);
      height: $navbar-height+$section-spacing-content;
      visibility: hidden; 
      pointer-events: none;
    }
  }
}
