// —————————————————————————————————————————————————————————————————
// root
// colors
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// root
// —————————————————————————————————————————————————————————————————

.badge {
  padding: $integer-sm $integer;
  border-radius: $border-radius/4;
  display: inline-block;  
}

// —————————————————————————————————————————————————————————————————
// root
// —————————————————————————————————————————————————————————————————

.badge {

  &--success {
    background-color: $primary-light;
    color: $black;
  }

  &--warning {
    background-color: $secondary-light;
    color: $black;
  }
}