// —————————————————————————————————————————————————————————————————
// reset
// root
// color
// size
// variant
// menu
// misc
// wrapper
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// reset
// —————————————————————————————————————————————————————————————————

button,
a {

  svg {
    width: 100%;
    height: 100%;
  }
}

// —————————————————————————————————————————————————————————————————
// root
// —————————————————————————————————————————————————————————————————

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: $font-black;
  line-height: 1;
  cursor: pointer;
}

// —————————————————————————————————————————————————————————————————
// color
// —————————————————————————————————————————————————————————————————

@mixin color($color, $text, $hover) {
  background-color: $color;
  color: $text;

  @include hover {
    background-color: $hover;
  }

  &--stroke {
    border-color: $color;
    color: $black;

    @include hover {
      border-color: $hover;
    }
  }

  &--text {
    color: $color;

    @include hover {
      color: $hover;
    }
  }
}

.button {

  &--primary { @include color($primary, $primary-contrast-text, $primary-dark); }
  &--secondary { @include color($secondary, $secondary-contrast-text, $secondary-dark); }
  &--grey { @include color($grey-60, $text-contrast, $grey-70); }
  &--success { @include color($success, $success-contrast-text, $success-dark); }
  &--info { @include color($info, $info-contrast-text, $info-dark); }
  &--warning { @include color($warning, $warning-contrast-text, $warning-dark); }
  &--error { @include color($error, $error-contrast-text, $error-dark); }
}

// —————————————————————————————————————————————————————————————————
// size
// —————————————————————————————————————————————————————————————————

@mixin size($font-size, $size) {
  border-radius: $size;
  padding-right: $size/2;
  padding-left: $size/2;
  height: $size;
  font-size: $font-size;
  letter-spacing: $font-size/10;

  svg {
    width: $size/2;
    height: $size/2;

    &:first-child { 
      margin-right: $size/4; 
      margin-left: -$size/8; 
    }
    &:last-child { 
      margin-right: -$size/8; 
      margin-left: $size/4; 
    }
  }

  &.button {

    &--icon {
      width: $size;
      padding: $size/4;

      svg {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}

.button {

  & { @include size(0.875rem, 2rem); }
  &--sm { @include size(0.75rem, 1.75rem); }
  &--lg { @include size(1rem, 2.5rem); }
}

// —————————————————————————————————————————————————————————————————
// variant
// —————————————————————————————————————————————————————————————————

.button {
  transition: background-color 0.4s ease;

  &--stroke {
    border-width: 2px;
    border-style: solid;
    transition: border-color 0.4s ease;
  }

  &--text {
    padding: 0;
    height: auto;
    transition: color 0.4s ease;
  }
}

// —————————————————————————————————————————————————————————————————
// menu
// —————————————————————————————————————————————————————————————————

.button--menu {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: button-menu-opacity 0.8s ease 0s;
  cursor: pointer;
  position: relative;
  overflow: visible;
  width: $spacing*3;
  height: $spacing*3;
  background-color: transparent !important;
  border: 0;
  padding: 0;

  &:before, 
  &:after, 
  .button__inner {
    background-color: $black;
  }

  &:before, 
  &:after {
    transition: transform $transition;
    @include pseudo-element('', auto, auto, auto, auto, $spacing*3, $spacing/2);
    border-radius: 0.15rem;
    will-change: transform;
  }

  &:before {
    transform: translateY($spacing);
    animation: button-menu-close-before 0.8s ease;
  }

  &:after {
    transform: translateY(-$spacing);
    animation: button-menu-close-after 0.8s ease;
  }

  .button__inner {
    transition: opacity 0s ease 0.4s;
    border-radius: 0.15rem;
    will-change: opacity;
    width: $spacing*3;
    height: $spacing/2;
    position: absolute;
  }

  &.button--menu--open {

    &:before {
      animation: button-menu-open-before 0.8s ease forwards;
    }

    &:after {
      animation: button-menu-open-after 0.8s ease forwards;
    }

    .button__inner {
      opacity: 0;
    }
  }
}

// —————————————————————————————————————————————————————————————————
// misc
// —————————————————————————————————————————————————————————————————

.button {

  &--fullWidth {
    width: 100%;
  }

  &--disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

// —————————————————————————————————————————————————————————————————
// wrapper
// —————————————————————————————————————————————————————————————————

.button__wrapper {
  display: flex;

  @include responsive(down, $mobile) {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  .button {

    & + .button {
      margin-left: $spacing;

      @include responsive(down, $mobile) {
        margin-left: 0;
        margin-top: $spacing;
      }
    }
  }
}