// —————————————————————————————————————————————————————————————————
// reset
// root
// color
// size
// variant
// menu
// misc
// wrapper
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// reset
// —————————————————————————————————————————————————————————————————

button,
a {

  svg {
    width: 100%;
    height: 100%;
  }
}

// —————————————————————————————————————————————————————————————————
// root
// —————————————————————————————————————————————————————————————————

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-transform: uppercase;
  font-weight: $font-black;
  line-height: 1;
  cursor: pointer;
}

// —————————————————————————————————————————————————————————————————
// color
// —————————————————————————————————————————————————————————————————

@mixin color($color, $text, $hover) {
  background-color: $color;
  color: $text;

  @include hover {
    background-color: $hover;
  }

  svg {
    fill: $text;
  }
  
  &.button--stroke {
    background-color: transparent;
    border-color: $color;
    color: $text;
    
    @include hover {
      background-color: transparent;
      border-color: $hover;
    }

    svg {
      fill: $text;
    }
  }
  
  &.button--text {
    background-color: transparent;
    color: $color;

    svg {
      fill: $color;
    }
    
    @include hover {
      background-color: transparent;
      color: $hover;
    }
  }
}

.button {

  &--primary { @include color($primary, $primary-text-contrast, $primary-dark); }
  &--secondary { @include color($secondary, $secondary-text-contrast, $secondary-dark); }
  &--white { @include color($white, $primary, $background-default); }
  &--black { @include color($black, $text-contrast, $deep-black); }
  &--grey { @include color($grey-60, $text-contrast, $grey-70); }
  &--success { @include color($success, $success-text-contrast, $success-dark); }
  &--info { @include color($info, $info-text-contrast, $info-dark); }
  &--warning { @include color($warning, $warning-text-contrast, $warning-dark); }
  &--error { @include color($error, $error-text-contrast, $error-dark); }
  &--facebook { @include color($facebook, $text-contrast, $facebook-dark); }
  &--github { @include color($github, $text-contrast, $github-dark); }
  &--linkedin { @include color($linkedin, $text-contrast, $linkedin-dark); }
  &--medium { @include color($medium, $text-contrast, $medium-dark); }
  &--twitter { @include color($twitter, $text-contrast, $twitter-dark); }
}

// —————————————————————————————————————————————————————————————————
// size
// —————————————————————————————————————————————————————————————————

@mixin size($font-size, $size) {
  border-radius: $size;
  padding-right: $size/2;
  padding-left: $size/2;
  height: $size;
  font-size: $font-size;
  letter-spacing: $font-size/10;

  svg {
    width: $size/2;

    &:first-child { 
      margin-right: $size/4; 
      margin-left: -$size/8; 
    }

    &:last-child { 
      margin-right: -$size/8; 
      margin-left: $size/4; 
    }
  }

  &.button {

    &--icon {
      width: $size;
      padding: $size/5;

      svg {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}

.button {

  & { @include size(0.875rem, 2rem); }
  &--xs { @include size(0.625rem, 1.5rem); }
  &--sm { @include size(0.75rem, 1.75rem); }
  &--lg { @include size(1rem, 2.5rem); }
}

// —————————————————————————————————————————————————————————————————
// variant
// —————————————————————————————————————————————————————————————————

.button {
  transition: background-color $transition;

  &--stroke {
    border-width: 2px;
    border-style: solid;
    transition: border-color $transition;
  }

  &--text {
    padding: 0;
    height: auto;
    transition: color $transition;
  }
}

// —————————————————————————————————————————————————————————————————
// menu
// —————————————————————————————————————————————————————————————————

.button--menu {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: button-menu-opacity 0.8s ease 0s;
  cursor: pointer;
  position: relative;
  overflow: visible;
  width: $spacing*3;
  height: $spacing*3;
  background-color: transparent !important;
  border: 0;
  padding: 0;

  &:before, 
  &:after, 
  .button__inner {
    background-color: $text;
  }

  &:before, 
  &:after {
    transition: transform $transition;
    @include pseudo-element('', auto, auto, auto, auto, $spacing*3, $spacing/2);
    border-radius: 0.15rem;
    will-change: transform;
  }

  &:before {
    transform: translateY($spacing);
    animation: button-menu-close-before 0.8s ease;
  }

  &:after {
    transform: translateY(-$spacing);
    animation: button-menu-close-after 0.8s ease;
  }

  .button__inner {
    transition: opacity 0s ease 0.4s;
    border-radius: 0.15rem;
    will-change: opacity;
    width: $spacing*3;
    height: $spacing/2;
    position: absolute;
  }

  &.button--menu--open {

    &:before {
      animation: button-menu-open-before 0.8s ease forwards;
    }

    &:after {
      animation: button-menu-open-after 0.8s ease forwards;
    }

    .button__inner {
      opacity: 0;
    }
  }
}

// —————————————————————————————————————————————————————————————————
// misc
// —————————————————————————————————————————————————————————————————

.button {

  &--fullWidth {
    width: 100%;
  }

  &--disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &--underline {
    text-decoration: underline;
  }
}

// —————————————————————————————————————————————————————————————————
// wrapper
// —————————————————————————————————————————————————————————————————

@mixin break($breakpoint) {

  @include responsive(down, $breakpoint) {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    
    @include responsive(down, $mobile-down) {
      align-items: stretch;
    }

    .button + .button {
      margin-left: 0;
      margin-top: $spacing;
    }
  }
}

.button__wrapper {
  display: flex;

  .button + .button {
    margin-left: $spacing;
  }

  .button--lg + .button--lg {
    margin-left: $spacing*2;
  }

  &--sm { @include break($mobile-down); }
  &--md { @include break($tablet-down); }
  &--lg { @include break($laptop-down); }
  &--xl { @include break($desktop-down); }

  &--landscape {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    @include responsive(down, $mobile-down) {
      align-items: stretch;
    }
    
    .button + .button {
      margin-left: 0;
      margin-top: $spacing;
    }
  }
}