// —————————————————————————————————————————————————————————————————
// elements
// size
// direction
// color
// variants
// views
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// elements
// —————————————————————————————————————————————————————————————————

.card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  width: 100%;
  overflow: hidden;
  text-align: left;
  box-shadow: $box-shadow-sm;
  background-color: $background-paper;
  
  &__media,
  &__header,
  &__content,
  &__actions {
    display: flex;
    width: 100%;
  }

  &__header,
  &__content {
    flex-direction: column;
  }

  &__media {
  // fixes shrinking images
    flex-shrink: 0;
  }

  &__thumbnail {
    @include background(center center, cover);
    background-color: $grey-5;
    width: 100%;
  }

  &__actions {
    justify-content: space-between;
    // prevent shrinking
    flex-shrink: 0;
  }

  &__title {
    display: flex;
    justify-content: space-between;
  }
}

// —————————————————————————————————————————————————————————————————
// size
// —————————————————————————————————————————————————————————————————

@mixin size($size, $ratio) {
  border-radius: $ratio;

  > .card {

    &__media,
    &__header,
    &__content,
    &__actions {
      padding: 0 $ratio $ratio $ratio;

      &:first-child {
        padding-top: $ratio;
      }

      &.noPadding {
        padding: 0;
        
        &:first-child {
          padding-top: 0;
        }
      }
      
      &.fullWidth {
        padding-right: 0;
        padding-left: 0;
      }
    }

    &__header {

      & > .card {

        &__label {
          
          + .card__title,
          + .card__subtitle {    
            margin-top: $ratio/4;
          }
        }
    
        &__title {
          
          + .card__subtitle {
            margin-top: $ratio/4;
            @if $size == xs {
              margin-top: 0 !important;
            }
          }
        }
    
        &__subtitle {
    
          + .card__subtitle {
            margin-top: $ratio/4;
            @if $size == xs {
              margin-top: 0 !important;
            }
          }
        }        
      }
    }
  }

  .card {

    &__media,
    &__thumbnail {
      border-radius: $ratio/3;
    }

    &__label {
      @extend .caption;
    }

    &__title {
      color: $primary;
      @if $size == xs {
        @extend .subtitle2;
      } @else if $size == sm {
        @extend .h6;
      } @else if $size == md {
        @extend .h4;
      } @else if $size == lg {
        @extend .h3;
      }
    }

    &__subtitle {
      @if $size == xs {
        @extend .overline;
      } @else if $size == sm {
        @extend .body1;
      } @else if $size == md {
        @extend .subtitle1;
      } @else if $size == lg {
        @extend .h6;
      }
    }
  }

  &.card--landscape {

    > .card {

      &__media,
      &__header,
      &__content,
      &__actions {
        padding: $ratio $ratio $ratio 0;
        
        &:first-child {
          padding-left: $ratio;
        }
        
        &.noPadding {
          padding: 0;
          
          &:first-child {
            padding-left: 0;
          }
        }
      }
    }
  }

  &.card--transparent {
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;

    > .card {

      &__media,
      &__header,
      &__content,
      &__actions {
        padding-right: 0;
        padding-left: 0;

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    &.card--landscape {

      > .card {
  
        &__media,
        &__header,
        &__content,
        &__actions {
          padding-top: 0;
          padding-right: $ratio;
          padding-bottom: 0;

          &:first-child {
            padding-left: 0;
          }

          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
  }
}

.card {

  &--xs { @include size(xs, $spacing*1.5); }
  &--sm { @include size(sm, $spacing*2); }
  &--md { @include size(md, $spacing*3); }
  &--lg { @include size(lg, $spacing*4); }
}

// —————————————————————————————————————————————————————————————————
// direction
// —————————————————————————————————————————————————————————————————

.card--landscape {
  flex-direction: row;

  .card {

    &__media,
    &__header,
    &__content,
    &__actions {
      width: auto;
    }  
  }
}

// —————————————————————————————————————————————————————————————————
// color
// —————————————————————————————————————————————————————————————————

@mixin color($background-color) {
  background-color: $background-color;
}

.card {

  &--grey { @include color($background-default); }
  &--white { @include color($background-paper); }
}

// —————————————————————————————————————————————————————————————————
// variants
// —————————————————————————————————————————————————————————————————

.card {

  &--noShadow {
    box-shadow: none;
  }

  &--maxWidth {
    max-width: $spacing*65;
  }
}

// —————————————————————————————————————————————————————————————————
// views
// —————————————————————————————————————————————————————————————————

.card {

  &--post {

    .card__thumbnail {
      padding-bottom: 50%;
    }
  }

  &--news {

    .card {

      &__thumbnail {
        height: $spacing*5;
        width: auto !important;
      }
      
      &__header {
        flex: 1;
      }
    }
  }

  &--event {

    > .card__media {
      flex-basis: 33.33%;
    }
  }

  &--project {
    height: 100%;

    .card {

      &__thumbnail {
        padding-bottom: 50%;
      }

      &__actions {
        margin-top: auto;
      }
    } 
  }

  &--team {

    .card__media {
      width: 50%;

    }

    @include responsive(down, $tablet-down) {
      flex-direction: column;

      &.card--landscape > .card__content {
        padding-left: $spacing*3 !important;
        padding-top: 0;
      }

      .card {

        &__media {
          width: 100%;
        }

        &__thumbnail {
          padding-bottom: 50%;
          background-position: top center;
        }
      }
    }
  }

  &--event {

    @include responsive(down, $laptop-down) {

      > .card {

        &__content:nth-child(2) {
          padding-left: $spacing*3 !important;
        }

        &__media {
          display: none;
        }
      }
    }

    @include responsive(down, $tablet-down) {

      & {
        flex-direction: column;
      }

      > .card {

        &__content:nth-child(3) {
          padding-top: 0 !important;
          padding-left: $spacing*3 !important;
        }
      }
    }
  }

  &--portrait {
    align-items: center;

    .card {

      &__media {
        padding-right: $spacing*2 !important;
      }
      
      &__thumbnail {
        background-color: transparent;
        width: $spacing*8;
        height: $spacing*8;
        border-radius: $spacing*4;
        padding-bottom: 0;
        object-fit: cover;
      }
    }

    &-sm {
      @extend .card--portrait;

      .card {
    
        &__media {
          padding-right: $spacing !important;
        }
        
        &__thumbnail {
          width: $spacing*5;
          height: $spacing*5;
        }
      }
    }
  }

  &--center {
    text-align: center;
    align-items: center;

    .card {

      &__media {
        width: $spacing*15;
        justify-content: center;
      }

      &__actions,
      &__title {
        justify-content: center;
      }      
    }
  }
}