// —————————————————————————————————————————————————————————————————
// general
// owl
// variants
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

.carousel {

  &__item {
    display: flex;
    align-items: center;

    @include responsive(down, $laptop-down) {
      flex-direction: column;
    }
  }

  &__meta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: $spacing*2;
    
    .button {
      margin-top: $spacing;
    }
  }

  &__stars {
    color: $grey-30;
    margin-right: $spacing;

    .section--primary & {
      color: $text-contrast-disabled;

      .body--highlight {
        color: $dark;
      }
    }
  }
}

// —————————————————————————————————————————————————————————————————
// owl
// —————————————————————————————————————————————————————————————————

[class*="owl-carousel-dots-container-"] {
  margin-left: $spacing*2;
  flex: 1;
}

.owl {

  &-carousel {
    min-height: $spacing*2;

    .owl-item {
      padding-left: 1px;
    }
  }

  &-stage {
    display: flex;
  }

  &-dot {
    display: flex;

    span {
      transition: background-color $transition, transform $transition;
      will-change: background-color, transform;
      border-radius: 50%;
      height: $spacing;
      width: $spacing;
      background-color: $primary-light !important;
      
      @include hover {
        transform: scale(1.2);
      }
    }

    &.active span {
      transform: scale(1.2);
      background-color: $text-contrast !important;
    }
  }

  &-nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50%;
    width: 100%;
  }

  &-prev,
  &-next {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem !important;
    width: $spacing*4;
    height: $spacing*4;
    border-radius: $spacing*4;
    background-color: $primary !important;
    color: $text-contrast !important;
    box-shadow: $box-shadow;
  }

  &-prev { transform: translateX(-$spacing*3); }
  &-next { transform: translateX($spacing*3); }
}

// —————————————————————————————————————————————————————————————————
// variants
// —————————————————————————————————————————————————————————————————

.owl-carousel {

  &-testimonials {

    .owl-stage-outer {
      overflow: visible !important;
    }
  }
}
