@import "components/_typography";

  // —————————————————————————————————————————————————————————————————
// elements
// size
// direction
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// elements
// —————————————————————————————————————————————————————————————————

.card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  width: 100%;
  overflow: hidden;
  text-align: left;
  // box-shadow: $box-shadow-sm;
  // remove after testing
  background-color: $grey-10;
  padding: 1rem;

  &__header,
  &__content,
  &__actions {
    display: flex;
  }

  &__header,
  &__content {
    flex-direction: column;
  }

  &__actions {
    justify-content: space-between;
  }
}

// —————————————————————————————————————————————————————————————————
// size
// —————————————————————————————————————————————————————————————————

@mixin size($size, $ratio) {
  border-radius: $ratio;

  .card {

    &__header,
    &__content,
    &__actions {
      padding: 0 $ratio $ratio $ratio;
      
      &:first-child {
        padding-top: $ratio;
      }
      
      &.noPadding {
        padding: 0;
        
        &:first-child {
          padding-top: 0;
        }
      }
      
      &.fullWidth {
        padding-right: 0;
        padding-left: 0;
      }
    }
    
    &__label {
      @extend .label;
      
      + .card__title,
      + .card__subtitle {    
        margin-top: $ratio/4;
      }
    }
    
    &__title {
      color: $primary;
      @if $size == sm {
        @extend .h6;
      } @else if $size == md {
        @extend .h5;
      } @else if $size == lg {
        @extend .h4;
      }
      
      + .card__subtitle {
        margin-top: $ratio/2;
      }
    }

    &__subtitle {
      @if $size == sm {
        @extend .body--sm;
      } @else if $size == md {
        @extend .body;
      } @else if $size == lg {
        @extend .body--lg;
      }
    }
  }

  &.card--landscape {

    .card {

      &__header,
      &__content,
      &__actions {
        padding: $ratio $ratio $ratio 0;
        
        &:first-child {
          padding-left: $ratio;
        }
        
        &.noPadding {
          padding: 0;
          
          &:first-child {
            padding-left: 0;
          }
        }
      }
    }
  }
}

.card {

  &--sm { @include size(sm, 1rem); }
  &--md { @include size(md, 1.5rem); }
  &--lg { @include size(lg, 2rem); }
}

// —————————————————————————————————————————————————————————————————
// direction
// —————————————————————————————————————————————————————————————————

.card--landscape {

  .card {
    flex-direction: row;
  }
}
