// —————————————————————————————————————————————————————————————————
// general
// owl
// variants
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

.carousel {

  &__item {
    display: flex;
    align-items: center;

    @include responsive(up, $laptop) {
      flex-direction: column;
    }
  }

  &__meta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: $spacing*2;
    
    .button {
      margin-top: $spacing;
    }
  }

  &__stars {
    color: $grey-30;
    margin-right: $spacing;

    .section--primary & {
      color: rgba($white, 0.2);

      .body--highlight {
        color: $dark;
      }
    }
  }
}

// —————————————————————————————————————————————————————————————————
// owl
// —————————————————————————————————————————————————————————————————

.owl {

  &-carousel {
    
    .section--primary & {
      
      .button--primary {
        background-color: $secondary !important;
        color: $black !important;
      }
    }
  }

  &-stage {
    display: flex;
  }

  &-dots {
    margin-top: $spacing*4;
    text-align: center;
  }

  &-dot {
    transition: background-color $transition, transform $transition;
    border-radius: 50%;
    will-change: background-color, transform;
    height: $spacing;
    width: $spacing;
    background-color: $secondary !important;
    margin: 0 $spacing*2;

    &.active, &:hover {
      transform: scale(1.5);
      background-color: $primary !important;
      
      .section--primary & {
        background-color: $dark !important;
      }
    }
  }
}

// —————————————————————————————————————————————————————————————————
// variants
// —————————————————————————————————————————————————————————————————

.carousel {

  &--testimonials {

    .card {

      &__body {
        
        &:before {
            content: '“'
        }

        &:after {
            content: '”'
        }
      }
    }

    .carousel {

      &__item {
        padding-right: $page-gutter;
        padding-left: $page-gutter;

        @include responsive(up, $laptop) {

          .body--left {
            text-align: center;
          }
        }
      }

      &__image {
        @include background(center center, cover);
        align-self: flex-start;
        border-radius: 50%;
        flex-shrink: 0;
        overflow: hidden;
        position: relative;
        margin-right: $spacing*5;
        width: $spacing*25 !important;
        height: $spacing*25;
        background-color: $grey-10;

        @include responsive(up, $desktop) {
          width: $spacing*15+$spacing !important;
          height: $spacing*15+$spacing;
          margin: 0 auto $spacing*4 auto;
        }
      }

      &__meta {

        @include responsive(up, $desktop) {
          align-items: center;
        }
      }
    }
  }
}

.owl-carousel {

  &-news {

    &.background--shadow {
      overflow: visible;
    }

    .owl {

      &-dots {
        display: inline-block;
        position: absolute;
        left: $spacing*2;
        bottom: -$spacing*4;
        pointer-events: initial;
      }

      &-dot {
        margin-right: $spacing;
        margin-left: $spacing;
        background-color: $secondary !important;
        
        &.active {
          background-color: $white !important;
        }
      }

      &-nav {
        display: none;
      }
    }

    .carousel__item {
      height: 100%;
    }
  }
}