// —————————————————————————————————————————————————————————————————
// footer
// —————————————————————————————————————————————————————————————————

.footer {

  .form__checkbox {
    margin-top: $spacing*2;
  }

  &__button {
    display: block !important;
    margin-left: 0 !important;

    &:hover {
      color: $primary;
    }
  }
}