// —————————————————————————————————————————————————————————————————
// general
// checkbox & radio
// overrides
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

.form {
  width: 100%;

  &__group {
    position: relative;
    width: 100%;

    &.focused {

      .form {

        &__label {
          color: $primary;
        }

        &__input {
          border-color: $primary;
        }
      }
    }
  }

  &__label {
    transition: color $transition;
    text-overflow: ellipsis;
    will-change: color;
    cursor: pointer;
    display: block;
    white-space: nowrap;
    position: relative;
    padding-left: $spacing*0.75;
    margin-bottom: $spacing;
  }

  &__input {
    transition: border $transition;
    will-change: border;
    text-overflow: ellipsis;
    width: 100%;
    background-color: transparent;
    padding: $spacing*1.25 $spacing*1.5;
    border: $border-sm;
    border-radius: $spacing*4 !important;
    font-size: 1rem;
    color: $text;
  }
}

::placeholder {
  font-family: $font;
  color: $text-contrast-disabled;
  opacity: 1;
}

// —————————————————————————————————————————————————————————————————
// checkbox & radio
// —————————————————————————————————————————————————————————————————

.form__checkbox, 
.form__radio {

  .form__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .form__label:before {
      border-color: $primary;
      border-width: $spacing;
    }
  }

  .form__label {
    padding-left: $spacing*4;
    cursor: pointer;
    margin: 0;
    font-size: 1rem;
    font-weight: 200;
    overflow: visible;
    color: $text;
    white-space: normal;

    &:before {
      @include pseudo-element('', $spacing/4, auto, auto, 0, $spacing*2.4, $spacing*2.4);
      box-sizing: border-box;
      transition: border $transition;
      will-change: border;
      border: $border-sm;
    }
  }
}

.form__checkbox {

  .form__input {

    &:checked + .form__label {

      &:before {
        border-width: $spacing*1.2;
      }

      &:after {
        opacity: 1;
      }    
    }
  }

  .form__label {

    &:before {
      border-radius: $spacing/2;
    }

    &:after {
      @include pseudo-element('✓', $spacing/4, auto, auto, 0, $spacing*2.4, $spacing*2.4);
      transition: opacity $transition;
      will-change: opacity;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
    }
  }
}

.form__radio {
    display: flex;
    align-items: center;
    flex-basis: 0;
    height: $spacing*5;

  & + & {
    margin-left: $spacing;
  }

  .form__input {

    &:checked + .form__label:before {
      border-width: 7px;
    }
  }

  .form__label {

    &:before {
      border-radius: 50%;
    }
  }
}

// —————————————————————————————————————————————————————————————————
// overrides
// —————————————————————————————————————————————————————————————————

.pipedriveWebForms {
  padding: $spacing*4 !important;
  background-color: $background-paper;
}
