svg {
  fill: $text;
}

.fill {

  &--primary { fill: $primary; }
  &--primary-light { fill: $primary-light; }
  &--primary-dark { fill: $primary-dark }
  &--secondary { fill: $secondary; }
  &--highlight { fill: $highlight; }
  &--dark { fill: $dark; }
  &--white { fill: $white; }
}

.stroke {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;

  &--primary { stroke: $primary; }
  &--primary-light { stroke: $primary-light; }
  &--primary-dark { stroke: $primary-dark }
  &--secondary { stroke: $secondary; }
  &--highlight { stroke: $highlight; }
  &--dark { stroke: $dark; }
  &--white { stroke: $white; }

  &--sm { stroke-width: 2; }
  &--md { stroke-width: 4; }
  &--lg { stroke-width: 8; }
}