// —————————————————————————————————————————————————————————————————
// general
// products
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

.logo {
	
	&__item {
		width: 100%;
		max-width: $spacing*25*2;
		height: auto;
	}

	&-icon-bg {
		fill: $primary;
	}

	&-icon-color {
		fill: $white;
	}

	&-name {
		fill: $black;

		.footer__logo & {
			fill: $white;
		}
	}
}

// —————————————————————————————————————————————————————————————————
// products
// —————————————————————————————————————————————————————————————————

.logo {

	&--k0 {

		@include responsive(up, $tablet) {
			width: 25%;
			margin-top: -$spacing*4;
			margin-bottom: $spacing*5;
		}

		@include responsive(up, $mobile) {
			width: 50%;
			margin-top: -$spacing*2;
			margin-bottom: $spacing*4;
		}
	}
}