// —————————————————————————————————————————————————————————————————
// root
// color
// products
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// root
// —————————————————————————————————————————————————————————————————

.logo {
  display: flex;
}

// —————————————————————————————————————————————————————————————————
// color
// —————————————————————————————————————————————————————————————————

@mixin color($icon-bg, $icon-color, $name) {

  .logo {

    &-icon {
  
      &-bg { fill: $icon-bg; }
      &-color { fill: $icon-color; }
    }
  
    &-name { fill: $name; }
  }
}

.logo {

  &--default { @include color($primary, $white, $black); }
  &--white { @include color($primary, $white, $white); }
}

// —————————————————————————————————————————————————————————————————
// products
// —————————————————————————————————————————————————————————————————

.logo {

  &--k0 {

    @include responsive(up, $tablet-up) {
      width: 25%;
      margin-top: -$spacing*4;
      margin-bottom: $spacing*5;
    }

    @include responsive(up, $mobile-up) {
      width: 50%;
      margin-top: -$spacing*2;
      margin-bottom: $spacing*4;
    }
  }
}