// —————————————————————————————————————————————————————————————————
// general
// products
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

.logo {

  &-icon {

    &-bg { fill: $primary; }
    &-color { fill: $white; }
  }

  &-name { fill: $black; }
}

// —————————————————————————————————————————————————————————————————
// products
// —————————————————————————————————————————————————————————————————

.logo {

  &--k0 {

    @include responsive(down, $tablet) {
      width: 25%;
      margin-top: -$spacing*4;
      margin-bottom: $spacing*5;
    }

    @include responsive(down, $mobile) {
      width: 50%;
      margin-top: -$spacing*2;
      margin-bottom: $spacing*4;
    }
  }
}