// —————————————————————————————————————————————————————————————————
// style
// counter
// layouts
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// style
// —————————————————————————————————————————————————————————————————

@mixin spacing($ratio) {

  & + h2 { margin-top: $spacing*$ratio*2;}
  & + h3 { margin-top: $spacing*$ratio*2;}
}

.markdown {

  h1 { @extend .h3; }
  h2 { @extend .h4; }
  h3 { @extend .h5; }
  h4 { @extend .h6; }
  h5 { @extend .subtitle2; }
  h6 { @extend .subtitle1; }

  h1 {
    color:$primary;

    &:not(:first-child) {
      margin-top: $section-spacing-content;
    }

    &:not(:last-child) {
      margin-bottom: $spacing*4;
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {

    &:not(:first-child) {
      margin-top: $spacing*4;
    }

    &:not(:last-child) {
      margin-bottom: $spacing;
    }
  }

  p,
  ol,
  ul,
  .counter-latin,
  .counter-roman {

    &:not(:first-child) {
      margin-top: $spacing*1.5;
    }
  }

  ol,
  ul {
    margin-left: $spacing*4;
  }

  ol { list-style: decimal; }
  ul { list-style: disc; }

  a {
    transition: color $transition, background-color $transition;
    will-change: color, background-color;
    text-decoration: underline;
    font-weight: $font-bold;
    color: $primary;
    
    @include hover {
      color: $primary;        
    }

    &.button {
      display: inline-flex;
      text-decoration: none;
      color: $text-contrast;
    }
  }

  strong {
    font-weight: $font-bold;
  }

  em {
    font-style: italic;
  }

  blockquote {
    margin-bottom: $spacing*4;
    position: relative;
    padding-left: $spacing*5;
    
    &:not(:first-child) {
      margin-top: $spacing*4;
    }

    &:before {
      @include pseudo-element('', 0, auto, 0, 0, $spacing/2, 100%);
      border-radius: $spacing/4;
      background-color: $grey-30;
    }
  
    > * {
      margin-top: 0;
    }
  }

  img, 
  .embed-container {
    box-shadow: $box-shadow;
  }

  img {
    border-radius: $border-radius-lg;
    overflow: hidden;
    display: block;
    margin-bottom: $spacing*6;
    margin-top: $spacing*6;

    &.no-shadow {
      box-shadow: none;
      width: 100%;
      margin-left: 0;
    }

    > * {
      margin-top: 0;
    }
  }

  hr {
    border: $border;
    margin-bottom: $spacing*4;
    
    &:not(:first-child) {
      margin-top: $spacing*4;
    }

    > * {
      margin-top: 0;
    }
  }
}

// —————————————————————————————————————————————————————————————————
// counter
// —————————————————————————————————————————————————————————————————

body {
  counter-reset: h1counter;
}

.counter {

  h1 { 
    counter-reset: h2counter; 

    &:before {
      counter-increment: h1counter;
      content: counter(h1counter) ". ";
    }    
  }

  h2 { 
    counter-reset: h3counter; 

    &:before {
      counter-increment: h2counter;
      content: counter(h1counter) "." counter(h2counter) ". ";
    }
  }

  h3 { 
    counter-reset: h4counter; 

    &:before {
      counter-increment: h3counter;
      content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) ". ";
    }
  }

  .counter-latin {

    ul {
      list-style-type: lower-latin;
      
      ul {
        list-style-type: lower-roman;
      }
    }
  }

  .counter-roman {

    ul {
      list-style-type: lower-roman;
    }
  }
}

// —————————————————————————————————————————————————————————————————
// layouts
// —————————————————————————————————————————————————————————————————

.markdown--post {

  @include responsive(up, $mobile-up) {

    p,
    ol,
    ul,
    li {
      
      &:not(:first-child) {
        margin-top: $spacing*2;
      }
    }
    
    p,
    li {
      font-size: 1.125rem;
      line-height: 1.75;
    }
  }
}