// —————————————————————————————————————————————————————————————————
// elements
// nav
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// elements
// —————————————————————————————————————————————————————————————————

.navbar {
  top: 0;
  left: 0;
  width: 100vw;
  max-height: $navbar-height;
  background-color: $background-paper;
  box-shadow: $box-shadow;

  @include responsive(up, $desktop-up) {
    height: $navbar-height;
  }

  @include responsive(down, $desktop-down) {
    overflow: hidden;
    transition: max-height $transition-lg;
    will-change: max-height;
  }

  &.section{
    position: fixed;
    padding-top: 0;
    padding-bottom: 0;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include responsive(up, $desktop-up) {
      height: 100%;
    }

    @include responsive(down, $desktop-down) {
      align-items: flex-start;
    }
  }

  &__logo {
    margin-right: $spacing*4;
    height: $navbar-height/1.5;
    width: auto;

    @include responsive(down, $desktop-down) {
      position: absolute;
      top: $navbar-height/6;
      left: 0;
    }
  }

  &__button {
    margin-left: $spacing*1.5;

    @include responsive(down, $desktop-down) {
      margin-top: $spacing*1.5;
      margin-left: 0;
    }
  }

  // mobile menu
  &.js-opened {
    max-height: 100vh;
  }
}

// —————————————————————————————————————————————————————————————————
// nav
// —————————————————————————————————————————————————————————————————

.nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include responsive(up, $desktop-up) {
    height: 100%;
  }

  @include responsive(down, $desktop-down) {
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: $spacing*4;
  }

  &__icon {
    height: $navbar-height;
  }

  &__items {
    display: flex;
    align-items: stretch;

    @include responsive(up, $desktop-up) {
      height: 100%;
    }

    @include responsive(down, $desktop-down) {
      flex-direction: column;
      height: auto;
      margin: 0;
      margin-right: -$page-gutter;
    }
  }

  &__item {
    text-decoration: none;
    cursor: pointer;

    svg {
      fill: $text;
    }

    @include hover {
      
      .nav__trigger {
        color: $primary;
        
        svg {
          fill: $primary;
        }
      }
    }
    
    &--disabled {
      opacity: 0.5;
      pointer-events: none;
      cursor: default;
      
      a {
        cursor: default;
      }
      
      @include hover {
        
        .nav__trigger {
          color: inherit;
          
          svg {
            fill: inherit;
          }
        }
      }
    }
    
    &--active {
      color: $primary;

      svg {
        fill: $primary;
      }
    }

    .navbar & {
      padding-right: $spacing*1.5;
      padding-left: $spacing*1.5;
      border-bottom: $spacing/2 solid $white;
      position: relative;
      padding-top: $spacing/2;

      &--active {
        border-bottom-color: $primary
      }

      @include responsive(down, $desktop-down) {
        padding-top: 0;
        border-bottom: 0;
        border-top: $border-sm;
        text-align: right;
        width: 100vw;
        margin-left: -$page-gutter;
        padding-right: $page-gutter;
        padding-left: $page-gutter;
      }
    }

    .footer & {
      color: $text-contrast;
    }
  }

  &__trigger {
    transition: color $transition;
    will-change: color;
    height: 100%;
    display: flex;
    align-items: center;

    svg {
      transition: fill $transition;
      will-change: fill;  
      width: $spacing*1.5;
      margin-left: $spacing/2;

      .footer & {
        fill: $text-contrast;
      }
    }

    .navbar & {
      @extend .button__inner;

      @include responsive(down, $desktop-down) {
        height: $spacing*5;
        justify-content: flex-end;
      }
    }

    .footer & {
      @extend .overline;
    }
  }
}
 
.subnav {
  display: none;
  position: absolute;
  top: $navbar-height*0.75;
  left: -$spacing/2;
  background-color: $white;
  border-radius: $spacing*2;
  width: 120%;
  box-shadow: $box-shadow;
  z-index: 1;
  padding: $spacing 0;

  @include responsive(down, $desktop-down) {
    box-shadow: none;
    position: initial;
    width: 100vw;
    margin-left: -$page-gutter;
    padding-right: $page-gutter;
    padding-left: $page-gutter;
  }

  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color $transition;
    will-change: color;
    padding: $spacing*1.5 $spacing*2;
    display: block;
    color: $text;
    height: auto;
    border-radius: 0;

    .navbar & {
      @extend .button__inner;
    }

    @include responsive(down, $desktop-down) {
      align-self: flex-end;
      border-bottom: 0;
      width: 100%;
      border-top: 0;
      text-align: right;
      padding-right: 0;

      &:first-child {
        padding-top: 0;
      }
  
      & {
        border-top: 0;
        padding: $spacing 0;
      }
    }

    @include hover {
      color: $primary;
    }

    &--active {
      color: $primary;
    }

    svg {
      width: $spacing*1.5;
      margin-left: $spacing/2;
    }
  }
}
