.slides {

  &__item {
    // Hide the slides before the JS is loaded. Avoids image jumping
    display: none;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  &__direction-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: $spacing*5;
    right: $spacing*4;
    z-index: 2;

    a {
      height: $spacing*5;
      width: $spacing*5;
      cursor: pointer;

      &:before {
        font-size: 2rem;

        @include responsive(down, $mobile-down) {
          font-size: 1.5rem;
        }
      }
    }
  }

  &__prev, &__next {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__prev {

    &:before {
      @include font-awesome("\f104", auto, auto, auto, $spacing*2, $text);
      position: initial;
    }
  }

  &__next {

    &:before {
      @include font-awesome("\f105", auto, $spacing*2, auto, auto, $text);
      position: initial;
    }
  }
}
