// —————————————————————————————————————————————————————————————————
// general
// variants
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

.tab {

	&__nav {
		display: flex;
		justify-content: center;
		width: 100%;
		text-align: center;

		& + .tab__content {
			margin-top: $spacing*8;
		}
	}

	&__button {

		&.js-active {
			color: $primary;
		}

		& + & {
			margin-left: $spacing*2 !important;
		}
	}

	&__content {
	    transition: all $transition;
	}

	&__item {
		display: none;

		&:nth-child(1) {
			display: block;
		}
	}
}

// —————————————————————————————————————————————————————————————————
// variants
// —————————————————————————————————————————————————————————————————

.tab {

	&--approach {

		.tab {

			&__content {
				margin-top: $spacing*5;
			}

			&__item {

				@include responsive(up, $tablet) {
					display: block;

					& + .tab__item {

						.card {

							&__inner {
								padding-top: 0;
							}
						}
					}
				}
			}

			&__button {
				position: relative;

				&:before {
					transition: opacity $transition, width $transition, left $transition;
					@include pseudo-element('', auto, 0, -($spacing*5+$spacing/2), 50%, 0, $spacing);
					border-radius: $spacing;
					will-change: opacity, width, left;
					background-color: $dark;
				}
		
				&:hover:before, 
				&.tab__button--active:before {
					width: 100%;
					left: 0;
				}
			}
		}

		.card {

			&__image {
				padding-left: 0 !important;
			}
		}
	}

	&--events {

		.tab__content {
			width: 100%;
		}
	}
}