// —————————————————————————————————————————————————————————————————
// general
// variants
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

.tabs {
  display: flex;
}

.tab {
  position: relative;
  cursor: pointer;
  transition: color $transition, background-color $transition;
  will-change: color, background-color;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  min-width: $spacing*20;
  padding: $spacing*2;
  color: $text-contrast-secondary;

  &:after {
    @include pseudo-element('', auto, 0, 0, 0, 100%, 0);
    transition: height $transition;
    will-change: height;
    background-color: $text-contrast;
  }

  @include hover {
    color: $text-contrast;
    background-color: rgba($text-contrast, 0.1);
  }
  
  &.js-active {
    color: $text-contrast;

    &:after {
      height: $spacing/2;
    }
  }

  &__target {
    display: none;

    &:nth-child(1) {
      display: block;
    }
  }
}

// —————————————————————————————————————————————————————————————————
// variants
// —————————————————————————————————————————————————————————————————

.tab {

  &--events {

    .tab__content {
      width: 100%;
    }
  }
}