// —————————————————————————————————————————————————————————————————
// root
// colors
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// root
// —————————————————————————————————————————————————————————————————

.tag {
  padding: $spacing/2 $spacing;
  border-radius: $border-radius/4;
  display: inline-block;  
}

// —————————————————————————————————————————————————————————————————
// root
// —————————————————————————————————————————————————————————————————

@mixin color($background-color, $color) {
  background-color: $background-color;
  color: $color;
}

.tag {

  &--success { @include color($success, $success-text-contrast); }
  &--info { @include color($info, $info-text-contrast); }
  &--warning { @include color($warning, $warning-text-contrast); }
  &--error { @include color($error, $error-text-contrast); }
}
