// —————————————————————————————————————————————————————————————————
// general
// variants
// form
// misc
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

html, body {
  font-family: $font;
  font-size: 16px;
  line-height: 1.5;
  font-weight: $font-regular;
  color: $text;

  @include responsive(up, $desktop-lg) {
    font-size: 20px;
  }
}

// text selection
::selection {
  background: $primary;
  color: $white;
}

strong {
  font-weight: $font-bold;
}

@mixin font-size($fontSize: 1, $fontWeight: $font-regular, $lineHeight: 1.5) {
  font-size: $fontSize * 1rem;
  font-weight: $fontWeight;
  letter-spacing: calc(#{$fontSize * 1rem} * 0.01);
  line-height: $lineHeight;

  &.gutter {
    margin-bottom: 0.5em;
  }
}

.h0 { @include font-size(6, $font-light); }
.h1 { @include font-size(2.5, $font-bold, 1.25); }
.h2 { @include font-size(2, $font-bold, 1.25); }
.h3 { @include font-size(1.75, $font-bold, 1.25); }
.h4 { @include font-size(1.375, $font-bold, 1.25); }
.h5 { @include font-size(1.375, $font-regular, 1.5); }
.h6 { @include font-size(1.25, $font-bold, 1.25); }

.subtitle1 { 
  @include font-size(1.125); letter-spacing: 0; 

  & + & {
    margin-top: 0.5em;
  }
}
.subtitle2 { @extend .subtitle1; font-weight: $font-bold }

.body1 { 
  @include font-size(); letter-spacing: 0; 

  & + & {
    margin-top: 0.5em;
  }
}
.body2 { @extend .body1; font-weight: $font-bold }

.caption { @include font-size(.875, $font-bold); }

.overline { @include font-size(0.875); }

.button__inner { 
  @include font-size(.75, $font-black, 1);
  letter-spacing: 0.075rem;
  text-transform: uppercase;
}

.code {
  @include font-size(0.75, $font-bold, 1.25);
  font-family: "Roboto Mono", Courier, monospace;
}

// —————————————————————————————————————————————————————————————————
// variants
// —————————————————————————————————————————————————————————————————

// color

.body {

  &--black { color: $text; }
  &--grey { color: $grey-30; }
  &--white { color: $text-contrast; }
  &--disabled { color: $text-disabled; }
  &--primary { color: $primary; }
  &--secondary { color: $secondary; }
  &--success { color: $success; }
  &--info { color: $info; }
  &--warning { color: $warning; }
  &--error { color: $error; }
}

// alignement

.body {

  &--left { text-align: left; }
  &--center { text-align: center; }
  &--right { text-align: right; }
  &--justify { text-align: justify; }
}

// weight

.body {

  &--light { font-weight: $font-light; }
  &--regular { font-weight: $font-regular; }
  &--bold { font-weight: $font-bold; }
}

// col text

@for $i from 1 through 4 {
  .colText--#{$i} {
    column-count: $i;
    column-gap: 2rem;
  
    @include responsive(down, $tablet-down) {
      column-count: 1;
    }
  }
}

// —————————————————————————————————————————————————————————————————
// misc
// —————————————————————————————————————————————————————————————————

.body {

  &--zero {
    font-family: $font-code;

    .body--large & {
      font-size: 19px;
    }
  }
}