@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// general
// share
// social
// newsletter
// news
// cookies
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

.widget {
  position: relative;
  border-radius: $border-radius;

  &__bar {
    display: flex;
    align-items: flex-end;
  }
}

// —————————————————————————————————————————————————————————————————
// share
// —————————————————————————————————————————————————————————————————

.share {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-$spacing*10);
  position: absolute;
  top: 0;
  padding-top: $spacing/4;
  
  &__button {
    
    .post & {
      margin-left: 0;
      margin-bottom: $spacing/4;
      text-decoration: none;
    }

    & + & {
      margin-top: $spacing*2;
    }
  }
}

// —————————————————————————————————————————————————————————————————
// social
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// newsletter
// —————————————————————————————————————————————————————————————————

.newsletter {

  &__button {
    margin-top: $spacing;
  }

  .form__label {
    color: $white !important;
  }

  &__input {
    display: block;
    
    @include responsive(up, $desktop) {
      max-width: $spacing*25*2;
    }

    & + & {
      margin-top: $spacing;
    }
  }
}

// —————————————————————————————————————————————————————————————————
// news
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// cookies
// —————————————————————————————————————————————————————————————————

.cookie {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: opacity $transition;
  box-shadow: $box-shadow-md;
  padding: $spacing/4 $page;
  will-change: opacity;
  background-color: $primary;
  color: $white;
  position: fixed;
  bottom: 0;
  width: 100%;
  opacity: 1;
  display: none;

  @include responsive(up, $mobile) {
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: $col;
    padding-right: $col;
  }

  @include responsive-touch() {
    padding-right: $col;
  }

  &.js-cookie-accepted {
    opacity: 0;
  }

  &__text {
    padding-right: $spacing;

    @include responsive(up, $mobile) {
      padding-right: 0;
      margin-bottom: $spacing;
    }
  }

  &__button {
    color: white;
  }
}