@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// general
// share
// newsletter
// cookies
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

.widget {
  display: flex;
}

// —————————————————————————————————————————————————————————————————
// share
// —————————————————————————————————————————————————————————————————

.widget--share {
  flex-direction: column;
  width: 0;
  height: 100%;
  transform: translateX(-$spacing*12);
  
  @include responsive(down, $laptop-down) {
    flex-direction: row;
    width: auto;
    height: auto;
    transform: initial;
    margin-bottom: $section-spacing-content;

    &.sticky {
      position: initial;
    }
  }
  
  .button + .button {
    margin-top: $spacing*2;

    @include responsive(down, $laptop-down) {
      margin-top: 0;
      margin-left: $spacing*2;
    }
  }
}

// —————————————————————————————————————————————————————————————————
// newsletter
// —————————————————————————————————————————————————————————————————

.widget--newsletter {
  max-width: $spacing*80;

  .form__input {
    max-width: $spacing*50;
  }
}

// —————————————————————————————————————————————————————————————————
// cookies
// —————————————————————————————————————————————————————————————————

.widget--cookie {
  align-items: center;
  justify-content: center;
  transition: opacity $transition;
  box-shadow: $box-shadow;
  will-change: opacity;
  padding: $spacing $page-gutter;
  background-color: $primary;
  color: $primary-text-contrast;
  position: fixed;
  bottom: 0;
  width: 100vw;
  opacity: 1;
  display: none;

  @include responsive(down, $mobile-down) {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  @include responsive-touch() {
    padding-right: $col;
  }

  &.js-cookie-accepted {
    opacity: 0;
  }

  .button {
    margin-left: $spacing;
    padding: 0;

    @include responsive(down, $mobile-down) {
      margin-left: 0;
      margin-top: $spacing;
    }
  }
}