@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// ANIMATIONS
// —————————————————————————————————————————————————————————————————
// general
// scroll anim
// button menu
// —————————————————————————————————————————————————————————————————



// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

@include keyframes(fade-in) {
	from 	{ opacity: 0; } 
	to 		{ opacity: 1; } 
}

@include keyframes(spin) {
	100% { 
		@include transform(rotate(360deg)); 
	}
}

@include keyframes(spin-reverse) {
	100% { 
		@include transform(rotate(-360deg)); 
	}
}



// —————————————————————————————————————————————————————————————————
// scroll anim
// —————————————————————————————————————————————————————————————————

@keyframes slide {
    0% {
        opacity: 0;
        @include transform(translateY(-30%));
    }
    100% {
        opacity: 1;
        @include transform(translateY(0));
    } 
}



// —————————————————————————————————————————————————————————————————
// button menu
// —————————————————————————————————————————————————————————————————

// button apparition

@include keyframes(button-menu-opacity) {
	0% { 
		opacity: 0; 
	}
	50% { 
		opacity: 0; 
	}
	100% { 
		opacity: 100%; 
	}
}

// open > close

@include keyframes(button-menu-open-before) {
	0% { 
		@include transform(translateY($integer+$integer-xs));
	}
	50% { 
		@include transform(translateY(0));
		@include transform(rotate(0));
	}
	100% { 
		@include transform(rotate(45deg));
	}
}
@include keyframes(button-menu-open-after) {
	0% { 
		@include transform(translateY(-($integer+$integer-xs)));
	}
	50% { 
		@include transform(translateY(0));
		@include transform(rotate(0));
	}
	100% { 
		@include transform(rotate(-45deg));
	}
}

// close > open

@include keyframes(button-menu-close-before) {
	0% { 
		@include transform(rotate(45deg));
	}
	50% { 
		@include transform(rotate(0));
		@include transform(translateY(0));
	}
	100% { 
		@include transform(translateY($integer+$integer-xs));
	}
}
@include keyframes(button-menu-close-after) {
	0% { 
		@include transform(rotate(-45deg));
	}
	50% { 
		@include transform(rotate(0));
		@include transform(translateY(0));
	}
	100% { 
		@include transform(translateY(-($integer+$integer-xs)));
	}
}