@charset "UTF-8";



// —————————————————————————————————————————————————————————————————
// MIXINS
// —————————————————————————————————————————————————————————————————
// general
// media queris
// buttons
// fonts
// forms
// buttons
// —————————————————————————————————————————————————————————————————



// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

@mixin calc($property, $expression) {
	#{$property}: -webkit-calc(#{$expression});
	#{$property}: calc(#{$expression});
}

@mixin background($position, $size) {
	background-position: $position;
	-webkit-background-size: $size;
			background-size: $size;
	background-repeat: no-repeat;
}

@mixin pseudo-element($content, $top, $right, $bottom, $left, $width, $height) {
	content: $content;
	position: absolute;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
	width: $width;
	height: $height;
}

@mixin hover-link {
	&:hover, &:active, &:focus {
		@content;
	}
}

@mixin position($position, $top, $right, $bottom, $left, $height, $width) {
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
	width: $width;
	height: $height;
}

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content; 
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	} 
}

@mixin overflow-scroll {
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}



// —————————————————————————————————————————————————————————————————
// media queries
// —————————————————————————————————————————————————————————————————

@mixin responsive($value, $break) {
	@media ($value: $break) {
		@content;
	}
}

@mixin responsive-mobile-devices() {
	@media (pointer:coarse) {
		@content;
	}
}

@mixin responsive-mobile-devices-landscape {
	@media only screen and (max-device-width: $desktop-max) and (orientation: landscape) {
		@content;
	}
}



// —————————————————————————————————————————————————————————————————
// fonts
// —————————————————————————————————————————————————————————————————

@mixin fontface($font-name, $font-file, $font-weight, $font-style) {
	@font-face {
		font-family: $font-name;
		src: url('../fonts/' + $font-file + '.woff2') format('woff2'),
			 url('../fonts/' + $font-file + '.woff') format('woff'),
			 url('../fonts/' + $font-file + '.ttf') format('truetype');
		font-weight: $font-weight;
		font-style: $font-style;
	}
}

@mixin font-size($font-size, $font-weight, $font-style) {
	font-size: $font-size + rem;
	letter-spacing: $font-size*.02 + rem;
	font-weight: $font-weight;
	font-style: $font-style;
}

@mixin fontAwesome($fa, $top, $right, $bottom, $left, $color) {
	content: $fa;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-style: normal;
	text-decoration: none;
	color: $color;
	position: absolute;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@mixin text-overflow($property) {
	-o-text-overflow: $property;
	   text-overflow: $property;
}

@mixin ellipsis() {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}



// —————————————————————————————————————————————————————————————————
// forms
// —————————————————————————————————————————————————————————————————

@mixin placeholder {
	:-moz-placeholder { @content; }
	::-moz-placeholder { @content; }
	:-ms-input-placeholder { @content; }
	::-webkit-input-placeholder { @content; } 
}



// —————————————————————————————————————————————————————————————————
// buttons
// —————————————————————————————————————————————————————————————————

@mixin button-fill-color($prefix, $colors...) {
	@each $i in $colors {
		.#{$prefix}#{nth($i, 1)} {
			background-color: nth($i, 2);
			color: nth($i, 3);
			&-lighten {
				background-color: lighten(nth($i, 2), 20%);
				color: nth($i, 3);
			}
			&-darken {
				background-color: darken(nth($i, 2), 20%);
				color: nth($i, 3);
			}
		}
	}
}

@mixin button-stroke-color($prefix, $colors...) {
	@each $i in $colors {
		.#{$prefix}#{nth($i, 1)} {
			background-color: transparent;
			border: 2px solid nth($i, 2);
			color: nth($i, 3);
		}
	}
}

@mixin button-close-color($prefix, $colors...) {
	@each $i in $colors {
		.#{$prefix}#{nth($i, 1)} {
			&::before, &::after {
				background-color: nth($i, 2);
			}
		}
	}
}