@charset "UTF-8";



/* 
 * —————————————————————————————————————————————————————————————————
 * RESET
 * —————————————————————————————————————————————————————————————————
 * reset
 * diagnostic
 * —————————————————————————————————————————————————————————————————
*/



/*
 * reset
 * —————————————————————————————————————————————————————————————————
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: top;
}

html {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}

q, blockquote {
	quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
	content: "";
	content: none;
}

a {
	text-decoration: none;
	color: inherit;
}
a img {
	border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}

button {
	background-color: transparent;
	border: 0;
}

input, button, select, textarea, button, input[type="reset"], input[type="submit"], input[type="button"] {
	-webkit-appearance: none;
	-moz-appearance:none;
	appearance:none;
	-webkit-border-radius: 0;
	        border-radius: 0;
}

input, button, select, textarea {
	margin: 0;
	outline: 0;
	vertical-align: middle;
}

button, input[type="reset"], input[type="submit"], input[type="button"] {
	-webkit-background-clip: padding-box;
	        background-clip: padding-box;
	cursor: pointer;
	overflow: visible;
	width: auto;
}

textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-background-clip: padding-box;
	        background-clip: padding-box;
	-webkit-border-radius: 0;
	        border-radius: 0;
	-webkit-appearance: none;
	outline: 0;
}

button[disabled], input[disabled], select[disabled], select[disabled] option, select[disabled] optgroup, textarea[disabled] {
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-ms-user-select: none;
	    user-select: none;
	cursor: default;
}

select {
	text-indent: 0.01px;
	-o-text-overflow: '';
	   text-overflow: '';
}

\:invalid {
	-webkit-box-shadow: none;
	        box-shadow: none;
}

input::-webkit-color-swatch {
    border: none;
}

textarea,
select[size],
select[multiple] {
	height: auto;
}

textarea {
	min-height: 40px;
	overflow: auto;
	resize: vertical;
	width: 100%;
}

optgroup {
	font-style: normal;
	font-weight: normal;
}



/*
 * diagnostic styles
 * —————————————————————————————————————————————————————————————————
*/

// Empty Elements

// div:empty, span:empty, li:empty, p:empty, td:empty, th:empty { 
// 	padding: 20px; border: 5px dotted yellow !important; 
// }

// Empty Attributes

// *[alt=""], *[title=""], *[class=""], *[id=""], a[href=""], a[href="#"] { 
// 	border: 5px solid yellow !important; 
// }

// Deprecated Elements

// applet, basefont, center, dir, font, isindex, menu, s, strike, u { 
// 	border: 5px dotted red !important; 
// }

// Deprecated Attributes

// *[background], *[bgcolor], *[clear], *[color], *[compact], *[noshade], *[nowrap], *[size], *[start],
// *[bottommargin], *[leftmargin], *[rightmargin], *[topmargin], *[marginheight], *[marginwidth], *[alink], *[link], *[text], *[vlink],
// *[align], *[valign],
// *[hspace], *[vspace],
// *[height], *[width],
// ul[type], ol[type], li[type] { 
// 	border: 5px solid red !important; 
// }

// Proposed Deprecated Elements

// input[type="button"], big, tt { 
// 	border: 5px dotted #33FF00 !important; 
// }

// Proposed Deprecated Attributes

// *[border], a[target], table[cellpadding], table[cellspacing], *[name] { 
// 	border: 5px solid #33FF00 !important; 
// }