@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// GRAPHICS
// —————————————————————————————————————————————————————————————————

.stroke {
	fill: none;
	stroke-linecap:round;
	stroke-linejoin:round;

	&--primary 			{ stroke: $primary; }
	&--secondary 		{ stroke: $secondary; }
	&--highlight 		{ stroke: $highlight; }
	&--dark 			  { stroke: $dark; }
	&--primary-lighten  { stroke: $primary-lighten; }
	&--primary-darken   { stroke: $primary-darken; }
	&--white 			  { stroke: $white; }

	&--sm { stroke-width: 2; }
	&--md { stroke-width: 4; }
	&--lg { stroke-width: 8; }
}