@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// TYPOGRAPHY
// —————————————————————————————————————————————————————————————————
// general
// variants
// buttons
// form
// misc
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

html, body {
	font-family: $font;
	font-size: 16px;
	line-height: 1.5;
	font-weight: $font-light;
	color: $black;

	@include responsive(min-width, $desktop-xl) {
		font-size: 20px;
	}
}

.headline,
.title,
.subtitle {
	line-height: 1.2;
}

.headline {
	@include font-size(3, $font-black, normal);
	text-transform: uppercase;

	@include responsive(max-width, $tablet-max) {
		font-size: 2.5rem;
	}
}

.title {
	@include font-size(2.5, $font-bold, normal);
	color: $primary;

	@include responsive(max-width, $tablet-max) {
		font-size: 2rem;
	}

	@include responsive(max-width, $mobile-max) {
		font-size: 1.8rem;
	}
}

.subtitle {
	@include font-size(1.8, $font-bold, normal);

	@include responsive(max-width, $mobile-max) {
		font-size: 1.5rem;
	}
}

.comment {
	@include font-size(1.5, $font-light, normal);
	text-transform: uppercase;
}

.quote {
	@include font-size(1.5, $font-light, normal);

	@include responsive(max-width, $tablet-max) {
		font-size: 1.25rem;
	}
}

.lead {
	@include font-size(1.5, $font-regular, normal);
	color: $primary;
}

.body {

	&--large { font-size: 1.25rem; }
  &--small { font-size: 0.875rem; }
  &--xs { font-size: 0.8rem; }

	&--block { display: inline-block; }
}

.post__content {

	h1 { @extend .subtitle; }
	h2 { @extend .lead; }
	p, li { @extend .body--large; }
	blockquote p { @extend .quote; }
}

// spacing between paragraphs

.body {
	
	& + & { 
		margin-top: $integer; 
	}

	&--large { 

		& + &,
		& + .body { 
			margin-top: $integer-md; 
		}
	}

	&--small { 

		& + & { 
			margin-top: $integer-sm; 
		}
	}
}

// —————————————————————————————————————————————————————————————————
// variants
// —————————————————————————————————————————————————————————————————

// color

.body {

	&--black { color: $black; }
	&--grey { color: $medium-grey; }
	&--white { color: $white; }
	&--primary { color: $primary; }
	&--secondary { color: $secondary; }
	&--highlight { color: $highlight; }
	&--dark { color: $dark; }
}

// alignement

.body {

	&--left { text-align: left; }
	&--center { text-align: center; }
	&--right { text-align: right; }
	&--justify { text-align: justify; }
}

// weight

.body {

	&--regular { font-weight: $font-regular; }
	&--bold { font-weight: $font-bold; }
}

// col text

@for $i from 1 through 4 {
	.col-text--#{$i} {
		column-count: $i;
		column-gap: 2rem;
	
		@include responsive(max-width, $tablet-max) {
			column-count: 1;
		}
	}
}

// —————————————————————————————————————————————————————————————————
// buttons
// —————————————————————————————————————————————————————————————————

.button {
	@include font-size(1, $font-black, normal);
	font-family: $font;
	letter-spacing: 0.05rem;
	line-height: 1;

	&--text {
		font-weight: $font-regular;
		letter-spacing: 0;
	}

	&.button--large {
		@include font-size(1.5, $font-black, normal);
		letter-spacing: 0.08rem;
	}

	&.button--small {
		@include font-size(0.875, $font-black, normal);
		letter-spacing: 0.04rem;
		line-height: 1.5;
	}
}

.button__inner {
	font-family: $font;
}

.button--icon {
	font-size: 20px !important;

	&.button--large {
		font-size: 30px !important;
	}

	&.button--small {
		font-size: 14px !important;
	}
}

// —————————————————————————————————————————————————————————————————
// form
// —————————————————————————————————————————————————————————————————

.form__label, .form__input {
	font-family: $font;
}

.label, .form__label {
	@include font-size(0.875, $font-black, normal);
}

.form {

	&__input, .form__dropdown li {
		@include font-size(1, $font-light, normal);
	}
}

// —————————————————————————————————————————————————————————————————
// misc
// —————————————————————————————————————————————————————————————————

.body {

	&--zero {
		font-family: $font-code;

		.body--large & {
			font-size: 19px;
		}
	}
}