@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// GRAPHICS
// —————————————————————————————————————————————————————————————————

#gradient-secondary {
	--color-stop-1: #{$secondary};
	--color-stop-2: #{$secondary-alt};
}

#gradient-highlight {
	--color-stop-1: #{$highlight};
	--color-stop-2: #{$highlight-alt};
}

.graphic {
	pointer-events: none;

	&__primary { fill: $primary; }
	&__secondary { fill: $secondary; }
	&__highlight { fill: $highlight; }
	&__gradient-secondary { fill: url(#gradient-secondary) $secondary;}
	&__gradient-highlight { fill: url(#gradient-highlight) $highlight;}

	&__stroke {
		fill: none;
		fill: none;
		stroke-width: 4;
		stroke-linecap: round;
		stroke-linejoin: round;

		&.alt {
			stroke-width: 8;
		}

		&.graphic {
		
			&__primary { stroke: $primary; }
			&__secondary { stroke: $secondary; }
			&__highlight { stroke: $highlight; }
		}
	}

	&--greyscale {
		opacity: 0.3;
		position: absolute;
		width: 20vmax;
		top: -50%;

		.section--primary & {
			@include filter(invert(100));
		}

		&-left {
			@extend .graphic--greyscale;
			left: 0;
		}
	
		&-center {
			@extend .graphic--greyscale;
			left: 40vmax;
		}

		&-right {
			@extend .graphic--greyscale;
			right: 0;
		}
	}
}