@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// LOGOS
// —————————————————————————————————————————————————————————————————

.logo {
	
	&__item {
		width: 100%;
		max-width: $integer-max*2;
		height: auto;
	}

	&-icon-bg {
		fill: $primary;
	}

	&-icon-color {
		fill: $white;
	}

	&-name {
		fill: $black;

		.footer__logo & {
			fill: $white;
		}
	}
}