@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// ACCORDIONS
// —————————————————————————————————————————————————————————————————

.accordion {

	&__header {
		cursor: pointer;

		&.js-accordion-active {

			.button {
				@include transform(rotate(45deg));
			}
		}
	}

	&__content {
		display: none;
		margin-top: $integer;
	}
}