@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// BUTTONS
// —————————————————————————————————————————————————————————————————
// general
// sizes
// variants
// colors
// animate
// close
// menu
// special
// —————————————————————————————————————————————————————————————————



// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

.button {
	@include transition(background-color $transition, transform $transition, opacity $transition);
	@include display-flex(inline-flex);
	@include justify-content(center);
	@include align-items(center);
	// @include align-self(center);
	border-radius: $border-radius*4;
	will-change: background-color, transform, opacity;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	white-space: nowrap;
	font-family: $font;
	letter-spacing: 0.05rem;
	line-height: 1;

	&.fa, &.fab, &.fal, &.far, &.fas {
		@include display-flex(inline-flex);
	}

	&__inner {
		@include transform-style(preserve-3d);
		@include backface-visibility (initial);
		@include transition (color $transition, transform $transition);
		will-change: color, transform;
		display: block;
		width: 100%;
		font-family: $font;
		text-transform: uppercase;
		letter-spacing: 0.1rem;
	}

	& + & {
		margin-left: $integer-sm;
	}
}



// —————————————————————————————————————————————————————————————————
// sizes
// —————————————————————————————————————————————————————————————————

.button {
	@include font-size(1, $font-black, normal);
	padding: $integer+$integer-sm $integer-md+$integer;

	&.button--large {
		@include font-size(1.5, $font-black, normal);
		padding: $integer-md $integer-lg;
		letter-spacing: 0.08rem;
	}

	&.button--small {
		@include font-size(0.75, $font-black, normal);
		padding: 7px 14px;
		letter-spacing: 0.04rem;
		line-height: 1.5;
	}

	&--icon {
		padding: 0;
		width: $integer-xl;
		height: $integer-xl;
		font-weight: 100;
	
		&.button--large {
			padding: 0;
			width: $integer-xxl;
			height: $integer-xxl;
	
			.fab {
				font-weight: 100;
			}
		}
	
		&.button--small {
			padding: 0;
			width: $integer-md+$integer;
			height: $integer-md+$integer;
	
			.fab {
				font-weight: 100;
			}
		}
	}
}



// —————————————————————————————————————————————————————————————————
// variants
// —————————————————————————————————————————————————————————————————

.button {

	&--text-icon {

		&.fab:before { 
			font-weight: normal; 
		}

		&:before {
			margin-right: $integer;
		}

		.button__inner {
			display: inline;
		}
	}

	&--text {
		display: block;
		overflow: initial;
		padding: 0;
		font-weight: $font-bold;
		letter-spacing: 0.025rem;

		&.button--small, 
		&.button--large {
			padding: 0;
		}
	}

	&--underline {
		@include transition(color $transition);
		will-change: color;
		text-decoration: underline;

		@include hover-link {
			color: $primary;
		}
	}

	&--block {
		display: block;

		& + & {
			margin-left: 0;
			margin-top: $integer-sm;
		}
		
		&.button--text {

			& + & {
				margin-top: $integer;
			}			
		}

		&.fa, &.fab, &.fal, &.far, &.fas {
			display: block;
		}
	}
}



// —————————————————————————————————————————————————————————————————
// colors
// —————————————————————————————————————————————————————————————————

@include button-fill-color('button--',
//	 prefix 		 background		 color
	'primary'   	$primary 		$white,
	'secondary' 	$secondary		$black,
	'highlight' 	$highlight		$white,
	'dark' 			$dark 			$white,

	'black' 		$black 			$white,
	'grey' 			$medium-grey 	$black,
	'white' 		$white 			$black,

	'facebook' 		$facebook 		$white,
	'google' 		$google 		$white,
	'linkedin' 		$linkedin 		$white,
	'medium' 		$medium 		$white,
	'twitter' 		$twitter 		$white
);



// —————————————————————————————————————————————————————————————————
// animate
// —————————————————————————————————————————————————————————————————

.button--animate {

	&:before {
		@include transition(transform $transition);
		@include pseudo-element('', 0, auto, auto, -140%, 100%, 100%);
		@include display-flex(inline-flex);
		@include align-items(center);
		@include justify-content(center);
		will-change: transform;
		text-align: center;
		background-color: transparent;
	}
	
	&:hover {

		&:before {
			@include transform(translateX(140%));
		}
		.button__inner {
			@include transform(translateX(180%));
		}
	}
}



// —————————————————————————————————————————————————————————————————
// close
// —————————————————————————————————————————————————————————————————

.button--close {
	height: $integer-xl+$integer;
	width: $integer-xl+$integer;
	padding: 0;

	&:before, &:after {
		@include transform(rotate(0deg));
		@include transition (transform $transition);
		@include pseudo-element('', 50%, auto, auto, auto, $integer-md+$integer, $integer-sm);
		margin-top: -2px;
		background-color: $white;
		will-change: transform;
		border-radius: 0.15rem;
	}

	&.rotate:before {
		@include transform(rotate(45deg));
	}

	&.rotate:after {
		@include transform(rotate(-45deg));
	}

	&.rotate:hover:before, &.rotate:hover:after {
		@include transform(rotate(0deg));
	}
}



// —————————————————————————————————————————————————————————————————
// menu
// —————————————————————————————————————————————————————————————————

.button--menu {
	@include display-flex();
	@include align-items(center);
	@include justify-content(center);
	@include animation(button-menu-opacity 0.8s ease 0s);
	cursor: pointer;
	position: relative;
	overflow: visible;
	width: $integer-lg;
	height: $integer-lg;
	background-color: transparent !important;
	border: 0;
	padding: 0;

	&:before, &:after, .button__inner {
		background-color: $white;
	}

	&:before, &:after {
		@include transition(transform $transition);
		@include pseudo-element('', auto, auto, auto, auto, $integer-lg, $integer-sm);
		border-radius: 0.15rem;
		will-change: transform;
	}

	&:before {
		@include transform(translateY($integer));
		@include animation(button-menu-close-before 0.8s ease 0s);
	}

	&:after {
		@include transform(translateY(-$integer));
		@include animation(button-menu-close-after 0.8s ease 0s);
	}

	.button__inner {
		@include transition(opacity 0s ease 0.4s);
		border-radius: 0.15rem;
		will-change: opacity;
		width: $integer-lg;
		height: $integer-sm;
		position: absolute;
	}

	&.button--menu--open {

		&:before {
			@include animation(button-menu-open-before 0.8s ease 0s forwards);
		}

		&:after {
			@include animation(button-menu-open-after 0.8s ease 0s forwards);
		}

		.button__inner {
			opacity: 0;
		}
	}
}



// —————————————————————————————————————————————————————————————————
// special
// —————————————————————————————————————————————————————————————————

header,
.footer {

	.button {

		&:hover {
			color: $primary;
		}
	}
}