@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// CAROUSEL
// —————————————————————————————————————————————————————————————————
// general
// owl
// variants
// —————————————————————————————————————————————————————————————————



// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

.carousel {

    &__item {
        @include display-flex();
        @include align-items(center);
    }
}



// —————————————————————————————————————————————————————————————————
// owl
// —————————————————————————————————————————————————————————————————

.owl {

    &-dots {
        margin-top: $integer-xl;
    }

    &-dot {
        @include transition(background-color $transition, transform $transition);
        @include border-radius(50%);
        will-change: background-color;
        height: $integer-md;
        width: $integer-md;
        background-color: $secondary !important;
        margin: 0 $integer-md;

        &.active, &:hover {
            @include transition(background-color $transition);
            background-color: $primary !important;
        }
    }
}



// —————————————————————————————————————————————————————————————————
// variants
// —————————————————————————————————————————————————————————————————

.carousel {

    &--testimonials {

        .carousel {

            &__image {
                @include border-radius(50%);
                @include flex-shrink(0);
                overflow: hidden;
                position: relative;
                margin-right: $integer-xxxl;
                width: $integer-max !important;
                height: $integer-max;

                @include responsive(max-width, $desktop-max) {
                    width: $integer-xxxxl+$integer-xl;
                    height: $integer-xxxxl+$integer-xl;
                    margin-right: $integer-xxl;
                }

                @include responsive(max-width, $tablet-max) {
                    width: $integer-xxxl;
                    height: $integer-xxxl;
                }

                @include responsive(max-width, $mobile-max) {
                    display: none;
                }
            }
        }

        .owl {

            &-dots {
                @include calc(bottom, -($integer-xxl+$integer*1.5));
                position: absolute;
                margin-top: 0;
                width: 100%;
                text-align: center;
            }
        }
    }
}