@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// TABS
// —————————————————————————————————————————————————————————————————
// general
// variants
// —————————————————————————————————————————————————————————————————



// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

.tab {

	&__nav {
		@include display-flex();
		text-align: center;

		& + .tab__content {
			margin-top: $integer-xxl;
		}
	}

	&__button {

		&.js-active {
			color: $primary;
		}

		& + & {
			margin-left: $integer-lg;
		}
	}

	&__content {
	    @include transition(all 0.4s ease 0s);
	}

	&__item {
		display: none;

		&:nth-child(1) {
			display: block;
		}
	}
}



// —————————————————————————————————————————————————————————————————
// variants
// —————————————————————————————————————————————————————————————————

.tab {

	&--leadership {
		padding-bottom: $integer-xxxxl;

		.tab {

			&__item {
				position: relative;
				padding: $integer-xxxl*2 $page;
		
				&:before {
					@include pseudo-element('', 0, 0, 0, 0, 100%, 100%);
					@include background-image(linear-gradient(to left, rgba($primary, 0.5), $primary));
				}

				.card {
					width: 50%;
					
					> * {
						position: relative;
					}
				}
			}	

			&__nav {
				margin-top: -$integer-xxxl;
				z-index: 1;
			}
		}
		
		.card__image {
			@include transition($transition);
			height: $integer-xxxxl;
			width: $integer-xxxxl;
			will-change: transform;
	
			&:hover {
				@include transform(scale(1.05));
			}
		}
	}
}