@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// TESTIMONIALS
// —————————————————————————————————————————————————————————————————

.testimonial {

    &__item {
        @include display-flex();
        @include align-items(center);
    }

    &__image {
        @include border-radius(50%);
        @include flex-shrink(0);
        overflow: hidden;
        position: relative;
        width: $integer*10;
        height: $integer*10;

        @include responsive(max-width, $break-desktop-max) {
            width: $integer*8;
            height: $integer*8;
        }

        @include responsive(max-width, $break-tablets-max) {
            width: $integer*6;
            height: $integer*6;
        }

        @include responsive(max-width, $break-phones-max) {
            display: none;
        }
    }

    &__content {
        text-align: left;
        margin-left: $integer*4;
        position: relative;

        @include responsive(max-width, $break-desktop-max) {
            margin-left: $integer*2;
        }    

        @include responsive(max-width, $break-phones-max) {
            margin-left: 0;
        }    
    }

    &__mark {
        position: absolute;
        z-index: -1;
        top: -$integer*2;
        left: -$integer*2;
        width: $integer*10 !important;
    }

    &__meta {
        margin-top: $integer/2;
    }

    .owl-dots {
        padding-top: $integer*3;
    }
}