@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// WIDGETS
// —————————————————————————————————————————————————————————————————
// general
// share
// social
// newsletter
// news
// cookies
// —————————————————————————————————————————————————————————————————



// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

.widget {
    position: relative;
    border-radius: $border-radius;

    &__bar {
        @include calc(width, '100vw - '$page);
        position: absolute;
        bottom: $integer-xl;
    }
}



// —————————————————————————————————————————————————————————————————
// share
// —————————————————————————————————————————————————————————————————

.share {
    @include display-flex();
    @include flex-direction(column);
    @include align-items(center);
    @include transform(translateX(-$integer-xxxl));
    position: absolute;
    top: 0;
    padding-top: $integer/4;
    
    &__button {
        
        .post & {
            margin-left: 0;
            margin-bottom: $integer/4;
            text-decoration: none;
        }
    }
}



// —————————————————————————————————————————————————————————————————
// social
// —————————————————————————————————————————————————————————————————



// —————————————————————————————————————————————————————————————————
// newsletter
// —————————————————————————————————————————————————————————————————

.newsletter {
    
    &__button {
        margin-top: $integer;
    }

    .form__label {
        color: $white !important;
    }

    &__input {
        max-width: $integer-max*2;
    }
}



// —————————————————————————————————————————————————————————————————
// news
// —————————————————————————————————————————————————————————————————

.widget {

    &--news {

    }
}



// —————————————————————————————————————————————————————————————————
// cookies
// —————————————————————————————————————————————————————————————————

.cookie {
    @include display-flex();
    @include align-items(center);
    @include justify-content(space-between);
    @include transition(opacity $transition);
    @include box-shadow($box-shadow-md);
    padding-left: $col*2;
    padding-right: $col*2;
    will-change: opacity;
    background-color: $primary;
    color: $white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: $integer/4;
    padding-bottom: $integer/4;
    opacity: 1;
    display: none;

    @include responsive(max-width, $mobile-max) {
        @include justify-content(flex-start);
        @include flex-wrap(wrap);
        padding-left: $col;
        padding-right: $col;
    }

    @include responsive-mobile-devices() {
        padding-right: $col;
    }

    &.js-cookie-accepted {
        opacity: 0;
    }

    &__text {
        padding-right: $integer;

        @include responsive(max-width, $mobile-max) {
            padding-right: 0;
            margin-bottom: $integer;
        }
    }

    &__button {
        min-width: 75px;
    }
}