<footer class="footer section section--left section--dark">

    <div class="footer__top row">
        <p class="footer__item footer__logo logo colalt--lg6">
            <!-- edit elements in _includes/elements/logo.html -->
            {% include elements/logo.html %}
        </p>
        <div class="footer__item colalt--lg4 colalt--sm7">
            <!-- edit component in _includes/components/social.html -->
            {% include components/social.html %}
        </div>
    </div>

    <div class="footer__bottom row">
        <div class="footer__item footer__adress colalt--md6">
            <p class="footer__title subtitle">Address</p>
            <p>Level39<br>One Canada Square<br>Canary Wharf<br>London E14 5AB</p>
            <p>info@appliedblockchain.com</p>
            <p class="body--bold">© Copyright 2018 Applied Blockchain Ltd.<br>All rights reserved.<p>
            <p>Applied Blockchain Ltd is a company registered in England and Wales. Company No. 09686276.</p>
        </div>
        <div class="footer__item  colalt--md3 colalt--sm5">
            <p class="footer__title subtitle">External links</p>
            <a href="https://fern.network/" target="_new" class="footer__button button button--text">Fern</a>
            <a href="https://github.com/appliedblockchain/cobalt" target="_new" class="footer__button button button--text">Cobalt</a>
        </div>
        <div class="footer__item  colalt--md3 colalt--sm5">
            <p class="footer__title subtitle">Site map</p>
            <a href="{{ site.baseurl }}/" class="footer__button button button--text">Home</a>
            <a href="{{ site.baseurl }}/services" class="footer__button button button--text">Services</a>
            <a href="{{ site.baseurl }}/projects" class="footer__button button button--text">Projects</a>
            <a href="{{ site.baseurl }}/products" class="footer__button button button--text">Products</a>
            <a href="{{ site.baseurl }}/about" class="footer__button button button--text">About</a>
            <a href="{{ site.baseurl }}/media" class="footer__button button button--text">Media</a>
            <a href="{{ site.baseurl }}/events" class="footer__button button button--text">Events</a>
            <a href="{{ site.baseurl }}/join" class="footer__button button button--text">Join</a>
            <a href="{{ site.baseurl }}/contact" class="footer__button button button--text">Contact</a>
        </div>
        <div class="footer__item  colalt--md3 colalt--sm5">
            <p class="footer__title subtitle">Resources</p>
            <a href="{{ site.baseurl }}/faq" class="footer__button button button--text">FAQ</a>
            <a href="{{ site.baseurl }}/privacy-policy" class="footer__button button button--text">Privacy policy</a>
        </div>
    </div>

</footer>

</body>
</html>