    <footer class="footer section section--left section--dark">

        <div class="footer__top row">
            <img src="" alt="" class="footer__logo logo col--5">
            <div class="footer__social col--4">
                <h2 class="footer__title subtitle">Get in touch</h2>
            </div>
            <div class="footer__newsletter newsletter col--5">
                <h2 class="footer__title subtitle">Sign up for  our newsletter</h2>
            </div>
        </div>

        <div class="footer__bottom row">
            <div class="footer__adress col--5">
                <h2 class="footer__title subtitle">Adress</h2>
                <p>One Canada Square<br>Canary Wharf<br>London E14 5AB</p>
                <p>+44 7712 345678<br>contact@appliedblockchain.com</p>
                <p class="body--bold">© Copyright 2018 Applied Blockchain Ltd.<br>All rights reserved.<p>
                <p>Applied Blockchain Ltd is a company registered in England and Wales. Company No. 09686276. Privacy policy.</p>
            </div>
            <div class="footer__link  col--3">
                <h2 class="footer__title subtitle">External links</h2>

            </div>
            <div class="footer__link  col--3">
                <h2 class="footer__title subtitle">Internal links</h2>

            </div>
            <div class="footer__link  col--3">
                <h2 class="footer__title subtitle">Organisation</h2>

            </div>
        </div>

    </footer>

</body>
</html>