
    <!-- VENDOR -->
	<!-- jquery -->
	<script src="resources/vendor/jquery/jquery-3.3.1.min.js"></script>
	<!-- owl carousel -->
	<script src="resources/vendor/owlcarousel/owl.carousel.min.js" type="text/javascript"></script>
	<!-- flexslider -->
	<script src="resources/vendor/flexslider/jquery.flexslider-min.js"	type="text/javascript"></script>

	<!-- JS -->
	<script src="resources/js/script.js"></script>

	<!-- JAVASCRIPT -->
	<script src="resources/js/anchor.js" type="text/javascript"></script>
	<script src="resources/js/buttons.js" type="text/javascript"></script>
	<script src="resources/js/form.js" type="text/javascript"></script>
	<script src="resources/js/modals.js" type="text/javascript"></script>
	<script src="resources/js/slider.js" type="text/javascript"></script>
	<script src="resources/js/tabs.js" type="text/javascript"></script>
	<script src="resources/js/tooltips.js" type="text/javascript"></script>

</body>
</html>