<!DOCTYPE html>
<html lang="en">
<head>

	<title>
		{% if page.title %} 
			{{ page.title }} | {{ site.title }}
		{% else %} 
			{{ site.title }} | {{ site.description }}
		{% endif %}
	</title>	

	<!-- META -->
	<!-- meta tags -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="{{ site.description }} ">
	<meta name="keywords" content=""/>
	<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />

	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/favicon-16x16.png">
	<link rel="manifest" href="{{ site.baseurl }}/site.webmanifest">
	<link rel="mask-icon" href="{{ site.baseurl }}/safari-pinned-tab.svg" color="#007bff">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">

	<!-- CSS -->
	<link rel="stylesheet" href="{{ site.baseurl }}{{ site.resourceurl }}/stylesheets/style.css" />
	
	<!-- VENDOR -->
	<!-- font awesome -->
	<link href="{{ site.baseurl }}{{ site.resourceurl }}/vendor/fontawesome/css/all.min.css" rel="stylesheet">
    <!-- owl carousel -->
	<link href="{{ site.baseurl }}{{ site.resourceurl }}/vendor/owlcarousel/owl.carousel.min.css" rel="stylesheet">
	
    <!-- VENDOR -->
	<!-- jquery -->
	<script src="{{ site.baseurl }}{{ site.resourceurl }}/vendor/jquery/jquery-3.3.1.min.js"></script>
	<!-- owl carousel -->
	<script src="{{ site.baseurl }}{{ site.resourceurl }}/vendor/owlcarousel/owl.carousel.min.js" type="text/javascript"></script>
	<!-- flexslider -->
	<script src="{{ site.baseurl }}{{ site.resourceurl }}/vendor/flexslider/jquery.flexslider-min.js" type="text/javascript"></script>
	<!-- isotope (blog filter) -->
	<script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.js"></script>

	<!-- JAVASCRIPT -->
	<script src="{{ site.baseurl }}{{ site.resourceurl }}/js/accordions.js" type="text/javascript"></script>
	<script src="{{ site.baseurl }}{{ site.resourceurl }}/js/anchor.js" type="text/javascript"></script>
	<script src="{{ site.baseurl }}{{ site.resourceurl }}/js/buttons.js" type="text/javascript"></script>
	<script src="{{ site.baseurl }}{{ site.resourceurl }}/js/carousel.js" type="text/javascript"></script>
	<script src="{{ site.baseurl }}{{ site.resourceurl }}/js/cursor.js" type="text/javascript"></script>
	<script src="{{ site.baseurl }}{{ site.resourceurl }}/js/filter.js" type="text/javascript"></script>
	<script src="{{ site.baseurl }}{{ site.resourceurl }}/js/form.js" type="text/javascript"></script>
	<script src="{{ site.baseurl }}{{ site.resourceurl }}/js/join.js" type="text/javascript"></script>
	<script src="{{ site.baseurl }}{{ site.resourceurl }}/js/modals.js" type="text/javascript"></script>
	<script src="{{ site.baseurl }}{{ site.resourceurl }}/js/script.js"></script>
	<script src="{{ site.baseurl }}{{ site.resourceurl }}/js/slider.js" type="text/javascript"></script>
	<script src="{{ site.baseurl }}{{ site.resourceurl }}/js/tabs.js" type="text/javascript"></script>
	<script src="{{ site.baseurl }}{{ site.resourceurl }}/js/tooltips.js" type="text/javascript"></script>

	<!-- MailerLite Universal -->
	<script>
		(function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
		var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
		f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
		var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
		_.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');
		
		var ml_account = ml('accounts', '1227436', 'y5n5k7k4d8', 'load');
	</script>
	<!-- End MailerLite Universal -->

	<!-- Zendesk Chat -->
	<!-- <script type="text/javascript">
		window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
		d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
		_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
		$.src="https://v2.zopim.com/?5y0Ru0mZK9baAtNvcaFV6iWsPIxEXu4Y";z.t=+new Date;$.
		type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
	</script> -->

	<!-- Customize Zendesk Chat -->
	<!-- <script>
		$zopim(function() {
			$zopim.livechat.theme.setFontConfig({
      			google: { families: ['Chivo'] }
			}, 
			'Chivo, sans-serif');
			$zopim.livechat.theme.setColor('#ff6f00');
			$zopim.livechat.theme.reload();
		});
	</script> -->

	<!-- Userlike chat -->
	<script async type="text/javascript" src="//userlike-cdn-widgets.s3-eu-west-1.amazonaws.com/c35bc4cd62f53f4847c8ca0c03148c9f71b26a26d0157796912c2f5d19601963.js"></script>

</head>

<body>

<header class="header">

	<div class="header__bar">
		<!-- to change the color of the logo, add the corresponding page title to the condition in the class tag -->
		<div class="header__logo logo {% if page.title == 'Home' or page.title == 'About' %}logo-white{% endif %} {% if page.title == 'Services' or page.title == 'Mantle' or page.title == 'Projects' %}logo-name-white{% endif %}">
			<a href="{{ site.url }}/">
				<!-- edit elements in _includes/elements/logo.html -->
				{% include elements/logo.html %}
			</a>
		</div>
		<!-- to change the color of the menu icon, add the corresponding page title to the condition in the class tag -->
		<div class="header__button">
			{% if page.layout == 'post' %}
				<a href="{{ site.url }}/media" class="button button--small button--primary button--stroke button--animate fas fa-chevron-left">
					<p class="button__inner">Back</p>
				</a>
			{% endif %}
			{% if page.layout == 'project' %}
				<a href="{{ site.url }}/projects" class="button button--small button--primary button--stroke button--animate fas fa-chevron-left">
					<p class="button__inner">Back</p>
				</a>
			{% endif %}
			<a href="{{ site.url }}/contact" class="button button--small button--primary button--animate fas fa-phone {% if page.title == 'Home' or page.title == 'About' %}alt{% endif %}">
				<p class="button__inner">Contact us</p>
			</a>
			<a class="header__button button button--menu {% if page.title == 'Services' or page.title == 'Mantle' or page.title == 'Mantle' or page.title == 'About' or page.title == 'Home' or page.title == 'Projects' %}alt{% endif %}">
				<span class="button__inner"></span>
			</a>
		</div>
	</div>

	<div class="header__menu">
		<div class="row">
			<a href="{{ site.baseurl }}/" class="col--lg4 col--sm6 menu__button">
				<p class="subtitle">Home</p>
				<p class="menu__description">
					<span>Start your journey here</span>
				</p>
			</a>
			<a href="{{ site.baseurl }}/services" class="col--lg4 col--sm6 menu__button">
				<p class="subtitle">Services</p>
				<p class="menu__description">
					<span>Discover solutions, approach & projects</span>
				</p>
			</a>
			<a href="{{ site.baseurl }}/projects" class="col--lg4 col--sm6 menu__button">
				<p class="subtitle">Projects</p>
				<p class="menu__description">
					<span>See what we have worked on</span>
				</p>
			</a>
			<a href="{{ site.baseurl }}/products" class="col--lg4 col--sm6 menu__button">
				<p class="subtitle">Products</p>
				<p class="menu__description">
					<span>Blockchain-based products</span>
				</p>
			</a>
			<a href="{{ site.baseurl }}/about" class="col--lg4 col--sm6 menu__button">
				<p class="subtitle">About</p>
				<p class="menu__description">
					<span>The team, our story, our values</span>
				</p>
			</a>
			<a href="{{ site.baseurl }}/media" class="col--lg4 col--sm6 menu__button">
				<p class="subtitle">Media</p>
				<p class="menu__description">
					<span>Read our news and press releases</span>
				</p>
			</a>
			<a href="{{ site.baseurl }}/events" class="col--lg4 col--sm6 menu__button">
				<p class="subtitle">Events</p>
				<p class="menu__description">
					<span>Find us at events</span>
				</p>
			</a>
			<a href="{{ site.baseurl }}/join" class="col--lg4 col--sm6 menu__button">
				<p class="subtitle">Join</p>
				<p class="menu__description">
					<span>Step into a unique environment</span>
				</p>
			</a>
			<a href="{{ site.baseurl }}/contact" class="col--lg4 col--sm6 menu__button">
				<p class="subtitle">Contact</p>
				<p class="menu__description">
					<span>Get in touch</span>
				</p>
			</a>
		</div>
		<div class="menu__row row">
			<a href="{{ site.baseurl }}/faq" class="col--lg4 col--sm6 menu__button">
				<p class="body--large body--bold">FAQ</p>
				<p class="menu__description body--small">
					<span>Have questions?</span>
				</p>
				</a>
			<a href="{{ site.baseurl }}/privacy-policy" class="col--lg4 col--sm6 menu__button">
				<p class="body--large body--bold">Privacy policy</p>
				<p class="menu__description body--small">
					<span>The legal bit</span>
				</p>
				</a>
		</div>
		<div class="menu__row row">
			<div class="col--lg4 col--md5">
				<!-- edit component in _includes/components/social.html -->
				{% include components/social.html %}
			</div>
			<div class="col--lg6 col--md7 col--sm10">
				<!-- edit component in _includes/components/newsletter.html -->
				{% include components/newsletter.html %}
			</div>
		</div>
	</div>

</header>

<!-- scroll to top button -->
<a class="button--scroll-top button button--icon button--highlight fas fa-chevron-up"></a>

<!-- cookie banner -->
<div class="cookie">
	<p class="cookie__text body--small">We want to give you the best service by using cookies. Carry on browsing if you are happy with this, or <a href="{{ site.url }}/privacy-policy" class="button--underline">find out</a> how we manage your cookies.</p>
	<button class="cookie__button button button--small button--primary-darken button--animate fas fa-check">
		<p class="button__inner">Got it</p>
	</button>
</div>