<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125324953-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-125324953-1');
	</script>

	<!-- Google Tag Manager -->
	<script>
		(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-P69MF67');
	</script>

	<title>
		{% if page.title %}
			{{ page.title }} | {{ site.title }}
		{% else %}
			{{ site.title }} | {{ site.description }}
		{% endif %}
	</title>	

	<!-- META -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{% if page.description %}
		<meta name="description" content="{{ page.description }} ">
	{% else %}
		<meta name="description" content="{{ site.description }} ">
	{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
	<!-- image for share button -->
	<meta property="og:image" content="https://appliedblockchain.com/{{ site.imageurl }}/posts/{{ page.image }}.jpg"/>

	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/favicon-16x16.png">
	<link rel="manifest" href="{{ site.url }}/site.webmanifest">
	<link rel="mask-icon" href="{{ site.url }}/safari-pinned-tab.svg" color="#007bff">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">

	<!-- CSS -->
	<link rel="stylesheet" href="{{ site.url }}{{ site.resourceurl }}/stylesheets/style.css" />
	
	<!-- VENDOR -->
	<!-- font awesome -->
	<link href="{{ site.url }}{{ site.resourceurl }}/vendor/fontawesome/css/all.min.css" rel="stylesheet">
    <!-- owl carousel -->
	<link href="{{ site.url }}{{ site.resourceurl }}/vendor/owlcarousel/owl.carousel.min.css" rel="stylesheet">
	
    <!-- VENDOR -->
	<!-- jquery -->
	<script src="{{ site.url }}{{ site.resourceurl }}/vendor/jquery/jquery-3.3.1.min.js"></script>
	<!-- owl carousel -->
	<script src="{{ site.url }}{{ site.resourceurl }}/vendor/owlcarousel/owl.carousel.min.js"></script>
	<!-- flexslider -->
	<script src="{{ site.url }}{{ site.resourceurl }}/vendor/flexslider/jquery.flexslider-min.js"></script>
	<!-- isotope (blog filter) -->
	<script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.js"></script>

	<!-- JAVASCRIPT -->
	<script src="{{ site.url }}{{ site.resourceurl }}/js/accordions.js"></script>
	<script src="{{ site.url }}{{ site.resourceurl }}/js/anchor.js"></script>
	<script src="{{ site.url }}{{ site.resourceurl }}/js/buttons.js"></script>
	<script src="{{ site.url }}{{ site.resourceurl }}/js/carousel.js"></script>
	<script src="{{ site.url }}{{ site.resourceurl }}/js/cursor.js"></script>
	<script src="{{ site.url }}{{ site.resourceurl }}/js/filter.js"></script>
	<script src="{{ site.url }}{{ site.resourceurl }}/js/form.js"></script>
	<script src="{{ site.url }}{{ site.resourceurl }}/js/join.js"></script>
	<script src="{{ site.url }}{{ site.resourceurl }}/js/modals.js"></script>
	<script src="{{ site.url }}{{ site.resourceurl }}/js/script.js"></script>
	<script src="{{ site.url }}{{ site.resourceurl }}/js/slider.js"></script>
	<script src="{{ site.url }}{{ site.resourceurl }}/js/tabs.js"></script>
	<script src="{{ site.url }}{{ site.resourceurl }}/js/tooltips.js"></script>

	<!-- MailerLite Universal -->
	<script>
		(function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
		var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
		f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
		var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
		_.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

		var ml_account = ml('accounts', '1227436', 'y5n5k7k4d8', 'load');
	</script>
	<!-- End MailerLite Universal -->

</head>

<body>

<!-- Google Tag Manager (noscript) -->
<noscript>
	<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P69MF67" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
		
<header class="header">

	<div class="header__bar">
		<!-- to change the color of the logo, add the corresponding page title to the condition in the class tag -->
		<div class="header__logo logo {% if page.layout == 'index' or page.title == 'About' or page.layout == 'post' %}logo-white{% endif %} {% if page.title == 'Services' or page.title == 'Mantle' or page.title == 'Projects' %}logo-name-white{% endif %}">
			<a href="{{ site.url }}/">
				<!-- edit elements in _includes/elements/logo.html -->
				{% include elements/logo.html %}
			</a>
		</div>
		<!-- to change the color of the menu icon, add the corresponding page title to the condition in the class tag -->
		<div class="header__button">
			{% if page.layout == 'post' %}
				<a href="{{ site.url }}/media" class="button button--small button--white button--stroke button--animate fas fa-chevron-left">
					<p class="button__inner">Back</p>
				</a>
				{% if page.category == 'press-release' and page.dlc %}
					<a href="{{ site.url }}{{ site.resourceurl }}/dlc/press-releases/appliedBlockchain-{{ page.image }}.zip" class="post__button button button--small button--highlight button--animate fas fa-download" download>
						<p class="button__inner"><span class="hide--desktop">Download </span>Press kit</p>
					</a>
				{% endif %}
			{% endif %}
			{% if page.layout == 'project' %}
				<a href="{{ site.url }}/our-projects" class="button button--small button--primary button--stroke button--animate fas fa-chevron-left">
					<p class="button__inner">Back</p>
				</a>
				{% if page.dlc %}
					<a href="{{ site.url }}{{ site.resourceurl }}/dlc/case-studies/appliedBlockchain-caseStudies-{{ page.slug }}.pdf" class="post__button button button--small button--highlight button--animate fas fa-download" download>
						<p class="button__inner"><span class="hide--desktop">Download </span>case study</p>
					</a>
				{% endif %}
			{% endif %}
			<a href="{{ site.url }}/contact" class="header__contact button button--small button--primary button--animate fas fa-envelope {% if page.layout == 'index' or page.title == 'About' or page.layout == 'post' %}alt{% endif %}">
				<p class="button__inner">Contact us</p>
			</a>
			<a class="button button--menu {% if page.title == 'Services' or page.title == 'Mantle' or page.title == 'Mantle' or page.title == 'About' or page.layout == 'index' or page.title == 'Projects' or page.layout == 'post' %}alt{% endif %}">
				<span class="button__inner"></span>
			</a>
		</div>
	</div>

	<div class="header__menu">
		<div class="row">
			<a href="{{ site.url }}/" class="col--lg4 col--sm6 menu__button">
				<p class="subtitle">Home</p>
				<p class="menu__description">
					<span>Start your journey here</span>
				</p>
			</a>
			<a href="{{ site.url }}/services" class="col--lg4 col--sm6 menu__button">
				<p class="subtitle">Services</p>
				<p class="menu__description">
					<span>Discover solutions, approach & projects</span>
				</p>
			</a>
			<a href="{{ site.url }}/our-projects" class="col--lg4 col--sm6 menu__button">
				<p class="subtitle">Projects</p>
				<p class="menu__description">
					<span>See what we have worked on</span>
				</p>
			</a>
			<a href="{{ site.url }}/products" class="col--lg4 col--sm6 menu__button">
				<p class="subtitle">Products</p>
				<p class="menu__description">
					<span>Blockchain-based products</span>
				</p>
			</a>
			<a href="{{ site.url }}/about" class="col--lg4 col--sm6 menu__button">
				<p class="subtitle">About</p>
				<p class="menu__description">
					<span>The team, our story, our values</span>
				</p>
			</a>
			<a href="{{ site.url }}/media" class="col--lg4 col--sm6 menu__button">
				<p class="subtitle">Media</p>
				<p class="menu__description">
					<span>Read our news and press releases</span>
				</p>
			</a>
			<a href="{{ site.url }}/events" class="col--lg4 col--sm6 menu__button">
				<p class="subtitle">Events</p>
				<p class="menu__description">
					<span>Find us at events</span>
				</p>
			</a>
			<a href="{{ site.url }}/join" class="col--lg4 col--sm6 menu__button">
				<p class="subtitle">Join</p>
				<p class="menu__description">
					<span>Step into a unique environment</span>
				</p>
			</a>
			<a href="{{ site.url }}/contact" class="col--lg4 col--sm6 menu__button">
				<p class="subtitle">Contact</p>
				<p class="menu__description">
					<span>Get in touch</span>
				</p>
			</a>
		</div>
		<div class="menu__row row">
			<a href="{{ site.url }}/faq" class="col--lg4 col--sm6 menu__button">
				<p class="body--large body--bold">FAQ</p>
				<p class="menu__description body--small">
					<span>Have questions?</span>
				</p>
				</a>
			<a href="{{ site.url }}/privacy-policy" class="col--lg4 col--sm6 menu__button">
				<p class="body--large body--bold">Privacy policy</p>
				<p class="menu__description body--small">
					<span>The legal bit</span>
				</p>
				</a>
		</div>
		<div class="menu__row row">
			<div class="col--lg4 col--md5">
				<!-- edit component in _includes/components/social.html -->
				{% include components/social.html %}
			</div>
		</div>
	</div>

</header>

<!-- scroll to top button -->
<a class="button--scroll-top button button--icon button--highlight fas fa-chevron-up"></a>

<!-- cookie banner -->
<div class="cookie">
	<p class="cookie__text body--small">We want to give you the best service by using cookies. Carry on browsing if you are happy with this, or <a href="{{ site.url }}/privacy-policy" class="button--underline">find out</a> how we manage your cookies.</p>
	<button class="cookie__button button button--small button--primary-darken button--animate fas fa-check">
		<p class="button__inner">Got it</p>
	</button>
</div>