@charset "UTF-8";

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

// —————————————————————————————————————————————————————————————————
// INTERNET EXPLORER
// —————————————————————————————————————————————————————————————————
// elements / includes / acccordions
// elements / includes / structure
// —————————————————————————————————————————————————————————————————
// layouts / about
// layouts / index
// layouts / mantle
// layouts / products
// layouts / services
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// elements / includes / acccordions
// —————————————————————————————————————————————————————————————————

.accordion__button .fa {
    transform: translateX(-7px);
}

// —————————————————————————————————————————————————————————————————
// elements / includes / structure
// —————————————————————————————————————————————————————————————————

// make header buttons work in ie

.header {
    pointer-events: auto !important;
}

// —————————————————————————————————————————————————————————————————
// layouts / about
// —————————————————————————————————————————————————————————————————

.timeline {

    &__text {
        flex-basis: auto;
        width: 100%;
    }

    &__icon {
        flex-basis: auto;
    }
}

// —————————————————————————————————————————————————————————————————
// layouts / index
// —————————————————————————————————————————————————————————————————

.landing {
    padding-top: $integer-xxxl;
    padding-bottom: 0;
}

// —————————————————————————————————————————————————————————————————
// elements / includes / mantle
// —————————————————————————————————————————————————————————————————

#mantle {

    .section__content {
        width: 100%;
    }
}

.mantle {
    
    &__label {

        & + & {
            margin-top: 25%;
        }
    }
}

// —————————————————————————————————————————————————————————————————
// layouts / products
// —————————————————————————————————————————————————————————————————

.products {

    &__intro {
        display: block;
    }

    &__container {
        height: 400px;
    }

    &__item {
        display: inline-block;
    }
}

// —————————————————————————————————————————————————————————————————
// layouts / projects
// —————————————————————————————————————————————————————————————————

#projects {

    .card--lg {
        height: 400px;
    }
}

// —————————————————————————————————————————————————————————————————
// layouts / services
// —————————————————————————————————————————————————————————————————

#services {

    .tab {
        
        &__nav {
            padding: 0 $integer;
        }
        
        &__button {
            width: 25%;
            white-space: nowrap;
            
            &:hover:before, 
            &.tab__button--active:before {
                width: 80%;
                left: 10%;
            }
        }
        
        &__content {
            flex-basis: 50%;
        }
        
    }

    .card {

        &__image {
            width: 30%;
            height: 30%;
        }
    }
}

// —————————————————————————————————————————————————————————————————

}