@charset "UTF-8";

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

// —————————————————————————————————————————————————————————————————
// components / acccordions
// components / structure
// —————————————————————————————————————————————————————————————————
// layouts / about
// layouts / index
// layouts / mantle
// layouts / products
// layouts / services
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// components / acccordions
// —————————————————————————————————————————————————————————————————

.accordion__button .fa {
  transform: translateX(-7px);
}

// —————————————————————————————————————————————————————————————————
// components / structure
// —————————————————————————————————————————————————————————————————

// make header buttons work in ie

.navbar {
  pointer-events: auto !important;
}

// —————————————————————————————————————————————————————————————————
// layouts / about
// —————————————————————————————————————————————————————————————————

.timeline {

  &__text {
    flex-basis: auto;
    width: 100%;
  }

  &__icon {
    flex-basis: auto;
  }
}

// —————————————————————————————————————————————————————————————————
// layouts / index
// —————————————————————————————————————————————————————————————————

.landing {
  padding-top: $spacing*10;
  padding-bottom: 0;
}

// —————————————————————————————————————————————————————————————————
// components / includes / mantle
// —————————————————————————————————————————————————————————————————

#mantle {

  .section__content {
    width: 100%;
  }
}

.mantle {
  
  &__label {

    & + & {
      margin-top: 25%;
    }
  }
}

// —————————————————————————————————————————————————————————————————
// layouts / products
// —————————————————————————————————————————————————————————————————

.products {

  &__intro {
    display: block;
  }

  &__container {
    height: 400px;
  }

  &__item {
    display: inline-block;
  }
}

// —————————————————————————————————————————————————————————————————
// layouts / projects
// —————————————————————————————————————————————————————————————————

#projects {

  .card--lg {
    height: 400px;
  }
}

// —————————————————————————————————————————————————————————————————
// layouts / services
// —————————————————————————————————————————————————————————————————

#services {

  .tab {
    
    &__nav {
      padding: 0 $spacing;
    }
    
    &__button {
      width: 25%;
      white-space: nowrap;
      
      &:hover:before, 
      &.tab__button--active:before {
        width: 80%;
        left: 10%;
      }
    }
    
    &__content {
      flex-basis: 50%;
    }
    
  }

  .card {

    &__image {
      width: 30%;
      height: 30%;
    }
  }
}

// —————————————————————————————————————————————————————————————————

}