@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// RESPONSIVE
// —————————————————————————————————————————————————————————————————

@include responsive(down, $desktop) {

  .page__header,
  .section--full .section__header {
    padding-right: $page-gutter;
    padding-left: $page-gutter;
  }
    
  .section__header {
    padding-right: 0;
    padding-left: 0;
  }
}

@include responsive(down, $laptop) {

  .navbar__menu,
  .page__header,
  .section,
  .section--full .section__header,
  #landing,
  #landing .page__header,
  .carousel--testimonials .carousel__item {
    padding-right: $page-gutter/2;
    padding-left: $page-gutter/2;
  }

  .section__content--2 .card:nth-child(1) {
    padding-left: $page-gutter/2;
  }

  .section__content--2 .card:nth-child(2) {
    padding-right: $page-gutter/2;
  }

  .section--alt {
    padding-right: $page-gutter/4;
    padding-left: $page-gutter/4;
  }
}

@include responsive(down, $tablet) {

  .navbar__menu,
  .page__header,
  .section,
  .section--full .section__header,
  .section__content--2 .card:nth-child(1),
  .section__content--2 .card:nth-child(2),
  .tab--leadership .tab__target,
  #landing,
  #landing .page__header,
  .carousel--testimonials .carousel__item {
    padding-right: $page-gutter/3;
    padding-left: $page-gutter/3;
  }

  .section--alt {
    padding-right: $page-gutter/6;
    padding-left: $page-gutter/6;
  }
}

@include responsive(down, $mobile) {

  .navbar__menu,
  .page__header,
  .section,
  .section--full .section__header,
  .section--alt,
  .section__content--2 .card:nth-child(1),
  .section__content--2 .card:nth-child(2),
  .tab--leadership .tab__target,
  #landing .page__header,
  .carousel--testimonials .carousel__item {
    padding-right: $spacing*2;
    padding-left: $spacing*2;
  }
}