@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// BADGE
// —————————————————————————————————————————————————————————————————
// root
// colors
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// root
// —————————————————————————————————————————————————————————————————

.badge {
  padding: $integer-sm $integer;
  border-radius: $border-radius/4;
  display: inline-block;  
}

// —————————————————————————————————————————————————————————————————
// root
// —————————————————————————————————————————————————————————————————

.badge {

  &--success {
    background-color: $secondary-alt;
    color: $black;
  }

  &--warning {
    background-color: $highlight-alt;
    color: $black;
  }
}