@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// FORM
// —————————————————————————————————————————————————————————————————
// general
// checkbox & radio
// overrides
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

.form {
	width: 100%;
	padding-left: $integer*1.5 !important;
	padding-right: $integer*1.5 !important;

	&__container {
		display: flex;
		justify-content: center;
		width: 100%;
  }
  
	&__group {
		position: relative;
		width: 100%;
		margin-bottom: $integer;
		text-align: left;

		@include responsive(max-width, $mobile-max) {
			margin-bottom: $integer;
		}

		&.focused {

			.form {

				&__label {
					color: $primary;
				}

				&__input {
					border-color: $primary;
				}
			}
		}
	}

	&__label {
		transition: color $transition;
		text-overflow: ellipsis;
		will-change: color;
		cursor: pointer;
		display: block;
		overflow: hidden;
		white-space: nowrap;
		position: relative;
		padding-left: $integer*0.75;
		margin-bottom: $integer;
	}

	&__input {
		transition: border $transition;
		text-overflow: ellipsis;
		will-change: border;
		width: 100%;
		background-color: transparent;
		padding: $integer $integer*1.5;
		border: $border-sm $medium-grey;
		border-radius: $integer-lg !important;
	}

	&__button {
		margin-top: $integer-md;
	}
	
	&__notice {
		margin-top: $integer;
	}
}

::placeholder {
	color: $medium-grey;
	opacity: 1;
}

// —————————————————————————————————————————————————————————————————
// checkbox & radio
// —————————————————————————————————————————————————————————————————

.form__checkbox, 
.form__radio {

	.form__input {
		position: absolute;
		opacity: 0;
		width: 0;
		height: 0;

		&:checked + .form__label:before {
			border-color: $primary;
			border-width: $integer;
		}
	}

	.form__label {
		padding-left: $integer-lg;
		cursor: pointer;
		margin: 0;
		font-size: 1rem !important;
		font-weight: 200;
		overflow: visible;
		color: $black !important;
		white-space: normal;

		&:before {
			@include pseudo-element('', -1px, auto, auto, 0, $integer-md*1.5, $integer-md*1.5);
			box-sizing: border-box;
			transition: border $transition;
			will-change: border;
			border: $border-sm $medium-grey;
		}
	}
}

.form__checkbox {

	.form__input {

		&:checked + .form__label:before {
			border-width: $integer-md*0.75;
		}

		&:checked + .form__label:after {
			opacity: 1;
		}		
	}

	.form__label {

		&:before {
			border-radius: $integer;
		}

		&:after {
			transition: opacity $transition;
			display: flex;
			align-items: center;
			justify-content: center;
			@include font-awesome("\f00c", 0, auto, auto, 0, $white);
			will-change: opacity;
			width: $integer-md*1.5;
			height: $integer-md*1.5;
			font-size: 0.7rem;
			line-height: 0;
			opacity: 0;
		}
	}
}

.form__radio {
    display: flex;
    align-items: center;
    flex-basis: 0;
    height: $integer-xl;

	& + & {
		margin-left: $integer;
	}

	.form__input {

		&:checked + .form__label:before {
			border-width: 7px;
		}
	}

	.form__label {

		&:before {
			border-radius: 50%;
		}
	}
}

// —————————————————————————————————————————————————————————————————
// overrides
// —————————————————————————————————————————————————————————————————

.form {

  &--pipedrive {
		// pipedrive width + 40px left and right
		@include calc(max-width, '480px + '$integer-xl*2);
		padding: $integer-xl !important;
		
		#report & {
			width: 560px;
			max-width: 100%;
    }

    .form {

      &__cover {
        @include calc(width, '100% + '$integer-xl*2);
        margin-top: -$integer-xl;
        margin-bottom: $integer-xl;
        margin-left: -$integer-xl;
      }  
    }
	}

	.footer & {
		padding: 0 !important;
	}
}