@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// MODALS
// —————————————————————————————————————————————————————————————————
// general
// video
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

.modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: opacity $transition;
	will-change: opacity;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba($black, 0.9);
	z-index: 10;
	opacity: 0;
	pointer-events: none;

    &__inner {
		transition: all $transition;
		will-change: transform;
		width: 60%;
        min-width: 300px;
		position: relative;
        opacity: 0;
	}

    &:target {
		opacity:1;
		pointer-events: auto;
		.modal__inner {
			opacity: 1;
		}
	}

  &__close {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		cursor: default;
	}

  &__button {
    position: absolute;
    right: -$integer;
    top: -$integer-xl;
		
		&:before, &:after {
			background-color: $white;
		}
	}

	.block {
		padding: 0 !important;
	}
}

// —————————————————————————————————————————————————————————————————
// video
// —————————————————————————————————————————————————————————————————

.modal-video {

    .modal__inner {
		transform: scale(0);
	}

    &:target .modal__inner {
		transform: scale(1);
	}
}