@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// WIDGETS
// —————————————————————————————————————————————————————————————————
// general
// share
// social
// newsletter
// news
// cookies
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

.widget {
  position: relative;
  border-radius: $border-radius;

  &__bar {
    display: flex;
    align-items: flex-end;
  }
}

// —————————————————————————————————————————————————————————————————
// share
// —————————————————————————————————————————————————————————————————

.share {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-$integer-xxxl);
  position: absolute;
  top: 0;
  padding-top: $integer/4;
  
  &__button {
    
    .post & {
      margin-left: 0;
      margin-bottom: $integer/4;
      text-decoration: none;
    }

    & + & {
      margin-top: $integer-md;
    }
  }
}

// —————————————————————————————————————————————————————————————————
// social
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// newsletter
// —————————————————————————————————————————————————————————————————

.newsletter {

  &__button {
    margin-top: $integer;
  }

  .form__label {
    color: $white !important;
  }

  &__input {
    display: block;
    
    @include responsive(max-width, $desktop-lg-max) {
      max-width: $integer-max*2;
    }

    & + & {
      margin-top: $integer;
    }
  }
}

// —————————————————————————————————————————————————————————————————
// news
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// cookies
// —————————————————————————————————————————————————————————————————

.cookie {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: opacity $transition;
  box-shadow: $box-shadow-md;
  padding: $integer-xs $page;
  will-change: opacity;
  background-color: $primary;
  color: $white;
  position: fixed;
  bottom: 0;
  width: 100%;
  opacity: 1;
  display: none;

  @include responsive(max-width, $mobile-max) {
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: $col;
    padding-right: $col;
  }

  @include responsive-mobile-devices() {
    padding-right: $col;
  }

  &.js-cookie-accepted {
    opacity: 0;
  }

  &__text {
    padding-right: $integer;

    @include responsive(max-width, $mobile-max) {
      padding-right: 0;
      margin-bottom: $integer;
    }
  }

  &__button {
    color: white;
  }
}