.resource-cards {
  justify-content: center;
  > div > div {
    margin: 16px 120px;
    justify-content: flex-start;
    width: fit-content;
  }
  > div > div:first-child {
    margin-top: 60px;
  }
  > div > div:last-child {
    margin-bottom: 80px;
  }

  > div > div > div {
    margin: 0 16px;
  }
  > div > div > div:first-child {
    margin-left: 0;
  }
  > div > div > div:last-child {
    margin-right: 0;
  }
}

.resource-cards__chip {
  border-radius: 20px;
  background: rgba(0, 123, 255, 0.08);
  color: #007bff;
  margin: 6px 0px 17px 0px;

  > span {
    font-family: Chivo;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: var(
      --gradient-primary,
      linear-gradient(270deg, #017cff 0%, #419dff 100%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.resource-cards__card {
  border-radius: 10px;
}

.resource-cards__card__text-title {
  color: #4a4d52;
  font-family: Chivo;
  font-style: normal;
  font-weight: 400;
  text-transform: initial;
  font-size: 18px;
  line-height: 170%;
}

.resource-cards__card__text-subtitle {
  color: #4a4d52;
  font-family: Chivo;
  font-style: normal;
  font-weight: 400;
  text-transform: initial;
  font-size: 14px;
  line-height: 150%;
}

.resource-cards__card__button {
  margin-right: 24px;
  border-radius: 50px;
  padding: 8px 20px;
  > a {
    color: var(--primary-contrast-text, #fff);
    font-family: Chivo;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */
  }
}

.resource-cards__card__button__link {
  margin-right: 24px;
  border-radius: 50px;
  padding: 8px 20px;
  > a {
    /* button/medium */
    font-family: Chivo;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */
    background: var(
      --gradient-primary,
      linear-gradient(270deg, #017cff 0%, #419dff 100%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
