@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  margin-top: 80px;
  min-height: 100vh;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.button {
  border-radius: 33px;
  padding: 8px 18px;
  gap: 10px;
}

.section {
  padding: 0 120px;
}

.onlyMobile {
  display: none;
}

.link-no-underline {
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .onlyDesktop {
    display: none;
  }
  .onlyMobile {
    display: inherit;
  }
}
