@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// RESPONSIVE
// —————————————————————————————————————————————————————————————————
// structure
// —————————————————————————————————————————————————————————————————



// —————————————————————————————————————————————————————————————————
// structure
// —————————————————————————————————————————————————————————————————

@include responsive(max-width, $desktop-lg-max) {

    .page__header,
    .section--full .section__header {
		padding-right: $page;
		padding-left: $page;
    }
    
    .section__header {
		padding-right: 0;
		padding-left: 0;
	}
}

@include responsive(max-width, $desktop-max) {

	.header__menu,
	.page__header,
    .section,
	.section--full .section__header,
	#landing,
	#landing .page__header,
	.carousel--testimonials .carousel__item {
		padding-right: $page/2;
		padding-left: $page/2;
	}

	.section__content--2 .card:nth-child(1) {
		padding-left: $page/2;
    }
	.section__content--2 .card:nth-child(2) {
		padding-right: $page/2;
    }

    .section--alt {
        padding-right: $page/4;
		padding-left: $page/4;
    }
}

@include responsive(max-width, $tablet-max) {

	.header__menu,
	.page__header,
    .section,
	.section--full .section__header,
	.section__content--2 .card:nth-child(1),
	.section__content--2 .card:nth-child(2),
	.tab--leadership .tab__item,
	#landing,
	#landing .page__header,
	.carousel--testimonials .carousel__item {
		padding-right: $page/3;
		padding-left: $page/3;
	}

	.section--alt {
        padding-right: $page/6;
		padding-left: $page/6;
    }
}

@include responsive(max-width, $mobile-max) {

	.row {
		margin-right: 0;
		margin-left: 0;
		width: 100%;
	}
	
	[class*="col--"] {
		padding-right: 0 !important;
		padding-left: 0 !important;
		width: 100% !important;
	}
	
	[class*="coloffset--"] {
		@include transform(none);
		margin-left: 0 !important;
		width: 100% !important;
	}

	.header__menu,
    .page__header,
    .section,
    .section--full .section__header,
    .section--alt,
	.section__content--2 .card:nth-child(1),
	.section__content--2 .card:nth-child(2),
	.tab--leadership .tab__item,
	#landing .page__header,
	.carousel--testimonials .carousel__item {
		padding-right: $integer-md;
		padding-left: $integer-md;
	}
}