@charset "UTF-8";



/* 
 * —————————————————————————————————————————————————————————————————
 * BUTTONS
 * —————————————————————————————————————————————————————————————————
 * general
 * animate
 * icon
 * close
 * menu
 * —————————————————————————————————————————————————————————————————
*/



/*
 * general
 * —————————————————————————————————————————————————————————————————
*/

.button {
	@include border-radius(100px);
	display: inline-block;
	cursor: pointer;
	padding: 12px 24px;
	overflow: hidden;
	position: relative;
	white-space: nowrap;
	&__inner {
		@include transform-style(preserve-3d);
		@include backface-visibility (hidden);
		@include transition (color 0.4s ease 0s, transform 0.4s ease 0s);
		display: block;
		text-transform: uppercase;
	}
}



/*
 * animate
 * —————————————————————————————————————————————————————————————————
*/

.button--animate:before {
	@include transition(transform 0.4s ease 0s);
	@include pseudo-element('', 0, auto, auto, -140%, 100%, 100%);
	@include display-flex();
	@include align-items(center);
	@include justify-content(center);
	text-align: center;
	background-color: transparent;
}
.button--animate:hover:before, .button--animate:hover .button__inner {
	@include transform(translateX(140%));
}



/*
 * color variant
 * —————————————————————————————————————————————————————————————————
*/

@include btn-color('button--',
//	prefix 			background & border	 color
	'primary'   	$primary 			$white,
	'secondary' 	$secondary			$primary,
	'highlight' 	$highlight			$white,
	'dark' 			$dark 				$white
);



/*
 * size
 * —————————————————————————————————————————————————————————————————
*/

.button {

	&--large {
		padding: 18px 36px;
	}

	&--small {
		padding: 6px 15px;
	}
}



/*
 * icon
 * —————————————————————————————————————————————————————————————————
*/

.button--icon {
	width: $col/4;
	height: $col/4;
	min-width: $integer;
	min-height: $integer;
	padding: 0;
	font-size: 0.8rem;
	line-height: 1;
	border: 1px solid $white;
	color: $white;
	will-change: transform;
	@include border-radius(50%);
	@include display-flex();
	@include justify-content(center);
	@include align-items(center);
	&:hover {
		color: $black;
		border-width: $col/8;
	}

	&.button--large {
		width: $col/2;
		height: $col/2;
		min-width: $integer*2;
		min-height: $integer*2;
		font-size: 1.6rem;
		&:hover {
			border-width: $col/4;
		}
	}

}



/*
 * close
 * —————————————————————————————————————————————————————————————————
*/

.button--close {
	&:before, &:after {
		margin-top: -2px;
		background-color: $black;
		@include transform(rotate(0deg));
		@include transition (transform 0.4s ease 0s);
		@include border-radius(0.15rem);
		@include pseudo-element('', 50%, auto, auto, auto, 30px, 7px);
	}

	&.rotate:before {
		@include transform(rotate(45deg));
	}

	&.rotate:after {
		@include transform(rotate(-45deg));
	}

	&.rotate:hover:before, &.rotate:hover:after {
		@include transform(rotate(0deg));
	}
	
}



/*
 * menu
 * —————————————————————————————————————————————————————————————————
*/

.button--menu {
	display: none;
	cursor: pointer;
	margin-top: 5px;
	@include animation(btn--menu--opacity 0.8s ease 0s);
	&:before, &:after {
		background-color: $white;
		@include pseudo-element('', 50%, auto, auto, auto, 20px, 2px);
		@include transition(transform 0.4s ease 0s);
		@include border-radius(0.15rem);
		@include responsive-mobile-devices() {
			content: none;
		}
	}
	&:before {
		@include transform(translateY(5px));
		@include animation(btn--menu--close--before 0.8s ease);
	}
	&:after {
		@include transform(translateY(-5px));
		@include animation(btn--menu--close--after 0.8s ease);
	}

	.button__inner {
		width: 20px;
		height: 2px;
		background-color: $white;
		position: absolute;
		@include transition(opacity 0s ease 0.4s);
		@include border-radius(0.15rem);
	}

	&.button--menu--open {
		&:before {
			transform: rotate(45deg); 
			@include animation(btn--menu--open--before 0.8s ease);
		}
		&:after {
			transform: rotate(-45deg); 
			@include animation(btn--menu--open--after 0.8s ease);
		}

		.button__inner {
			opacity: 0;
		}
	}
}