@charset "UTF-8";



/* 
 * —————————————————————————————————————————————————————————————————
 * FONTS
 * —————————————————————————————————————————————————————————————————
 * general
 * chat
 * buttons
 * form
 * —————————————————————————————————————————————————————————————————
*/



/* 
 * general
 * —————————————————————————————————————————————————————————————————
*/

html, body {
	font-family: $font;
	font-size: 16px;
	line-height: 1.2;
	font-weight: $font-light;
	color: $black;
	/*-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: auto;*/
	@include responsive(min-width, $break-xlarge-desktop) {
		font-size: 20px;
	}
}

.headline {
	@include fontSize(3, $font-black, normal);
	text-transform: uppercase;
	@include responsive(max-width, $break-tablets-max) {
		font-size: 2.5rem;
	}
	@include responsive(max-width, $break-phones-max) {
		font-size: 2rem;
	}
}

.title {
	@include fontSize(2.5, $font-bold, normal);	
	color: $primary;
	@include responsive(max-width, $break-tablets-max) {
		font-size: 2rem;
	}
	@include responsive(max-width, $break-phones-max) {
		font-size: 1.8rem;
	}
}

.subtitle {
	@include fontSize(1.8, $font-bold, normal);
	@include responsive(max-width, $break-phones-max) {
		font-size: 1.5rem;
	}
}

.comment, .post__update {
	@include fontSize(1.5, $font-light, normal);
	text-transform: uppercase;
}

.quote, .post__quote {
	@include fontSize(1.5, $font-light, normal);
	@include responsive(max-width, $break-tablets-max) {
		font-size: 1.25rem;
	}
}

.lead, .post__title {
	@include fontSize(1.5, $font-regular, normal);
	color: $primary;
}

.body {
	
	&--large {
		font-size: 1.25rem;
	}
	&--small {
		font-size: 0.8rem;
	}
	&--bold {
		font-weight: $font-bold;
	}
	&--block {
		display: inline-block;
	}
}

/* prevent style from applying to media page */
.post .post__headline {
	line-height: 1.5;
	font-size: 1.5rem;
	font-weight: $font-bold;
}

.post {

	&__title {
		font-size: 1.8rem;
	}

	&__subtitle {
		font-size: 1.5rem;
	}

	&__content {
		line-height: 1.5;
		font-size: 1.25rem;
	}
}

/*col text*/

@for $i from 1 through 4 {
	.col-text--#{$i} {
		@include column-count($i);
		@include column-gap(2rem);
		@include responsive(max-width, $break-tablets-max) {
			@include column-count(1);
		}
	}
}



// /* 
//  * chat
//  * —————————————————————————————————————————————————————————————————
// */

// #userlike * {
// 	font-family: $font !important;
// 	font-size: 16px !important;
// 	line-height: 1.2 !important;
//  	color: $black !important;
// }

// #userlike #userlike-poweredby,
// #userlike #userlike-poweredby-link,
// #userlike-chat-content .userlike-message-timestamp {
// 	margin-top: $integer/4 !important;
// 	font-size: 0.8rem !important;
// }



/* 
 * buttons
 * —————————————————————————————————————————————————————————————————
*/

.button {
	@include fontSize(1, $font-black, normal);
	font-family: $font;
	letter-spacing: 0.05rem;
	line-height: 1;

	&--text {
		font-weight: $font-regular;
		letter-spacing: 0;
	}

	&.button--large {
		@include fontSize(1.5, $font-black, normal);
		letter-spacing: 0.08rem;
	}

	&.button--small {
		@include fontSize(0.8, $font-black, normal);
		letter-spacing: 0.04rem;
		line-height: 1.5;
	}
}

.button__inner {
	font-family: $font;
}

.button--icon {
	font-size: 20px !important;

	&.button--large {
		font-size: 30px !important;
	}

	&.button--small {
		font-size: 14px !important;
	}
}



/* 
 * form
 * —————————————————————————————————————————————————————————————————
*/

.form__label, .form__input {
	font-family: $font;
}

.label, .form__label {
	@include fontSize(0.8, $font-black, normal);
}

.form {

	&__input, .form__dropdown li {
		@include fontSize(1, $font-light, normal);
	}
}