@charset "UTF-8";



/* 
 * —————————————————————————————————————————————————————————————————
 * FORM
 * —————————————————————————————————————————————————————————————————
 * general
 * required
 * select
 * file
 * switch
 * checkbox & radio
 * —————————————————————————————————————————————————————————————————
*/



/*
 * general
 * —————————————————————————————————————————————————————————————————
*/

.form {
	width: 100%;
	padding-left: $integer*1.5 !important;
	padding-right: $integer*1.5 !important;

	&__header {
		width: 75%;
		margin: 0 auto $integer*2 auto;
	}
	
	&__content {
		@include display-flex();
		@include flex-wrap(wrap);
	}

	&__group {
		position: relative;
		width: 100%;
		margin-bottom: $integer;
		text-align: left;

		&.focused {

			.form {

				&__label {
					color: $primary;
				}

				&__input {
					border-color: $primary;
				}
			}
		}
	}

	&__textarea {
		width: 100%;
	}

	&__label {
		@include transition(color $transition);
		@include textOverflow(ellipsis);
		cursor: pointer;
		display: block;
		overflow: hidden;
		white-space: nowrap;
		position: relative;
		padding-left: $integer*0.75;
		margin-bottom: $integer/2;
	}

	&__input {
    	@include transition(border $transition);
		@include textOverflow(ellipsis);
		@include border-radius(20px !important);
		width: 100%;
		background-color: transparent;
		padding: 10px $integer*0.75 8px $integer*0.75;
		border: 2px solid $mediumgrey;
	}

	&__button {
		margin-top: $integer/2;
	}
	
	&__footer {
		margin-top: $integer*2;
	}
}

@include placeholder {
	color: $mediumgrey;
	opacity: 1;
}


/*
 * select
 * —————————————————————————————————————————————————————————————————
*/

.select-hide {
	display: none;
	visibility: hidden;
	padding-right: 10px;
}

.form__select {
	cursor: pointer;
	position: relative;

	.form__input {
		cursor: pointer;
	}

	&:after {
		@include fontAwesome("\f078", 0, $integer*0.75, auto, auto, $primary);
		@include transition(color $transition);
		@include display-flex();
		@include align-items(center);
		height: 100%;
		font-size: 1.2rem;
		pointer-events: none;
	}

	.form__dropdown {
		@include calc(top, '100% +' $integer/2);
		@include box-shadow(0px $integer/2 $integer rgba($black ,0.2));
		@include border-radius($integer);
		display: none;
		position: absolute;
		right: 0;
		left: 0;
		max-height: $integer*10;
		overflow: scroll;
		z-index: 2;
		background-color: $white;
		border: 2px solid $primary;
		margin-left: 0;

		li {
			@include transition(color $transition);
			margin: 0;
			padding: 9px $integer*0.75;
			cursor: pointer;

			&:nth-child(1) {
				display: none;
			}

			&:nth-child(2) {
				border-top: 0;
			}

			& + li {
				border-top: 1px solid $lightgrey;
			}

			&:hover {
				color: $primary;
			}

			&[rel="hide"] {
				display: none;
			}
		}
	}
}



/*
 * file
 * —————————————————————————————————————————————————————————————————
*/

.form__file {
	position: relative;

	.form__input {
	}

	.form__button {
		@include border-bottom-right-radius(0.2rem);
		@include border-top-right-radius(0.2rem);
		background-color: $mediumgrey;
		color: $white;
		width: 130px !important;
		margin: 0;
		right: 0;
		bottom: 0;
		position: absolute;
	}
}



/*
 * switch
 * —————————————————————————————————————————————————————————————————
*/

.switch {

	&__label {
		position: relative;
		display: inline-block;
		width: 40px;
	}

	&__input {
		display:none;

		&:checked + .switch__slider {
			background-color: $primary;
		}

		&:checked + .switch__slider:before {
			@include transform(translateX(22px));
		}
	}

	&__slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		@include transition(background $transition);

		&:before {
			background-color: white;
			@include pseudo-element('', auto, auto, 3px, 3px, 11px, 11px);
			@include transition(transform $transition);
			@include transition(-webkit-transform $transition);
		}
	}

	&__slider--round {
		@include border-radius(34px);

		&:before {
			@include border-radius(50%);
		}	
	}
}



/*
 * checkbox & radio
 * —————————————————————————————————————————————————————————————————
*/

.form__checkbox {

	.form__input {
		position: absolute;
		opacity: 0;
		width: 0;
		height: 0;

		&:checked + .form__label:after {
			opacity: 1;
		}
		
		&:checked + .form__label:before {
			border-color: $primary;
			border-width: $integer/2;
		}
	}

	.form__label {
		padding-left: $integer*1.5;
		cursor: pointer;
		margin: 0;
		font-size: 1rem !important;
		font-weight: 200;
		overflow: visible;

		&:before {
			@include pseudo-element('', 0, auto, auto, 0, $integer, $integer);
			@include box-sizing(border-box);
			@include transition(border 0.3s ease 0s);
			@include border-radius($integer/4);
			border: 2px solid $mediumgrey;
		}

		&:after {
			@include transition(opacity $transition);
			@include display-flex();
			@include align-items(center);
			@include justify-content(center);
			@include fontAwesome("\f00c", 0, auto, auto, 0, $white);
			width: $integer;
			height: $integer;
			font-size: 0.7rem;
			opacity: 0;
		}
	}
}