@charset "UTF-8";



/* 
 * —————————————————————————————————————————————————————————————————
 * STRUCTURE
 * —————————————————————————————————————————————————————————————————
 * general
 * responsive
 * z-index
 * hover classes
 * section
 * containers
 * elements
 * header
 * footer
 * —————————————————————————————————————————————————————————————————
*/



.hide {
	
	&--mobile {
		@include responsive(max-width, $break-phones-max) {
			display: none !important;
		}
	}

	&--touch {
		@include responsive-mobile-devices() {
			display: none !important;
		}
	}
}

body.js-freeze {
	overflow: hidden;
}

img {
	/*prevent images from stretching with flex*/
	@include align-self(center);
	width: 100%;
}



/*
 * general
 * —————————————————————————————————————————————————————————————————
*/

* {
	@include box-sizing(border-box);
	outline: none;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.row {
	@include display-flex();
	@include flex-wrap(wrap);
	@include calc(width, '100% + '$integer);
	//width: 100%;
	margin-left: -$integer/2;
	margin-right: -$integer/2;

	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

.clear:after {
	content: '';
	display: block;
	clear: both;
}

[class*="col--"], [class*="colalt--"] {
	float: left;
	position: relative;
	padding: 0 $integer/2;
	width: 100%;
}

@for $i from 1 through 12 {
	.col--#{$i} 				{ width: $i*$col-inner; }
	.coloffset--#{$i} 			{ margin-left: $i*$col-inner; }
}

@include responsive(min-width, $break-phones-min) {
	@for $i from 1 through 12 {
		.col--sm#{$i} 			{ width: $i*$col-inner; }
		.coloffset--sm#{$i} 	{ margin-left: $i*$col-inner; }
	}
}

@include responsive(min-width, $break-tablets-min) {
	@for $i from 1 through 12 {
		.col--md#{$i} 			{ width: $i*$col-inner; }
		.coloffset--md#{$i} 	{ margin-left: $i*$col-inner; }
	}
}

@include responsive(min-width, $break-desktop-min) {
	@for $i from 1 through 12 {
		.col--lg#{$i} 			{ width: $i*$col-inner; }
		.coloffset--lg#{$i} 	{ margin-left: $i*$col-inner; }
	}
}

@include responsive(min-width, $break-large-desktop-min) {
	@for $i from 1 through 12 {
		.col--xl#{$i} 			{ width: $i*$col-inner; }
		.coloffset--xl#{$i} 	{ margin-left: $i*$col-inner; }
	}
}

/*footer*/

@for $i from 1 through 15 {
	.colalt--#{$i} 				{ width: $i*$col-footer; }
	.colaltoffset--#{$i} 		{ margin-left: $i*$col-footer; }
}

@include responsive(min-width, $break-phones-min) {
	@for $i from 1 through 15 {
		.colalt--sm#{$i} 		{ width: $i*$col-footer; }
		.colaltoffset--sm#{$i} 	{ margin-left: $i*$col-footer; }
	}
}

@include responsive(min-width, $break-tablets-min) {
	@for $i from 1 through 15 {
		.colalt--md#{$i} 		{ width: $i*$col-footer; }
		.colaltoffset--md#{$i} 	{ margin-left: $i*$col-footer; }
	}
}

@include responsive(min-width, $break-desktop-min) {
	@for $i from 1 through 15 {
		.colalt--lg#{$i} 		{ width: $i*$col-footer; }
		.colaltoffset--lg#{$i} 	{ margin-left: $i*$col-footer; }
	}
}

@include responsive(min-width, $break-large-desktop-min) {
	@for $i from 1 through 15 {
		.colalt--xl#{$i} 		{ width: $i*$col-footer; }
		.colaltoffset--xl#{$i} 	{ margin-left: $i*$col-footer; }
	}
}

/*embed responsively*/

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 

	iframe, object, embed { 
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%; 
		height: 100%; 
	}
}

/*text selection*/

::-moz-selection {
	background: $primary;
	color: $white;
}
::selection {
	background: $primary;
	color: $white;
}
::-moz-selection {
	background: $primary;
	color: $white;
}

/*remove autocomplete from webkit browsers*/

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0px 1000px $white inset;
	@include transition(background-color $transition);
}

/*lists*/

ul {
	list-style: disc;
    margin-left: $integer*0.75;
}

li + li {
	padding-top: $integer/2 !important;
}

/*page headers*/

.section--header {
	background-position: top center !important;

	&:before {		
		@include pseudo-element('', 0, 0, 0, 0, 100%, 100%);
	}

	&.section--primary {
		&:before {		
			@include background-image(linear-gradient(to bottom, rgba($primary, 0.5), $primary));
		}
	}

	&.section--grey {
		&:before {		
			@include background-image(linear-gradient(to bottom, rgba($lightgrey, 0.6), $lightgrey));
		}
	}

	&.section--dark {
		&:before {		
			@include background-image(linear-gradient(to bottom, rgba($dark, 0.9), $dark));
		}
	}
}



/*
 * responsive
 * —————————————————————————————————————————————————————————————————
*/

.hide {

	&--desktop { @include responsive(max-width, $break-desktop-max) { display: none; } }
	&--tablets { @include responsive(max-width, $break-tablets-max) { display: none; } }
	&--phones { @include responsive(max-width, $break-phones-max) { display: none; } }
}


/*
 * z-index
 * —————————————————————————————————————————————————————————————————
*/

.cookie { z-index: 10; }
.button--scroll-top { z-index: 11; }
.header { z-index: 12; }
.anchor { z-index: 13; }
.userlike { z-index: 14 !important; }
.modal { z-index: 15; }

@for $i from 0 through 9 {
	.z-index--#{$i} { z-index: $i; }
}



/*
 * hover classes
 * —————————————————————————————————————————————————————————————————
*/

.hover-grayscale {
	@include filter(grayscale(100%));
	@include transition(filter, $transition);
	will-change: filter;
	
	@include hoverLink {
		@include filter(grayscale(0%));
	}
}



/*
 * section
 * —————————————————————————————————————————————————————————————————
*/

.section {
	@include display-flex();
	@include flex-direction(column);
	position: relative;
	text-align: center;
	padding: $integer*6 $col*2;
	@include responsive(max-width, $break-tablets-max) {
		padding-left: $col;
		padding-right: $col;
	}
	@include responsive(max-width, $break-phones-max) {
		padding-top: $integer*4;
		padding-bottom: $integer*4;
	}

	&__header {
		@include display-flex();
		@include flex-direction(column);
		@include align-items(center);
		margin-bottom: $integer*4;
	}

	&__comment {
		margin-bottom: $integer*2;
	}

	&__title, &__subtitle, &__desc {
		width: 75%;
		@include responsive(max-width, $break-desktop-max) {
			width: 100%;
		}
	}
	
	&__subtitle {
		margin-top: $integer;
	}

	&__desc {
		margin-top: $integer;
	}

	&__content {
		@include display-flex();
		@include flex-wrap(wrap);
		justify-content: center;
	}

	&__filter {
        @include display-flex();
		@include justify-content(space-evenly);
		@include flex-wrap(wrap);
		margin-bottom: $integer*2;
	}

	&__link {
		margin-top: $integer*4;

		.link {

			&__title {
				margin-bottom: $integer;
			}
		}
	}
}

/*types*/

.section {
	
	&--header {
		@include align-items(center);
		position: relative;
		padding-top: $integer*10;

		> * {
			position: relative;
		}
	}

	&--col {
		padding-left: $col;
		padding-right: $col;

		.section__header {
			padding-right: $col;
			padding-left: $col;
			@include responsive(max-width, $break-tablets-max) {
				padding-right: 0;
				padding-left: 0;
			}
		}
	}

	&--alt {
		padding-top: 0;
	}

	&--fullwidth {
		padding-left: $integer/2;
		padding-right: $integer/2;

		.section__header {
			padding-right: $col*2;
			padding-left: $col*2;
			@include responsive(max-width, $break-tablets-max) {
				padding-right: 0;
				padding-left: 0;
			}
		}
	}
	
	&--block {
		padding-right: $col;
		padding-left: $col;

		> .block {
			padding-right: $col;
			padding-left: $col;
		}
	}

	&--nopadding {
		padding: 0;
	}

	&--margin-minus {
		margin-top: -$integer*10;
		padding-top: $integer*10;
		@include responsive(max-width, $break-phones-max) {
			margin-top: -$integer*8;
			padding-top: $integer*8;
		}
	}
}

/*colors*/

.section {

	&--primary {
		background-color: $primary;
		color: $white;

		.title, .lead {
			color: $white;
		}
	}

	&--dark {
		background-color: $dark;
		color: $white;

		.title {
			color: $white;
		}
	}

	&--grey {
		background-color: $lightgrey;
	}
}

/*alignement*/

.section {

	&--left {
		@include align-items(flex-start);
		text-align: left;

		.section {

			&__header, &__content {
				@include align-items(flex-start);
			}

			&__title, &__subtitle, &__desc {
				width: 100%;
			}
		}
	}

	&--right {
		@include align-items(flex-end);
		text-align: right;
	}
}



/*
 * containers
 * —————————————————————————————————————————————————————————————————
*/

.block {
	@include box-shadow(0 0 30px 0 rgba($dark, 0.05));
	overflow: hidden;
	background-color: $white;
	border-radius: $integer;
	padding: $integer*2;
	color: $black;
	@include responsive(max-width, $break-tablets-max) {
		padding: $integer;
	}

	&__content {
		padding: $integer*2;
		@include responsive(max-width, $break-tablets-max) {
			padding: $integer;
		}
	}

	&__date {
		margin-bottom: $integer;
	}

	&__title {
        margin-bottom: $integer/2;
    }

    &__text {
        margin-bottom: $integer;
    }
}

.background--cover {
	@include background(center center, cover);
}

.image-inline {
	margin-bottom: -$integer*2;

    &__item {
		padding: 0 $integer $integer*2 $integer;

		.owl-carousel & {
			padding: 0;
		}
    }

    &__image {
        background-size: contain;
        height: $integer*6;
		margin-bottom: $integer;
		
		.owl-carousel & {
			margin-bottom: 0;
		}
	}
	
	&__title {
		margin-bottom: $integer/4;
	}
}



/*
 * elements
 * —————————————————————————————————————————————————————————————————
*/

/* logos */

.logo {
	
	&__item {
		width: 100%;
		max-width: $integer*20;
		height: auto;
	}

	&-icon-bg {
		fill: $primary;
	}

	&-icon-color {
		fill: $white;
	}

	&-name {
		fill: $black;

		.footer__logo & {
			fill: $white;
		}
	}
}

/* graphics */

#gradient-secondary {
	--color-stop-1: #{$secondary};
	--color-stop-2: #{$secondary-alt};
}
#gradient-highlight {
	--color-stop-1: #{$highlight};
	--color-stop-2: #{$highlight-alt};
}

.graphic {
	pointer-events: none;

	&__primary { fill: $primary; }
	&__secondary { fill: $secondary; }
	&__highlight { fill: $highlight; }
	&__gradient-secondary { fill: url(#gradient-secondary) $secondary;}
	&__gradient-highlight { fill: url(#gradient-highlight) $highlight;}

	&__stroke {
		fill: none;
		fill: none;
		stroke-width: 4;
		stroke-linecap: round;
		stroke-linejoin: round;

		&.alt {
			stroke-width: 8;
		}

		&.graphic {
		
			&__primary { stroke: $primary; }
			&__secondary { stroke: $secondary; }
			&__highlight { stroke: $highlight; }
		}
	}

	&--greyscale {
		opacity: 0.3;
		position: absolute;
		width: 20vmax;
		top: -50%;

		.section--primary & {
			@include filter(invert(100));
		}

		&-left {
			@extend .graphic--greyscale;
			left: 0;
		}
	
		&-center {
			@extend .graphic--greyscale;
			left: 40vmax;
		}

		&-right {
			@extend .graphic--greyscale;
			right: 0;
		}
	}
}



/*
 * header
 * —————————————————————————————————————————————————————————————————
*/

.header {
	@include transition(height $transition, background-color $transition, box-shadow $transition, padding-top $transition, padding-bottom $transition);
	will-change: height, background-color, box-shadow, padding-top, padding-bottom;
	overflow: hidden;
	position: fixed;
	height: $integer*8;
	width: 100vw;
	pointer-events: none;

	&__bar {
		@include transition(height $transition);
		@include display-flex();
		@include align-items(center);
		@include justify-content(space-between);
		will-change: height;
		height: $integer*8;
		padding: 0 $col;

		.button + .button--menu {
			margin-left: $integer;
		}
	}

	&__logo {
		@include transition(height $transition, width $transition);
		will-change: height, width;
		width: $integer*15;
		pointer-events: initial;

		&.logo-white {

			.logo {
				
				&-icon-bg {
					fill: $white;
				}
	
				&-icon-color {
					fill: $primary;
				}
	
				&-name {
					fill: $white;
				}
			}
		}

		&.logo-name-white {

			.logo-name {
				fill: $white;
			}
		}
	}

	&__button {
		@include display-flex();
	}

	&__contact {
		@include responsive(max-width, $break-phones-max) {
			display: none !important;
		}
	}

	.button {
		pointer-events: initial;

		&--primary.alt {
			background-color: $white;
	
			.button__inner {
				color: $primary;
			}
		}
	}

	&__menu {
		@include calc(height, '100vh - '$integer*8);
		@include overflow-scroll();
		padding: 0  $col*2 $integer*4 $col*2;
		pointer-events: initial;
		@include responsive(max-width, $break-tablets-max) {
			padding: 0 $col $integer*6 $col;
		}
	}

	&.js-scrolled {
		@include box-shadow(0 0 20px 0 rgba($dark, 0.15));
		height: $integer*4;
		background-color: $white;
		
		.header {

			&__bar {
				height: $integer*4;
			}
			
			&__logo {
				width: $integer*10;
			}
		}
	}

	&.js-opened {
		@include transition(height $transition, background-color $transition);
		will-change: height, background-color;
		height: 100vh;
		background-color: $white;

		.header {

			&__bar {
				height: $integer*8;
			}

			&__logo {
				width: $integer*15;
			}
		}
	}

	&.js-scrolled, &.js-opened {
		
		.logo {

			&-icon-bg {
				fill: $primary;
			}

			&-icon-color {
				fill: $white;
			}

			&-name {
				fill: $black;
			}
		}

		.button--menu {

			&:before, &:after, .button__inner {
				background-color: $black;
			}
		}

		.button--primary {
			background-color: $primary;
	
			.button__inner {
				color: $white;
			}

			&.button--stroke {
				background-color: transparent;

				.button__inner {
					color: $black;
				}
			}
		}
	}
}

.menu {

	&__row {

		& + & {
			margin-top: $integer*2;
		}
	}

	&__inner {
		@include display-flex();
		@include flex-wrap(wrap);
	}

	&__button {
		margin-bottom: $integer/2;
		
		.subtitle {
			padding: 0;
		}

		&:hover {

			.menu {

				&__description {

					span {
						@include transform(translateY(0));
					}
				}
			}
		}
	}

	&__description {
		width: 100%;
		overflow: hidden;
		white-space: nowrap;
		@include responsive-mobile-devices() {
			overflow: visible;
		}

		span {
			@include transition(transform $transition);
			@include transform(translateY(-100%));
			will-change: transform;
			display: block;
			@include responsive-mobile-devices() {
				@include transform(translateY(0));
			}
		}
	}

	&__newsletter {
		margin-top: $integer*2;
	}
}



/*
 * footer
 * —————————————————————————————————————————————————————————————————
*/

.footer {
	padding: $integer*6 $col $integer*3;
	font-weight: $font-regular;

	> * {
		@include display-flex();
	}

	&__item {
		margin-bottom: $integer*2;
	}

	&__logo {
		padding-right: $integer*4;
	}

	&__title {
		margin-bottom: $integer;
		color: $white;
	}

	&__adress {

		p + p {
			margin-top: $integer/2;
		}

		.body--bold {
			margin-top: $integer;
		}
	}

	&__button {
		display: block !important;
		margin-left: 0 !important;
	}

	.social {
		margin-bottom: 0;
	}
}