@charset "UTF-8";



/* 
 * —————————————————————————————————————————————————————————————————
 * TABS
 * —————————————————————————————————————————————————————————————————
*/

.tab {
	overflow: hidden;

	&__nav {

		.nav__btn {
			display: inline-block;
		}
	}

	&__content {
	    @include transition(all 0.4s ease 0s);
	}

	&__item {
		display: none;

		&:nth-child(1) {
			display: block;
		}
	}
}