@charset "UTF-8";



/* 
 * —————————————————————————————————————————————————————————————————
 * TABS
 * —————————————————————————————————————————————————————————————————
*/

.tab {

	&__nav {

		.nav__button {
			display: inline-block;
			background-color: transparent;

			&.button--primary {
				color: $black;
			}

			&--active {
				
				&.button--primary {
					background-color: $primary;
					color: $white;
				}

				&.button--primary-darken {
					background-color: $primary-darken;
					color: $white;
				}
			}
		}
	}

	&__content {
	    @include transition(all 0.4s ease 0s);
	}

	&__item {
		display: none;

		&:nth-child(1) {
			display: block;
		}
	}
}