@charset "UTF-8";



/* 
 * —————————————————————————————————————————————————————————————————
 * TIMELINE
 * —————————————————————————————————————————————————————————————————
 * general
 * —————————————————————————————————————————————————————————————————
*/



/* 
 * general
 * —————————————————————————————————————————————————————————————————
*/

#timeline {
}

.vis-timeline, .vis-panel {
    border: 0 !important;
}

.vis-panel {
    overflow: visible !important;
}

.vis-item {
    background-color: transparent;
    border: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-top: -60px;
    cursor: pointer;
    &:hover {
        z-index: 2;
    }

    &.vis-selected {
    	@extend .vis-item;
    }

    .vis-item-overflow {
    	overflow: visible;
    }

    .vis-item-content {
        padding-left: 0;
        color: $white;
    }

    .bloc__title {
    	overflow: visible;
        color: $white;
    }

    .bloc__label {
        margin-bottom: 3px;
    }

    &--work, &--internship, &--studies {
    }

    &__meta {
    	position: relative;
    }

    &__date {
        color: rgba($white, 0.5);
        display: none;
    }

    &__city {
    }
}

/*background*/
.vis-time-axis {

    .vis-grid.vis-minor {
    }

    .vis-text {
    }
}