@charset "UTF-8";



/* 
 * —————————————————————————————————————————————————————————————————
 * WIDGETS
 * —————————————————————————————————————————————————————————————————
 * general
 * share
 * social
 * newsletter
 * hiring
 * news
 * cookies
 * chat
 * —————————————————————————————————————————————————————————————————
*/



/*
 * general
 * —————————————————————————————————————————————————————————————————
*/

.widget {
    position: relative;
    @include border-radius($integer);

    &__header {
        @include display-flex();
        @include border-top-right-radius($integer);
        @include border-top-left-radius($integer);
        width: 100%;
    }

    &__content {
        @include border-bottom-right-radius($integer);
        @include border-bottom-left-radius($integer);
    }
}



/*
 * share
 * —————————————————————————————————————————————————————————————————
*/

.share {
    @include display-flex();
    @include flex-direction(column);
    @include align-items(center);
    @include transform(translateX(-$integer*4.5));
    position: absolute;
    top: 0;
    padding-top: $integer/4;
    
    &__button {
        
        .post & {
            margin-left: 0;
            margin-bottom: $integer/4;
            text-decoration: none;
        }
    }
}



/*
 * social
 * —————————————————————————————————————————————————————————————————
*/

.social {
    margin-bottom: $integer*2;
}



/*
 * newsletter
 * —————————————————————————————————————————————————————————————————
*/

.newsletter {
    
    &__notice {
        margin-top: $integer/2;
        margin-bottom: $integer/2;
    }
    
    &__button {
        margin-top: $integer/2;
    }

    .form__label {
        color: $white !important;
    }

    &__input {
        max-width: $integer*25
    }
}



/*
 * hiring
 * —————————————————————————————————————————————————————————————————
*/

// .widget {

//     &--hiring {
//         @include display-flex();
//         @include align-items(center);
//         background-color: rgba($primary-lighten, 0.9);
//         padding: $integer;
//         color: $white !important;
//         @include responsive(max-width, $break-tablets-max) {
//             @include flex-direction(column);
//             @include align-items(flex-start);
//         }

//         .subtitle {
//             margin-right: $integer;
//             white-space: nowrap;
//             @include responsive(max-width, $break-tablets-max) {
//                 margin-right: 0;
//                 margin-bottom: $integer/2;
//             }
//         }

//         .button {
//             min-width: 190px;
//             @include responsive(max-width, $break-tablets-max) {
//                 @include align-self(flex-start);
//             }
//         }

//         .lead {
//             color: $white;
//         }
//     }
// }



/*
 * news
 * —————————————————————————————————————————————————————————————————
*/

.widget {

    &--news {
        @include display-flex();
        @include flex-direction(column);
        @include align-items(center);
        @include border-top-right-radius(0);
        @include border-bottom-right-radius(0);
        position: absolute;
        top: 50%;
        right: -$integer*26;
        width: $integer*26;
        background-color: $primary;
        text-align: left;
        color: $white;
        @include responsive(max-width, $break-phones-max) {
            @include border-top-right-radius($integer);
            @include border-bottom-right-radius($integer);
            position: static;
            margin-top: $integer;
            margin-left: 5%;
            width: 90%;
        }

        &.block {
            padding: 0;
        }

        .button {
            @include align-self(flex-start);
            min-width: 128px;
        }

        .widget {
            
            &__header {
                @include align-items(center);
                @include border-top-right-radius(0);
                background-color: $primary-darken;
                padding: $integer;
                @include responsive(max-width, $break-phones-max) {
                    @include border-top-left-radius($integer);
                    @include border-top-right-radius($integer);
                    @include flex-direction(column);
                    font-size: 1rem;

                    .button {
                        margin-top: $integer/4;
                    }
                }
            }
            
            &__content {
                @include display-flex();
                @include flex-direction(row);
                padding: $integer;
                @include responsive(max-width, $break-phones-max) {
                    font-size: 0.8rem;
                }

                .button {
                    margin-top: $integer;
                }
            }

            &__logo {
                width: $integer*3;
                margin-right: $integer;
                @include responsive(max-width, $break-phones-max) {
                    display: none;
                }
            }

            &__portrait {
                width: $integer*5;
                height: $integer*5;
                margin-right: $integer;                
            }
        }

        .testimonial__mark {
            opacity: 0.1 !important;
            top: $integer*3;
            left: $integer*6;
            width: $integer*5 !important;
        }
    }
}



/*
 * cookies
 * —————————————————————————————————————————————————————————————————
*/

.cookie {
    @include display-flex();
    @include align-items(center);
    @include justify-content(space-between);
    @include transition(opacity $transition);
    @include box-shadow(0 0 20px 0 rgba($dark, 0.15));
    padding-left: $col*2;
    padding-right: $col*2;
    will-change: opacity;
    background-color: $primary;
    color: $white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: $integer/2;
    padding-bottom: $integer/2;
    opacity: 1;
    display: none;
    @include responsive(max-width, $break-phones-max) {
        @include justify-content(flex-start);
        @include flex-wrap(wrap);
        padding-left: $col;
        padding-right: $col;
    }
    @include responsive-mobile-devices() {
        padding-right: $col;
    }

    &.js-cookie-accepted {
        opacity: 0;
    }

    &__text {
        padding-right: $integer;
        @include responsive(max-width, $break-phones-max) {
            padding-right: 0;
            margin-bottom: $integer/2;
        }
    }

    &__button {
        min-width: 75px;
    }
}



// /*
//  * chat
//  * —————————————————————————————————————————————————————————————————
// */

// /* general */

// .userlike-tracking-img {
//     float: left;
// }

// #userlike-popup,
// #userlike #userlike-headerbar {
//     border-top-right-radius: $integer !important;
//     @include responsive(max-width, $break-phones-max) {
//         border-top-right-radius: 0 !important;
//     }
// }

// /*fonts*/

// .userlike-close, 
// #userlike-button-symbol i.userlike-symbol,
// #userlike #userlike-button-hover-text,
// #userlike .userlike-symbol.userlike-symbol-close {
//     color: $white !important;
// }

// #userlike-button-symbol i.userlike-symbol {
//     font-size: 43px !important;
//     @include responsive(max-width, $break-phones-max) {
//         font-size: 33px !important;
//     }
// }

// /*chat icon*/

// #userlike.userlike-mobile a#userlike-tab, #userlike a#userlike-tab.userlike-button-bubble {
//     @include box-shadow(0 0 30px 0 rgba($dark, 0.4) !important);
//     margin-left: $col !important;
//     width: $integer*3 !important;
//     min-width: $integer*3 !important;
//     max-width: $integer*3 !important;
//     height: $integer*3 !important;
//     min-height: $integer*3 !important;
//     max-height: $integer*3 !important;
//     @include responsive(max-width, $break-phones-max) {
//         width: $integer*2 !important;
//         min-width: $integer*2 !important;
//         max-width: $integer*2 !important;
//         height: $integer*2 !important;
//         min-height: $integer*2 !important;
//         max-height: $integer*2 !important;    
//     }
// }

// #userlike.userlike-mobile #userlike-button-symbol, #userlike a#userlike-tab.userlike-button-bubble #userlike-button-symbol {
//     width: 100% !important;
//     height: 100% !important;
// }

// a#userlike-tab.userlike-button-bubble .userlike-symbol {
//     margin-top: -2px !important;
//     margin-left: -1px !important;
//     @include responsive(max-width, $break-phones-max) {
//         margin-top: -7px !important;
//     }
// }

// #userlike.userlike-mobile a#userlike-tab.userlike-slideup, #userlike a#userlike-tab.userlike-button-bubble.userlike-slideup {
//     bottom: $integer !important;
// }

// /*text banner*/

// #userlike-hover-text-container {
//     bottom: 30px !important;
//     height: 40px !important;
//     padding-left: 20px !important;
//     padding-right: 20px !important;
//     min-height: 40px !important;
//     max-height: 40px !important;
//     border-radius: 20px !important;
//     margin-left: -10px !important;
// }

// #userlike-hover-text-container, #userlike-eyecatcher {
//     @include transition(opacity 0.4s ease 0s !important);
// }

// #userlike #userlike-button-hover-text {
//     padding-top: 12px !important;
// }

// #userlike-hover-text-container.userlike-left #userlike-hover-text-arrow {
//     display: none;
// }

// /*chat box*/

// #userlike-chat-content {
//     padding: $integer !important;
// }

// /*chat bubbles*/

// #userlike-chat-content .userlike-message-container {
//     margin-top: 0 !important;
//     margin-bottom: $integer/2 !important;
// }

// #userlike-chat-content .userlike-message-bubble-ct,
// #userlike-chat-content .userlike-message-bubble-co, 
// #userlike-chat-content .userlike-message-bubble-preview {
//     padding: $integer/2 !important;
// }

// #userlike-chat-content .userlike-message-bubble-ct {
//     background-color: $mediumgrey !important;
// }

// #userlike-chat-content .userlike-message-bubble-co, 
// #userlike-chat-content .userlike-message-bubble-preview {
//     background-color: $lightgrey !important;
// }