@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// BLOCKS
// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————



// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

.block {
	@include box-shadow($box-shadow-sm);
	@include border-radius($integer);
	overflow: hidden;
	background-color: $white;
	padding: $integer*2;
	color: $black;
	@include responsive(max-width, $tablet-max) {
		padding: $integer;
	}

	&__content {
		padding: $integer*2;
		@include responsive(max-width, $tablet-max) {
			padding: $integer;
		}
	}

	&__date {
		margin-bottom: $integer;
	}

	&__title {
        margin-bottom: $integer/2;
    }

	&__label {
		margin-top: $integer/4;
	}

    &__text {
        margin-bottom: $integer;
	}

	.section--primary & {

		.lead, .title {
			color: $primary;
		}
	}

	&--icon {
		padding-top: $integer*3;
		height: 100%;

		.block {

			&__icon {
				position: absolute;
				top: -$integer*2;
				left: 50%;
				margin-left: -$integer*2;
				width: $integer*4;
				height: auto;
			}
		}
	}

	&--image {
		padding: 0;
	}

	&--download {
		@include border-radius($integer/2);
		padding: $integer/2;
		border: 0 !important;
	}
}