@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// BLOCKS
// —————————————————————————————————————————————————————————————————
// general
// variants
// —————————————————————————————————————————————————————————————————



// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

.block {
    width: 100%;

    &__header {

        & + .block__content {
            margin-top: $integer-xl;
        }
    }

    &__title {

        & + .block__content {
            margin-top: $integer-xl;
        }
    }
}



// —————————————————————————————————————————————————————————————————
// variants
// —————————————————————————————————————————————————————————————————

