@charset "UTF-8";
 
// —————————————————————————————————————————————————————————————————
// CARDS
// —————————————————————————————————————————————————————————————————
// general
// sizes
// orientation
// layouts
// —————————————————————————————————————————————————————————————————



// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

.card {
    @include display-flex();
    @include flex-direction(column);
    position: relative;
    width: 100%;

    &__wrapper {
        margin-bottom: -$integer-md*2;

        .card {
            margin-bottom: $integer-md*2;
        }
    }

    &__wrapper--inline {
        @include display-flex();
        @include justify-content(center);
        margin-bottom: -$integer-lg;

        @include responsive(max-width, $desktop-max) {
            @include flex-wrap(wrap);
        }

        .card {
            padding-left: $integer;
            padding-right: $integer;
            margin-bottom: $integer-lg;
            max-width: $integer-max*2;

            @include responsive(max-width, $desktop-max) {
                max-width: $integer-max;
            }
        }
    }

    &__image {
        max-width: $integer-xxxxl;

        & + .card__inner,
        & + .card__header, 
        & + .card__title,
        & + .card__body {
            margin-top: $integer-md;
        }
    }

    &__inner {
        position: relative;
        padding: $integer-lg;

        & + .card__image {
            margin-top: $integer-md;
        }
    }

    &__content {

        & + .card__actions {
            margin-top: $integer-lg;
        }
    }

    &__label {

        & + .card__title,
        & + .card__header {
            margin-top: $integer;
        }
    }

    &__header {
        @include display-flex();
        @include align-items(center);
        @include justify-content(space-between);
        width: 100%;

        & + .card__image,
        & + .card__body,
        & + .card__meta {
            margin-top: $integer-md;
        }
    }

    &__title {

        & + .card__subtitle {
            margin-top: $integer;
        }

        & + .card__image,
        & + .card__body,
        & + .card__meta {
            margin-top: $integer-md;
        }

        & + .card__actions {
            padding-left: $integer-lg;
        }
    }

    &__subtitle {

        & + .card__image,
        & + .card__body,
        & + .card__meta {
            margin-top: $integer-md;
        }
    }

    &__body {

        & + .card__meta {
            margin-top: $integer-md;
        }
    }

    &__meta {

        & + .card__actions {
            margin-top: $integer-lg;
        }
    }

    &__actions {

    }
}



// —————————————————————————————————————————————————————————————————
// sizes
// —————————————————————————————————————————————————————————————————

.card {

    &--xs {

        .card {

            &__inner {
                padding: $integer-md;
            }

            &__content {

                & + .card__actions {
                    margin-top: $integer;
                }
            }
        }
    }

    &--sm {

        .card {

            &__inner {
                padding: $integer-md*1.5;
            }

            &__header {
                
                & + .card__image,
                & + .card__body,
                & + .card__meta {
                    margin-top: $integer;
                }
            }

            &__title {
        
                & + .card__image,
                & + .card__body,
                & + .card__meta {
                    margin-top: $integer;
                }
            }
            
            &__image {
            }
            
            &__meta {
            }
        }
    }

    &--lg {

        .card {

            &__image {
                max-width: $integer-xxxxl*2;

                & + .card__inner,
                & + .card__header, 
                & + .card__title,
                & + .card__body {
                    margin-top: $integer-lg;
                }
            }

            &__inner {
                padding: $integer-xxl;
            }
            &__content {

                & + .card__actions {
                    margin-top: $integer-lg;
                }
            }

            &__label {}
            &__header {

                & + .card__image,
                & + .card__body,
                & + .card__meta {
                    margin-top: $integer-lg;
                }
            }

            &__title {

                & + .card__subtitle {
                    margin-top: $integer-md;
                }
        
                & + .card__image,
                & + .card__body,
                & + .card__meta {
                    margin-top: $integer-lg;
                }
        
                & + .card__actions {
                    padding-left: $integer-xl;
                }
            }
        
            &__subtitle {
        
                & + .card__image,
                & + .card__body,
                & + .card__meta {
                    margin-top: $integer-lg;
                }
            }
        
            &__body {}
            &__meta {}
            &__actions {}
        }
    }
}



// —————————————————————————————————————————————————————————————————
// orientation
// —————————————————————————————————————————————————————————————————

.card {

    &--landscape {
        @include flex-direction(row);
        text-align: left;

        & + & {
            border-top: $border-sm $light-grey;
        }

        .card {
            
            &__image {
                @include display-flex();
                max-width: none;

                & + .card__inner,
                & + .card__header, 
                & + .card__title,
                & + .card__body {
                    margin-top: 0;
                }
        
                @include responsive(max-width, $mobile-max) {
                    display: none;
                }
            }

            &__inner {
                @include display-flex();
                @include justify-content(space-between);

                @include responsive(max-width, $tablet-max) {
                    @include flex-direction(column);
                }
        
                @include responsive(max-width, $mobile-max) {
                    @include flex-basis(100%);
                }
            }

            &__content {

                & + .card__actions {
                    margin-top: 0;
                    padding-left: $integer-md;
                }
            }
    
            &__actions {
                @include display-flex();
                @include flex-direction(column); 
                @include align-items(flex-end);

                .button + .button {
                    margin-top: $integer;
                }
            }
        }
    }

    &--portrait {
        text-align: left;

        .card { 

            &__image {
                height: $integer-xxxxl*2;
                max-width: none;
            }
        }
    }
}



// —————————————————————————————————————————————————————————————————
// layouts
// —————————————————————————————————————————————————————————————————

#about {

    .card__image {
        border-radius: $border-radius;
    }
}

#events,
#services,
#project {

    .card {

        &--landscape {
    
            .card {

                &__image {
                    @include flex-basis(33.333%);
                    max-width: none;

                    @include responsive(max-width, $mobile-max) {
                        display: none;
                    }
                }

                &__inner {
                    @include flex-basis(66.666%);

                    @include responsive(max-width, $tablet-max) {
                        @include flex-direction(column);
                    }

                    @include responsive(max-width, $mobile-max) {
                        @include flex-basis(100%);
                    }
                }
            }
        }
    }
}

#services {

    .card {

        &--landscape {

            .card {

                &__image {
                    padding: $integer-xxl;
                }
            }
        }
    }
}

#faq,
#join {

    .card {

        & + .card {
            border-top: $border-sm $medium-grey;
        }
    }
}

#media,
#projects {

    .card {

        &__icon {
            @include border-radius(50%);
            box-sizing: content-box;
            position: absolute;
            top: -$integer-lg;
            right: $integer-lg;
            height: $integer-lg;
            width: $integer-lg;
            border: $integer solid $white;
            padding: $integer;
            background-color: $primary;
            
            &--news             { background-color: $secondary; }
            &--press-release    { background-color: $highlight; }
            &--blog             { background-color: $primary; }
            &--videos           { background-color: $dark; }   
        }
    }
}

#project {

    &-summary {

        .card {
            @include transform(translateY(-$integer-xxxxl));
                
            &__image {
                padding: $integer-xl;
            }
        }
    }

    &-intro {
                
        .card--xsmall {
            @include display-flex();
            @include align-items(baseline);
            
            & + .card {
                border-top: $border-sm $medium-grey;
                padding-top: $integer-md;
            }
    
            > * {
                flex-basis: 50%;
                margin-top: 0;
            }    
        }
    }

    &-results {

        .card__image {
            height: $integer-max;
            max-width: $integer-xxxxl*1.5;
        }
    }
}

#projects {

    .card {

        &:before {
            @include pseudo-element('', 0, 0, 0, 0, 100%, 100%);
            @include transition(background-color $transition);
            will-change: background-color;
            background-color: rgba($dark, 0.7);
        }

        &--lg {

            &:before {
                @include background-image(linear-gradient(to right, $red, $primary));
                opacity: 0.8;
                background-color: transparent !important;
            }

            .card {

                &__actions {
                    margin-top: $integer-xl;
                }
            }
        }

        > * {
            position: relative;
        }

        &__inner {
            padding-top: $integer-xxxl;
            padding-bottom: $integer-xxxl;
        }

        &__content {
            @include transition(transform $transition);
            @include transform(translateY(25%));
            will-change: transform;

            @include responsive-mobile-devices() {
                @include transform(translateY(0) !important);
            }
            
        }

        &__label {
            @include transition(opacity $transition);
            will-change: opacity;
            opacity: 1;
        }

        &__body {
            overflow: hidden;

            span {

                @include transition(transform $transition);
                @include transform(translateY(-100%) scaleY(0.3));
                will-change: transform;
                display: block;
                
                @include responsive-mobile-devices() {
                    @include transform(translateY(0) scaleY(1) !important);
                }
            }
        }

        &__actions {
            @include transition(opacity $transition);
            @include align-items(flex-start);
            will-change: opacity;
            opacity: 0;

            @include responsive-mobile-devices() {
                opacity: 1 !important;
            }
        }

        &:hover {
            
            &:before {
                background-color: $dark;
            }
    
            .card {
                
                &__content {
                    @include transform(translateY(0));
                }
                
                &__label {
                    opacity: 0;
                }

                &__body span {
                    @include transform(translateY(0) scaleY(1));
                }

                &__actions {
                    opacity: 1;
                }
            }
        }
    }
}