@charset "UTF-8";
 
// —————————————————————————————————————————————————————————————————
// CARDS
// —————————————————————————————————————————————————————————————————
// general
// sizes
// —————————————————————————————————————————————————————————————————



// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

.card {

    &__title {

        & + .card__body {
            margin-top: $integer-md;
        }
    }
    
    &__image {
        border-radius: $border-radius;
        max-width: $integer-xxxxl;
        
        & + .card__title {
            margin-top: $integer-xl;
        }
    }

    &__meta {
        margin-top: $integer-md;
    }
}



// —————————————————————————————————————————————————————————————————
// sizes
// —————————————————————————————————————————————————————————————————

.card {

    &--small {

        .card {

            &__title {
        
                & + .card__body {
                    margin-top: $integer;
                }
            }
            
            &__image {
                
                & + .card__title {
                    margin-top: $integer-md;
                }
            }
            
            &__meta {
                margin-top: $integer;
            }
        }
    }
}