@charset "UTF-8";
 
// —————————————————————————————————————————————————————————————————
// CARDS
// —————————————————————————————————————————————————————————————————
// general
// sizes
// orientation
// layouts
// —————————————————————————————————————————————————————————————————



// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

.card {
    @include display-flex();
    @include flex-direction(column);
    padding: $integer-md*1.5;

    &__header {
        @include display-flex();
        @include justify-content(space-between);
        width: 100%;

        & + .card__content {
            margin-top: $integer-md;
        }
    }

    &__label {

        & + .card__title {
            margin-top: $integer;
        }
    }

    &__title {

        & + .card__body {
            margin-top: $integer-md;
        }
    }
    
    &__image {
        max-width: $integer-xxxxl;
        
        & + .card__title {
            margin-top: $integer-xl;
        }
    }

    &__content {
        position: relative;

        .card.no-padding & {
            padding: $integer-md*2;
        }
    }

    &__meta {
        margin-top: $integer-md;
    }
}



// —————————————————————————————————————————————————————————————————
// sizes
// —————————————————————————————————————————————————————————————————

.card {

    &--small {

        .card {

            &__title {
        
                & + .card__body {
                    margin-top: $integer;
                }
            }
            
            &__image {
                
                & + .card__title {
                    margin-top: $integer-md;
                }
            }
            
            &__meta {
                margin-top: $integer;
            }
        }
    }
}



// —————————————————————————————————————————————————————————————————
// orientation
// —————————————————————————————————————————————————————————————————

.card {

    &--landscape {
        @include flex-direction(row);
        text-align: left;

        & + & {
            border-top: 1px solid $medium-grey;
        }

        .card {
            
            &__image {
                max-width: none;

                @include responsive(max-width, $mobile-max) {
                    display: none;
                }
            }

            &__content {
                @include display-flex();
                @include justify-content(space-between);

                @include responsive(max-width, $tablet-max) {
                    @include flex-direction(column);
                }
        
                @include responsive(max-width, $mobile-max) {
                    @include flex-basis(100%);
                }
            }

            &__actions {
                @include display-flex();
                @include flex-direction(column); 
                @include align-items(flex-end);

                .button + .button {
                    margin-top: $integer;
                }
            }
        }
    }

    &--portrait {

        .card { 

            &__image {
                height: $integer-xxxxl*2;
                max-width: none;
            }
        }

        .card__actions {
            margin-top: $integer-lg;
        }
    }
}



// —————————————————————————————————————————————————————————————————
// layouts
// —————————————————————————————————————————————————————————————————

#about {

    .card__image {
        border-radius: $border-radius;
    }
}

#events {

    .card {

        &--landscape {
    
            .card {

                &__image {
                    @include flex-basis(33.333%);
                    max-width: none;

                    @include responsive(max-width, $mobile-max) {
                        display: none;
                    }
                }

                &__content {
                    @include flex-basis(66.666%);

                    @include responsive(max-width, $tablet-max) {
                        @include flex-direction(column);
                    }

                    @include responsive(max-width, $mobile-max) {
                        @include flex-basis(100%);
                    }
                }
            }
        }
    }
}

#faq,
#join {

    .card {

        & + .card {
            border-top: 1px solid $medium-grey;
        }
    }
}

#media {

    .card {
        margin-bottom: $integer-md;

        &__wrapper {
            margin-bottom: -$integer-md;
        }

        &__icon {
            @include border-radius(50%);
            box-sizing: content-box;
            position: absolute;
            top: -$integer-lg;
            right: $integer-lg;
            height: $integer-lg;
            width: $integer-lg;
            border: $integer solid $white;
            padding: $integer;
            background-color: $primary;
            
            &--news             { background-color: $secondary; }
            &--press-release    { background-color: $highlight; }
            &--blog             { background-color: $primary; }
            &--videos           { background-color: $dark; }   
        }
    }
}