@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// SECTIONS
// —————————————————————————————————————————————————————————————————
// general
// types
// colors
// alignement
// —————————————————————————————————————————————————————————————————



// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

.section {
	@include display-flex();
	@include flex-direction(column);
	position: relative;
	padding-left: 12.5vw;
	padding-right: 12.5vw;

	&__header {
	}

	&__comment {
	}

	&__title, 
	&__subtitle, 
	&__desc {

		.section__header--ap & {
			width: 100%;
		}
	}
	
	&__subtitle {
	}

	&__desc {
	}

	&__subheader {
		// check in k0.html for example
		@extend .section__header;
		margin-bottom: $integer*3;
	}

	&__content {
		@include display-flex();
		@include flex-wrap(wrap);
		justify-content: center;
	}

	&__filter {
        @include display-flex();
		@include justify-content(space-evenly);
		@include flex-wrap(wrap);
		margin-bottom: $integer*2;
	}

	&__link {
		margin-top: $integer*4;

		.link {

			&__title {
				margin-bottom: $integer;
			}
		}
	}
}



// —————————————————————————————————————————————————————————————————
// types
// —————————————————————————————————————————————————————————————————

.section {
	
	&--margin-minus {
		margin-top: -$integer-xxxl;
		padding-top: $integer-xxxl;
	
		@include responsive(max-width, $tablet-max) {
			margin-top: -$integer*8;
			padding-top: $integer*8;
		}
	}
}



// —————————————————————————————————————————————————————————————————
// colors
// —————————————————————————————————————————————————————————————————

.section {

	&--primary 	{ background-color: $primary; }
	&--dark 	{ background-color: $dark; }
	&--grey 	{ background-color: $lightgrey; }
	&--white 	{ background-color: $white; }

	&--primary, 
	&--dark 	{ 
		color: $white; 

		.form__input {
			color: $white;
		}
	}

	&--primary {

		.title, 
		.lead, 
		.label {
			color: $white;
		}
	}
}



// —————————————————————————————————————————————————————————————————
// alignement
// —————————————————————————————————————————————————————————————————

.section {

	&--left,
	&--right {

		[class*="coloffset--"] .section {
	
			&__title, &__subtitle, &__desc {
				width: 100%;
			}
		}
	}	

	&--left {
		@include align-items(flex-start);
		text-align: left;

		.section {

			&__header, &__content {
				@include align-items(flex-start);
			}
		}
	}

	&--right {
		@include align-items(flex-end);
		text-align: right;

		.section {
	
			&__header, &__content {
				@include align-items(flex-end);
			}
		}
	}
}