@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// SECTIONS
// —————————————————————————————————————————————————————————————————
// general
// types
// colors
// alignement
// —————————————————————————————————————————————————————————————————



// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

.section {
	@include display-flex();
	@include flex-direction(column);
	position: relative;
	text-align: center;
	padding: $integer*6 $col*2;
	@include responsive(max-width, $break-tablets-max) {
		padding-left: $col;
		padding-right: $col;
	}
	@include responsive(max-width, $break-tablets-max) {
		padding-top: $integer*4;
		padding-bottom: $integer*4;
	}

	&__header {
		@include display-flex();
		@include flex-direction(column);
		@include align-items(center);
		margin-bottom: $integer*4;

		@include responsive(max-width, $break-tablets-max) {
			margin-bottom: $integer*3;
		}
	}

	&__comment {
		margin-bottom: $integer*2;
		width: 100%;
	}

	&__title, &__subtitle, &__desc {
		width: 75%;

		@include responsive(max-width, $break-desktop-max) {
			width: 100%;
		}

		.section__header--ap & {
			width: 100%;
		}
	}
	
	&__subtitle {
		margin-top: $integer;
	}

	&__desc {
		margin-top: $integer;
	}

	&__subheader {
		// check in k0.html for example
		@extend .section__header;
		margin-bottom: $integer*3;
	}

	&__content {
		@include display-flex();
		@include flex-wrap(wrap);
		justify-content: center;
	}

	&__filter {
        @include display-flex();
		@include justify-content(space-evenly);
		@include flex-wrap(wrap);
		margin-bottom: $integer*2;
	}

	&__link {
		margin-top: $integer*4;

		.link {

			&__title {
				margin-bottom: $integer;
			}
		}
	}
}



// —————————————————————————————————————————————————————————————————
// types
// —————————————————————————————————————————————————————————————————

.section {
	
	&--header {
		@include align-items(center);
		position: relative;
		padding-top: $integer*10;

		> * {
			position: relative;
		}
	}

	&--col {
		padding-left: $col;
		padding-right: $col;

		.section__header {
			padding-right: $col;
			padding-left: $col;

			@include responsive(max-width, $break-tablets-max) {
				padding-right: 0;
				padding-left: 0;
			}
		}

		> .block {
			padding-right: $col;
			padding-left: $col;
		}
	}

	&--alt {
		padding-top: 0;
	}

	&--fullwidth {
		padding-left: $integer/2;
		padding-right: $integer/2;

		.section__header {
			padding-right: $col*2;
			padding-left: $col*2;

			@include responsive(max-width, $break-tablets-max) {
				padding-right: 0;
				padding-left: 0;
			}
		}
	}
	
	&--nopadding {
		padding: 0;
	}

	&--margin-minus {
		margin-top: -$integer*10;
		padding-top: $integer*10;

		@include responsive(max-width, $break-tablets-max) {
			margin-top: -$integer*8;
			padding-top: $integer*8;
		}
	}
}



// —————————————————————————————————————————————————————————————————
// colors
// —————————————————————————————————————————————————————————————————

.section {

	&--primary, &--dark {

		.form__input {
			color: $white;
		}
	}

	&--primary {
		background-color: $primary;
		color: $white;

		.title, .lead, .label {
			color: $white;
		}
	}

	&--dark {
		background-color: $dark;
		color: $white;
	}

	&--grey {
		background-color: $lightgrey;
	}

	&--white {
		background-color: $white;
	}
}



// —————————————————————————————————————————————————————————————————
// alignement
// —————————————————————————————————————————————————————————————————

.section {

	&--left {
		@include align-items(flex-start);
		text-align: left;

		[class*="coloffset--"] .section {

			&__title, &__subtitle, &__desc {
				width: 100%;
			}
		}

		.section {

			&__header, &__content {
				@include align-items(flex-start);
			}
		}
	}

	&--right {
		@include align-items(flex-end);
		text-align: right;

		[class*="coloffset--"] .section {

			&__title, &__subtitle, &__desc {
				width: 100%;
			}
		}

		.section {
	
			&__header, &__content {
				@include align-items(flex-end);
			}
		}
	}
}