@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// SECTIONS
// —————————————————————————————————————————————————————————————————
// general
// variants
// colors
// alignement
// layouts
// —————————————————————————————————————————————————————————————————



// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

.section {
	@include display-flex();
	@include flex-direction(column);
	position: relative;
	padding-left: $page;
	padding-top: $integer-xxxxl;
	padding-bottom: $integer-xxxxl;
	padding-right: $page;
	text-align: center;

	&__header {
		padding-right: $page;
		padding-left: $page;
	}

	&__comment {
	}

	&__subtitle {

		.section__title + & {
			margin-top: $integer-md;
		}
	}

	&__body {

		.section__title + & {
			margin-top: $integer-md;
		}

		.section__subtitle + & {
			margin-top: $integer-md;
		}
	}

	&__content {
		@include display-flex();
		@include align-items(center);
		@include flex-direction(column);
		@include flex-wrap(wrap);

		& + & {
			margin-top: $integer-xxl;
		}

		.section__header + & {
			margin-top: $integer-xxxl;
		}
	}
}



// —————————————————————————————————————————————————————————————————
// variants
// —————————————————————————————————————————————————————————————————

.section {

	&--full {
		padding: 0 !important;
		overflow: hidden;

		.section {

			&__header {
				padding-top: $integer-xxxxl;
				padding-right: $page*2;			
				padding-left: $page*2;
			}
		}
	}

	&--alt {
		padding-left: $page/2;
		padding-right: $page/2;
	}
	
	&--overlap {
		margin-top: -$integer-xxxxl*2;
		padding-top: $integer-xxxxl*2;
	}

	&__content {

		&--2 {
			@include display-flex();
			@include align-items(stretch);
			@include flex-direction(row);

			.card {
				width: 50%;
				position: relative;
				
				&__inner { 
					padding-top: 0;
					padding-bottom: $integer-xxxxl;
					position: relative;
				}

				&:nth-child(1),
				&:nth-child(2) {

					&:before {
						@include pseudo-element('', 0, 0, 0, 0, 100%, 100%);
					}
				}

				&:nth-child(1) {
					padding-left: $page;

					&:before {
						@include background-image(linear-gradient(to bottom, $primary, rgba($primary-lighten, 0.8)));
					}
				}

				&:nth-child(2) {
					padding-right: $page;

					&:before {
						@include background-image(linear-gradient(to bottom, $primary, rgba($primary-darken, 0.8)));
					}
				}

				@include responsive(max-width, $tablet-max) {
					background-image: none !important;
					background-color: $primary;
					padding-left: $col*3 !important;
					padding-right: $col*3 !important;
				}

				@include responsive(max-width, $mobile-max) {
					padding-left: $col*2 !important;
					padding-right: $col*2 !important;
				}
			}
		}
	}
}



// —————————————————————————————————————————————————————————————————
// colors
// —————————————————————————————————————————————————————————————————

.section {

	&--primary { 
		background-color: $primary; 

		& + & {
			padding-top: 0; 
			.section__header { padding-top: 0; } 
		}
	}

	&--dark { 
		background-color: $dark; 

		& + & {
			padding-top: 0; 
			.section__header { padding-top: 0; } 
		}
	}

	&--grey { 
		background-color: $light-grey; 

		& + & {
			padding-top: 0; 
			.section__header { padding-top: 0; } 
		}
	}

	&--white { 
		background-color: $white; 

		& + & {
			padding-top: 0; 
			.section__header { padding-top: 0; } 
		}
	}

	&--primary, 
	&--dark 	{ 
		color: $white; 

		.form__input {
			color: $white;
		}
	}

	&--primary {

		.title, 
		.lead, 
		.label {
			color: $white;
		}
	}
}



// —————————————————————————————————————————————————————————————————
// alignement
// —————————————————————————————————————————————————————————————————

.section {

	&--left {
		@include align-items(flex-start);
		text-align: left;

		.section {

			&__header, 
			&__content {
				@include align-items(flex-start);
				text-align: left;
			}
		}
	}

	&--right {
		@include align-items(flex-end);
		text-align: right;

		.section {
	
			&__header, 
			&__content {
				@include align-items(flex-end);
				text-align: right;
			}
		}
	}
}



// —————————————————————————————————————————————————————————————————
// layouts
// —————————————————————————————————————————————————————————————————

#join {

	.section--overlap {
		margin-top: -$integer-xxxxl*3;
	}
}

#join-header {

	&.section {
		padding-bottom: $integer-xxxxl+$integer-xxxl;
	}
}