@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// SITE
// —————————————————————————————————————————————————————————————————
// general
// responsive
// z-index
// hover classes
// overrides
// —————————————————————————————————————————————————————————————————

body.js-freeze {
	overflow: hidden;
}

img {
	// prevent images from stretching with flex
	@include align-self(center);
	width: 100%;
}



// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

* {
	@include box-sizing(border-box);
	outline: none;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.row {
	@include display-flex();
	@include flex-wrap(wrap);
	@include calc(width, '100% + '$integer-xl);
	margin-right: -$integer;
	margin-left: -$integer;

	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

.clear:after {
	content: '';
	display: block;
	clear: both;
}

[class*="col--"] {
	float: left;
	position: relative;
	padding: 0 $integer;
	width: 100%;
}

@for $i from 1 through 12 {
	.col--#{$i} 			{ width: $i*$col; }
	.coloffset--#{$i} 		{ margin-left: $i*$col; }
}

@include responsive(min-width, $mobile-min) {
	@for $i from 1 through 12 {
		.col--sm#{$i} 		{ width: $i*$col; }
		.coloffset--sm#{$i} { margin-left: $i*$col; }
	}
}

@include responsive(min-width, $tablet-min) {
	@for $i from 1 through 12 {
		.col--md#{$i} 		{ width: $i*$col; }
		.coloffset--md#{$i} { margin-left: $i*$col; }
	}
}

@include responsive(min-width, $desktop-min) {
	@for $i from 1 through 12 {
		.col--lg#{$i} 		{ width: $i*$col; }
		.coloffset--lg#{$i} { margin-left: $i*$col; }
	}
}

@include responsive(min-width, $desktop-lg-min) {
	@for $i from 1 through 12 {
		.col--xl#{$i} 		{ width: $i*$col; }
		.coloffset--xl#{$i} { margin-left: $i*$col; }
	}
}

// footer

@for $i from 1 through 15 {
	.colalt--#{$i} 				{ width: $i*$col-footer; }
	.colaltoffset--#{$i} 		{ margin-left: $i*$col-footer; }
}

@include responsive(min-width, $mobile-min) {
	@for $i from 1 through 15 {
		.colalt--sm#{$i} 		{ width: $i*$col-footer; }
		.colaltoffset--sm#{$i} 	{ margin-left: $i*$col-footer; }
	}
}

@include responsive(min-width, $tablet-min) {
	@for $i from 1 through 15 {
		.colalt--md#{$i} 		{ width: $i*$col-footer; }
		.colaltoffset--md#{$i} 	{ margin-left: $i*$col-footer; }
	}
}

@include responsive(min-width, $desktop-min) {
	@for $i from 1 through 15 {
		.colalt--lg#{$i} 		{ width: $i*$col-footer; }
		.colaltoffset--lg#{$i} 	{ margin-left: $i*$col-footer; }
	}
}

@include responsive(min-width, $desktop-lg-min) {
	@for $i from 1 through 15 {
		.colalt--xl#{$i} 		{ width: $i*$col-footer; }
		.colaltoffset--xl#{$i} 	{ margin-left: $i*$col-footer; }
	}
}

// embed responsively

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 

	iframe, object, embed { 
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%; 
		height: 100%; 
	}
}        

// text selection

::-moz-selection {
	background: $primary;
	color: $white;
}
::selection {
	background: $primary;
	color: $white;
}
::-moz-selection {
	background: $primary;
	color: $white;
}

// remove autocomplete from webkit browsers

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0px 1000px $white inset;
	@include transition(background-color $transition);
}

// lists

ul {
	list-style: disc;
}

// images

.background {
	
	&--cover {
		@include background(center center, cover);
	}

	&--shadow {
		@include box-shadow($box-shadow-sm);
		border-radius: $border-radius;
		overflow: hidden;
		background-color: $white;

		&.testimonials {
			overflow: visible;
		}
	}
}



// —————————————————————————————————————————————————————————————————
// responsive
// —————————————————————————————————————————————————————————————————

.hide {

	&--large-desktop { @include responsive(max-width, $desktop-max) { display: none !important; } }
	&--desktop { @include responsive(max-width, $desktop-max) { display: none !important; } }
	&--tablets { @include responsive(max-width, $tablet-max) { display: none !important; } }
	&--phones { @include responsive(max-width, $mobile-max) { display: none !important; } }
	&--touch { @include responsive-mobile-devices() { display: none !important; } }
}

.show {

	&--phones { @include responsive(min-width, $mobile-min) { display: none !important; } }
}



// —————————————————————————————————————————————————————————————————
// z-index
// —————————————————————————————————————————————————————————————————

.widget--news 			{ z-index: 9; }
.cookie				 	{ z-index: 10; }
.button--scroll-top 	{ z-index: 11; }
.header 				{ z-index: 12; }
.anchor 				{ z-index: 13; }
.userlike 				{ z-index: 14 !important; }
.modal 					{ z-index: 15; }

@for $i from 0 through 9 {
	.z-index--#{$i} { z-index: $i; }
}



// —————————————————————————————————————————————————————————————————
// hover classes
// —————————————————————————————————————————————————————————————————

.hover-grayscale {
	@include filter(grayscale(100%));
	@include transition(filter, $transition);
	will-change: filter;
	
	@include hover-link {
		@include filter(grayscale(0%));
	}
}



// —————————————————————————————————————————————————————————————————
// overrides
// —————————————————————————————————————————————————————————————————

.no-margin {
	margin: 0 !important;

	&--top { margin-top: 0 !important; }
	&--right { margin-right: 0 !important; }
	&--bottom { margin-bottom: 0 !important; }
	&--left { margin-left: 0 !important; }
}

.no-padding {
	padding: 0 !important;

	&--top { padding-top: 0 !important; }
	&--right { padding-right: 0 !important; }
	&--bottom { padding-bottom: 0 !important; }
	&--left { padding-left: 0 !important; }
}