<div class="card card--md card--project">
  <div class="card__media">
    <a href="{{ project.url }}" class="card__thumbnail background--cover" style="background-image: url('{{ site.base-url }}{{ site.imageurl }}/logos/clients/{{ project.slug }}.png');"></a>
  </div>
  <div class="card__header">
    <p class="card__label">{% for industry in project.industries %}{{ industry }}{% unless forloop.last %}, {% endunless %}{% endfor %}</p>
    <h2 class="card__title">
      <a href="{{ project.url }}">{{ project.title }}</a>
    </h2>
    <p class="card__subtitle">{{ project.subtitle }}</p>
  </div>
  <div class="card__content">
    <p>{{ project.summary }}</p>
  </div>
  {% if project.case_study == true or project.link %}
  <div class="card__actions">
    {% if project.case_study == true %}
    <a href="{{ project.url }}" class="button button--primary button--sm">Read</a>
    {% endif %}
    {% if project.link.url %}
    <a href="{{ project.link.url }}" target="_blank" rel="noopener" class="button button--primary button--text button--sm">
      {% if project.link.label %}{{ project.link.label }}{% else %}Visit website{% endif %}
      {% svg /assets/icons/feather/external-link.svg %}
    </a>
    {% endif %}
  </div>
  {% endif %}
</div>
