<div class="card card--md card--landscape card--event">
  <div class="card__media">
    <div class="card__thumbnail background--cover" style="background-image: url('{{ site.base-url}}{{ site.imageurl}}/{% if event.image %}events/{{ event.image }}{% else %}default.jpg{% endif %}');"></div>
  </div>
  <div class="card__content">
    <div class="card card--md card--transparent">
      <div class="card__header">
        <p class="card__label">
          {% if event.date_to %}{{ event.date | date: '%b %-d' }} to {{ event.date_to | date: '%b %-d, %Y' }}{% else %}{{ event.date | date: '%b %-d, %Y' }}{% endif %}
          {% if event.type %}<span class="ml-1 body--grey">{{ event.type }}</span>{% endif %}
        </p>
        <h3 class="card__title">{{ event.title }}</h3>
      </div>
      {% if event.subtitle %}
      <p class="card__content">{{ event.subtitle }}</p>
      {% endif %}
      {% if event.location %}
      <p class="card__content">{{ event.location }}</p>
      {% endif %}
      <div class="card__actions">
        <div class="button__wrapper">
          {% if event.website and event.recording != true %}
          <a href="{{ event.website }}" target="_blank" rel="noopener" class="button button--sm button--primary">
            Website
            {% svg assets/icons/feather/external-link.svg %}
          </a>
          {% endif %}
          {% if event.register and event.recording != true %}
          <a href="{{ event.register }}" class="button button--sm button--secondary">
            Register
            {% svg assets/icons/feather/external-link.svg %}
          </a>
          {% endif %}
          {% if event.directions %}
          <a href="{{ event.directions }}" class="button button--sm button--white">
            Directions
            {% svg assets/icons/feather/external-link.svg %}
          </a>
          {% endif %}
          {% if event.type == "Webinar" and event.recording == true %}
          <a href="{{ site.base-url }}{{ event.url }}" class="button button--sm button--primary">
            Link to recording
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% if event.type == "Webinar" and event.recording == true and event.speakers != nil %}
  <div class="card__content">
    <div class="grid__wrapper grid__spacing--1">
      {% for speaker in event.speakers %}
      <div class="grid__item">
        <div class="card card--xs card--transparent card--landscape card--portrait card--portrait-sm">
          <div class="card__media">
            <img src="{{ site.base-url }}{{ site.imageurl }}/team/portrait/{{ speaker.thumbnail }}" alt="Portrait of {{ speaker.name }}" class="card__thumbnail">
          </div>
          <div class="card__content">
            <p class="caption body--nowrap">{{ speaker.name }}</p>
            <p class="overline body--nowrap">{{ speaker.company }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
