<!-- capture post link -->
{% capture post_link %} 
{% if post.link.type == "pdf" %}
{{ site.base-url }}/assets/pdfs/{{ post.link.url }}
{% elsif post.link.type == "webinar" or post.link.type == "report"  %}
{{ site.base-url }}/{{ post.link.url }}
{% elsif post.link.type == "external" or post.link.type == "podcast" or post.link.type == "newsletter" %}
{{ post.link.url }}
{% else %}
{{ site.base-url }}{{ post.url }}
{% endif %} 
{% endcapture %}
<div class="card card--md card--post">
  <div class="card__media">
    <a href="{{ post_link | strip }}"{% if post.link.type == "external" or post.link.type == "pdf" or post.link.type == "podcast" or post.link.type == "newsletter" %} target="_blank" rel="noopener"{% endif %} class="card__thumbnail background--cover" style="background-image: url('{{ site.base-url }}{{ site.imageurl }}/{% if post.image %}posts/{{ post.image }}{% else %}default.jpg{% endif %}');"></a>
  </div>
  <div class="card__header">
    <div class="card__label">{{ post.date | date: "%b %-d, %Y" }} {{ post.category }}</div>
    <h2 class="card__title">
      <a href="{{ post_link | strip }}"{% if post.link.type == "external" or post.link.type == "pdf" or post.link.type == "podcast" or post.link.type == "newsletter" %} target="_blank" rel="noopener"{% endif %}>{{ post.title }}</a>
    </h2>
  </div>
  <div class="card__content">{{ post.subtitle | truncate: 250, "…" }}</div>
  <div class="card__actions">
    <a href="{{ post_link | strip }}"{% if post.link.type == "external" or post.link.type == "pdf" or post.link.type == "podcast" or post.link.type == "newsletter" %} target="_blank" rel="noopener"{% endif %} class="button button--primary button--sm">
      <!-- capture button label -->
      {% capture button_label %}
      {% if post.link.type == "pdf" %}
      Read pdf
      {% elsif post.link.type == "webinar" %}
      View recording
      {% elsif post.link.type == "podcast" %}
      Listen to podcast
      {% elsif post.link.type == "newsletter" %}
      Read newsletter
      {% elsif post.link.type == "report" %}
      Download report
      {% else %}
      {% if post.category == "Video" %}Watch{% else %}Read{% endif %}{% if post.link.type == "external" and post.link.source %} on {{ post.link.source | capitalize }}{% endif %}
      {% endif %}
      {% endcapture %}
      {{ button_label | strip }}
      {% if post.link.type == "external" or post.link.type == "podcast" or post.link.type == "newsletter" %}
      {% svg /assets/icons/feather/external-link.svg %}
      {% endif %}
    </a>
  </div>
</div>
