<div class="grid__wrapper grid__spacing--2 body--right">
  <div class="grid__item grid--ai-stretch">
    <p class="subtitle2">100% of attendees</p>
    <p>found the webinar useful</p>
  </div>
  <div class="grid__item grid--ai-stretch">
    <p class="subtitle2">100% of attendees</p>
    <p>would recommend to friends and colleagues</p>
  </div>
  <div class="grid__item grid--ai-stretch">
    <p class="subtitle2">What they say about it</p>
    <div class="owl-carousel owl-carousel-webinar">
      {% for quote in site.data.testimonials.webinars %}
      <p>{{ quote.quote }}</p>
      {% endfor %}
    </div>
</div>
</div>
    