<div class="card__wrapper">
    <div class="card">
        <p class="card__title body body--bold"><span class="quote">100% of attendees</span> <br>found the webinar useful</p>
    </div>
    <div class="card">
        <p class="card__title body body--bold"><span class="quote">100% of attendees</span> <br>would recommend to friends and colleagues</p>
    </div>
    <div class="card">
        <p class="body body--bold">What they say about it</p>
        <div class="body">
            {% include components/carousel.html 
                type = "text"
                variant = "webinar"
            %}                    
        </div>
    </div>
</div>