<div class="widget--news card card--xs card--portrait background--shadow body--black">
    <div class="card__inner">
        <div class="card__content">
            <p class="card__title body--bold">A Review of Next Generation Enterprise Blockchain Technology</p>
        </div>
        <div class="card__actions">
            <a href="https://appliedblockchain.com/download-next-gen-blockchains.html" target="_blank" class="card__actions button button--small button--secondary button--animate fas fa-eye">
                <p class="button__inner">Download Report</p>
            </a>
        </div>
    </div>
</div>
<!--
<div class="widget__header body--large body--bold">
    <img src="{{ site.url }}{{ site.imageurl }}/logos/clients-bis/shell.png" alt="" class="widget__logo">
    <p>Our parternship with Shell has come to fruition!</p>
</div>
<div class="widget__content">
    <div class="testimonial__image widget__portrait background--cover" style="background-image: url({{ site.url }}{{ site.imageurl }}/testimonials/ben-van-beurden.jpg);" alt="Portrait Ben Van Beurden"></div>
    <div>
        <img src="{{ site.url }}{{ site.imageurl }}/icons/quote-mark.svg" class="testimonial__mark">
        <p>“We did the first product derivative trade on blockchain together with <span class="body--bold">our partner Applied Blockchain</span>.” Ben van Beurden, <span class="body--bold">CEO at Shell</span></p>
        <a href="https://www.linkedin.com/feed/update/urn:li:activity:6466320319719186433" target="_blank" class="button button--small button--white button--animate fas fa-play">
            <p class="button__inner">Watch video</p>
        </a>
    </div>
</div>
-->
