@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// PAGE
// —————————————————————————————————————————————————————————————————
// header
// menu
// title
// footer
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// header
// —————————————————————————————————————————————————————————————————

.header {
	transition: height $transition, background-color $transition, box-shadow $transition, padding-top $transition, padding-bottom $transition;
	will-change: height, background-color, box-shadow, padding-top, padding-bottom;
	overflow: hidden;
	position: fixed;
	height: $integer-xxxl*2;
	width: 100vw;
	pointer-events: none;

	&__bar {
		transition: height $transition;
		display: flex;
		align-items: center;
		justify-content: space-between;
		will-change: height;
		height: $integer-xxxl*2;
		padding: 0 $page/2;

		.button + .button--menu {
			margin-left: $integer-md;
		}
	}

	&__logo {
		transition: height $transition, width $transition;
		will-change: height, width;
		width: $integer-max*1.5;
		pointer-events: initial;

		&.logo-white {

			.logo {
				
				&-icon-bg {
					fill: $white;
				}
	
				&-icon-color {
					fill: $primary;
				}
	
				&-name {
					fill: $white;
				}
			}
		}

		&.logo-name-white {

			.logo-name {
				fill: $white;
			}
		}
	}

	&__button {
		display: flex;
		margin-left: $integer;
	}

	&__contact {

		@include responsive(max-width, $mobile-max) {
			display: none !important;
		}
	}

	.button {
		pointer-events: initial;

		&--primary.alt {
			background-color: $white;
	
			.button__inner, &:before {
				color: $primary;
			}
		}
	}

	&__menu {
		@include calc(height, '100vh - '$integer*8);
		@include overflow-scroll();
		padding: 0  $page $integer-xl $page;
		pointer-events: initial;
	}

	&.js-scrolled {
		box-shadow: $box-shadow-md;
		height: $integer-xxxl;
		background-color: $white;
		
		.header {

			&__bar {
				height: $integer-xxxl;
			}
			
			&__logo {
				width: $integer-xxxxl*1.5;
			}
		}
	}

	&.js-opened {
		transition: height $transition, background-color $transition;
		will-change: height, background-color;
		height: 100vh;
		background-color: $white;

		.header {

			&__bar {
				height: $integer-xxxl*2;
			}

			&__logo {
				width: $integer-max*1.5;
			}
		}
	}

	&.js-scrolled, 
	&.js-opened {
		
		.logo {

			&-icon-bg {
				fill: $primary;
			}

			&-icon-color {
				fill: $white;
			}

			&-name {
				fill: $black;
			}
		}

		.button--menu {

			&:before, &:after, .button__inner {
				background-color: $black;
			}
		}

		.button--primary {
			background-color: $primary;
	
			.button__inner, &:before {
				color: $white;
			}
		}
	}
}

// —————————————————————————————————————————————————————————————————
// menu
// —————————————————————————————————————————————————————————————————

.menu {

	&__row {

		& + & {
			margin-top: $integer-xl;
		}
	}

	&__inner {
		display: flex;
		flex-wrap: wrap;
	}

	&__button {
		margin-bottom: $integer;
		
		.subtitle {
			padding: 0;
		}

		&:hover {

			.menu {

				&__description {

					span {
						transform: translateY(0);
					}
				}
			}
		}
	}

	&__description {
		width: 100%;
		overflow: hidden;
		white-space: nowrap;

		@include responsive-mobile-devices() {
			overflow: visible;
		}

		span {
			transition: transform $transition;
			transform: translateY(-100%);
			will-change: transform;
			display: block;

			@include responsive-mobile-devices() {
				transform: translateY(0);
			}
		}
	}

	&__newsletter {
		margin-top: $integer-xl;
	}
}

// —————————————————————————————————————————————————————————————————
// title
// —————————————————————————————————————————————————————————————————

.page {
	min-height: 100vh;

	&__header {
		background-position: top center !important;
		padding-top: $integer-xxxl*2;
		padding-right: 25vw;
		padding-bottom: $integer-xxxl;
		padding-left: 25vw;
		text-align: center;

		&:before {		
			@include pseudo-element('', 0, 0, 0, 0, 100%, 100%);
		}
	
		&.section--primary 	{ &:before { background-image: linear-gradient(to bottom, rgba($primary, 0.5), $primary); } }
		&.section--dark 	{ &:before { background-image: linear-gradient(to bottom, rgba($dark, 0.9), $dark); } }
		&.section--white 	{ &:before { background-image: linear-gradient(to bottom, rgba($white, 0.6), $white); } }
		&.section--grey 	{ &:before { background-image: linear-gradient(to bottom, rgba($light-grey, 0.6), $light-grey); } }

		> * {
			// display elements on top of gradient
			position: relative;
		}
	}

	&__logo {
		width: 50%;
		min-width: 350px;

		& + .page__comment,
		& + .page__title {
			margin-top: $integer-xl;
		}
	}

	&__comment {

		& + .page__title {
			margin-top: $integer-md;
		}
	}

	&__subtitle {

		.page__title + & {
			margin-top: $integer-lg;
		}
	}

	&__body {

		.page__title + & {
			margin-top: $integer-lg;
		}

		.page__subtitle + & {
			margin-top: $integer-lg;
		}
	}
}

// —————————————————————————————————————————————————————————————————
// footer
// —————————————————————————————————————————————————————————————————

.footer {
	text-align: left;
	margin-bottom: -$integer-xl;
	padding-bottom: $integer-max;

	&__row {
		margin-top: $integer-xl;
		margin-bottom: -$integer-xl;
	}

	.card {
		margin-bottom: $integer-xl;
	}

	&__logo {
		margin-bottom: $integer-xl;
	}

	.form__checkbox {
		margin-top: $integer-md;
	}

	&__button {
		display: block !important;
		margin-left: 0 !important;

		&:hover {
			color: $primary;
		}
	}
}