@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// PAGE
// —————————————————————————————————————————————————————————————————
// header
// menu
// title
// footer
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// header
// —————————————————————————————————————————————————————————————————

$headerHeight: $integer-xxxl;

.header {
	transition: height $transition, background-color $transition, box-shadow $transition, padding-top $transition, padding-bottom $transition;
	will-change: height, background-color, box-shadow, padding-top, padding-bottom;
	overflow: hidden;
	position: fixed;
	height: $headerHeight;
	width: 100vw;
	pointer-events: none;

	#contact-us {
		text-transform: initial !important;
		padding: 0.5rem;
	}

	&__mobile-menu-hamburger-btn {
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 0 0 2.4rem;
		width: 2.4rem;
		height: 2.4rem;
		margin-left: auto;
		padding: 0;
		outline: 0;
		border: 0;
		pointer-events: all;
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
		position: relative;

		&::before {
			content: '';
			display: block;
			width: 1.8rem;
			height: .1875rem;
			background-color: #000;
			box-shadow: 0 -.5rem 0 0 #000, 0 .5rem 0 0 #000;
		}

		&--open {
			&::before {
				content: '';
				display: block;
				width: 1.8rem;
				height: .1875rem;
				background-color: #000;
				transform-origin: center;
				transform: rotate(-45deg);
				box-shadow: none;
				position: absolute;
			}

			&::after {
				content: '';
				display: block;
				width: 1.8rem;
				height: .1875rem;
				background-color: #000;
				transform-origin: center;
				transform: rotate(45deg);
				position: absolute;
			}
		}

		@include responsive(max-width, $desktop-max) {
			display: flex;
		}
	}

	&__action-container {
		flex: 1;
		display: flex;
		justify-content: flex-start;

		@include responsive(max-width, $desktop-max) {
			display: none;
		}
	}

	&__actions {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: auto;
		
		.action {
			flex: 0 0 auto;
			margin: 0;
			padding: $integer-md;

			font-family: Chivo;
			font-size: 16px;
			font-weight: 400;
			line-height: 13px;
			letter-spacing: 0px;
			text-align: center;
		}

		.text-white {
			color: white;
		}

		.text-black {
			color: black;
		}
	}


	&__bar {
		transition: height $transition;
		display: flex;
		align-items: center;
		will-change: height;
		height: $integer-xxxl;
		padding: 0 $page/2;
		gap: 1rem;

		.button + .button--menu {
			margin-left: $integer-md;
		}
	}

	&__logo {
		transition: height $transition, width $transition;
		will-change: height, width;
		width: $integer-xxxxl*1.5;
		pointer-events: initial;

		& > a {
			display: flex;
			height: 100%;
			width: 100%;
			align-items: center;

			& > svg {
				height: 100%;
				width: 100%;
			}
		}

		&.logo-white {

			.logo {
				
				&-icon-bg {
					fill: $white;
				}
	
				&-icon-color {
					fill: $primary;
				}
	
				&-name {
					fill: $white;
				}
			}
		}

		&.logo-name-white {

			.logo-name {
				fill: $white;
			}
		}
	}

	&__button {
		display: flex;
		margin-left: $integer;
	}

	&__contact {
		background-color: #ff6f00;

		@include responsive(max-width, $mobile-max) {
			display: none !important;
		}
	}

	.button {
		pointer-events: initial;

		&--primary.alt {
			background-color: $white;
	
			.button__inner, &:before {
				color: $primary;
			}
		}
	}

	&__menu {
		@include calc(height, '100vh - '$integer*8);
		@include overflow-scroll();
		padding: 0  $page $integer-xl $page;
		pointer-events: initial;
	}

	&.js-scrolled {
		box-shadow: $box-shadow-md;
		height: $integer-xxxl;
		background-color: $white;
		
		.header {

			&__bar {
				height: $integer-xxxl;
			}
			
			&__logo {
				width: $integer-xxxxl*1.5;
			}
		}
	}

	&.js-opened {
		transition: height $transition, background-color $transition;
		will-change: height, background-color;
		height: 100vh;
		background-color: $white;

		.header {

			&__bar {
				height: $integer-xxxl*2;
			}

			&__logo {
				width: $integer-max*1.5;
			}
		}
	}

	&.js-scrolled, 
	&.js-opened {
		
		.logo {

			&-icon-bg {
				fill: $primary;
			}

			&-icon-color {
				fill: $white;
			}

			&-name {
				fill: $black;
			}
		}

		.button--menu {

			&:before, &:after, .button__inner {
				background-color: $black;
			}
		}

		.button--primary:not(.header__contact) {
			background-color: $white;
			border: 1px solid black;

			.button__inner, &:before {
				color: black;
			}
		}

		.header__actions .button:not(.header__contact) {
			color: black;
			&:hover {
				color: $primary;
			}
		}
	}
}

.mobile-menu {
	display: none;
	flex-direction: column;
	background-color: #0c1731;
	position: fixed;
	top: $headerHeight;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 20;
	justify-content: center;
	padding: 2rem 0;

	&__inner-container {
		display: flex;
		flex-direction: column;
		overflow-y: auto;
		align-items: stretch;
		flex: 1;
		gap: .4rem;

		.button.action {
			color: #fff;
			padding: .6rem 2rem;
			justify-content: flex-start;
			font-size: 1.4rem;
			margin: 0;
			font-weight: bold;
			min-height: 2.6rem;
			box-sizing: border-box;
		}

		.button-contact {
			background-color: #ff6f00;
			align-self: flex-start;
			font-size: 1.125rem;
			min-height: 1.625rem;
			font-weight: bold;
			padding: .25rem .6rem;
			box-sizing: border-box;

			& > p {
				padding: 0;
			}
		}
	}

	&__contact-button-container {
		padding: 2rem;
	}

	@include responsive(max-width, $desktop-max) {
		&--open {
			display: flex;
			pointer-events: all;
		}
	}
}

// —————————————————————————————————————————————————————————————————
// menu
// —————————————————————————————————————————————————————————————————

.menu {

	&__row {

		& + & {
			margin-top: $integer-xl;
		}
	}

	&__inner {
		display: flex;
		flex-wrap: wrap;
	}

	&__button {
		margin-bottom: $integer;
		
		.subtitle {
			padding: 0;
		}

		&:hover {

			.menu {

				&__description {

					span {
						transform: translateY(0);
					}
				}
			}
		}
	}

	&__description {
		width: 100%;
		overflow: hidden;
		white-space: nowrap;

		@include responsive-mobile-devices() {
			overflow: visible;
		}

		span {
			transition: transform $transition;
			transform: translateY(-100%);
			will-change: transform;
			display: block;

			@include responsive-mobile-devices() {
				transform: translateY(0);
			}
		}
	}

	&__newsletter {
		margin-top: $integer-xl;
	}
}

// —————————————————————————————————————————————————————————————————
// title
// —————————————————————————————————————————————————————————————————

.page {
	min-height: 100vh;

	&__header {
		background-position: top center !important;
		padding-top: $integer-xxxl*2;
		padding-right: 25vw;
		padding-bottom: $integer-xxxl;
		padding-left: 25vw;
		text-align: center;

		&:before {		
			@include pseudo-element('', 0, 0, 0, 0, 100%, 100%);
		}
	
		&.section--primary 	{ &:before { background-image: linear-gradient(to bottom, rgba($primary, 0.5), $primary); } }
		&.section--dark 	{ &:before { background-image: linear-gradient(to bottom, rgba($dark, 0.9), $dark); } }
		&.section--white 	{ &:before { background-image: linear-gradient(to bottom, rgba($white, 0.6), $white); } }
		&.section--grey 	{ &:before { background-image: linear-gradient(to bottom, rgba($light-grey, 0.6), $light-grey); } }

		> * {
			// display elements on top of gradient
			position: relative;
		}
	}

	&__logo {
		width: 50%;
		min-width: 350px;

		& + .page__comment,
		& + .page__title {
			margin-top: $integer-xl;
		}
	}

	&__comment {

		& + .page__title {
			margin-top: $integer-md;
		}
	}

	&__subheadline {

		.page__title + & {
			margin-top: $integer-md;
		}
	}

	&__subtitle {

		.page__title + & {
			margin-top: $integer-lg;
		}
	}

	&__body {

		.page__title + & {
			margin-top: $integer-lg;
		}

		.page__subtitle + & {
			margin-top: $integer-lg;
		}
	}
}

// —————————————————————————————————————————————————————————————————
// footer
// —————————————————————————————————————————————————————————————————

.footer {
	text-align: left;
	margin-bottom: -$integer-xl;
	padding-bottom: $integer-xxl;
	background: #0c1a3a;

	.card__title {
		color: #9BA6AD;

	}

	.card__body {
		margin-top: 0;
		a {
			margin-top: $integer-lg;
			@include responsive(max-width, $mobile-max) {
				margin-top: $integer-md;
			}
		}
	}

	&__row {
		margin-top: $integer-xxl;
		margin-bottom: -$integer-xl;
	}

	.card {
		margin-bottom: $integer-xl;
	}

	&__logo {
		margin-bottom: $integer-xl;
	}

	.form__checkbox {
		margin-top: $integer-md;
	}

	&__button {
		display: block !important;
		margin-left: 0 !important;

		&:hover {
			color: $primary;
		}
	}

	.footer-row {
		display: flex;
		align-items: top;
		justify-content: space-between;
		width: 100%;

		@include responsive(max-width, $mobile-max) {
			flex-flow: wrap;
			.card {
				flex-basis: 50% !important;
			}
		}
	}

	.footer-logo {
		display: flex;
		align-items: center;
		justify-content: start;
		width: 100%;
		gap: $integer-xxl;
		margin-bottom: $integer-lg;
	}
}

body.body--mobile-menu-open {
	@include responsive(max-width, $desktop-max) {
		overflow: hidden;
	}
}
