<div class="widget--news block">
    <div class="widget__header body--large body--bold">
        <img src="{{ site.url }}{{ site.imageurl }}/logos/clients-bis/shell.png" alt="" class="widget__logo">
        <p>Our parternship with Shell has come into fruition!</p>
    </div>
    <div class="widget__content">
        <img src="{{ site.url }}{{ site.imageurl }}/icons/quote-mark.svg" class="testimonial__mark">
        <p>“We did the first product derivative trade on blockchain together with our partner Applied Blockchain.” <span class="body--bold">Ben van Beurden</span>, CEO at Shell</p>
        <a href="https://www.linkedin.com/feed/update/urn:li:activity:6466320319719186433" target="_blank" class="button button--small button--highlight button--animate fas fa-play">
            <p class="button__inner">Watch video</p>
        </a>
    </div>
</div>