</div>

{% if page.layout == 'beyond' %}
{% include containers/page/footer-beyond.html %}
{% else %}
{% include containers/page/footer.html %}
{% endif %}


<!-- VENDOR JS -->
<!-- jquery -->
<script src="{{ site.url }}{{ site.resourceurl }}/vendor/jquery/jquery-3.3.1.min.js"></script>
<!-- owl carousel -->
<script src="{{ site.url }}{{ site.resourceurl }}/vendor/owlcarousel/owl.carousel.min.js"></script>
<!-- isotope (blog filter) -->
<script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.js"></script>

<!-- JAVASCRIPT -->
<script src="{{ site.url }}{{ site.resourceurl }}/js/anchor.js"></script>
{% if page.layout == 'post' %}
<script src="{{ site.url }}{{ site.resourceurl }}/js/blog.js"></script>
{% endif %}
<script src="{{ site.url }}{{ site.resourceurl }}/js/carousel.js"></script>
<script src="{{ site.url }}{{ site.resourceurl }}/js/filter.js"></script>
<script src="{{ site.url }}{{ site.resourceurl }}/js/script.js"></script>
<script src="{{ site.url }}{{ site.resourceurl }}/js/tabs.js"></script>

</body>
</html>