@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// BEYOND
// —————————————————————————————————————————————————————————————————
// typography
// page
// section
// button
// card
// input
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// typography
// —————————————————————————————————————————————————————————————————

#beyond {
  font-family: $font-beyond;
  font-weight: initial;
  
  .title {
    color: inherit;
  }
  
  .lead {
    font-weight: bold;
    color: $beyond-default;
  }
  
  .button__inner {
    font-family: $font-beyond;
    font-weight: bold;
  }
}

// —————————————————————————————————————————————————————————————————
// page
// —————————————————————————————————————————————————————————————————

.footer--beyond {
  background-color: $beyond-dark-grey; 
  color: $white;

  .footer {
    
    &__logo {
      display: flex;
      flex-direction: row;
      align-items: center;


      .body {
        margin-right: $integer-lg;
      }
    }
  }
}

// —————————————————————————————————————————————————————————————————
// section
// —————————————————————————————————————————————————————————————————

#beyond {
  
  .section {
    position: relative;
    
    &--landing {
      padding-top: $integer-max;
      padding-bottom: 0;
      background-color: $beyond-default;
    }
    
    &--grey {
      background-color: $beyond-light-grey;
    }

    &:last-child {
      padding-bottom: $integer-xxxxl;
    }

    &__header {

      + .section__content {
        margin-top: $integer-xxxxl;
      }
    }

    &__title {

      + .section__subtitle {
        margin-top: $integer-xl;
      }
    }

    &__subtitle {

      + .section__subtitle {
        margin-top: $integer-xxl;
      }
    }

    &__divider {
      position: absolute;
      width: 100vw;
      bottom: -$integer-max;
      z-index: -1;
      
      &--top {
        top: -$integer-max*1.5;
      }
    }
  }
}

// —————————————————————————————————————————————————————————————————
// button
// —————————————————————————————————————————————————————————————————

#beyond, 
.footer--beyond {

  .button {
    border-radius: $integer;

    &__inner {
      color: $white;
    }
  }

  .button--primary {
    transition: box-shadow $transition;
    background-color: $beyond-default;
    box-shadow: 0 0 $integer $beyond-default;
    
    &:hover {
      box-shadow: none;
    }    
  }
}

// —————————————————————————————————————————————————————————————————
// card
// —————————————————————————————————————————————————————————————————

#beyond {

  .card {
    background-color: $white;
    padding: $integer-md*1.5;
    border-radius: $integer-md;
    box-shadow: 0 0 $integer $white;

    &__title {

      + .card__subtitle {
        margin-top: $integer-md;
      }
    }
  }
}

// —————————————————————————————————————————————————————————————————
// input
// —————————————————————————————————————————————————————————————————

.footer--beyond {

  ::placeholder {
    color: $dark-grey;
    opacity: 1;
  }
  
  .form__input {
    border-radius: $integer !important;
    background-color: $white;
    border: 0;
  }
}