// —————————————————————————————————————————————————————————————————
// products
// webinars
// mantle
// services
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// products
// —————————————————————————————————————————————————————————————————

#products {

  .product__wrapper {

    @include responsive(down, $laptop-down) {
      flex-direction: column-reverse;
    }
  }

  .product__logo {
    max-height: $spacing*20;
    object-fit: contain;
    object-position: right;  

    @include responsive(down, $laptop-down) {
      max-width: $spacing*60;
      object-position: left;
    }
  }
}

// —————————————————————————————————————————————————————————————————
// webinars
// —————————————————————————————————————————————————————————————————

#webinars {

  .body--right {

    @include responsive(down, $laptop-down) {
      text-align: left;
    }
  }
}

// —————————————————————————————————————————————————————————————————
// mantle
// —————————————————————————————————————————————————————————————————

.mantle {

   &__diagram {

    @include responsive(down, $laptop-down) {
      display: none;
    }
  }
}

// —————————————————————————————————————————————————————————————————
// services
// —————————————————————————————————————————————————————————————————

#services {

  &-solutions {

    .card {

      &__inner {
        padding-right: $spacing*4;
        padding-left: $spacing*4;

        @include responsive-touch() {
          padding-top: 0;
          padding-bottom: $spacing*4;
        }

        @include responsive(down, $laptop-down) {
          padding-top: 0;
          padding-bottom: $spacing*4;
        }
      }

      &__image {
        transform: scale(3.5) translateY(1rem);
        transform-origin: center, top;
        transition: transform $transition;
        will-change: transform;
        max-width: $spacing*8;
        
        @include responsive-touch() {
          transform: scale(1) translateY(0);
        }

        @include responsive(down, $laptop-down) {
          transform: scale(1) translateY(0);
        }
      }

      &__title {
        transform: translateY(13rem);
        transition: transform $transition;
        will-change: transform;

        @include responsive-touch() {
          transform: translateY(0);
          margin-top: $spacing*2;
        }

        @include responsive(down, $laptop-down) {
          transform: translateY(0);
          margin-top: $spacing*2;
        }
      }

      &__body {
        transform: translateY(13rem);
        transition: opacity $transition, transform $transition;
        will-change: opacity, transform;
        opacity: 0;
        margin-top: $spacing*2;

        @include responsive-touch() {
          transform: translateY(0);
          opacity: 1;
        }

        @include responsive(down, $laptop-down) {
          transform: translateY(0);
          opacity: 1;
        }
      }

      @include hover {

        .card {

          &__image {
            transform: scale(1);
          }

          &__title {
            transform: translateY(0);
          }

          &__body {
            transform: translateY(0);
            opacity: 1;
          }
        }
      }
    }
  }

  &-stack {

    .body--right {

      @include responsive(down, $laptop-down) {
        text-align: left;
      }
    }
  }
}