// —————————————————————————————————————————————————————————————————
// join
// mantle
// services
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// join
// —————————————————————————————————————————————————————————————————

#join {

  ul {
    padding-left: $spacing*2;

    & + .body {
      margin-top: $spacing*2;
    }
  }

  li + li {
    margin-top: $spacing/2;
  }
    
  &-header {

    .section__header {
      z-index: 2;
    }
  }
}

.join {

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: opacity 0.8s ease 0s;

    &:before {
      @include pseudo-element('', 0, 0, 0, 0, 100%, 100%);
      background-color: rgba($primary, 0.5);
      z-index: 1;
    }

    &--london {
      @extend .join__background;
      @include background(bottom center, cover);
    }

    &--porto {
      @extend .join__background;
      @include background(center center, cover);
    }
  }
}

// —————————————————————————————————————————————————————————————————
// mantle
// —————————————————————————————————————————————————————————————————

.mantle {
  align-items: center;

   &__diagram {

  @include responsive(down, $laptop-down) {
       margin-top: $spacing*5;
     }
   }

   &__legend {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-self: stretch;
   }

   &__label {
     position: relative;
     padding-left: 50%;

     &:before {
       @include pseudo-element('', 50%, auto, auto, $spacing, 40%, 2px);
       position: absolute;
       background-color: rgba($white, 0.5);
     }
   }
}

// —————————————————————————————————————————————————————————————————
// services
// —————————————————————————————————————————————————————————————————

#services {

  &-solutions {

    .card {

      &__inner {
        padding-right: $spacing*4;
        padding-left: $spacing*4;

        @include responsive-touch() {
          padding-top: 0;
          padding-bottom: $spacing*4;
        }

        @include responsive(down, $laptop-down) {
          padding-top: 0;
          padding-bottom: $spacing*4;
        }
      }

      &__image {
        transform: scale(3.5) translateY(1rem);
        transform-origin: center, top;
        transition: transform $transition;
        will-change: transform;
        max-width: $spacing*8;
        
        @include responsive-touch() {
          transform: scale(1) translateY(0);
        }

        @include responsive(down, $laptop-down) {
          transform: scale(1) translateY(0);
        }
      }

      &__title {
        transform: translateY(13rem);
        transition: transform $transition;
        will-change: transform;

        @include responsive-touch() {
          transform: translateY(0);
          margin-top: $spacing*2;
        }

        @include responsive(down, $laptop-down) {
          transform: translateY(0);
          margin-top: $spacing*2;
        }
      }

      &__body {
        transform: translateY(13rem);
        transition: opacity $transition, transform $transition;
        will-change: opacity, transform;
        opacity: 0;
        margin-top: $spacing*2;

        @include responsive-touch() {
          transform: translateY(0);
          opacity: 1;
        }

        @include responsive(down, $laptop-down) {
          transform: translateY(0);
          opacity: 1;
        }
      }

      @include hover {

        .card {

          &__image {
            transform: scale(1);
          }

          &__title {
            transform: translateY(0);
          }

          &__body {
            transform: translateY(0);
            opacity: 1;
          }
        }
      }
    }
  }

  &-stack {

    .body--right {

      @include responsive(down, $laptop-down) {
        text-align: left;
      }
    }
  }
}