// —————————————————————————————————————————————————————————————————
// landing
// —————————————————————————————————————————————————————————————————

.landing {
  @include calc(min-height, '100vh - '$navbar-height);
  position: relative;
  display: flex;
  flex-direction: column;

  &__main {
    flex: 1;
    justify-content: center;

    .section {

      &__container {
        position: relative;
      }

      &__title {
        @extend .h0;
      }
      
      &__subtitle {
        @extend .h2;
      }
    }
  }

  &__banner.section {
    padding-top: $section-spacing-content/4;
    padding-bottom: $section-spacing-content/4;
  }

  &__bottom.section {
    padding-top: $section-spacing-content/2;
    padding-bottom: $section-spacing-content/2;
  }

  &__widgets {
    position: relative;

    > .grid__item {

      @include responsive(up, $laptop-up) {

        &:first-child {
          padding-right: $spacing*4;
        }
        
        &:last-child {
          padding-left: $spacing*4;
        }
      }
    }

    .divider {
      @include calc(height, '100% - '$spacing*4);
      top: 16px;
      left: 50%;

      @include responsive(down, $laptop-down) {
        position: initial;
        width: 100%;
        height: $spacing/2;
      }
    }
  }

  .gartner {
    position: absolute;
    top: 0;
    right: -$page-gutter;
    width: $spacing*30;
    z-index: 1;
  }
}

#index {

  &-why-us {

    .section__content {

      &:nth-child(even)  { .background--contain { background-position: 25% center; }}
      &:nth-child(odd)   { .background--contain { background-position: 75% center; }}

      .card {
        padding-top: $spacing*4;
        padding-bottom: $spacing*4;

        @include responsive(down, $mobile-down) {
          padding-top: 0;
          padding-bottom: 0;
        }
      }

      @include responsive(down, $mobile-down) {

        .body--right,
        .body--left {
          text-align: center;
        }
      }
    }
  }
}