@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// INDEX
// —————————————————————————————————————————————————————————————————

#landing {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    padding-top: 0;
    padding-bottom: $integer-xxl;
    background-repeat: no-repeat, no-repeat;
    background-position: right top calc(6rem + 1vh), right top 6rem;
    background-size: 20rem, 68vh;
    gap: 4rem;

    @include responsive(max-width, $desktop-max) {
        background-size: 0, 68vh;
    }

    .description-container {
        margin-top: $integer-xxxl + 2rem;
        max-width: 48rem;

        & > h1 {
            display: block;
            font-size: 4rem;
            line-height: 5rem;
            font-weight: 900;
            text-align: start;
            color: #017cff;

            @include responsive(max-width, $mobile-max) {
                font-size: 3rem;
                line-height: 4rem;
            }
        }
    }

    .page__header {
        padding-left: $page/2;
        padding-bottom: $integer-lg;
        padding-right: $page/2;
    }

    .section__content {
        position: relative;
        padding-top: 2rem;
        padding-bottom: $integer-xl;
        display: none;

        @include responsive(max-width, $mobile-max) {
            display: block;
        }
    }

    .section__organizations {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        &__title {
            text-align: center;
            font-size: 1.125rem;
            font-weight: 400;
            width: 100%;
        }

        &__icon-container {
            display: flex;
            flex-wrap: wrap;
            margin: 0 2rem;
            gap: 2rem;
            max-width: 60rem;
            justify-content: center;
        }

        &__icon {
            height: 3rem;
            flex: 0;
        }
    }

    .section__tile-container {
        display: flex;
        position: relative;

        @include responsive(max-width, $tablet-max) {
            display: block;
        }
    }

    .section__project-tile-container {
        flex: 5;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
        gap: 1rem;

        @include responsive(max-width, $tablet-max) {
            width: 100%;
            min-width: inherit;
            grid-template-columns: 1fr;
            margin-top: 1rem;
        }
    }

    .section__project-tile {
        background-color: #0c1731;
        color: #fff;
        border-radius: 10px;
        text-align: start;
        padding: 1.2rem 1.6rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &__icon {
            width: 1.375rem;
            height: 1.375rem;
            display: inline-block;
            margin-right: .4rem;
        }

        &__title {
            font-size: 1.375rem;
            display: flex;
            align-items: center;
            font-weight: 500;
            text-transform: uppercase;
        }

        &__description {
            font-size: .8125rem;
            flex: 1 0 5rem;
        }

        &__link {
            color: #017cff;
            font-weight: 400;
            font-size: .875rem;
            display: flex;
            align-items: center;
            cursor: pointer;

            & > svg {
                display: block;
                margin-left: .5rem;
                width: .875rem;
                height: .875rem;
            }
        }
    }

    .section--tags {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: start;
        flex: 4;
        gap: 1rem;

        @include responsive(max-width, $mobile-max) {
            width: 100%;
            min-width: inherit;
        }

        .section__tile {
            &__title {
                font-size: 1rem;
                font-weight: 400;
            }

            &__value {
                font-size: 3rem;
                font-weight: 400;
                color: #0062cc;
            }
        }
    }

    .partners--logo {
        position: absolute;
        top: 50%;
        left: 0;
        min-width: 220px;
        width: 10%;
        z-index: 1;
        transform: translateY(-50%);

        @include responsive-mobile-devices-landscape() {
            display: none;
        }
    }

    .page__header,
    .section__content,
    .widget__bar {
        pointer-events: none;
    }

    .button {
        pointer-events: initial;
    }

    .title-container {
        width: 100%
    }
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    @include responsive-mobile-devices() {
        display: none;
    }
}

#index {

    &-intro {
        background-size: 50%;
        background-position: -20% 30%;
    }

    &-why-us {

        .section__content {

            &:nth-child(even)    { .background--contain { background-position: 25% center; }}
            &:nth-child(odd)   { .background--contain { background-position: 75% center; }}

            .card {
                padding-top: $integer-lg;
                padding-bottom: $integer-lg;

                @include responsive(max-width, $mobile-max) {
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }

            @include responsive(max-width, $mobile-max) {

                .body--right,
                .body--left {
                    text-align: center;
                }
            }
        }
    }

    &-testimonials {

        &.section--overlap {

            @include responsive(max-width, $mobile-max) {
                margin-top: 0;
                padding-top: $integer-xxxl;
            }
        }
    }
    
    &-featured-in {
        
        @include responsive(max-width, $mobile-max) {
            
            .col--6 {
                width: 50% !important;
            }
        }
    }

    &-stay-in-touch {
        display: flex;

        background: #0c1a3a;

        @include responsive(max-width, $mobile-max) {
            .row {
                gap: 32px;
            }
        }

        .announcements {
            margin-top: $integer-lg;
            margin-bottom: $integer-md;
            padding-right: $integer-lg;
        }

        .action {
            margin-top: $integer-lg;
        }

        #read-reviews-btn {
            color: white;
            background: #0c1a3a;
            border: 1px solid white;
        }

        .social {
            display:flex;
            gap: $integer-md;
        }

        .button--icon {
            background-color: white;
            color: #0c1a3a;
        }

        .newsletter-form {
            #subscribe-btn {
                color: #0c1a3a;
            }
        }
    }
    &-stay-in-touch::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        width: 75%;
        left: 12.5%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
}

#thought-leadership {
    background-color: #f8fcff;
    padding-left: 1rem;
    padding-right: 1rem;

    .title {
        color: #4a4d52;
        padding-bottom: 4rem;
    }

    .cards-container {
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
        position: relative;
    }

    .cards-inner-container {
        $minCardWidth: 20rem;

        width: calc(100% - 2rem);
        max-width: $minCardWidth * 3 + 1rem * 2 + 2rem * 2;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax($minCardWidth, 1fr));
        gap: 2rem;
    }

    .card {
        background-color: #fff;
        box-shadow: 0px 4px 24px 0px rgba(74, 77, 82, 0.02);
        height: 30rem;
        text-align: start;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        position: relative;
        border-radius: 8px;
        overflow: hidden;

        &:hover {
            box-shadow: 0px 4px 24px 0px rgba(74, 77, 82, 0.15);
        }

        &__thumbnail {
            display: block;
            width: 100%;
            aspect-ratio: 16/9;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &__title {
            font-weight: bold;
            font-size: 1rem;
            color: #4a4d52;
        }

        &__description {
            font-weight: 400;
            font-size: .825rem;
            color: #4a4d52;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        &__content {
            padding: 1.5rem;
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: .6rem;
        }

        &__actions-container {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            padding: 1.5rem;

            .button {
                color: #fff;
                background: linear-gradient(270deg, #017cff, #419dff);
                font-weight: 500;
                font-size: .825rem;
            }

            .button-video {
                color: #419dff;
                font-weight: 500;
                font-size: .825rem;
                display: flex;
                align-items: center;
                gap: .5rem;

                & > svg {
                    width: .825rem;
                    height: .825rem;
                }
            }
        }
    }
}

#core-expertise {
    background-color: #0B1B3A;
    min-height: 100vh;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    .section__comment {
        color: #007bff;
        font-weight: 400;
    }

    .section__title {
        color: white;
        margin-top: 10px;
    }
}