@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// INDEX
// —————————————————————————————————————————————————————————————————

#landing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    position: relative;
    padding-top: 0;
    padding-bottom: $integer-xxl;

    &:before {
        @include pseudo-element('', 0, 0, 0, 0, 100%, 100%);
        background-image: linear-gradient(to bottom, rgba($primary, 0.7), $primary);
    }

    .page__header {
        padding-left: $page/2;
        padding-bottom: $integer-lg;
        padding-right: $page/2;
    }

    .section__content {
        position: relative;
        padding-bottom: $integer-xxxl*1.5;
    }

    .section--tags {
        margin-top: 0;
        padding-top: 0;
        color: white;
        font-size: 1rem;
        margin-top: 2rem;

        .tag__number {
            font-size: 3rem;
            font-weight: bold
        }

        @include responsive(max-width, $mobile-max) {
            display: none;
        }
    }

    .partners--logo {
        position: absolute;
        top: 50%;
        left: 0;
        min-width: 220px;
        width: 10%;
        z-index: 1;
        transform: translateY(-50%);

        @include responsive-mobile-devices-landscape() {
            display: none;
        }
    }

    .page__header,
    .section__content,
    .widget__bar {
        pointer-events: none;
    }

    .button {
        pointer-events: initial;
    }

    .title-container {
        width: 100%
    }
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    @include responsive-mobile-devices() {
        display: none;
    }
}

#index {

    &-intro {
        background-size: 50%;
        background-position: -20% 30%;
    }

    &-why-us {

        .section__content {

            &:nth-child(even)    { .background--contain { background-position: 25% center; }}
            &:nth-child(odd)   { .background--contain { background-position: 75% center; }}

            .card {
                padding-top: $integer-lg;
                padding-bottom: $integer-lg;

                @include responsive(max-width, $mobile-max) {
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }

            @include responsive(max-width, $mobile-max) {

                .body--right,
                .body--left {
                    text-align: center;
                }
            }
        }
    }

    &-testimonials {

        &.section--overlap {

            @include responsive(max-width, $mobile-max) {
                margin-top: 0;
                padding-top: $integer-xxxl;
            }
        }
    }
    
    &-featured-in {
        
        @include responsive(max-width, $mobile-max) {
            
            .col--6 {
                width: 50% !important;
            }
        }
    }

    &-stay-in-touch {
        display: flex;

        background: linear-gradient(270deg, #017CFF 1.67%, #419DFF 99.06%);

        @include responsive(max-width, $mobile-max) {
            .row {
                gap: 32px;
            }
        }

        .announcements {
            margin-top: $integer-md;
            margin-bottom: $integer-md;
            padding-right: $integer-lg;
        }

        .button--icon {
            background-color: white;
            color: #419DFF;
        }

        .newsletter-form {
            width: 85%;
            display: flex;
            flex-direction: column;
            gap: $integer-md;

            input {
                border-radius: 35px;
                border: 1px solid #FFFFFF;
                background-color: transparent;
                padding: 0.5rem 1rem;
                font-size: 1.2rem;
                color: white;
                font-weight: 400;
                font-family: 'Inter', sans-serif;
                transition: all 0.2s ease-in-out;
            }

            #newsletter-email {
                margin-top: $integer-md;
            }

            #newsletter-name {
                margin-bottom: $integer-md;
            }
        }
    }
}

#core-expertise {
    background-color: #0B1B3A;
    min-height: 100vh;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    .section__comment {
        color: #007bff;
        font-weight: 400;
    }

    .section__title {
        color: white;
        margin-top: 10px;
    }
}