@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// POSTS
// —————————————————————————————————————————————————————————————————

.post {

    &__header {
        background-attachment: fixed;

        &:before {
            @include pseudo-element('', 0, 0, 0, 0, 100%, 100%);
            background-color: rgba($primary, 0.8);
            background-image: none;
        }

        > * {
            position: relative;
        }
    }

    &__button {
        @include responsive(max-width, $tablet-max) {
            display: none !important;
        }
    }

    &__relink {
        margin-top: -40px;
        margin-bottom: 60px;
        color: $primary;
        display: block;
    }

    &__content {

        .lead + & {
            margin-top: $integer-xxl;
        }

        h1 {
            & + h2 { margin-top: $integer-xl; }
            & + p,
            & + ol,
            & + ul { margin-top: $integer-lg; }
        }

        h2 {
            & + h1 { margin-top: $integer-xxl; }
            & + p,
            & + ol,
            & + ul { margin-top: $integer-md; }
        }

        p, ol, ul {

            & + h1 { margin-top: $integer-xxl; }
            & + h2 { margin-top: $integer-xl; }
            & + p,
            & + ul,
            & + ol { margin-top: $integer-md; }
            & + blockquote { margin-top: $integer-lg; }
        }

        li {

            ul,
            ol { margin-top: $integer-md; }
        }

        blockquote {
            & + h1 { margin-top: $integer-xxl; }
            & + h2 { margin-top: $integer-xl; }
            & + p,
            & + ol,
            & + ul { margin-top: $integer-lg; }
            & + blockquote { margin-top: $integer-lg; }
        }

        ol { list-style: decimal; }
        ul { list-style: disc; }

        hr {
            margin: $integer-xxl 0;
            border: $border-sm $medium-grey;
        }

        a {
            transition: color $transition;
            will-change: color;

            &:hover {
                color: $primary;                
            }
        }
        
        blockquote {
            position: relative;
            padding-left: $integer-xl;
            
            &:before {
                @include pseudo-element('', 0, auto, 0, 0, 5px, 100%);
                border-radius: 5px;
                background-color: $medium-grey;
            }
        }
        
        a {
            text-decoration: underline;
            
            &.button {
                text-decoration: none;
            }
        }
        
        strong {
            font-weight: $font-bold;
        }
        
        em {
            font-style: italic;
        }

        img {
            border-radius: $integer;
        }
    }
}