@charset "UTF-8";
 
// —————————————————————————————————————————————————————————————————
// PROJECTS
// —————————————————————————————————————————————————————————————————

#project {

  .title {

    @include responsive(down, $laptop) {
      margin-bottom: $spacing*4;
    }

    h1 {
      display: inline-block;
    }
  } 
  
  &-summary,
  &-delivery {
    position: relative;
    background-attachment: fixed;

    @include responsive-touch() {
      background-attachment: initial;
      background-size: cover;
    }
    
    &:before {
      @include pseudo-element('', 0, 0, 0, 0, 100%, 100%);
      background-color: rgba($white, 0.9);
      background-blend-mode: multiply;
    }
  }

  &-summary {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: $spacing*15;

    & + #project-delivery {
      padding-top: 0;
      
      @include responsive-touch() {
        background-image: none !important;
        padding-top: $spacing*10;
      }  
    }
  }

  &-challenge {
  
    img {

      @include responsive(down, $tablet) {
        display: none;
      }
    }
  }

  &-results {

    &.section {
      text-align: center;    
    }
  }
}