@charset "UTF-8";
 
// —————————————————————————————————————————————————————————————————
// PROJECTS
// —————————————————————————————————————————————————————————————————

#project {

  .title {

    @include responsive(max-width, $desktop-max) {
      margin-bottom: $integer-lg;
    }

    h1 {
      display: inline-block;
    }
  } 
  
  &-summary,
  &-delivery {
    position: relative;
    background-attachment: fixed;

    @include responsive-mobile-devices() {
      background-attachment: initial;
      background-size: cover;
    }
    
    &:before {
      @include pseudo-element('', 0, 0, 0, 0, 100%, 100%);
      background-color: rgba($white, 0.9);
      background-blend-mode: multiply;
    }
  }

  &-summary {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: $integer-xxxxl;

    & + #project-delivery {
      padding-top: 0;
      
      @include responsive-mobile-devices() {
        background-image: none !important;
        padding-top: $integer-xxxl;
      }  
    }
  }

  &-results {

    &.section {
      text-align: center;    
    }
  }
}

.watr-image {
  margin-top: 1rem;
  display: block;
  width: 540px;
  height: 303px;
  box-shadow: 0 0 10px 0 rgba(22,22,86,0.15);
  border-radius: 1.5rem;
  overflow: hidden;
}

.projects__video {
  margin: 0 auto 80px auto;
  width: 818px;
  height: 460px;
  @include responsive-mobile-devices(){
    width: 95%;
    height: 100%;
  }
}