#report {
    @include background(center center, cover);
    min-height: 100vh;
    
    .section {
        background-color: transparent;

        &:before {
            background-image: none;
        }
    }
}
