@charset "UTF-8";

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

// —————————————————————————————————————————————————————————————————
// INTERNET EXPLORER
// —————————————————————————————————————————————————————————————————
// elements / includes / acccordions
// elements / includes / structure
// —————————————————————————————————————————————————————————————————
// layouts / about
// layouts / index
// layouts / mantle
// layouts / products
// layouts / services
// —————————————————————————————————————————————————————————————————



// —————————————————————————————————————————————————————————————————
// elements / includes / acccordions
// —————————————————————————————————————————————————————————————————

.accordion__button .fa {
    @include transform(translateX(-7px));
}



// —————————————————————————————————————————————————————————————————
// elements / includes / structure
// —————————————————————————————————————————————————————————————————

// make header buttons work in ie
.header {
    pointer-events: auto !important;
}

.graphic {

    &--greyscale {
        display: none;
    }
}



// —————————————————————————————————————————————————————————————————
// layouts / about
// —————————————————————————————————————————————————————————————————

.timeline {

    &__text {
        @include flex-basis(auto);
        width: 100%;
    }

    &__icon {
        @include flex-basis(auto);
    }
}



// —————————————————————————————————————————————————————————————————
// layouts / index
// —————————————————————————————————————————————————————————————————

.landing {
    padding-top: $integer-xxxl;
    padding-bottom: 0;
}

.logo-media {
    height: 40%;
}



// —————————————————————————————————————————————————————————————————
// elements / includes / mantle
// —————————————————————————————————————————————————————————————————

#mantle {

    .section__content {
        width: 100%;
    }
}

.mantle {
    
    &__label {

        & + & {
            margin-top: 25%;
        }
    }
}



// —————————————————————————————————————————————————————————————————
// layouts / products
// —————————————————————————————————————————————————————————————————

.products {

    &__intro {
        display: block;
    }

    &__container {
        height: 400px;
    }

    &__item {
        display: inline-block;
    }
}

.devtools__image {
    max-height: none;
}



// —————————————————————————————————————————————————————————————————
// layouts / products
// —————————————————————————————————————————————————————————————————

.portfolio {

    &--featured {

        .portfolio {

            &__item {
                height: 400px;
            }
        }
    }
}



// —————————————————————————————————————————————————————————————————
// layouts / services
// —————————————————————————————————————————————————————————————————

.approach {

    &__filter {
        padding: 0 $integer;
    }

    &__button {
        width: 25%;
        white-space: nowrap;

        &:hover:before, &.tab__button--active:before {
            width: 80%;
            left: 10%;
        }
    }

    &__content {
        @include flex-basis(50%);
    }

    &__icon {
        width: 30%;
        height: 30%;
    }
}



// —————————————————————————————————————————————————————————————————

}