@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// RESPONSIVE
// —————————————————————————————————————————————————————————————————
// structure
// —————————————————————————————————————————————————————————————————



// —————————————————————————————————————————————————————————————————
// structure
// —————————————————————————————————————————————————————————————————

@include responsive(max-width, $desktop-lg-max) {

    .page__header,
    .section--full .section__header {
		padding-right: $page;
		padding-left: $page;
    }
    
    .section__header {
		padding-right: 0;
		padding-left: 0;
	}
}

@include responsive(max-width, $desktop-max) {

	.header__menu,
	.page__header,
    .section,
    .section--full .section__header {
		padding-right: 10vw;
		padding-left: 10vw;
    }

    .section--alt {
        padding-right: 5vw;
		padding-left: 5vw;
    }
}

@include responsive(max-width, $tablet-max) {

	.header__menu,
	.page__header,
    .section,
    .section--full .section__header {
		padding-right: $page/2;
		padding-left: $page/2;
	}

    .section--alt {
        padding-right: $page/4;
		padding-left: $page/4;
    }
}

@include responsive(max-width, $mobile-max) {

	.row {
		margin-right: 0;
		margin-left: 0;
		width: 100%;
	}
	
	[class*="col--"] {
		padding-right: 0 !important;
		padding-left: 0 !important;
		width: 100% !important;
	}
	
	[class*="coloffset--"] {
		@include transform(none);
		margin-left: 0 !important;
		width: 100% !important;
	}

	.header__menu,
    .page__header,
    .section,
    .section--full .section__header,
    .section--alt {
		padding-right: $integer-md;
		padding-left: $integer-md;
	}
}