@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// RESPONSIVE
// —————————————————————————————————————————————————————————————————
// structure
// —————————————————————————————————————————————————————————————————



// —————————————————————————————————————————————————————————————————
// structure
// —————————————————————————————————————————————————————————————————

@include responsive(max-width, $desktop-lg-max) {

    .page__header {
		padding-right: 12.5vw;
		padding-left: 12.5vw;
	}
}

@include responsive(max-width, $desktop-max) {

    .page__header,
	.section {
		padding-right: 10vw;
		padding-left: 10vw;
	}
}

@include responsive(max-width, $tablet-max) {

    .page__header,
	.section {
		padding-right: 6.25vw;
		padding-left: 6.25vw;
	}
}

@include responsive(max-width, $mobile-max) {

	.row {
		margin-right: 0;
		margin-left: 0;
		width: 100%;
	}
	
	[class*="col--"] {
		padding-right: 0 !important;
		padding-left: 0 !important;
		width: 100% !important;
	}
	
	[class*="coloffset--"] {
		@include transform(none);
		margin-left: 0 !important;
		width: 100% !important;
	}

    .page__header,
	.section {
		padding-right: $integer-md*2;
		padding-left: $integer-md*2;
	}
}