<!-- TODAY'S EVENT (EVENT ) -->
{% for event in site.data.events %}
{% capture now %} {{'now' | date: '%d' | plus: 0 }} {% endcapture %} <!-- capture today's date -->
{% capture date %} {{ event.date | date: '%d' | plus: 0 }} {% endcapture %} <!-- capture event date -->
{% if date == now %}
    <section class="section">

        <!-- edit component in _includes/components/section-header.html -->
        {% include containers/sections/header.html
            title='On today'
        %}
        
        <div class="block event">
            <!-- edit data in _data/events.yml -->
            {% for event in site.data.events %}
                {% capture now %} {{'now' | date: '%d' | plus: 0 }} {% endcapture %} <!-- capture today's date -->
                {% capture date %} {{ event.date | date: '%d' | plus: 0 }} {% endcapture %} <!-- capture event date -->
                {% if date == now %}
                    <!-- edit component in _includes/components/event.html -->
                    {% include components/event.html %}
                {% endif %}
            {% endfor %} 
        </div>
        
    </section>
{% endif %}
{% endfor %} 



<!-- HIRING AND NEWS WIDGETS -->
<div class="landing__widget widget block">
    <div class="widget--hiring">
        <div class="widget__header">
            <p class="lead">We are hiring</p>
            <a href="{{ site.url }}/join" class="button button--small button--highlight button--animate fas fa-user-plus">
                <p class="button__inner">See our vacancy list</p>
            </a>
        </div>
    </div>
    <div class="widget--news">
        <div class="widget__header">
            <p class="lead">Latest news</p>
            <a href="{{ site.url }}/media" class="button button--small button--primary-lighten button--animate fas fa-plus">
                <p class="button__inner">Read more</p>
            </a>
        </div>
        <div class="widget__content news__content owl-carousel owl-carousel-news">
            {% for post in site.posts limit: 3 %}
                <p class="">{{ post.title | truncate: 100, "…" }}</p>
            {% endfor %}
        </div>
    </div>
</div>



<!-- GRAPHIC BACKGROUND -->
<div class="landing__background">
    <span class="graphic landing__graphic--lines">
        <!-- edit component in _includes/elements/graphic-lines.svg -->
        {% include mixins/graphic-lines.svg %}
    </span>
    <span class="graphic landing__graphic--circle">
        <!-- edit component in _includes/elements/graphic-circle.svg -->
        {% include mixins/graphic-circle.svg %}
    </span>
</div>



<!-- COBALT SECTION (on product page) -->
<section class="section section--grey">

    <!-- edit component in _includes/components/section-header.html -->
    {% include containers/sections/header.html
        title='Developer Tools'
    %}

    <div class="section__content devtools">
        <div class="row devtools__item">
            <div class="coloffset--lg1 col--lg3 col--md4">
                <img src="{{ site.url }}{{ site.imageurl }}/logos/products/cobalt.svg" alt="Cobalt icon" class="devtools__image">
            </div>
            <div class="coloffset--md1 col--lg6 col--md7">
                <h2 class="devtools__title block__title subtitle">Cobalt</h2>
                <p class="block__text">Cobalt is a fast, light-weight Ethereum development and testing library that saves developers valuable time when modifying, testing and deploying their dApps.
                    <br><br>Cobalt uses instant compilation, the same APIs in development and production code as well as straight-forward deployment without migrations.
                    <br><br>It is available on open-source, so go and try it out for yourself.
                </p>
                <a href="https://github.com/appliedblockchain/cobalt" target=_blank class="ga-button-cobalt button button--primary button--animate fab fa-github">
                    <p class="button__inner">Try it for yourself</p>
                </a>
            </div>
        </div>
    </div>

</section>
