<!-- why is section index.html -->
<section class="section section--margin-minus section--primary" id="why-us">
    {% include containers/sections/header.html
        comment='Why us'
        title='A Global Specialist in Applications of Advanced Cryptography'
    %}
    <div class="section__content why-us">
        <div class="row">
            <div class="why-us__item">
                <div class="coloffset--lg1 col--lg4 col--md3 why-us__image"> 
                    <img src="{{ site.url }}{{ site.imageurl }}/icons/index/thought-leader.png" alt="">
                </div>
                <div class="col--xl5 coloffset--lg1 col--lg6 coloffset--md1 col--md8">
                    <p class="block__title lead">Thought Leaders</p>
                    <p>We contribute to global industry events and whitepapers, with keynote presentations and commentaries, and also lead training workshops. Our work has led us to be recognised by the UK government, where Adi Ben-Ari has been invited to Roundtables at the House of Lords and presented at the Department for Digital, Culture, Media and Sport.</p>
                </div>
            </div>
            <div class="why-us__item">
                <div class="coloffset--xl1 col--xl5 col--lg6 col--md8">
                    <p class="block__title lead">International Market Leader</p>
                    <p>We have built and deployed distributed solutions in the UK, Switzerland, Netherlands, Australia, China, USA and South America. Gartner has also recognised Applied Blockchain amongst the Top Global Blockchain Development and Consulting Firm 2017, 2018 & 2019.</p>
                </div>
                <div class="coloffset--lg1 col--lg3 coloffset--md1 col--md3 why-us__image">
                    <img src="{{ site.url }}{{ site.imageurl }}/icons/index/market-leader.svg" alt="">
                </div>
            </div>
            <div class="why-us__item">
                <div class="coloffset--lg2 col--lg3 col--md3 why-us__image"> 
                    <img src="{{ site.url }}{{ site.imageurl }}/icons/index/blockchain-experts.svg" alt="">
                </div>
                <div class="col--xl5 coloffset--lg1 col--lg6 coloffset--md1 col--md8">
                    <p class="block__title lead">Experts in Applications of Advanced Cryptography</p>
                    <p>Our team of in-house development experts along with our highly-skilled advisory, project and operations team work very closely with our clients to bring advanced cryptography and distributed solutions to life – together.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section__link">
        <a href="{{ site.url }}/about" class="ga-button-about button button--secondary button--large button--animate fas fa-search">
            <p class="button__inner">About us</p>
        </a>
    </div>
</section>

<!-- TODAY'S EVENT (EVENT ) -->
{% for event in site.data.events %}
{% capture now %} {{'now' | date: '%d' | plus: 0 }} {% endcapture %} <!-- capture today's date -->
{% capture date %} {{ event.date | date: '%d' | plus: 0 }} {% endcapture %} <!-- capture event date -->
{% if date == now %}
    <section class="section">

        <!-- edit component in _includes/components/section-header.html -->
        {% include containers/sections/header.html
            title='On today'
        %}
        
        <div class="block event">
            <!-- edit data in _data/events.yml -->
            {% for event in site.data.events %}
                {% capture now %} {{'now' | date: '%d' | plus: 0 }} {% endcapture %} <!-- capture today's date -->
                {% capture date %} {{ event.date | date: '%d' | plus: 0 }} {% endcapture %} <!-- capture event date -->
                {% if date == now %}
                    <!-- edit component in _includes/components/event.html -->
                    {% include components/event.html %}
                {% endif %}
            {% endfor %} 
        </div>
        
    </section>
{% endif %}
{% endfor %} 



<!-- HIRING AND NEWS WIDGETS -->
<div class="landing__widget widget block">
    <div class="widget--hiring">
        <div class="widget__header">
            <p class="lead">We are hiring</p>
            <a href="{{ site.url }}/join" class="button button--small button--highlight button--animate fas fa-user-plus">
                <p class="button__inner">See our vacancy list</p>
            </a>
        </div>
    </div>
    <div class="widget--news">
        <div class="widget__header">
            <p class="lead">Latest news</p>
            <a href="{{ site.url }}/media" class="button button--small button--primary-lighten button--animate fas fa-plus">
                <p class="button__inner">Read more</p>
            </a>
        </div>
        <div class="widget__content news__content owl-carousel owl-carousel-news">
            {% for post in site.posts limit: 3 %}
                <p class="">{{ post.title | truncate: 100, "…" }}</p>
            {% endfor %}
        </div>
    </div>
</div>



<!-- GRAPHIC BACKGROUND -->
<div class="landing__background">
    <span class="graphic landing__graphic--lines">
        <!-- edit component in _includes/elements/graphic-lines.svg -->
        {% include mixins/graphic-lines.svg %}
    </span>
    <span class="graphic landing__graphic--circle">
        <!-- edit component in _includes/elements/graphic-circle.svg -->
        {% include mixins/graphic-circle.svg %}
    </span>
</div>



<!-- COBALT SECTION (on product page) -->
<section class="section section--grey">

    <!-- edit component in _includes/components/section-header.html -->
    {% include containers/sections/header.html
        title='Developer Tools'
    %}

    <div class="section__content devtools">
        <div class="row devtools__item">
            <div class="coloffset--lg1 col--lg3 col--md4">
                <img src="{{ site.url }}{{ site.imageurl }}/logos/products/cobalt.svg" alt="Cobalt icon" class="devtools__image">
            </div>
            <div class="coloffset--md1 col--lg6 col--md7">
                <h2 class="devtools__title block__title subtitle">Cobalt</h2>
                <p class="block__text">Cobalt is a fast, light-weight Ethereum development and testing library that saves developers valuable time when modifying, testing and deploying their dApps.
                    <br><br>Cobalt uses instant compilation, the same APIs in development and production code as well as straight-forward deployment without migrations.
                    <br><br>It is available on open-source, so go and try it out for yourself.
                </p>
                <a href="https://github.com/appliedblockchain/cobalt" target=_blank class="ga-button-cobalt button button--primary button--animate fab fa-github">
                    <p class="button__inner">Try it for yourself</p>
                </a>
            </div>
        </div>
    </div>

</section>
