<div class="event__item">
    {% if event.image %}
        <div class="event__image background--cover" style="background-image: url({{ site.url}}{{ site.imageurl}}/events/{{ event.image }}.jpg);"></div>
    {% else %}
        <div class="event__image background--cover" style="background-image: url({{ site.url}}{{ site.imageurl}}/events/default.jpg);"></div>
    {% endif %}
    <div class="block__content event__content">
        <div class="event__top block__date">
            <p class="body--bold">{{ event.date }}</p>
            {{ if event.link }}
            <a href="{{ event.link }}" target="_blank" class="button button--small button--primary button--animate fas fa-globe">
                <p class="button__inner">view website</p>
            </a>
            {{ endif }}
        </div>
        <h2 class="block__title lead">{{ event.name }}</h2>
        <p>{{ event.location }}</p>
    </div>
</div>
