<div class="event__item">
    {% if event.image %}
        <div class="event__image background--cover" style="background-image: url({{ site.url}}{{ site.imageurl}}/events/{{ event.image }}.jpg);"></div>
    {% else %}
        <div class="event__image background--cover" style="background-image: url({{ site.url}}{{ site.imageurl}}/default.jpg);"></div>
    {% endif %}
    <div class="block__content event__content">
        <div class="event__meta">
            <p class="block__date body--bold">
                {% if event.date-from %}
                    {{ event.date-from | date: '%b %-d' }} to
                {% endif %}
                {{ event.date | date: '%b %-d, %Y' }}
            </p>
            <h2 class="block__title lead">{{ event.name }}</h2>
            <p>{{ event.location }}</p>
        </div>
        <div class="event__actions">
            {% if event.link %}
                <a href="{{ event.link }}" target="_blank" class="event__button button button--small button--primary button--animate fas fa-globe">
                    <p class="button__inner">website</p>
                </a>
            {% endif %}
            <a href="{{ event.directions }}" target="_blank" class="event__button button button--small button--secondary button--animate fas fa-directions">
                <p class="button__inner">directions</p>
            </a>
        </div>
    </div>
</div>