<div class="card card--landscape">
    <div class="card__header">
        <div class="accordion__header">
            <div class="card__title">
                <p class="body--bold">{{ item.question }}</p>
                <span class="button button--icon button--highlight button--small">
                    <i class="fa fa-plus"></i>
                </span>
            </div>
        </div>
        <div class="accordion__content">
            <p>{{ item.answer }}</p >
        </div>
    </div>
</div>
