<form action="" class="">
    <div class="form__content">
        <div class="form__group col--md6">
            <label for="" class="form__label">First name</label>
            <input type="text" class="form__input" name="" id="">
        </div>
        <div class="form__group col--md6">
            <label for="" class="form__label">Last name</label>
            <input type="text" class="form__input" name="" id="" required>
        </div>
        <div class="form__group col--md6">
            <label for="" class="form__label">Company</label>
            <input type="text" class="form__input" name="" id="">
        </div>
        <div class="form__group col--md6">
            <label for="" class="form__label">Job title</label>
            <input type="text" class="form__input" name="" id="">
        </div>
    </div>
    <button type="submit" class="form__button button button--secondary button--large button--animate fa fa-share-square">
        <p class="button__inner">Send</p>
    </button>
</form>
