<div class="accordion__item">
    <div class="accordion__header">
        <h2 class="accordion__title body--bold">{{ job.title }}</h2>
        <p class="accordion__type">{{ job.type }}</p>
        <div class="accordion__actions">
            <a href="mailto:careers@appliedblockchain.com?subject=Application | {{ job.title }}" class="ga-button-apply button button--primary button--small button--animate fa fa-edit">
                <p class="button__inner">Apply</p>
            </a>
            <span class="accordion__button button button--icon button--highlight button--small">
                <i class="fa fa-plus"></i>
            </span>
        </div>
    </div>
    <div class="accordion__content">
        {% if job.closing-date %}
            <div>
                <p class="body--bold">Application closing date</p>
                <p>{{ job.closing-date }}</p>
            </div>
        {% endif %}
        {% if job.salary %}
            <div class="accordion__subtitle">
                <p class="body--bold">Annual Salary</p>
                <p>{{ job.salary }}</p>
            </div>
        {% endif %}
        <p class="accordion__subtitle lead">About us</p>
        <p>Applied Blockchain is a leading blockchain applications development and consulting company. 
            <br><br>Applied Blockchain has been in operation for two years, is self-funded and has built over 15 private blockchain applications, including some that are approaching live production environments. 
            <br><br>Applied Blockchain has experience building blockchain solutions for both corporates and startups, including clients in the UK, Switzerland, Australia, China, USA and South America. To date, we have delivered solutions for clients across banking, trade finance, aviation, invoice financing, recruitment, supply chain management and payments. The company has been listed as a Global Top 20 Blockchain Development and Consulting Firm 2017 by Gartner.
        </p>
        <p class="accordion__subtitle lead">About the position</p>
        <ul>{{ job.role }}</ul>
        {% if job.responsabilities %}
            <p class="accordion__subtitle lead">Responsabilities</p>
            <ul>{{ job.responsabilities }}</ul>
        {% endif %}
        {% if job.required-skills %}
            <p class="accordion__subtitle lead">Required skills & experience</p>
            <ul>{{ job.required-skills }}</ul>
        {% endif %}
        {% if job.additional-skills %}
            <p class="accordion__subtitle lead">Additional desirable experience</p>
            <ul>{{ job.additional-skills }}</ul>
        {% endif %}
    </div>
</div>