<div class="card card--sm body--left">
    <div class="card__inner">
        <div class="accordion__header card__header">
            <div>
                <h2 class="card__title lead">{{ job.title }}</h2>
                <p class="body">{{ job.type }}</p>
            </div>
            <div class="card__actions">
                <a href="https://apply.workable.com/appliedblockchain/" class="ga-button-apply button button--highlight button--small button--animate fa fa-edit">
                    <p class="button__inner">Apply</p>
                </a>
                <span class="accordion__button button button--icon button--white">
                    <i class="fa fa-plus"></i>
                </span>
            </div>
        </div>
        <div class="accordion__content card__body">
            <div class="row card__wrapper--sm">
                <!-- {% if job.role %}
                <div class="col--xl4">
                    <p class="body body--bold">About the position</p>
                    <ul class="body">{{ job.role }}</ul>
                </div>
                {% endif %} -->
                {% if job.responsabilities %}
                <div class="card col--xl4">
                    <p class="body body--bold">Responsabilities</p>
                    <ul class="body">
                        {% for item in job.responsabilities %}
                        <li>{{ item.li }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% if job.required-skills %}
                <div class="card col--xl4">
                    <p class="body body--bold">Required skills & experience</p>
                    <ul class="body">
                        {% for item in job.required-skills %}
                        <li>{{ item.li }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% if job.additional-skills %}
                <div class="card col--xl4">
                    <p class="body body--bold">Additional desirable experience</p>
                    <ul class="body">
                        {% for item in job.additional-skills %}
                        <li>{{ item.li }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>