<header class="section navbar">
  <div class="section__container navbar__container">
    <a href="{{ site.base-url }}/" class="navbar__logo logo logo--default">
      {% include components/logos/logo.html %}
    </a>
    <div class="nav">
      <div class="nav__icon show--desktop js-button-menu button--menu">
        <i class="button__inner"></i>
      </div>
      <div class="nav__items">
        {% include components/nav.html
          variant = "header"
        %}
      </div>
      <a href="{% link contact.html %}" class="navbar__button button button--sm button--primary">
        <p>Contact us</p>
      </a>
    </div>
  </div>
</header>
