<div id="mc_embed_signup" class="newsletter">
  <div id="card">
    <p class="card__title body--large body--bold">Subscribe to our newsletter</p>
    <div class="card__body">
      <div class="form form--pipedrive">
        <div class="pipedriveWebForms"
          data-pd-webforms="https://webforms.pipedrive.com/f/1CaPe1xQiDRI9UV1UL9hZIeHJdv9ZWzeNwTyz7IThpZhJcDrSAFjpzbzFC61ErMI3">
          <script src="https://webforms.pipedrive.com/f/loader"></script>
        </div>
      </div>
    </div>
  </div>
</div>