<div id="mlb2-1015978" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-1015978 widget newsletter">
        <div class="ml-form-align-center ">
            <div class="ml-form-embedWrapper embedForm">
                <div class="ml-form-embedBody ml-form-embedBodyDefault row-form">
                    <div class="footer__title">
                        <p class="subtitle">Sign up for our newsletter</p>
                        <p>Join our community and stay up to date</p>
                    </div>
                    <form class="ml-block-form" action="https://app.mailerlite.com/webforms/submit/t8m4z1" data-code="t8m4z1" method="post" target="_blank">
                        <div class="ml-form-formContent">
                            <div class="ml-form-fieldRow ml-last-item">
                                <div class="ml-field-group ml-field-email ml-validate-email ml-validate-required">
                                    <div class="form__group">
                                        <input type="email" class="form-control form__input" data-inputmask="" name="fields[email]" value="" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ml-form-embedPermissions" style="margin-bottom: 0px; padding-bottom: 5px;">
                            <div class="ml-form-embedPermissionsContent default">
                                <div class="ml-form-embedPermissionsOptions">
                                    <div class="ml-form-embedPermissionsOptionsCheckbox">
                                        <span class="form__checkbox">
                                            <input type="checkbox" class="form__input" name="gdpr[]" id="gdpr[]" value="I consent Applied Blockchain to collecting my personal details to receive commercial offers" xp-if="gdpr.title"> 
                                            <label for="gdpr[]" class="form__label">I consent to Applied Blockchain to add me to their newsletter mailing list, with my data being stored.</label>
                                        </span>
                                        <div class="description" xp-if="gdpr.description"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="ml-submit" value="1">
                        <div class="ml-form-embedSubmit">
                            <button type="submit" class="primary newsletter__button button button--primary button--animate fas fa-share-square">
                                <span class="button__inner">Subscribe</span>
                            </button>
                            <button disabled="disabled" style="display: none;" type="button" class="loading btn btn-block">
                                <div class="ml-form-embedSubmitLoad"><div></div><div></div><div></div><div></div></div>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="ml-form-successBody row-success" style="display: none">
                    <div class="ml-form-successContent footer__title">
                        <p class="subtitle">Thank you!</p>
                        <p>You have successfully joined our subscriber list.</p>
                    </div>      
                </div>
            </div>
        </div>
    </div>
    
    <script>
        function ml_webform_success_1015978() {
            var $ = ml_jQuery || jQuery;
            $('.ml-subscribe-form-1015978 .row-success').show();
            $('.ml-subscribe-form-1015978 .row-form').hide();
          }
    </script>
    
    <img src="https://track.mailerlite.com/webforms/o/1015978/t8m4z1?v03ee2804ef2f008535475a5d62f02f94" width="1" height="1" style="max-width: 1px; max-height: 1px; visibility: hidden; padding: 0; margin: 0; display: block;" border="0">
    <script src="https://static.mailerlite.com/js/w/webforms.min.js?v03ee2804ef2f008535475a5d62f02f94" type="text/javascript"></script>