<div id="mc_embed_signup">
    <form action="https://appliedblockchain.us14.list-manage.com/subscribe/post?u=9f43d32d2e59f93b328809787&amp;id=ff56e543cf" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
            <div class="footer__title">
                <p class="lead">Sign up for our newsletter</p>
                <p>Join our community and stay up to date</p>
            </div>
            <div class="mc-field-group form__group">
                <input type="email" value="" name="EMAIL" class="required email form__input" id="mce-EMAIL" placeholder="Email">
            </div>
            <div id="mergeRow-gdpr" class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group">
                <div class="content__gdpr">
                    <fieldset class="mc_fieldset gdprRequired mc-field-group form__checkbox" name="interestgroup_field">
                        <input type="checkbox" id="gdpr_9779" name="gdpr[9779]" value="Y" class="av-checkbox form__input">
                        <label class="checkbox subfield form__label" for="gdpr_9779">I consent to Applied Blockchain to add me to their newsletter mailing list, with my data being stored.</label>
                    </fieldset>
                </div>
                <div class="content__gdprLegal body--small">
                    <p class="newsletter__notice">We use Mailchimp as our marketing platform. By clicking below to subscribe, you acknowledge that your information will be transferred to Mailchimp for processing. Learn more about Mailchimp's <a href="https://mailchimp.com/legal/" target="_blank" class="button--underline">privacy practices</a> here.</p>
                </div>
            </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9f43d32d2e59f93b328809787_ff56e543cf" tabindex="-1" value=""></div>
            <button type="submit" class="primary newsletter__button button button--primary button--animate fas fa-share-square">
                <span class="button__inner">Subscribe</span>
            </button>
        </div>
    </form>
</div>