{% assign label = include.label %}
{% assign title = include.title %}
{% assign subtitle = include.subtitle %}
{% assign link.label = include.link.label %}
{% assign link.url = include.link.url %}
{% assign link.title = include.link.title %}
{% assign banner_image = include.banner_image %}
{% assign banner_color = include.banner_color %}

<div class="section page__header{% if page.banner_color %} section--{{ page.banner_color }}{% else %} section--primary{% endif %} background--cover"{% if page.banner_image %} style="background-image: url('{{ site.base-url }}{{ site.imageurl }}/background/{{ banner_image }}');"{% endif %}>
  <div class="section__container">
    <div class="section__header section__header--lg">
      {% if page.label %}
      <p class="section__label">{{ page.label }}</p>
      {% endif %}
      <h1 class="section__title">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h1>
      {% if page.subtitle %}
      <p class="section__subtitle">{{ page.subtitle }}</p>
      {% endif %}
    </div>
    {% if page.links %}
    <div class="section__content">
      <div class="grid__wrapper">
        <div class="button__wrapper button__wrapper--landscape">
          {% for link in page.links %}
          <a  href="{{ site.base-url }}{{ link.url }}" title="{{ link.title }}" class="button button--primary">
            <p>{{ link.label }}</p>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
