{% assign label = include.label %}
{% assign title = include.title %}
{% assign subtitle = include.subtitle %}
{% assign background_image = include.background_image %}
{% assign background_color = include.background_color %}

<div class="section page__header{% if page.background_color %} section--{{ page.background_color }}{% endif %} background--cover"{% if page.background_image %} style="background-image: url('{{ site.base-url }}{{ site.imageurl }}/background/{{ page.title | slugify }}.jpg');"{% endif %}>
  <div class="section__container">
    <div class="section__header section__header--lg">
      {% if page.label %}
      <p class="section__label caption">{{ page.label }}</p>
      {% endif %}
      <h1 class="section__title h1">{% if title %}{{ title }}{% else %}{% if page.title %}{{ page.title }}{% else %}{{ page.title }}{% endif %}{% endif %}</h1>
      {% if page.subtitle %}
      <p class="section__subtitle h5">{{ page.subtitle }}</p>
      {% endif %}
    </div>
  </div>
</div>
