{% assign label = include.label %}
{% assign title = include.title %}
{% assign subtitle = include.subtitle %}
{% assign link.label = include.link.label %}
{% assign link.url = include.link.url %}
{% assign link.title = include.link.title %}
{% assign background_image = include.background_image %}
{% assign background_color = include.background_color %}

<div class="section page__header{% if page.background_color %} section--{{ page.background_color }}{% else %} section--primary{% endif %} background--cover"{% if page.background_image %} style="background-image: url('{{ site.base-url }}{{ site.imageurl }}/background/{{ page.title | slugify }}.jpg');"{% endif %}>
  <div class="section__container">
    <div class="section__header section__header--lg">
      {% if page.label %}
      <p class="section__label">{{ page.label }}</p>
      {% endif %}
      <h1 class="section__title">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h1>
      {% if page.subtitle %}
      <p class="section__subtitle">{{ page.subtitle }}</p>
      {% endif %}
    </div>
    {% if page.link.url %}
    <div class="section__content">
      <div class="grid__wrapper">
        <a  href="{{ site.base-url }}{{ page.link.url }}" title="{{ page.link.title }}" class="button button--lg button--primary">
          <p>{{ page.link.label }}</p>
        </a>
      </div>
    </div>
    {% endif %}
  </div>
</div>
