{% assign label = include.label %}
{% assign title = include.title %}
{% assign subtitle = include.subtitle %}
{% assign body = include.body %}
{% assign link.label = include.link.label %}
{% assign link.url = include.link.url %}
{% assign link.title = include.link.title %}
{% assign link.color = include.link.color %}
{% assign banner_image = include.banner_image %}
{% assign banner_color = include.banner_color %}
{% assign side_content = include.side_content %}

<!-- capture banner_image path -->
{% capture image_path %}
{% if page.layout == "post" %}
posts
{% elsif page.layout == "case-study" %}
background/projects
{% else %}
background
{% endif %}
{% endcapture %}

<div class="section section--maxWidth page__header{% if page.tabs %} section--tabs{% endif %}{% if page.banner_color or banner_color %} section--{{ page.banner_color }}{{ banner_color }}{% else %} section--primary{% endif %}{% if page.banner_image or banner_image %} background--cover{% endif %}"{% if page.banner_image or banner_image %} style="background-image: url('{{ site.base-url }}{{ site.imageurl }}/{{ image_path | strip }}/{{ page.banner_image }}{{ banner_image }}');"{% endif %}>
  <div class="section__container">
    <!-- limit the content width for post pages -->
    {% if page.layout == "post" %}<div class="grid__wrapper grid--jc-center">{% endif %}
    <!-- add wrapper if overlapping side_content -->
    {% if page.side_content or side_content %}<div class="grid__wrapper grid__spacing--6 grid--jc-space-between">{% endif %}
      {% if page.side_content or side_content %}<div class="grid__item grid__item--lg6">{% endif %}
      <div class="section__header section__header--lg">
        {% if page.label or label %}
        <p class="section__label">{{ page.label }}{{ label }}</p>
        {% endif %}
        <h1 class="section__title">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h1>
        {% if page.subtitle or subtitle %}
        <p class="section__subtitle">{{ page.subtitle }}{{ subtitle }}</p>
        {% endif %}
        {% if page.body or body %}
        <p class="section__body">{{ page.body }}{{ body }}</p>
        {% endif %}
        {% if page.tabs %}
        <div class="tabs js-filter">
          {% for tab in site.data.[page.tabs] %}
          <a class="tab button__inner{% if forloop.first %} js-active{% endif %}" data-filter="{% if tab.name == "All" %}*{% else %}.{{ tab.name | slugify }}{% endif %}">{{ tab.name }}</a>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      {% if page.links %}
      <div class="section__content">
        <div class="grid__wrapper">
          <div class="button__wrapper button__wrapper--landscape">
            {% for link in page.links %}
            <a  href="{% link {{ link.url }}.html %}" title="{{ link.title }}" class="button button--{% if link.color %}{{ link.color }}{% else %}primary{% endif %}">
              <p>{{ link.label }}</p>
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}
      <!-- add wrapper if overlapping side_content -->
      {% if page.side_content or side_content %}</div>{% endif %}
      {% if page.side_content or side_content %}
      <div class="grid__item grid__item--xl5 grid__item--lg6">
        <div class="page__side">
          {% if page.layout == "resource" or page.layout == "case-study" or page.layout == "applied" %}
          {{ side_content }}
          {% else %}
          {% include {{ page.side_content }} %}
          {% endif %}
        </div>
      </div>
      {% endif %}
    <!-- add wrapper if overlapping side_content -->
    {% if page.side_content or side_content %}</div>{% endif %}
    <!-- limit the content width for post pages -->
    {% if page.layout == "post" %}</div>{% endif %}
  </div>
</div>
