{% assign comment = include.comment %}
{% assign title = include.title %}
{% assign description = include.description %}

<div class="section__header">
    {% if comment %}
        <h1 class="section__comment comment">{{ comment }}</h1>
        {% if title %}
            <p class="section__title title">{{ title }}</p>
        {% endif %}
    {% else %}
        {% if title %}
            <h1 class="section__title title">{{ title }}</h1>
        {% endif %}
    {% endif %}
    {% if description %}
        <p class="section__desc body--large">{{ description }}</p>
    {% endif %}
</div>