{% assign id = include.id %}
{% assign class = include.class %}
{% assign size = include.size %}
{% assign label = include.label %}
{% assign title = include.title %}
{% assign title_id = include.title_id %}
{% assign title_class = include.title_class %}
{% assign title_component = include.title_component %}
{% assign subtitle = include.subtitle %}
{% assign body = include.body %}
{% assign link_type = include.link_type %}
{% assign link_label = include.link_label %}
{% assign link_url = include.link_url %}
{% assign link_title = include.link_title %}
{% assign link_color = include.link_color %}

<div{% if id %} id="{{ id }}"{% endif %} class="section__header section__header--{% if size %}{{ size }}{% else %}md{% endif %}{% if class %} {{ class }}{% endif %}">
  {% if label %}
  <p class="section__label">{{ label }}</p>
  {% endif %}
  {% if title %}
  <{% if title_component %}{{ title_component }}{% else %}{% if size == "sm" %}h3{% else %}h2{% endif %}{% endif %}{% if title_id %} id="{{ title_id }}"{% endif %} class="section__title{% if title_class %} {{ title_class }}{% endif %}">{{ title }}</{% if title_component %}{{ title_component }}{% else %}{% if size == "sm" %}h3{% else %}h2{% endif %}{% endif %}>
  {% endif %}
  {% if subtitle %}
  <p class="section__subtitle">{{ subtitle }}</p>
  {% endif %}
  {% if body %}
  <p class="section__body">{{ body }}</p>
  {% endif %}
  {% if link_url %}
  <div class="button__wrapper">
    {% capture link %}
    {% if link_type == "external" %}
    {{ link_url }}
    {% else %}
    {% link {{ link_url }}.html %}
    {% endif %}
    {% endcapture %}
    <a href="{{ link }}" title="{{ link_title }}" class="section__button button{% if link_color %} button--{{ link_color }}{% else %} button--primary{% endif %}">
      {{ link_label }}
      {% if link_type == "external" %}{% svg assets/icons/feather/external-link.svg %}{% endif %}
    </a>
  </div>
  {% endif %}
</div>
