{% assign position = include.position %}
{% assign label = include.label %}
{% assign title = include.title %}
{% assign description = include.description %}

<div class="section__header section__header--ap row">
    {% if label %}
        <div class="section__comment">
            <p class="label col--12">{{ label }}</p>
        </div>
    {% endif %}
    {% if title %}
        <div class="section__title">
            <h1 class="title col--12">{{ title }}</h1>
        </div>
    {% endif %}
    {% if description %}
        <div class="section__desc">
            {% if position == 'left' %}
                <p class="body--large col--lg6">{{ description }}</p>
            {% elsif position == 'right' %}
                <p class="body--large coloffset--lg6 col--lg6">{{ description }}</p>
            {% elsif position == 'center' %}
                <p class="body--large coloffset--lg3 col--lg6">{{ description }}</p>
            {% endif %}
        </div>
    {% endif %}
</div>