<div class="footer__title">
    <p class="subtitle">Follow us on</p>
</div>
<a href="{{site.github}}" title="Github" target="_blank" class="button button--icon button--highlight button--animate fab fa-github">
    <i class="button__inner fab fa-github"></i>
</a>
<a href="{{site.linkedin}}" title="Linkedin" target="_blank" class="button button--icon button--highlight button--animate fab fa-linkedin-in">
    <i class="button__inner fab fa-linkedin-in"></i>
</a>
<a href="{{site.medium}}" title="Medium" target="_blank" class="button button--icon button--highlight button--animate fab fa-medium-m">
    <i class="button__inner fab fa-medium-m"></i>
</a>
<a href="{{site.twitter}}" title="Twitter" target="_blank" class="button button--icon button--highlight button--animate fab fa-twitter">
    <i class="button__inner fab fa-twitter"></i>
</a>