{% assign header = include.header %}
{% assign size = include.size %}

<div class="widget widget--social">
  <div class="button__wrapper">
    <a href="{{ site.github }}" title="Github" target="_blank" class="ga-social-github button{% if size %} button--{{ size }}{% endif %} button--icon button--github">
      {% svg /assets/icons/social/github.svg %}
    </a>
    <a href="{{ site.linkedin }}" title="Linkedin" target="_blank" class="ga-social-linkedin-in button{% if size %} button--{{ size }}{% endif %} button--icon button--linkedin">
      {% svg /assets/icons/social/linkedin.svg %}
    </a>
    <a href="{{ site.medium }}" title="Medium" target="_blank" class="ga-social-medium-m button{% if size %} button--{{ size }}{% endif %} button--icon button--medium">
      {% svg /assets/icons/social/medium.svg %}
    </a>
    <a href="{{ site.twitter }}" title="Twitter" target="_blank" class="ga-social-twitter button{% if size %} button--{{ size }}{% endif %} button--icon button--twitter">
      {% svg /assets/icons/social/twitter.svg %}
    </a>
  </div>
</div>