<div class="testimonial__item">
    <div class="testimonial__image" style="background-image: url({{ site.baseurl }}{{ site.imageurl }}/testimonials/{{ item.id }}.jpg);" alt="Portrait {{ item.name }}"></div>
    <div class="testimonial__content">
        <img src="{{ site.baseurl }}{{ site.imageurl }}/icons/quote-mark.svg" class="testimonial__mark">
        <p class="quote">{{ item.quote }}</p>
        <div class="testimonial__meta">
            <p class="body--bold">{{ item.name }}</p>
            <p>{{ item.job }}</p>
        </div>
    </div>
</div>
