<div class="testimonial__item">
    {% if item.image %}
    <div class="testimonial__image background--cover" style="background-image: url({{ site.url }}{{ site.imageurl }}/testimonials/{{ item.id }}.jpg);" alt="Portrait {{ item.name }}"></div>
    {% endif %}
    <div class="testimonial__content">
        {% if item.image %}
        <img src="{{ site.url }}{{ site.imageurl }}/icons/quote-mark.svg" class="testimonial__mark">
        {% endif %}
        <p class="quote">{{ item.quote }}</p>
        <div class="testimonial__meta">
            <p class="body--bold">{{ item.name }}</p>
            <p>{{ item.job }}</p>
        </div>
    </div>
</div>
