{% assign type = include.type %}
{% assign variant = include.variant %}
{% assign colour = include.colour %}

<div class="owl-carousel owl-carousel-{% if type == 'testimonials' %}testimonials{% else %}{{ variant }}{% if colour %}_{{ colour }}{% endif %}{% endif %}{% if type == 'testimonials' %} carousel--testimonials{% endif %}">
  {% for item in site.data.carousel.[variant] %}
  <div class="carousel__item">
    {% if type != 'text' %}
    {% if type == 'testimonials' %}
    <div class="carousel__image" style="background-image: url('{{ site.base-url }}{{ site.imageurl }}/carousel/{{ variant }}{% if colour %}_{{ colour }}{% endif %}/{{ item.name | slugify }}.png');"></div>
    {% else %}
    <img src="{{ site.base-url }}{{ site.imageurl }}/carousel/{{ variant }}{% if colour %}_{{ colour }}{% endif %}/{{ item.name | slugify }}.png" class="carousel__image" alt="logo {{ item.name }}">
    {% endif %}
    {% endif %}
    {% if type == 'text' %}
    <p class="card__body quote">{{ item.quote }}</p>
    {% endif %}
    {% if type == 'testimonials' %}
    <div class="card body--left">
      <p class="card__body quote">{{ item.quote }}</p>
      <div class="card__meta">
        <p class="body--large body--bold">{{ item.author }}</p>
        <p>{% if item.position %}{{ item.position }}, {% endif %}{{ item.company }}</p>
        {% if item.rating or item.link %}
        <div class="carousel__meta">
          {% if item.rating %}
          <div class="carousel__stars body--grey">
            <div class="fas fa-star{% if item.rating >= 1 %} body--highlight{% endif %}"></div>
            <div class="fas fa-star{% if item.rating >= 2 %} body--highlight{% endif %}"></div>
            <div class="fas fa-star{% if item.rating >= 3 %} body--highlight{% endif %}"></div>
            <div class="fas fa-star{% if item.rating >= 4 %} body--highlight{% endif %}"></div>
            <div class="fas fa-star{% if item.rating >= 5 %} body--highlight{% endif %}"></div>
          </div>
          {% endif %}
          {% if item.link %}
          <a href="{{ item.link }}" target="_blank" class="button button--small button--primary button--animate fas fa-external-link-alt" >
            <div class="button__inner">Read full review</div>
          </a>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>