{% assign type = include.type %}
{% assign variant = include.variant %}

<div class="owl-carousel owl-carousel-{{ variant }}{% if type == 'testimonials' %} carousel--testimonials{% endif %}">
    {% for item in site.data.carousel.[variant] %}
    <div class="carousel__item">
        <img src="{{ site.url }}{{ site.imageurl }}/carousel/{{ variant }}/{{ item.name | slugify }}.png" class="carousel__image" alt="logo {{ item.name }}">
        {% if type == 'testimonials' %}
        <div class="card body--left no-padding">
            <p class="card__body quote">{{ item.quote }}</p>
            <div class="card__meta">
                <p class="body--large body--bold">{{ item.author }}</p>
                <p class="body">{{ item.position }}, {{ item.company }}</p>
            </div>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>