{% assign type = include.type %}
{% assign id = include.id %}
{% assign label = include.label %}
{% assign placeholder = include.placeholder %}
{% assign required = include.required %}
{% assign notice = include.notice %}

<div class="form__group{% if type == 'select' %} form__select{% endif %}">
    {% if label %}
    <label for="{{ id }}" class="form__label">{{ label }}</label>
    {% endif %}
    {% if type == 'select' %}
    <select class="form__input" name="{{ id }}" id="{{ id }}">
        <option value=""></option>
        {% for company in site.data.companies %}
        <option value="{{ company.name | slugify }}">{{ company.name }}</option>
        {% endfor %}
        <option value="other">Other</option>
    </select>
    {% elsif type == 'textarea' %}
    <textarea class="form__input" name="{{ id }}" id="{{ id }}" rows="4"></textarea>
    {% else %}
    <input type="{% if type == 'number' %}number{% elsif type == 'email' %}email{% else %}text{% endif %}" class="form__input" name="{{ id }}" id="{{ id }}"{% if placeholder %} placeholder="{{ placeholder }}"{% endif %}{% if required %} required{% endif %}>
    {% endif %}
    {% if notice %}
    <p class="body--small form__notice">{{ notice }}</p>
    {% endif %}
</div>