<form action="" class="">
    <p class="form__header body--large">Are you looking to work with a dynamic group of people on a technology that is set to change the world? Send in your CV today and tell us why you think you would make a good fit.</p>
    <div class="form__content">
        <div class="form__group col--xl4">
            <label for="" class="form__label">First name</label>
            <input type="text" class="form__input" name="" id="" required="required">
        </div>
        <div class="form__group col--xl4">
            <label for="" class="form__label">Last name</label>
            <input type="text" class="form__input" name="" id="" required required="required">
        </div>
        <div class="form__group col--xl4">
            <label for="" class="form__label">Email</label>
            <input type="text" class="form__input" name="" id="" required="required">
        </div>
        <div class="form__group col--12">
            <label for="" class="form__label">Message</label>
            <textarea class="form__input" name="" id="" rows="8" placeholder="We would love to learn more about what you do, your goals and why you are looking to join us at Applied Blockchain. If you have an online portfolio, why not share it here too?" required="required"></textarea>
        </div>
        <div class="form__group col--lg6">
            <label for="" class="form__label">Upload CV</label>
            <input type="file" class="form__input" name="" id="" required="required">
        </div>
        <div class="form__group col--lg6">
            <label for="" class="form__label">Upload Portfolio</label>
            <input type="file" class="form__input" name="" id="">
        </div>                
        <div class="form__group col--12">
            <span class="form__checkbox">
                <input type="checkbox" class="form__input" name="" id="" value="1" required="required">
                <label for="" class="form__label">I consent to Applied Blockchain to collecting my personal details to receive commercial offers**</label>
            </span>
        </div>
        <div class="form__group col--12">
            <span class="form__checkbox">
                <input type="checkbox" class="form__input" name="" id="" value="1">
                <label for="" class="form__label">Sign-up for our newsletter! I consent Applied Blockchain to add me to their newsletter mailing list, with my data being stored**</label>
            </span>
        </div>
        <!-- edit component in _includes/components/form-footer.html -->
        {% include components/forms/form-footer.html %}
    </div>
    <button type="submit" class="form__button button button--secondary button--large button--animate fa fa-share-square">
        <p class="button__inner">Send</p>
    </button>
</form>
