<option value=""> — </option>
<option>Agriculture</option>
<option>Automotive</option>
<option>Aviation</option>
<option>Construction</option>
<option>Education</option>
<option>Energy</option>
<option>Financial Services</option>
<option>Government</option>
<option>Healthcare</option>
<option>Hospitality</option>
<option>Insurance</option>
<option>Legal</option>
<option>Manufacturing</option>
<option>Media</option>
<option>Mining</option>
<option>Pharmaceuticals </option>
<option>Recruitment</option>
<option>Service Providers</option>
<option>Shipping</option>
<option>Supply Chain</option>
<option>Travel</option>
<option>Telecoms</option>
<option>Transportation</option>
<option>Other</option>