<option value=""> — </option>
<option value="agriculture">Agriculture</option>
<option value="automotive">Automotive</option>
<option value="aviation">Aviation</option>
<option value="construction">Construction</option>
<option value="education">Education</option>
<option value="energy">Energy</option>
<option value="financial-services">Financial Services</option>
<option value="government">Government</option>
<option value="healthcare">Healthcare</option>
<option value="hospitality">Hospitality</option>
<option value="insurance">Insurance</option>
<option value="legal">Legal</option>
<option value="manufacturing">Manufacturing</option>
<option value="media">Media</option>
<option value="mining">Mining</option>
<option value="pharmaceuticals ">Pharmaceuticals </option>
<option value="recruitment">Recruitment</option>
<option value="service-providers">Service Providers</option>
<option value="shipping">Shipping</option>
<option value="supply chain">Supply Chain</option>
<option value="travel">Travel</option>
<option value="telecoms">Telecoms</option>
<option value="transportation">Transportation</option>
<option value="other">Other</option>