.numbers {
  margin: 50px 0;
}

.button {
  margin-bottom: 112px;
}

.embla {
  position: relative;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.embla__viewport {
  max-width: 1200px;
  overflow: hidden;
  width: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
}

.embla__slide {
  max-width: 150px;
  height: 60px;
  margin: 24px 35px 0 35px;
  position: relative;
}

.embla__slide__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: 60px;
}
