.home-stay-updated-main {
    margin: 140px 120px;
}


.home-stay-updated-text-base {
    font-family: 'Chivo';
    font-style: normal;
    text-align: center;
}

.home-stay-updated-text-base-title {
    font-weight: 400;
    font-size: 40px;
    line-height: 125%;
    background: linear-gradient(270deg, #017CFF 1.67%, #419DFF 99.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}


.home-stay-updated-text-base-subtitle {
    font-weight: 400;
    font-size: 64px;
    line-height: 125%;
    color: #4A4D52;
}