.texts {
  text-align: left;
  align-items: flex-start;
}

.subtitle {
  margin-bottom: 48px;
}

.background {
  right: 10%;
  position: absolute;
  z-index: -999;
  height: 100%;
  display: flex;
  align-items: center;
}

.blueBackground {
  transform: rotate(132.37deg);
  z-index: -999;
  position: relative;
}

.divBackground {
  background: linear-gradient(
    184.57deg,
    #13b6ea 5.71%,
    rgba(74, 249, 238, 0) 81.42%
  );
  opacity: 0.6;
  filter: blur(117.5px);
  transform: rotate(132.37deg);
  position: relative;
  width: 554px;
  height: 554px;
  z-index: -999;
}

.projects {
  max-width: 700px;
  max-height: 1415px;
  column-gap: 40px;
  row-gap: 24px;
  flex-wrap: wrap;
}

.writer {
  margin: 16px 0;
}

.mainContainer {
  margin: 100px 0;
  align-items: start !important;
}

@media (max-width: 900px) {
  .texts {
    text-align: center;
    align-items: center;
  }
  .subtitle {
    margin-bottom: 48px;
  }
  .projects {
    max-width: 100%;
    max-height: none;
    row-gap: 39px;
    column-gap: 0px;
  }
  .writer {
    margin: 16px 0;
  }
  .button {
    margin-top: 40px;
  }
  .detailsContainer {
    text-align: center;
    padding: 60px 16px;
  }
}

/* only big screens */
@media (min-width: 900px) {
  .overrideFloatingTop {
    position: sticky;
    top: 80px;
    top: 25% !important;
  }
  .detailsContainer {
    padding: 20px;
  }
}
