.author {
  margin-left: 24px;
}

.quote {
  margin-top: 32px;
}

.company {
  margin-left: 4px;
}

.greyLogo {
  opacity: 0.7;
}

.arrowBack {
  margin-right: 35px;
  padding: 0;
}

.arrowForward {
  margin-left: 35px;
  padding: 0;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.video iframe {
  margin-top: 23px;
  border-radius: 21px;
}

.closeIcon {
  color: white;
  width: 24px;
  height: 24px;
}

.modalContent {
  display: flex;
  align-items: flex-start;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.embla {
  margin-top: 80px;
  width: 1000px;
  position: relative;
}

.embla__viewport {
  width: 1000px;
  overflow: hidden;
}

.embla__container {
  display: flex;
  height: auto;
}

.embla__slide {
  flex: 0 0 auto;
  width: 100%;
  position: relative;
  border-radius: 24px;
  background-color: #242931;
  padding: 32px;
}

.embla__thumbs {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}

.embla__thumbs__viewport {
  width: 877px;
  overflow: hidden;
}

.embla__thumbs__container {
  display: flex;
  flex-direction: row;
  margin-left: 2px;
}

.embla__thumbs__slide {
  background-color: #242931;
  border-radius: 16px;
  flex: 0 0 154px;
  min-width: 0;
  position: relative;
  margin: 0 13px;
}

.embla__thumbs__slide__button {
  -webkit-appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  padding: 13px 17px;
}

.embla__thumbs__slide__selected .embla__thumbs__slide__button {
  border: 3px solid #017cff;
}

@media (max-width: 900px) {
  .embla {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .embla__viewport {
    width: 340px;
  }
  .embla__slide {
    flex: 0 0 340px;
    padding: 24px;
  }
  .embla__thumbs__viewport {
    width: 300px;
  }
  .embla__thumbs__container {
    margin-left: -7px;
  }
  .embla__thumbs__slide {
    flex: 0 0 90px;
    min-width: 0;
    margin: 0 5px;
  }
  .embla__thumbs__slide__button {
    padding: 10px;
  }
  .logo {
    width: 60px;
    height: 40px;
  }
  .whiteLogo {
    width: 60px;
    height: 40px;
  }
  .arrowBack {
    margin-right: 0;
  }
  .arrowForward {
    margin-left: 0;
  }
}
