.author {
  margin-left: 24px;
}

.quote {
  margin-top: 32px;
}

.company {
  margin-left: 4px;
}

.embla {
  --slide-spacing: 0.7rem;
  --slide-size: 1000px;
  padding: 1.6rem;
}

.embla__viewport {
  overflow: hidden;
  width: 1000px;
}

.embla__container {
  display: flex;
  flex-direction: row;
  height: auto;
  margin: 0 10px;
  /* margin-left: calc(var(--slide-spacing) * -1); */
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  /* padding-left: var(--slide-spacing); */
  position: relative;
  border-radius: 24px;
  background-color: #242931;
  padding: 32px;
}

.embla__thumbs {
  display: flex;
  justify-content: center;
  align-items: center;
  --thumbs-slide-spacing: 13px;
  --thumbs-slide-height: 9rem;
  margin-top: var(--thumbs-slide-spacing);
}

.embla__thumbs__viewport {
  width: 900px;
  overflow: hidden;
}

.embla__thumbs__container {
  display: flex;
  flex-direction: row;
  margin-left: calc(var(--thumbs-slide-spacing) * -1);
}

.embla__thumbs__slide {
  background-color: #242931;
  border-radius: 16px;
  flex: 0 0 28%;
  min-width: 0;
  margin: 0px var(--thumbs-slide-spacing);
  position: relative;
}

@media (min-width: 576px) {
  .embla__thumbs__slide {
    flex: 0 0 18%;
  }
}

.embla__thumbs__slide__button {
  -webkit-appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  opacity: 0.2;
  transition: opacity 0.2s;
  border-radius: 16px;
}

.embla__thumbs__slide__selected .embla__thumbs__slide__button {
  opacity: 1;
  border: 3px solid #017cff;
}
