@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// DEFAULT
// —————————————————————————————————————————————————————————————————
// about
// contact
// join
// mantle
// privacy-policy
// services
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// about
// —————————————————————————————————————————————————————————————————

.timeline {

  &:before {
    @include pseudo-element('', $spacing*15+$spacing*10, auto, 0, 50%, $spacing, 100%);
    transform: translateX(-$spacing/2);
    background-color: $grey-10;

    @include responsive(down, $tablet) {
      display: none;
    }
  }

  &__headline {
    display: flex;
    position: relative;
    margin: $spacing*5 0;

    &:nth-of-type(odd)  { .timeline__date { left: 0; } }
    &:nth-of-type(even) { .timeline__date { right: 0; } }

    @include responsive(down, $tablet) {
      width: 100%;
    }

    &:nth-child(1) {
      margin-top: 0;      
    }
  }

  &__dot {
    border-radius: $border-radius;   
    display: inline-block;
    background-color: $secondary;
    width: $spacing*2;
    height: $spacing*2;
    border: $border-lg $white;
    box-sizing: content-box;
    z-index: 1;
    
    .timeline__item & {
      width: $spacing;
      height: $spacing;

      @include responsive(down, $tablet) {
        display: none;
      }
    }
  }

  &__date {
    position: absolute;
    padding: 0 $spacing*5;

    @include responsive(down, $tablet) {
      padding-left: $spacing*5;
      right: auto !important;
      left: 0 !important;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    width: 100%;

    & + & {
      margin-top: $spacing*5;
    }

    &:nth-of-type(odd) .timeline__text,
    &:nth-of-type(even) .timeline__icon { 
      text-align: right; 
      padding-right: $spacing*8;
      justify-content: flex-end;

      @include responsive(down, $laptop) {
        padding-right: $spacing*4;
      }
    }

    &:nth-of-type(even) .timeline__text,
    &:nth-of-type(odd) .timeline__icon { 
      text-align: left; 
      padding-left: $spacing*8; 
      justify-content: flex-start;

      @include responsive(down, $laptop) {
        padding-left: $spacing*4; 
      }
    }

    &:nth-of-type(even) {
      flex-direction: row-reverse;

      .timeline__button {
        align-self: flex-start;
      }
    }

    @include responsive(up, $desktop-lg) {
      margin-top: $spacing;
      margin-bottom: $spacing;
    }

    @include responsive(down, $laptop) {
      margin-top: $spacing;
      margin-bottom: $spacing;
    }
  }

  &__text, 
  &__icon {
    flex-basis: 50%;
  }

  &__text {

    @include responsive(down, $tablet) {
      flex-basis: 100% !important;
      text-align: left !important;
      padding: 0 !important;
    }
  }

  &__icon {
    height: $spacing*15;
    display: flex;
    
    @include responsive(down, $tablet) {
      display: none;
    }
    
    img {
      height: 100%;
      width: auto;
      max-width: 20rem;
    }

    .timeline__logo {
      height: auto;
      max-height: $spacing*15;
    }
  }

  &__button {
    margin-top: $spacing*2;
    align-self: flex-end;
    
    @include responsive(down, $tablet) {
      align-self: flex-start;
    }
  }

  .body--zero {
    display: contents;
  }
}

#about {

  &-intro {

    .card:before {
      display: none;
    }
  }

  &-leadership {

    .row {
      justify-content: center;
    }
  }
}

// —————————————————————————————————————————————————————————————————
// contact
// —————————————————————————————————————————————————————————————————

#contact {

  .background--cover {

    @include responsive(down, $tablet) {
      background-image: none !important;
    }
  }
}

// —————————————————————————————————————————————————————————————————
// join
// —————————————————————————————————————————————————————————————————

#join {

  ul {
    padding-left: $spacing*2;

    & + .body {
      margin-top: $spacing*2;
    }
  }

  li + li {
    margin-top: $spacing/2;
  }
    
  &-header {

    .section__header {
      z-index: 2;
    }
  }
}

.join {

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: opacity 0.8s ease 0s;

    &:before {
      @include pseudo-element('', 0, 0, 0, 0, 100%, 100%);
      background-color: rgba($primary, 0.5);
      z-index: 1;
    }

    &--london {
      @extend .join__background;
      @include background(bottom center, cover);
    }

    &--porto {
      @extend .join__background;
      @include background(center center, cover);
    }
  }
}

// —————————————————————————————————————————————————————————————————
// mantle
// —————————————————————————————————————————————————————————————————

.mantle {
  align-items: center;

   &__diagram {

  @include responsive(down, $laptop) {
       margin-top: $spacing*5;
     }
   }

   &__legend {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-self: stretch;
   }

   &__label {
     position: relative;
     padding-left: 50%;

     &:before {
       @include pseudo-element('', 50%, auto, auto, $spacing, 40%, 2px);
       position: absolute;
       background-color: rgba($white, 0.5);
     }
   }
}

// —————————————————————————————————————————————————————————————————
// privacy-policy
// —————————————————————————————————————————————————————————————————

.privacy {
  // Creates a new instance of the section counter with each ol element
  counter-reset: section;
  list-style-type: none;
    
  &__title,
  &__subtitle {
    
     &:before {
      // Increments only this instance of the section counter
      counter-increment: section;
      // Combines the values of all instances of the section counter, separated by a period
      content: counters(section, ".") ". ";
    }
  }

  &__title {

    & + .privacy__content {
      padding-top: $spacing*4;
    }
  }

  &__subtitle {
    padding-top: $spacing*4;

    & + .privacy__content {
      padding-top: $spacing*2;
    }
  }

  &__content {
    list-style: none;

    & + .privacy__title {
      padding-top: $spacing*5;
    }
  }

  ul.body {
    padding-left: $spacing*2;
  }
}

// —————————————————————————————————————————————————————————————————
// services
// —————————————————————————————————————————————————————————————————

#services {

  &-solutions {

    .card {

      &__inner {
        padding-right: $spacing*4;
        padding-left: $spacing*4;

        @include responsive-touch() {
          padding-top: 0;
          padding-bottom: $spacing*4;
        }

        @include responsive(down, $laptop) {
          padding-top: 0;
          padding-bottom: $spacing*4;
        }
      }

      &__image {
        transform: scale(3.5) translateY(1rem);
        transform-origin: center, top;
        transition: transform $transition;
        will-change: transform;
        max-width: $spacing*8;
        
        @include responsive-touch() {
          transform: scale(1) translateY(0);
        }

        @include responsive(down, $laptop) {
          transform: scale(1) translateY(0);
        }
      }

      &__title {
        transform: translateY(13rem);
        transition: transform $transition;
        will-change: transform;

        @include responsive-touch() {
          transform: translateY(0);
          margin-top: $spacing*2;
        }

        @include responsive(down, $laptop) {
          transform: translateY(0);
          margin-top: $spacing*2;
        }
      }

      &__body {
        transform: translateY(13rem);
        transition: opacity $transition, transform $transition;
        will-change: opacity, transform;
        opacity: 0;
        margin-top: $spacing*2;

        @include responsive-touch() {
          transform: translateY(0);
          opacity: 1;
        }

        @include responsive(down, $laptop) {
          transform: translateY(0);
          opacity: 1;
        }
      }

      &:hover {

        .card {

          &__image {
            transform: scale(1);
          }

          &__title {
            transform: translateY(0);
          }

          &__body {
            transform: translateY(0);
            opacity: 1;
          }
        }
      }
    }
  }

  &-stack {

    .body--right {

      @include responsive(down, $laptop) {
        text-align: left;
      }
    }
  }
}