<footer id="footer" class="footer section section--dark">
  <div class="footer-row">
    <div class="card">
      <p class="card__title body--large body--bold">Products</p>
      <div class="card__body">
        <a href="https://www.silentdata.com/" class="footer__button button button--text">Silent Data</a>
        <a href="https://londonbridge.io/" class="footer__button button button--text">London Bridge</a>
      </div>
    </div>

    <div class="card">
      <p class="card__title body--large body--bold">Projects</p>
      <div class="card__body">
        <a href="{{ site.base-url }}/projects" class="footer__button button button--text">Case Studies</a>
        <!-- <a href="#who-we-help" class="footer__button button button--text">Testimonials</a> -->
      </div>
    </div>

    <div class="card">
      <p class="card__title body--large body--bold">Solutions</p>
      <div class="card__body">
        <a href="{{ site.base-url }}/projects/opulous" class="footer__button button button--text">Finance and DeFi</a>
        <a href="{{ site.base-url }}/projects/united-nations" class="footer__button button button--text">Supply Chains</a>
        <a href="{{ site.base-url }}/projects/shell" class="footer__button button button--text">Energy & Commodities</a>
        <a href="{{ site.base-url }}/projects/uppfirst" class="footer__button button button--text">Tokenization</a>
      </div>
    </div>

    <div class="card">
      <p class="card__title body--large body--bold">Company</p>
      <div class="card__body">
        <a href="{{ site.base-url }}/about#about-leadership" class="footer__button button button--text">Team</a>
        <a href="{{ site.base-url }}/about#our-story" class="footer__button button button--text">Our Story</a>
        <a href="{{ site.base-url }}/stay-informed#podcasts" class="footer__button button button--text">Stay Informed</a>
        <a href="{{ site.base-url }}/join" class="footer__button button button--text">Careers</a>
        <a href="{{ site.base-url }}/faq" class="footer__button button button--text">FAQ</a>
        <a href="{{ site.base-url }}/contact" class="footer__button button button--text">Contact Us</a>
      </div>
    </div>

    <div class="card">
      <p class="card__title body--large body--bold">Resources</p>
      <div class="card__body">
        <a href="{{ site.base-url }}/press-releases" class="footer__button button button--text">Press Releases</a>
        <a href="https://www.youtube.com/watch?v=wtJta3uCeHY" class="footer__button button button--text">Sessions</a>
        <a href="https://www.linkedin.com/smart-links/AQFQcgqlWtg2wQ" class="footer__button button button--text">Reports</a>
        <a href="{{ site.base-url }}/stay-informed#podcasts" class="footer__button button button--text">Podcasts</a>
      </div>
    </div>
  </div>
  <div class="footer-logo">
    <div class="logo-name-white" style="width: 300px;">
      <a href="{{ site.base-url }}/">
        <img
          src="{{ site.base-url }}{{ site.imageurl }}/logos/ab-logo.svg"
          alt="Applied Blockchain"
          class="logo"
        >
      </a>
    </div>
    <a href="{{ site.base-url }}/privacy-policy" class="footer__button button button--text">
      Privacy policy
    </a>
  </div>
  <div>
    <p class="body body--bold">© Copyright 2023 Applied Blockchain Ltd. All rights reserved.</p>
    <p class="body">Applied Blockchain Ltd is a company registered in England and Wales. Company No. 09686276</p>
  </div>
</footer>
