<footer class="footer section section--left section--col section--dark">
    <div class="row">
        <div class="colalt--lg5">
            <div class="footer__itemfooter__logo">
                <div class="logo logo-name-white">
                    <a href="{{ site.url }}/">
                        {% include mixins/logo.html %}
                    </a>
                </div>
            </div>
            {% include components/social.html %}
        </div>
        <div class="footer__item colalt--lg8 colaltoffset--lg1">
            {% include components/newsletter.html %}
        </div>
        <div class="footer__item footer__adress colalt--md5">
            <p class="footer__title subtitle">Address</p>
            <p>{{ site.address-london }}</p>
            <p class="body--bold">© Copyright 2020 Applied Blockchain Ltd.<br>All rights reserved.<p>
            <p>Applied Blockchain Ltd is a company registered in England and Wales. Company No. 09686276.</p>
        </div>
        <div class="footer__item colalt--md3 colaltoffset--md1 colalt--sm5">
            <p class="footer__title subtitle">Site map</p>
            <a href="{{ site.url }}/" class="footer__button button button--text">Home</a>
            <a href="{{ site.url }}/services" class="footer__button button button--text">Services</a>
            <a href="{{ site.url }}/our-projects" class="footer__button button button--text">Projects</a>
            <a href="{{ site.url }}/products" class="footer__button button button--text">Products</a>
            <a href="{{ site.url }}/about" class="footer__button button button--text">About</a>
            <a href="{{ site.url }}/media" class="footer__button button button--text">Media</a>
            <a href="{{ site.url }}/events" class="footer__button button button--text">Events</a>
            <a href="{{ site.url }}/join" class="footer__button button button--text">Join</a>
            <a href="{{ site.url }}/contact" class="footer__button button button--text">Contact</a>
        </div>
        <div class="footer__item colalt--md3 colalt--sm5">
            <p class="footer__title subtitle">Support</p>
            <a href="{{ site.url }}/faq" class="footer__button button button--text">FAQ</a>
            <a href="{{ site.url }}/privacy-policy" class="footer__button button button--text">Privacy policy</a>
        </div>
        <div class="footer__item colalt--md3 colalt--sm5">
            <p class="footer__title subtitle">Projects</p>
            <p class="footer__button button button--text">Shell</p>
            <p class="footer__button button button--text">Lloyd's Register</p>
            <p class="footer__button button button--text">Toyota</p>
            <p class="footer__button button button--text">Emsurge</p>
            {% for project in site.projects %}
            <a href="{{ project.url }}" class="footer__button button button--text">{{ project.title }}</a>
            {% endfor %}
        </div>
    </div>
</footer>