<header class="header">
  <div class="header__bar">
    <div class="header__logo logo">
      <a href="{{ site.base-url }}/">
        {% include mixins/logo.html %}
      </a>
    </div>
    <div class="header__logo logo-mobile">
      <a href="{{ site.base-url }}/">
        {% include mixins/logo-mobile.html %}
      </a>
    </div>
    <div class="header__action-container">
      <div class="header__actions">
        <a href="{{ site.base-url }}/projects" class="button action">Projects</a>
        <a href="{{ site.base-url }}/services" class="button action">Services</a>
        <a href="{{ site.base-url }}/events-insights#podcasts" class="button action">Events & Insights</a>
        <a href="{{ site.base-url }}/press-releases" class="button action">Press Releases</a>
        <a href="{{ site.base-url }}/about" class="button action">About</a>
        <div class="header__button">
          {% if page.id != 'applied-privacy' %}
            <a href="{{ site.base-url }}/contact" class="header__contact button button--small button--primary button--animate fas fa-envelope">
              <p id="contact-us" class="button__inner action">Contact us</p>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>
