{% assign comment = include.comment %}
{% assign headline = include.headline %}
{% assign subheadline = include.subheadline %}
{% assign subtitle = include.subtitle %}
{% assign body = include.body %}
{% assign background_image = include.background_image %}
{% assign background_color = include.background_color %}

<div class="section page__header{% if page.background_color %} section--{{ page.background_color }}{% endif %} background--cover"{% if page.background_image %} style="background-image: url('{{ site.base-url }}{{ site.imageurl }}/background/{{ page.title | slugify }}.jpg');"{% endif %}>
  <div class="joinRow">
    <div class="title-container">
      {% if page.comment %}
        <p class="page__comment comment">{{ page.comment }}</p>
      {% endif %}
        <h1 class="page__title headline">
          {% if headline %}
            {{ headline }}
          {% else %}
          {% if page.headline %}
            {{ page.headline }}
          {% else %}
            {{ page.title }}
          {% endif %}
          {% endif %}
        </h1>
        <p class="page__subheadline lead" style="color: white; text-align: left">
          {% if subheadline %}
            {{ subheadline }}
          {% else %}
            {% if page.subheadline %}
              {{ page.subheadline }}
            {% endif %}
          {% endif %}
        </p>
      {% if page.subtitle %}
        <p class="page__subtitle lead">{{ page.subtitle }}</p>
      {% endif %}
      {% if page.body %}
        <p class="page__body body--large">{{ page.body }}</p>
      {% endif %}
    </div>
    {% if page.title == 'Join' %}
      <div class="pipedriveWebForms joinForm" data-pd-webforms="https://webforms.pipedrive.com/f/1uLhuWQoXLrdsJV7jRveG9NQ5luJVvZgX6zqoibC7f4a833i9L2V1hAVHuS89nhR1"><script src="https://webforms.pipedrive.com/f/loader"></script></div>
    {% endif %}
  </div>
</div>
