{% assign comment = include.comment %}
{% assign headline = include.headline %}
{% assign subtitle = include.subtitle %}
{% assign body = include.body %}
{% assign background_image = include.background_image %}
{% assign background_color = include.background_color %}

<div class="section page__header{% if page.background_color %} section--{{ page.background_color }}{% endif %} background--cover"{% if page.background_image %} style="background-image: url({{ site.url }}{{ site.imageurl }}/background/{{ page.title | slugify }}.jpg);"{% endif %}>
    {% if page.comment %}
    <p class="page__comment comment">{{ page.comment }}</p>
    {% endif %}
    <h1 class="page__title headline">{% if headline %}{{ headline }}{% else %}{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}{% endif %}</h1>
    {% if page.subtitle %}
    <p class="page__subtitle lead">{{ page.subtitle }}</p>
    {% endif %}
    {% if page.body %}
    <p class="page__body body--large">{{ page.body }}</p>
    {% endif %}
</div>