<div class="widget__header body--large body--bold">
    <p>Discover Applied Proofs, our solution for sharing data without revealing it</p>
</div>
<div class="widget__content">
    <div>
        <p>One of the greatest assets any business has today is data, however the greatest challenge remains how data can be shared securely and privately.</p>
        <a href="{{ site.url }}/applied-proofs" target="_blank" class="button button--small button--secondary button--animate fas fa-plus">
            <p class="button__inner">Learn more</p>
        </a>
    </div>
</div>
