<div class="widget__header body--large body--bold">
    <p>Discover zero knowledge proofs</p>
</div>
<div class="widget__content">
    <div class="testimonial__image widget__portrait background--cover" style="background-image: url({{ site.url }}{{ site.imageurl }}/news/the-great-hack.jpg);" alt="Logo The Great Hack"></div>
    <div>
        <p>If you’ve watched <span class="body--bold">The Great Hack</span> on Netflix, you’ll be aware of the problem. See how we’re helping to solve it using <span class="body--bold">zero knowledge proofs</span>.“</p>
        <a href="{{ site.url }}/applied-proofs" target="_blank" class="button button--small button--secondary button--animate fas fa-plus">
            <p class="button__inner">Learn more</p>
        </a>
    </div>
</div>
