<div class="widget__content">
    <div>
        <p class="body--large body--bold">Applied Blockchain raises £2m to enable companies to do more together while sharing less data</p>
        <a href="https://appliedblockchain.com/applied-blockchain-raises-2m-to-enable-companies-to-do-more-together-while-sharing-less-data/" target="_blank" class="button button--small button--secondary button--animate fas fa-eye">
            <p class="button__inner">Read press release</p>
        </a>
    </div>
</div>