<div class="widget__header body--large body--bold">
    <p>Zero Knowledge Proofs for Business: Sharing Data without Revealing It</p>
</div>
<div class="widget__content">
    <div>
        <p>Applied Blockchain is pleased to announce a day long training workshop aimed at a business audience to learn about the emerging technology of zero knowledge proofs and how it can be applied in a business setting.</p>
        <a href="https://www.eventbrite.co.uk/e/zero-knowledge-proofs-for-business-sharing-data-without-revealing-it-tickets-62707421586" target="_blank" class="ga-button-news-external button button--small button--white button--animate fas fa-play">
            <p class="button__inner">Tickets and information</p>
        </a>
    </div>
</div>
    