<div class="widget__header body--large body--bold">
    <p>Zero Knowledge Proofs for Business</p>
</div>
<div class="widget__content">
    <div>
        <p>Applied Blockchain is pleased to announce an online session aimed at a business audience to learn about the emerging technology of zero knowledge proofs and how it can be applied to enhance security and privacy in a business setting.</p>
        <a href="https://zoom.us/webinar/register/WN_ex2LDfNOS2mPVVCSxoROng" target="_blank" class="ga-button-news-external button button--small button--highlight button--animate fas fa-edit">
            <p class="button__inner">Register</p>
        </a>
        <a href="https://www.youtube.com/watch?v=jSVluJA77Pg&feature=youtu.be" target="_blank" class="button button--small button--dark button--animate fas fa-play">
            <p class="button__inner">Watch video</p>
        </a>
    </div>
</div>