<div class="widget__header body--large body--bold">
    <p>Watch Adi talk about zero knowledge proofs</p>
</div>
<div class="widget__content">
    <div class="testimonial__image widget__portrait background--cover" style="background-image: url({{ site.url }}{{ site.imageurl }}/news/zkp-video.jpg);" alt="Logo The Great Hack"></div>
    <div>
        <p>Our CEO Adi Ben-Ari discusses how zero knowledge proofs will transform the way we exchange data.</p>
        <a href="https://www.linkedin.com/feed/update/urn:li:activity:6562631345112260608/" target="_blank" class="button button--small button--secondary button--animate fas fa-play">
            <p class="button__inner">Watch video</p>
        </a>
    </div>
</div>