@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// MISC
// —————————————————————————————————————————————————————————————————

#webinar {
    @include background(center center, cover);
    min-height: 100vh;
    
    &:before {
        @include pseudo-element('', 0, 0, 0, 0, 100vw, 200%);
        background-color: rgba($dark, 0.8);
    }

    .section {
        background-color: transparent;

        &:before {
            background-image: none;
        }
    }
}

#report {
    @include background(center center, cover);
    min-height: 100vh;
    
    .section {
        background-color: transparent;

        &:before {
            background-image: none;
        }
    }
}
