{% include header.html %}

<div class="page">

    <!-- edit component in _includes/components/page-header.html -->
    {% include components/page-header.html
        background-color='primary'
        title='About'
        description='We are a team of blockchain developers [technologists/engineers], designers, and advisors [consultants] with unique expertise in building future proof, platform agnostic blockchain applications that solve our client’s problems.'
    %}

    <section class="section">

        <!-- edit component in _includes/components/section-header.html -->
        {% include components/section-header.html
            title='Our story'
        %}

        <div class="section__content">
        </div>

    </section>

    <section class="section section--block">
        <div class="block">

            <!-- edit component in _includes/components/section-header.html -->
            {% include components/section-header.html
                title='Investors'
            %}
    
            <div class="section__content">
            </div>

        </div>
    </section>

    <section class="section">

        <!-- edit component in _includes/components/section-header.html -->
        {% include components/section-header.html
            title='Partners'
        %}

        <div class="section__content">
            <div class="block">
            </div>
        </div>

    </section>

    <section class="section">

        <!-- edit component in _includes/components/section-header.html -->
        {% include components/section-header.html
            title='Our core values underpin all of our work'
        %}

        <div class="section__content">
        </div>

    </section>

    <section class="section section--fullwidth section--dark">

        <!-- edit component in _includes/components/section-header.html -->
        {% include components/section-header.html
            title='Leadership team'
            description='Our founding team brings in 20+ years of experience in enterprise IT architecture, big data, artificial intelligence, integration and solution delivery in telecommunications and financial services.'
        %}

        <div class="section__content leadership">
            
        </div>

    </section>

    <section class="section section--alt section--fullwidth section--dark">

        <!-- edit component in _includes/components/section-header.html -->
        {% include components/section-header.html
            title='Our people'
        %}

        <div class="section__content">
        </div>

    </section>

</div>

{% include footer.html %}