{% include header.html %}

<div class="page">

    <!-- edit component in _includes/components/page-header.html -->
    {% include components/page-header.html
        background-color='primary'
        title='About'
        description='We are a team of blockchain developers [technologists/engineers], designers, and advisors [consultants] with unique expertise in building future proof, platform agnostic blockchain applications that solve our client’s problems.'
    %}

    <section class="section">

        <!-- edit component in _includes/components/section-header.html -->
        {% include components/section-header.html
            title='Our story'
        %}

        <div class="section__content">
        </div>

    </section>

    <section class="section section--block">
        <div class="block">

            <!-- edit component in _includes/components/section-header.html -->
            {% include components/section-header.html
                title='Investors'
            %}
    
            <div class="section__content">
            </div>

        </div>
    </section>

    <section class="section section--block">

        <!-- edit component in _includes/components/section-header.html -->
        {% include components/section-header.html
            title='Partners'
        %}

        <div class="owl-carousel owl-carousel-clients carousel block">
            {% for item in site.data.images.partners %}
                <img src="{{ site.baseurl }}{{ site.imageurl }}/logos/clients/{{ item.url }}.png" alt="Logo {{ item.alt }}" class="carousel__img hover-grayscale">
            {% endfor %}
        </div>

    </section>

    <section class="section">

        <!-- edit component in _includes/components/section-header.html -->
        {% include components/section-header.html
            title='Our core values underpin all of our work'
        %}

        <div class="section__content">
        </div>

    </section>

    <section class="section section--fullwidth section--dark">

        <!-- edit component in _includes/components/section-header.html -->
        {% include components/section-header.html
            title='Leadership team'
            description='Our founding team brings in 20+ years of experience in enterprise IT architecture, big data, artificial intelligence, integration and solution delivery in telecommunications and financial services.'
        %}

        <div class="section__content tab tab--vertical leadership">
            <!-- edit data in _data/testimonials.html -->
            {% for item in site.data.leadership %}
                <div id="{{ item.slug }}" class="tab__item row background--cover" style="background-image: url({{ site.url }}{{ site.imageurl}}/team/{{ item.slug }}.jpg);">
                    <div class="col--9 leadership__content">
                        <p class="blog__date body--bold">{{ item.title }}</p>
                        <h2 class="blog__title subtitle">{{ item.name }}</h2>
                        <p>{{ item.bio }}</p>
                    </div>
                </div>
            {% endfor %}
            <div class="tab__nav leadership__nav">
                <!-- edit data in _data/testimonials.html -->
                {% for item in site.data.leadership %}
                    <a href="#{{ item.slug }}" class="nav__button {{ item.active }} leadership__button">
                        <div class="block leadership__portrait background--cover"  style="background-image: url({{ site.url }}{{ site.imageurl}}/team/{{ item.slug }}-portrait.jpg);"></div>
                        <p class="body--bold body--large">{{ item.name | truncatewords: 1, "" }}</p>
                        <p>{{ item.division }}</p>
                    </a>
                {% endfor %}
            </div>
        </div>

    </section>

    <section class="section section--alt section--nopadding section--dark">

        <!-- edit component in _includes/components/section-header.html -->
        {% include components/section-header.html
            title='Our people'
        %}

        <div class="section__content background--cover row team" style="background-image: url({{ site.url }}{{ site.imageurl}}/team/team.jpg);">
            <a href="" class="team__button button button--large button--highlight button--animate fas fa-user-plus">
                <p class="button__inner">Join our growing team</p>
            </a>
        </div>

    </section>

</div>

{% include footer.html %}