---
layout: compress
---

{% include containers/header.html %}

{% capture side_content %}
<div class="anchor">
  <div class="anchor__item"><a class="button__inner" href="#the-technology">The technology</a></div>
  <div class="anchor__item"><a class="button__inner" href="#properties">Properties</a></div>
  <div class="anchor__item"><a class="button__inner" href="#use-case">Use case</a></div>
  <div class="anchor__item"><a class="button__inner" href="#events">Events</a></div>
  <div class="anchor__item"><a class="button__inner" href="#contact">Contact</a></div>
</div>
{% endcapture %}

{% include components/page-header.html
  banner_color = "dark"
  side_content = side_content
%}

<div id="landing">
  <div class="section section--{% if page.title == 'Applied Proofs' %}dark{% else %}transparent{% endif %} page__header">
  </div>
  <div class="section section--{% if page.title == 'Applied Proofs' %}dark{% else %}transparent{% endif %}">
    <div class="body--left row">
      <p class="lead grid__item--lg6 grid__item--md9">{{ page.intro }}</p> 
    </div>
  </div>
</div>

<div class="section section--{% if page.title == 'Applied Proofs' %}dark{% else %}transparent{% endif %}">
  <div class="timeline__content row">
    <div class="coloffset--lg3 grid__item--lg3 grid__item--md4">
      <div class="timeline__item">
        <p class="timeline__date label">April 2016</p>  
        <span class="timeline__dot"></span>
        <p class="timeline__title body--large body--bold">GDPR adoption</p>
      </div>
    </div>
    <div class="grid__item--lg3 grid__item--md4">
      <div class="timeline__item">
        <p class="timeline__date label">May 2018</p>  
        <span class="timeline__dot"></span>
        <p class="timeline__title body--large body--bold">GDPR enforcement</p>
      </div>
    </div>
    <div class="grid__item--lg3 grid__item--md4">
      <div class="timeline__item">
        <p class="timeline__date label">Today</p>  
        <span class="timeline__dot triangle"></span>
        <p class="timeline__title body--large body--bold">The data economy</p>
        <p class="timeline__text body">Data innovation that enables sharing without revealing</p>
      </div>
    </div>
  </div>
</div>

<div id="the-technology" class="section section--{% if page.title == 'Applied Proofs' %}dark{% else %}transparent{% endif %} body--left">
  {% include components/section-header.html
    comment = "The technology"
    title = "What are zero knowledge proofs?"
    body = "Zero knowledge proofs enable certain properties of our identity to be shared and verified by a counterpart without revealing or sharing the underlying data."
  %}
</div>

<div id="properties" class="section section--{% if page.title == 'Applied Proofs' %}dark{% else %}transparent{% endif %}">
  {% include components/section-header.html
    comment = "Properties"
    title = "Why does my business need this technology?"
    body = "Zero Knowledge Proofs are designed to provide your business with the following:"
  %}
  <div class="section__content">
    <div class="row">
      {% capture page_id %}{{ page.title | slugify }}{% endcapture %}
      {% for item in site.data.images[page_id] %}
      <div class="grid__item--md3 grid__item--6 card">
        <img src="{{ site.base-url }}{{ site.imageurl }}/icons/icon-{{ item.url }}.png" alt="{{ item.url }} icon" class="card__image">
        <p class="card__title body body--bold">{{ item.title }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div id="use-case" class="section section--{% if page.title == 'Applied Proofs' %}dark{% else %}transparent{% endif %} section--full">
  {% include components/section-header.html
    comment = "Use case"
    title = "How does it work?"
    body = page.use_case
  %}
  <div class="section__content section--white">
    <div class="row">
      <img src="{{ site.base-url }}{{ site.imageurl }}/graphics/{{ page.title | slugify }}.png" alt="Use case diagram" class="coloffset--2 grid__item--8">
    </div>
  </div>
</div>

<div id="events" class="section section--grey">
  {% include components/section-header.html
    comment = "Events"
    title = "Join our zero knowledge workshops for business"
    body = "We just started hosting zero knowledge proofs workshops for business. Contact us for more information."
  %}
  <div class="section__content display--block z-index--2">
    <div class="background--shadow">
      <div class="embed-container">
        <iframe src="https://www.youtube.com/embed/-Jslgdcz_ho" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div id="contact" class="section section--white section--overlap">
  {% include components/section-header.html
    comment = "Contact"
    title = "Interested in our solution?"
    body = "Give us an shout and we will get back to you"
  %}
  <div class="section__content">
    <a href="{{ site.base-url }}/contact" class="button button--highlight button--animate fas fa-envelope">
      <p class="button__inner">Contact us</p>
    </a>
  </div>
</div>

{% include components/footer.html %}
