<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125324953-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-125324953-1');
	</script>

	<!-- Google Tag Manager -->
	<script>
		(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-P69MF67');
	</script>

    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>	

	<!-- prevent search engine from indexing – remove when development is over -->
	<meta name="robots" content="noindex, nofollow">

	<!-- META -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{% if page.description %}
		<meta name="description" content="{{ page.description }} ">
	{% else %}
		<meta name="description" content="{{ site.description }} ">
	{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
	<!-- image for share button -->
	<meta property="og:image" content="https://appliedblockchain.com/{{ site.imageurl }}/posts/{{ page.image }}.jpg"/>

	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/favicon-16x16.png">
	<link rel="manifest" href="{{ site.url }}/site.webmanifest">
	<link rel="mask-icon" href="{{ site.url }}/safari-pinned-tab.svg" color="#007bff">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">

	<!-- CSS -->
	<link rel="stylesheet" href="{{ site.url }}{{ site.resourceurl }}/stylesheets/style.css" />
	
	<!-- VENDOR -->
	<!-- font awesome -->
	<link href="{{ site.url }}{{ site.resourceurl }}/vendor/fontawesome/css/all.min.css" rel="stylesheet">
    <!-- owl carousel -->
	<link href="{{ site.url }}{{ site.resourceurl }}/vendor/owlcarousel/owl.carousel.min.css" rel="stylesheet">
	
    <!-- VENDOR -->
	<!-- jquery -->
	<script src="{{ site.url }}{{ site.resourceurl }}/vendor/jquery/jquery-3.3.1.min.js"></script>
	<!-- owl carousel -->
	<script src="{{ site.url }}{{ site.resourceurl }}/vendor/owlcarousel/owl.carousel.min.js"></script>
	<!-- flexslider -->
	<script src="{{ site.url }}{{ site.resourceurl }}/vendor/flexslider/jquery.flexslider-min.js"></script>
	<!-- isotope (blog filter) -->
	<script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.js"></script>
	<!-- float-panel (animations) -->
	<script src="{{ site.url }}{{ site.resourceurl }}/vendor/float-panel.js"></script>

	<!-- JAVASCRIPT -->
	<script src="{{ site.url }}{{ site.resourceurl }}/js/accordions.js"></script>
	<script src="{{ site.url }}{{ site.resourceurl }}/js/anchor.js"></script>
	<script src="{{ site.url }}{{ site.resourceurl }}/js/buttons.js"></script>
	<script src="{{ site.url }}{{ site.resourceurl }}/js/carousel.js"></script>
	<script src="{{ site.url }}{{ site.resourceurl }}/js/cursor.js"></script>
	<script src="{{ site.url }}{{ site.resourceurl }}/js/filter.js"></script>
	<script src="{{ site.url }}{{ site.resourceurl }}/js/form.js"></script>
	<script src="{{ site.url }}{{ site.resourceurl }}/js/join.js"></script>
	<script src="{{ site.url }}{{ site.resourceurl }}/js/modals.js"></script>
	<script src="{{ site.url }}{{ site.resourceurl }}/js/script.js"></script>
	<script src="{{ site.url }}{{ site.resourceurl }}/js/slider.js"></script>
	<script src="{{ site.url }}{{ site.resourceurl }}/js/tabs.js"></script>
	<script src="{{ site.url }}{{ site.resourceurl }}/js/tooltips.js"></script>

</head>

<body id="applied" class="{{ page.title | slugify }} background--cover" style="background-image: url({{ site.url }}{{ site.imageurl }}/background/{{ page.title | slugify }}.jpg); background-position: 0 0;">

<!-- Google Tag Manager (noscript) -->
<noscript>
	<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P69MF67" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>

<!-- cookie banner -->
<div class="cookie">
    <p class="cookie__text body--small">We want to give you the best service by using cookies. Carry on browsing if you are happy with this, or <a href="{{ site.url }}/privacy-policy" class="button--underline">find out</a> how we manage your cookies.</p>
    <button class="cookie__button button button--small button--primary-darken button--animate fas fa-check">
        <p class="button__inner">Got it</p>
    </button>
</div>

<div class="section section--{% if page.title == 'Applied Proofs' %}dark{% else %}transparent{% endif %} page__header slideanim">
    <h1 class="page__title headline">{{ page.title }}</h1>
    <p class="page__subtitle title">{{ page.subtitle }}</p>
    <p class="page__body subtitle">{{ page.body }}</p>
</div>

<div class="section section--{% if page.title == 'Applied Proofs' %}dark{% else %}transparent{% endif %} slideanim">
    <div class="body--left row">
        <p class="slideanim lead col--lg6 col--md9">{{ page.intro }}</p> 
        <div class="slideanim ap__anchor anchor coloffset--lg3 col--md3 z-index--1">
            <div class="button anchor__item"><a class="button__inner" href="#the-technology">The technology</a></div>
            <div class="button anchor__item"><a class="button__inner" href="#properties">Properties</a></div>
            <div class="button anchor__item"><a class="button__inner" href="#use-case">Use case</a></div>
            <div class="button anchor__item"><a class="button__inner" href="#events">Events</a></div>
            <div class="button anchor__item"><a class="button__inner" href="#contact">Contact</a></div>
        </div>
    </div>
</div>

<section class="section section--{% if page.title == 'Applied Proofs' %}dark{% else %}transparent{% endif %} slideanim">
    <div class="timeline__content row">
        <div class="coloffset--lg3 col--lg3 col--md4 timeline__item">
            <p class="timeline__date label">April 2016</p>
            <span class="timeline__dot"></span>
            <p class="timeline__title body--large body--bold">GDPR adoption</p>
        </div>
        <div class="col--lg3 col--md4 timeline__item">
            <p class="timeline__date label">May 2018</p>
            <span class="timeline__dot"></span>
            <p class="timeline__title body--large body--bold">GDPR enforcement</p>
        </div>
        <div class="col--lg3 col--md4 timeline__item">
            <p class="timeline__date label">Today</p>
            <span class="timeline__dot triangle"></span>
            <p class="timeline__title body--large body--bold">The data economy</p>
            <p class="timeline__text body">Data innovation that enables sharing without revealing</p>
        </div>
    </div>
</section>

<section id="the-technology" class="section section--{% if page.title == 'Applied Proofs' %}dark{% else %}transparent{% endif %}">
    {% include containers/sections/header.html
        comment = 'The technology'
        title = 'What are zero knowledge proofs?'
        body = 'Zero knowledge proofs enable certain properties of our identity to be shared and verified by a counterpart without revealing or sharing the underlying data.'
    %}
</section>

<section id="properties" class="section section--{% if page.title == 'Applied Proofs' %}dark{% else %}transparent{% endif %}">
    {% include containers/sections/header.html
        comment = 'Properties'
        title = 'Why does my business need this technology?'
        body = 'Zero Knowledge Proofs are designed to provide your business with the following:'
    %}
    <div class="section__content">
        <div class="card__wrapper--inline">
            {% capture page_id %}{{ page.title | slugify }}{% endcapture %}
            {% for item in site.data.images.[page_id] %}
            <div class="card">
                <img src="{{ site.url }}{{ site.imageurl }}/icons/icon-{{ item.url }}.png" alt="{{ item.url }} icon" class="card__image">
                <p class="card__title body body--bold">{{ item.title }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section id="use-case" class="section section--{% if page.title == 'Applied Proofs' %}dark{% else %}transparent{% endif %} section--full">
    {% include containers/sections/header.html
        comment = 'Use case'
        title = 'How does it work?'
        body = page.use_case
    %}
    <div class="section__content section--white">
        <div class="row">
            <img src="{{ site.url }}{{ site.imageurl }}/graphics/{{ page.title | slugify }}.png" alt="Use case diagram" class="coloffset--2 col--8">
        </div>
    </div>
</section>

<section id="events" class="section section--grey">
    {% include containers/sections/header.html
        comment = 'Events'
        title = 'Join our zero knowledge workshops for business'
        body = 'We just started hosting zero knowledge proofs workshops for business. Contact us for more information.'
    %}
    <div class="section__content display--block z-index--2">
        <div class="background--shadow">
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/-Jslgdcz_ho" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="section section--white section--overlap">
    {% include containers/sections/header.html
        comment = 'Contact'
        title = 'Interested in our solution?'
        body = 'Give us an shout and we will get back to you'
    %}
    <div class="section__content">
        <a href="{{ site.url }}/contact" class="button button--highlight button--large button--animate fas fa-envelope">
            <p class="button__inner">Contact us</p>
        </a>
    </div>
</section>

</body>
</html>