{% include header.html %}

<div id="applied-proofs">

    <div class="section section--header section--grey background--cover">
        <h1 class="headline">Applied Proofs</h1>
        <h2>We are a team of blockchain engineers, designers, and advisors with unique expertise in building future-proof, platform agnostic blockchain applications that solve our client’s problems</h2>
    </div>

    <section class="section section--dark section--left">

        <div class="section__content">
            <div class="row">
                <div class="col--md6">
                    <!-- edit component in _includes/components/section-header.html -->
                    {% include components/section-header.html
                        title='What are Zero Knowledge Proofs? '
                        subtitle='Zero knowledge proofs enable certain properties of data to be shared and verified by a counterpart without revealing or sharing the underlying data.'
                    %}
                </div>
            </div>
        </div>
            
    </section>

</div>

{% include footer.html %}