{% include header.html %}

    <span class="graphic graphic--background">
        <!-- edit elements in _includes/elements/graphic-circle.svg -->
        {% include elements/graphic-circle.svg %}
    </span>

    <!-- edit component in _includes/components/page-header.html -->
    {% include components/page-header.html
        background-color='dark'
        title='Case studies'
    %}

    {% if site.projects.size > 0 %}

        <section class="section section--alt section--dark">

            <div class="section__content portfolio portfolio--featured">
                {% for project in site.projects %}
                    <!-- add this tag to project page to featured it -->
                    {% if project.tag contains 'featured' %}
                    <a href="{{ project.url }}" class="portfolio__item block background--cover" style="background-image: url({{ site.baseurl }}{{ site.imageurl }}/projects/cover/{{ project.slug }}.jpg);">
                        <div class="portfolio__logo">
                            <img src="{{ site.url }}{{ site.imageurl }}/logos/clients-alt/{{ project.slug }}.png" alt="{{ project.title }} logo">
                        </div>
                        <div class="portfolio__content">
                            <p class="portfolio__comment comment">{{ project.industry }}</p>
                            <h2 class="portfolio__title subtitle">{{ project.title }}</h2>
                            <p class="portfolio__subtitle lead">{{ project.subtitle }}</p>
                            <p class="portfolio__desc">
                                <span>{{ project.summary }}</span>
                            </p>
                            <div class="portfolio__button">
                                <span href="" class="button button--secondary button--small button--animate fa fa-eye">
                                    <p class="button__inner">Read more</p>
                                </span>
                            </div>
                        </div>
                    </a>
                    {% endif %}
                {% endfor %}
            </div>
            
        </section>

        <section class="section section--nopadding portfolio">

            <div class="portfolio--grid">
                {% for project in site.projects %}
                    {% unless project.tag contains 'featured' %}
                    <a href="{{ project.url }}" class="portfolio__item background--cover" style="background-image: url({{ site.baseurl }}{{ site.imageurl }}/projects/cover/{{ project.slug }}.jpg);">
                        <div class="portfolio__content">
                            <!-- <div class="portfolio__logo">
                                <img src="{{ site.url }}{{ site.imageurl }}/logos/clients-bis/{{ project.slug }}.png" alt="{{ project.title }} logo">
                            </div> -->
                            <p class="portfolio__comment comment">{{ project.industry }}</p>
                            <h2 class="portfolio__title subtitle">{{ project.title }}</h2>
                            <p class="portfolio__subtitle lead">{{ project.subtitle }}</p>
                            <p class="portfolio__desc">
                                <span>{{ project.summary }}</span>
                            </p>
                            <div class="portfolio__button">
                                <span href="" class="button button--secondary button--small button--animate fa fa-eye">
                                    <p class="button__inner">Read more</p>
                                </span>
                            </div>
                        </div>
                    </a>
                    {% endunless %}
                {% endfor %}
            </div>

        </section>

    {% else %}

        <section class="section section--alt section--dark">

            <!-- edit component in _includes/components/section-header.html -->
            {% include components/section-header.html
                title='There are no project available. Come back soon!'
            %}

        </section>

    {% endif %}

{% include footer.html %}