{% include header.html %}

<div class="page" id="contact">

    <!-- edit component in _includes/components/page-header.html -->
    {% include components/page-header.html
        title='Get in touch today!'
        description='Learn more about our blockchain solutions and how we can support you in implementing your project'
        comment='Send us a message and our team will be in touch'
    %}

    <section class="section section--alt">

        <!-- edit component in _includes/components/section-header.html -->
        {% include components/section-header.html
            title='I am a'
        %}

        <div class="section__content tab tab--vertical contact">
            <div class="section__filter tab__nav">
                <a href="#business" class="nav__button nav__button--active button button--primary button--animate fas fa-building">
                    <p class="button__inner">Business</p>
                </a>
                <a href="#talent" class="nav__button button button--primary button--animate fas fa-code">
                    <p class="button__inner">Talent</p>
                </a>
            </div>
            <div class="tab__content form block">
                <div id="business" class="tab__item">
                    <!-- edit component in _includes/components/forms/form-business.html -->
                    {% include components/forms/form-business.html %}
                </div>
                <div id="talent" class="tab__item">
                    <!-- edit component in _includes/components/forms/form-talent.html -->
                    {% include components/forms/form-talent.html %}
                </div>
            </div>
        </div>

    </section>

    <section class="section section--primary section--fullwidth office">

        <!-- edit component in _includes/components/section-header.html -->
        {% include components/section-header.html
            title='We are headquartered at Level39 with views overlooking London, and have offices in Porto'
        %}

        <div class="section__content">
            <div class="row">
                <div class="col--md6 office__item background--cover" style="background-image: url({{ site.url }}{{ site.imageurl }}/background/london.jpg);">
                    <p class="office__title comment">Level39, Canary Wharf, London, UK</p>
                    <a href="https://goo.gl/maps/6ZGinKLzUf82" target="_blank" class="button button--primary-darken button--animate fas fa-directions">
                        <p class="button__inner">Get directions</p>
                    </a>
                </div>
                <div class="col--md6 office__item background--cover" style="background-image: url({{ site.url }}{{ site.imageurl }}/background/porto.jpg);">
                    <p class="office__title comment">Rua de Cândido dos Reis, Porto, Portugal</p>
                    <a href="https://goo.gl/maps/8dY5FRFHCik" target="_blank" class="button button--primary-lighten button--animate fas fa-directions">
                        <p class="button__inner">Get directions</p>
                    </a>
                </div>
            </div>
        </div>

    </section>

</div>

{% include footer.html %}