{% include header.html %}

<div id="delivery-process">

    <!-- edit component in _includes/components/page-header.html -->
    {% include components/page-header.html
        title='Delivery Process'
        description='Discover how we apply Agile Software Development Methodology'
        comment='We adapted Agile Methodology to fit our needs, our culture, and our resources. This flexible approach helps us deliver end-to-end solutions quickly and efficiently.'
    %}

    <section class="section section--grey section--left">

        <!-- edit component in _includes/components/section-header.html -->
        {% include components/section-header.html
            title='Project management'
            description='We work on two weeks sprints. Having frequent milestones helps us measure the workload and the project status.'
        %}

        <div class="calendar">
            <span class="calendar__item"><span class="calendar__dot--large"></span></span>
            <span class="calendar__item"><span class="calendar__dot"></span></span>
            <span class="calendar__item"><span class="calendar__dot"></span></span>
            <span class="calendar__item"><span class="calendar__dot"></span></span>
            <span class="calendar__item"><span class="calendar__dot"></span></span>
            <span class="calendar__item"><span class="calendar__dot"></span></span>
            <span class="calendar__item"><span class="calendar__dot"></span></span>
            <span class="calendar__item"><span class="calendar__dot"></span></span>
            <span class="calendar__item"><span class="calendar__dot"></span></span>
            <span class="calendar__item"><span class="calendar__dot"></span></span>
            <span class="calendar__item"><span class="calendar__dot"></span></span>
            <span class="calendar__item"><span class="calendar__dot"></span></span>
            <span class="calendar__item"><span class="calendar__dot"></span></span>
            <span class="calendar__item"><span class="calendar__dot--large"></span></span>
            <span class="calendar__item"><span class="calendar__dot--large"></span></span>
            <span class="calendar__item"><span class="calendar__dot"></span></span>
            <span class="calendar__item"><span class="calendar__dot"></span></span>
            <span class="calendar__item"><span class="calendar__dot"></span></span>
            <span class="calendar__item"><span class="calendar__dot"></span></span>
            <span class="calendar__item"><span class="calendar__dot"></span></span>
            <span class="calendar__item"><span class="calendar__dot"></span></span>
            <span class="calendar__item"><span class="calendar__dot"></span></span>
            <span class="calendar__item"><span class="calendar__dot"></span></span>
            <span class="calendar__item"><span class="calendar__dot"></span></span>
            <span class="calendar__item"><span class="calendar__dot"></span></span>
            <span class="calendar__item"><span class="calendar__dot"></span></span>
            <span class="calendar__item"><span class="calendar__dot"></span></span>
            <span class="calendar__item"><span class="calendar__dot--large"></span></span>
        </div>

    </section>

</div>

{% include footer.html %}