{% include containers/site/header.html %}

{% include components/page-header.html
    title='Events'
    description='Meet our team at these events!'
%}

<section class="section section--alt">
    <div class="section__content tab tab--vertical event">
        <div class="section__filter tab__nav">
            <a href="#upcoming" class="filter__button nav__button nav__button--active button button--primary button--animate fa fa-fast-forward">
                <p class="button__inner">Upcoming</p>
            </a>
            <a href="#past" class="filter__button nav__button button button--primary button--animate fa fa-fast-backward">
                <p class="button__inner">Past</p>
            </a>
        </div>
        <div class="tab__content block event">
            <div id="upcoming" class="tab__item">
                 <!-- reverse the order -->
                {% assign sorted = site.data.events | reverse %}
                {% for event in sorted %}
                 <!-- capture today's date -->
                {% capture now %} {{'now' | date: '%s' | plus: 0 }} {% endcapture %}
                <!-- capture event date -->
                {% capture date %} {{ event.date | date: '%s' | plus: 0 }} {% endcapture %} 
                {% if date >= now %}
                {% include components/event.html %}
                {% endif %}
                {% endfor %} 
            </div>
            <div id="past" class="tab__item">
                {% for event in site.data.events %}
                <!-- capture today's date -->
                {% capture now %} {{'now' | date: '%s' | plus: 0 }} {% endcapture %}
                <!-- capture event date -->
                {% capture date %} {{ event.date | date: '%s' | plus: 0 }} {% endcapture %}
                {% if date < now %}
                {% include components/event.html 
                    variant = 'past'
                %}
                {% endif %}
                {% endfor %} 
            </div>
        </div>
    </div>
</section>

{% include containers/site/footer.html %}