{% include header.html %}

<div class="page">

    <!-- edit component in _includes/components/page-header.html -->
    {% include components/page-header.html
        background-color='primary'
        title='Building future-proof, decentralised solutions'
    %}

    <section class="section section--primary">

        <!-- edit component in _includes/components/section-header.html -->
        {% include components/section-header.html
            comment='What we do'
            title='We innovate, design, and build decentralised solutions to solve real-world problems'
            description='We deliver end-to-end blockchain solutions for a range of sectors including banking, wealth management, trade finance, property, aviation, recruitment and legal.'
        %}

        <div class="section__content">
        </div>

        <div class="section__link">
            <a href="" class="button button--primary-darken button--large button--animate fa fa-search">
                <p class="button__inner">Find out more</p>
            </a>
        </div>

    </section>

    <section class="section section--left section--grey">

        <!-- edit component in _includes/components/section-header.html -->
        {% include components/section-header.html
            comment='Who we help'
            title='We have developed blockchain solutions for over 30 clients – from startups to enterprises and everything in between'
            description='Our founders come with two decades of experience in designing, developing and deploying solutions for the largest global institutions. We fully understand and appreciate non-function and integration requirements, along with the challenges associated with delivering new, innovative technology to enterprise production supported environments. As we are a startup ourselves, we fully understand the pressure of startups – and this forces us to innovate, deliver and deploy at speed. Our team works with companies from inception to establishing long-term relationships.'
        %}

        <div class="section__link">
            <a href="" class="button button--secondary button--large button--animate fas fa-fill">
                <p class="button__inner">View case studies</p>
            </a>
        </div>

    </section>

    <section class="section section--block section--grey">
        <div class="owl-carousel owl-carousel-clients carousel block">
            {% for item in site.data.images.projects %}
                <img src="resources/images/logos/clients/logo-{{ item.url }}.png" alt="Logo {{ item.alt }}" class="carousel__img hover-grayscale">
            {% endfor %}
        </div>
    </section>

    <section class="section section--grey">

        <!-- edit component in _includes/components/section-header.html -->
        {% include components/section-header.html
            comment='Why us'
            title='A Global Blockchain Solutions Development Firm'
        %}

        <div class="section__content">
        </div>

        <div class="section__link">
            <a href="" class="button button--secondary button--large button--animate fas fa-search">
                <p class="button__inner">Find out more</p>
            </a>
        </div>
    
    </section>

    <section class="section section--testimonial testimonial">
        <div class="owl-carousel owl-carousel-testimonial carousel">
            <!-- edit data in _data/testimonials.html -->
            {% for item in site.data.testimonials %}
                <div class="testimonial__item">
                    <div class="testimonial__image" style="background-image: url(resources/images/testimonials/{{ item.id }}.jpg);" alt="Portrait {{ item.name }}"></div>
                    <div class="testimonial__content">
                        <img src="resources/images/icons/quote-mark.svg" class="testimonial__mark">
                        <p class="quote">{{ item.quote }}</p>
                        <div class="testimonial__meta">
                            <p class="body--bold">{{ item.name }}</p>
                            <p>{{ item.job }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

</div>

{% include footer.html %}