---
layout: compress
---

{% include containers/site/header.html %}

<script src="{{ site.url }}{{ site.resourceurl }}/vendor/particles/particles.min.js"></script>
<script>
    particlesJS.load('particles-js', 'resources/vendor/particles/particles.json', function() {
        console.log('callback - particles.js config loaded');
    });
</script>

<div id="landing" class="section section--alt section--dark background--cover" style="background-image: url({{ site.url }}{{ site.imageurl }}/background/{{ page.layout }}.jpg);">
    <div id="particles-js"></div>
    {% include containers/page/title.html
        headline = site.description
    %}
    <div class="section__content body--black">
        <div class="row card__wrapper">
            <img src="{{ site.url }}{{ site.imageurl }}/icons/index/gartner-banner.svg" alt="Gartner banner" class="gartner hide--desktop">
            <div class="coloffset--xl3 col--xl3 coloffset--lg2 col--lg4 col--md6">
                <div class="card card--xxs anchor background--shadow">
                    <div class="card__inner">
                        <div class="card__header">
                            <p class="card__title body--bold">Sign up to our newsletter</p>
                            <a href="#footer" title="Newsletter anchor" class="button button--small button--icon button--highlight button--animate fas fa-plus">
                                <i class="button__inner fas fa-newspaper"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col--xl3 col--lg4 col--md6">
                <div class="card card--xxs background--shadow">
                    <div class="card__inner">
                        <div class="card__header">
                            <p class="card__title body--bold">Follow us</p>
                            {% include components/social.html
                                size = 'small' 
                            %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="widget__bar">
        <div class="row">
            <div class="col--xl8 body--left">
                <p class="body body--bold">Trusted by leading organisations and startups alike</p>
                {% include elements/carousel.html 
                    variant = 'clients' 
                %}
            </div>
            <div class="col--xl4">
                {% include containers/cards/news.html %}
            </div>
        </div>
    </div>
</div>

<section id="index-intro" class="section section--primary background--cover" style="background-image: url({{ site.url }}{{ site.imageurl }}/icons/index/what-we-do.svg);">
    <div class="section__content">
        <div class="row">
            <div class="col--lg5 body--left section__title">
                {% include containers/sections/header.html
                    title = 'Using advanced cryptography to solve real world business problems'
                %}
            </div>
            <div class="coloffset--lg1 col--lg6 body--left section__body">
                <p class="block__title body--large">Our team of experts advise, build and deploy full-stack, secure, privacy-preserving applications that protect individual and company data, while maximising business collaboration. Our customers range from the largest global enterprises, to the most innovative early stage startups in financial services, energy, commodities, supply chain, shipping, aviation, automotive, telecoms, medical and government.</p>
                <div class="block__content">
                    <div class="button__wrapper">
                        <a href="{{ site.url }}/about" class="ga-button-about button button--white button--animate fa fa-address-card">
                            <p class="button__inner">About</p>
                        </a>
                        <a href="{{ site.url }}/services" class="ga-button-services button button--primary-darken button--animate fa fa-cogs">
                            <p class="button__inner">Services</p>
                        </a>
                        <a href="{{ site.url }}/products" class="ga-button-services button button--primary-lighten button--animate fa fa-box">
                            <p class="button__inner">Products</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section__content body--black z-index--2">
        <div class="card background--shadow testimonials">
            {% include elements/carousel.html 
                type = 'testimonials'
                variant = 'testimonials_clients' 
            %}
        </div>
    </div>
</section>

<section id="index-featured-in" class="section section--white section--overlap">
    {% include containers/sections/header.html
        title = 'Featured In'
    %}
    <div class="section__content">
        <div class="row">
            {% for item in site.data.images.media %}
            <div class="col--lg3 col--6">
                <div class="card card__inner">
                    {% if item.link %}
                    <a href="{{ item.link }}" target="_blank">
                        {% endif %}
                        <img src="{{ site.url }}{{ site.imageurl }}/logos/media/{{ item.name | slugify }}.png" alt="Logo {{ item.name }}" class="logo-media__image">
                        {% if item.link %}
                    </a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}    
        </div>
    </div>
    <div class="section__content">
        <p class="block__title lead">See what's making news at Applied Blockchain</p>
        <div class="block__content">
            <a href="{{ site.url }}/media" class="ga-button-media button button--primary button--large button--animate fas fa-newspaper">
                <p class="button__inner">Media</p>
            </a>
        </div>
    </div>
</section>

{% include containers/site/footer.html %}
