---
layout: compress
---

{% include containers/site/header.html %}

<div id="landing" class="section section--alt section--dark">
  <div id="particles-js"></div>
  {% include containers/page/title.html
    headline = site.description
  %}
  <div class="section__content body--black">
    <div class="row row--center">
       <div class="col--3">
          <p>
            2015
          </p>
          <p>since</p>
       </div>
       <div class="col--3">
          <p>
            +100
          </p>
          <p>projects delivered</p>
       </div>
       <div class="col--3">
          <p>
            +100
          </p>
          <p>developers</p>
       </div>
       <div class="col--3">
          <p>
            5 star
          </p>
          <p>clients reviews on Gartner</p>
       </div>
    </div>
    <div class="row row--center">
        <button>Stay informed</button>
    </div>
  </div>
</div>


<section id="index-intro" class="section section--white">
  <div class="section__content">
    <div class="row row--center">
      <p>What our clients say?</p>
      <p>Our testimonials</p>
    </div>
  </div>
  <div class="row widget__bar card__wrapper">
    <div class="card">
      <div>Video</div>
      <div class="card__body">
        {% include elements/carousel.html
          variant = 'clients'
        %}
      </div>
    </div>
  </div>
</section>
<section id="index-intro" class="section section--white">
  <div class="section__content">
    <div class="row">
      <div class="col--6">
        <p>What we've been doing?"</p>
        <p>Commodities</p>
        <p>Here's a collection of our prime projects, challenges faced, and final outcomes.</p>
        <button>Explore all projects</button>
      </div>
      <div class="col--6">
        <div>
          <div>logo</div>
          <div>topic</div>
          <p>Title</p>
        </div>
        
      </div>
    </div>
  </div>
</section>

<section id="index-intro" class="section section--white">
  <div class="section__content">
    <div class="row row-centered">
      <p>What's new?</p>
      <p>Our last updates</p>
      <p>We're in a fast changing industry, here's our news at Applied Blockchain</p>
      <div class="col--4">
        <div>
          <div>image</div>
          <div>
            <p>date</p>
            <p>Title</p>
            <p>Description</p>
            <a>Read more</a>
          </div>
        </div>
      </div>
      <div class="col--4">
        <div>
          <div>image</div>
          <div>
            <p>date</p>
            <p>Title</p>
            <p>Description</p>
            <a>Read more</a>
          </div>
        </div>
      </div>
      <div class="col--4">
        <div>
          <div>image</div>
          <div>
            <p>date</p>
            <p>Title</p>
            <p>Description</p>
            <a>Read more</a>
          </div>
        </div>
      </div>
      <button>Explore more media</button>
    </div>
  </div>
</section>

<div>
  parallax
</div>

<div id="landing" class="section section--alt section--dark">
  <div class="row">
  <div class="col--6">
        <p>Stay in touch</p>
        <p>Announcements can be found in our blog. Press contact:</p>
        {% include components/social.html %}
  </div>
  <div class="col--6">
    <div>FORM</div>
  </div>
</div>
</div>

{% include containers/site/footer.html %}
