{% include header.html %}

<div class="page">

    <!-- HEADER -->
    <header class="header">
        <img src="" alt="" class="logo">
        <span class="menu__icon"></span>
    </header>
    <!-- /HEADER -->

    <!-- PAGE HEADER -->
    <div class="section section--header">
        <h1 class="headline">Work with us</h1>
        <p class="section__desc body--large">Step in a collaborative, unique and fast-paced environment</p>
    </div>
    <!-- /PAGE HEADER -->

    <!-- DELIVERABLES -->
    <section class="section section--primary">

        <div class="section__header">
            <h1 class="section__title title">Check out our openings in London and in Porto</h1>
            <p class="section__desc body--large">We are continuously looking for highly motivated and ambitious people who are passionate about delivering innovative blockchain-based solutions to global enterprises and disruptive startups.</p>
        </div>

        <div class="section__content">
            <div class="section__filter">
                <a href="" class="button button--primary-darken button--animate fa fa-check">
                    <p class="button__inner">London</p>
                </a>
                <a href="" class="button button--primary">
                    <p class="button__inner">Porto</p>
                </a>
            </div>
            <div class="block accordion jobs">
                <div class="accordion__item">
                    <div class="accordion__header">
                        <p class="accordion__title body--bold">Node.js Software Developer</p>
                        <p>Permanent</p>
                        <div class="accordion__actions">
                            <span class="button button--primary button--small button--animate fa fa-edit">
                                <p class="button__inner">Apply</p>
                            </span>
                            <span class="button button--icon button--highlight button--small">
                                <i class="fa fa-plus"></i>
                            </span>
                        </div>
                    </div>
                    <p class="accordion__content">
                        Content 1
                    </p>
                </div>
            </div>
        </div>

        <div class="section__link">
            <p class="link__title lead">Can't find your role?</p>
            <a href="" class="link__button button button--secondary button--large button--animate fa fa-file-alt">
                <p class="button__inner">Leave us your CV</p>
            </a>
        </div>

    </section>
    <!-- /DELIVERABLES -->

</div>

{% include footer.html %}