{% include header.html %}

<div class="page" id="join">

    <!-- edit component in _includes/components/page-header.html -->
    {% include components/page-header.html
        background-image=''
        background-color='primary'
        title='Join'
        description='Step into a collaborative, unique and fast-paced environment'
        comment='We are continuously looking for highly motivated and ambitious people who are passionate about delivering innovative blockchain-based solutions to global enterprises and disruptive startups.'
    %}

    <section class="section section--alt section--primary">

        <div class="image-inline row">
            <!-- edit data in _data/images.yml -->
            {% for item in site.data.images.join %}
                <div class="image-inline__item col--lg3 col--sm6">
                    <img src="{{ site.baseurl }}{{ site.imageurl }}/icons/icon-{{ item.url }}.svg" alt="{{ item.url }} icon" class="image-inline__image">
                    <p>{{ item.alt }}</p>
                </div>
            {% endfor %}
        </div>

    </section>

    <section class="section">

        <!-- edit component in _includes/components/section-header.html -->
        {% include components/section-header.html
            title='Check out our openings in London and in Porto'
            description='Apply today by sending in your CV to careers@appliedblockchain.com'
        %}

        <div class="section__content tab tab--vertical jobs">
            <div class="section__filter tab__nav">
                <a href="#london" class="nav__button nav__button--active button button--primary button--animate fa fa-map-marker-alt">
                    <p class="button__inner">London</p>
                </a>
                <a href="#porto" class="nav__button button button--primary button--animate fa fa-map-marker-alt">
                    <p class="button__inner">Porto</p>
                </a>
            </div>
            <div class="tab__content block accordion jobs__content">
                <div id="london" class="tab__item">
                    <!-- edit data in _data/jobs.yml -->
                    {% for job in site.data.jobs.london %}
                        <!-- edit component in _includes/components/job.html -->
                        {% include components/job.html %}
                    {% endfor %}
                </div>
                <div id="porto" class="tab__item">
                    <!-- edit data in _data/jobs.yml -->
                    {% for job in site.data.jobs.porto %}
                        <!-- edit component in _includes/components/job.html -->
                        {% include components/job.html %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="section__link">
            <p class="link__title lead">Can’t find what you’re looking for?</p>
            <a href="{{ site.url }}/contact" class="button button--secondary button--large button--animate fa fa-file-alt">
                <p class="button__inner">Drop us a message!</p>
            </a>
        </div>

    </section>

</div>

{% include footer.html %}