{% include header.html %}

<div class="page">

    <!-- HEADER -->
    <header class="header">
        <img src="" alt="" class="logo">
        <span class="menu__icon"></span>
    </header>
    <!-- /HEADER -->

    <!-- edit component in _includes/components/page-header.html -->
    {% include components/page-header.html
        background-color=''
        title='Work with us'
        description='Step in a collaborative, unique and fast-paced environment'
    %}

    <section class="section section--primary">

        <!-- edit component in _includes/components/section-header.html -->
        {% include components/section-header.html
            title='Check out our openings in London and in Porto'
            description='We are continuously looking for highly motivated and ambitious people who are passionate about delivering innovative blockchain-based solutions to global enterprises and disruptive startups'
        %}

        <div class="section__content">
            <div class="tab tab--vertical">
                <div class="section__filter tab__nav">
                    <a href="#london" class="nav__button nav__button--active button button--primary-darken button--animate fa fa-map-marker-alt">
                        <p class="button__inner">London</p>
                    </a>
                    <a href="#porto" class="nav__button nav__button--active button button--animate fa fa-map-marker-alt">
                        <p class="button__inner">Porto</p>
                    </a>
                </div>
                <div class="tab__content block accordion jobs">
                    <div id="london" class="tab__item">
                        <!-- edit data in _data/jobs.html -->
                        {% for job in site.data.jobs.london %}
                            <div class="accordion__item">
                                <div class="accordion__header">
                                    <p class="accordion__title body--bold">{{ job.title }}</p>
                                    <p>{{ job.type }}</p>
                                    <div class="accordion__actions">
                                        <span class="button button--primary button--small button--animate fa fa-edit">
                                            <p class="button__inner">Apply</p>
                                        </span>
                                        <span class="button button--icon button--highlight button--small">
                                            <i class="fa fa-plus"></i>
                                        </span>
                                    </div>
                                </div>
                                <p class="accordion__content">
                                    {{ job.description }}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                    <div id="porto" class="tab__item">
                        <!-- edit data in _data/jobs.html -->
                        {% for job in site.data.jobs.porto %}
                            <div class="accordion__item">
                                <div class="accordion__header">
                                    <p class="accordion__title body--bold">{{ job.title }}</p>
                                    <p>{{ job.type }}</p>
                                    <div class="accordion__actions">
                                        <span class="button button--primary button--small button--animate fa fa-edit">
                                            <p class="button__inner">Apply</p>
                                        </span>
                                        <span class="button button--icon button--highlight button--small">
                                            <i class="fa fa-plus"></i>
                                        </span>
                                    </div>
                                </div>
                                <p class="accordion__content">
                                    {{ job.description }}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="section__link">
            <p class="link__title lead">Can't find your role?</p>
            <a href="" class="link__button button button--secondary button--large button--animate fa fa-file-alt">
                <p class="button__inner">Leave us your CV</p>
            </a>
        </div>

    </section>

</div>

{% include footer.html %}