{% include header.html %}

<div id="k0--downloads">

    <section class="section section--header section--left">
        <div class="k0__header row">
            <div class="col--2">
                <img src="{{ site.url }}{{ site.imageurl }}/logos/products/k0.png" alt="K0 logo" class="k0__logo">
            </div>
            <div class="coloffset--1 col--9">
                <h1 class="title">Zero knowledge proof toolkit for creating and trading assets privately in smart contract blockchains</h1>
            </div>
        </div>
        <div class="row">
            <div class="coloffset--3 col--9">
                <div class="row">
                    {% for item in site.data.resources.k0 %}
                    <div class="col--4">
                        <div class="block block--download card__download">
                            <div class="card__meta">
                                <p class="body--bold">{{ item.title }}</p>
                                {% if item.subtitle %}
                                <p class="body--small">{{ item.subtitle }}</p>
                                {% endif %}
                            </div>
                            <div class="card__buttons">
                                <a class="button button--icon button--small button--primary-lighten button--animate fas fa-plus" href="{{ site.url }}{{ site.resourceurl }}/dlc/{{ category.slug }}/{{ item.file }}" target="_blank">
                                    <i class="button__inner fas fa-eye"></i>
                                </a>
                                <a class="button button--icon button--small button--primary button--animate fas fa-plus" href="{{ site.url }}{{ site.resourceurl }}/dlc/{{ category.slug }}/{{ item.file }}" download>
                                    <i class="button__inner fas fa-download"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <a href="{{ site.url }}/our-projects" class="button button--large button--highlight button--animate fas fa-chevron-left">
                    <p class="button__inner">Back to page</p>
                </a>        
            </div>
        </div>
    </section>

</div>

{% include footer.html %}