{% include header.html %}

<div id="k0 k0--downloads">

    <section class="section section--header section--left">
        <img src="{{ site.url }}{{ site.imageurl }}/logos/products/k0.png" alt="K0 logo" class="k0__logo">
        <h1 class="title">Zero knowledge proof toolkit for creating and trading assets privately in smart contract blockchains</h1>
    </section>

    <div class="k0__downloads">
        <a href="{{ site.url }}/our-projects" class="button button--highlight button--animate fas fa-chevron-left">
            <p class="button__inner">Back to page</p>
        </a>
    
        <div class="">
            <div class="card__download">
                <div class="card__meta">
                    <p class="body--bold">{{ doc.title }}</p>
                    {% if doc.subtitle %}
                        <p class="body--small">{{ doc.subtitle }}</p>
                    {% endif %}
                </div>
                <div class="card__buttons">
                    <a class="button button--icon button--small button--primary-lighten button--animate fas fa-plus" href="{{ site.url }}{{ site.resourceurl }}/dlc/{{ category.slug }}/{{ doc.file }}" target="_blank">
                        <i class="button__inner fas fa-eye"></i>
                    </a>
                    <a class="button button--icon button--small button--primary button--animate fas fa-plus" href="{{ site.url }}{{ site.resourceurl }}/dlc/{{ category.slug }}/{{ doc.file }}" download>
                        <i class="button__inner fas fa-download"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

{% include footer.html %}