{% include header.html %}

    <!-- edit component in _includes/components/page-header.html -->
    {% include components/page-header.html
        title='K0'
        description='Zero knowledge proof toolkit for creating and trading assets privately in smart contract blockchains'
    %}

    <section class="section section--alt section--left">

        <!-- edit component in _includes/components/section-header.html -->
        {% include components/section-header.html
            title='Introduction'
            description='We are developing enterprise ZK technology to enable proof of asset ownership, provenance and trading of assets on multiple enterprise blockchains without revealing commercially sensitive information, and without reducing the number of validating parties.'
        %}

    </section>

    <section class="section section--alt section--right">

        <!-- edit component in _includes/components/section-header.html -->
        {% include components/section-header.html
            title='The technology'
            description='On an enterprise blockchain, K0 could be used to guarantee that transactions are valid despite the fact that information about the sender, the recipient, amounts and other transaction details remain hidden.'
        %}

        <h3 class="subtitle">Properties of zero knowledge proofs</h3>
        
    </section>

    <section class="section section--grey section--margin-minus">

        <h3 class="subtitle">What does it solve?</h3>

        <div class="section--content image--inline">
            <div class="image-inline__item col--lg3 col--sm6">
                <img src="" alt="" class="image-inline__image">
                <p class="body--large body--bold image-inline__title">Security</p>
                <p class="body">More independent validators can validate a transaction without being privy to private transaction details</p>
            </div>
            <div class="image-inline__item col--lg3 col--sm6">
                <img src="" alt="" class="image-inline__image">
                <p class="body--large body--bold image-inline__title-bold"></p>
                <p class="body"></p>
            </div>
            <div class="image-inline__item col--lg3 col--sm6">
                <img src="" alt="" class="image-inline__image">
                <p class="body--large body--bold image-inline__title-bold"></p>
                <p class="body"></p>
            </div>
            <div class="image-inline__item col--lg3 col--sm6">
                <img src="" alt="" class="image-inline__image">
                <p class="body--large body--bold image-inline__title-bold"></p>
                <p class="body"></p>
            </div>
        </div>

    </section>

    <section class="section section--left">

        <!-- edit component in _includes/components/section-header.html -->
        {% include components/section-header.html
            title='The product'
            description='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mollis purus id mattis molestie. Nunc sem ex, molestie ac tortor in, sagittis tempus lorem.'
        %}

        <h3 class="subtitle">A new way to collaborate on assets</h3>

    </section>

    <section class="section section--primary section--margin-minus">

        <h3 class="subtitle">Demos and compatibilities</h3>

    </section>

    <section class="section">

        <h3 class="subtitle">Interested in our solution?</h3>
        <p>Give us an shout and we will get back to you shotly</p>
    
    </section>
    
{% include footer.html %}