{% include header.html %}

<div class="page" id="mantle">

    <!-- edit component in _includes/components/page-header.html -->
    {% include components/page-header.html
        background-color='dark'
        title='Mantle'
        description=' Identity and privacy framework'
        comment='A key element of public distributed ledger technologies is that anyone hosting a node on the network can view all confirmed transactions on that network. This level of transparency naturally creates a barrier to entry for enterprises and startups who wish to deploy blockchain applications but require an element of privacy in order to maintain their competitive advantage.'
    %}
    
    <section class="section section--primary section--left">
            
        <div class="section__content">
            <div class="row mantle">
                <div class="col--4">
                    <h1 class="subtitle mantle__title">What Mantle delivers</h1>
                    <p>Mantle solves the problem of privacy and anonymity by adding an additional layer of security on top of any blockchain application that supports smart contracts. 
                        <br><br>This enables confidential data to be encrypted within smart contracts and kept anonymous, whilst other data can be shared on the ledger for users to see.
                        <br><br>Mantle enables data caching to greatly improve system performance and data retrieval to run application operations.</p>
                </div>
                <div class="coloffset--1 col--3">
                    <img src="{{ site.baseurl }}{{ site.imageurl }}/icons/icon-mantle.svg" alt="Mantle schematic">
                </div>
                <div class="col--4 mantle__legend">
                    <p class="mantle__label">Mantle and its layers</p>
                    <p class="mantle__label">Blockchain application</p>
                    <p class="mantle__label">Encrypted data</p>
                    <p class="mantle__label">Blockchain platform</p>
                </div>
            </div>
        </div>
        
    </section>

    <section class="section section--alt section--primary">

        <!-- edit component in _includes/components/section-header.html -->
        {% include components/section-header.html
            title='The layers of Mantle include'
        %}

        <div class="section__content image-inline">
            <!-- edit data in _data/images.yml -->
            {% for item in site.data.images.mantle %}
                <div class="image-inline__item col--lg3 col--sm6">
                    <img src="{{ site.baseurl }}{{ site.imageurl }}/icons/icon-{{ item.url }}.svg" alt="{{ item.url }} icon" class="image-inline__image">
                    <p class="image-inline__title">{{ item.title }}</p>
                    <p class="body--small">{{ item.alt }}</p>
                </div>
            {% endfor %}
        </div>

    </section>
    
</div>

{% include footer.html %}