{% include header.html %}

    <div class="page">

        <!-- edit component in _includes/components/page-header.html -->
        {% include components/page-header.html
            background-color='grey'
            title='Media'
        %}
        
        <!-- <div class="button-group filter-button-group">
            <a class="button active" data-filter="*">All</a>
            <a class="button active" data-filter=".2018">2018</a>
            <a class="button active" data-filter=".2017">2017</a>
        </div> -->
        
        <section class="section section--block section--alt section--grey">

            <div class="section__content blog">
                <div class="button-group section__filter filter-button-group">
                    <a class="filter__button button button--primary active" data-filter="*">
                        <p class="button__inner">All</p>
                    </a>
                    <a class="filter__button button button--primary button--animate fas fa-newspaper" data-filter=".news">
                        <p class="button__inner">News</p>
                    </a>
                    <a class="filter__button button button--primary button--animate fas fa-file-alt" data-filter=".press-release">
                        <p class="button__inner">Press release</p>
                    </a>
                    <a class="filter__button button button--primary button--animate fas fa-rss" data-filter=".blog">
                        <p class="button__inner">Blog</p>
                    </a>
                </div>
                <div class="grid row">
                    {% if site.posts.size > 0 %}
                        <!-- edit or add post in _posts -->
                        {% for post in site.posts %}
                            <div class="col--lg4 col--md6 {{ post.category }} {{ post.date | date: "%Y" }}">
                                {% if post.external-link %}
                                    <a href="{{ post.external-link }}" target="_blank">
                                {% else %}
                                    <a href="{{ post.url | prepend: site.baseurl }}">
                                {% endif %}        
                                    <div class="block blog__item">
                                        {% if post.image-link %}
                                            <div class="blog__image background--cover" style="background-image: url({{ site.url }}{{ site.imageurl }}/posts/{{ post.image-link }}.jpg);"></div>
                                        {% else %}
                                            <div class="blog__image background--cover" style="background-image: url({{ site.url }}{{ site.imageurl }}/posts/default.jpg);"></div>
                                        {% endif %} 
                                        <div class="blog__content">
                                            <span class="blog__icon">
                                                <img src="{{ site.url }}{{ site.imageurl }}/icons/blog/{{ post.category }}.png" alt="">
                                            </span>
                                            <p class="blog__date body--bold">{{ post.date | date: "%b %-d, %Y" }}</p>
                                            <h2 class="blog__title lead">{{ post.title }}</h2>
                                            <div class="blog__text">{{ post.excerpt | truncate: 100, "…" }}</div>
                                            <div class="button button--primary button--small button--animate fas fa-eye">
                                                <p class="button__inner">Read more</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>There are no posts available right. Come back soon!</p>
                    {% endif %}
                </div>
            </div>

        </section>

    </div>

{% include footer.html %}