{% include header.html %}

    <div class="page">

        <!-- edit component in _includes/components/page-header.html -->
        {% include components/page-header.html
            background-color='grey'
            title='Media'
        %}
        
        <!-- <div class="button-group filter-button-group">
            <a class="button active" data-filter="*">All</a>
            <a class="button active" data-filter=".2018">2018</a>
            <a class="button active" data-filter=".2017">2017</a>
        </div> -->
        
        <section class="section section--alt section--grey">

            <div class="section__content blog">
                <div class="button-group section__filter filter-button-group">
                    <a class="filter__button button button--primary active" data-filter="*">
                        <p class="button__inner">All</p>
                    </a>
                    {% for category in site.categories %}
                        <a class="filter__button button" data-filter=".{{ category | first }}">
                            <p class="button__inner">{{ category | first }}</p>
                        </a>
                    {% endfor %}
                </div>
                <div class="grid row">
                    {% if site.posts.size > 0 %}
                        {% for post in site.posts %}
                            <div class="col--md4 {{ post.category }} {{ post.date | date: "%Y" }}">
                                <div class="block blog__item">
                                    <div class="blog__image" style="background-image: url({{ site.url }}{{ site.imageurl }}/posts/{{ post.image-link }}.jpg);"></div>
                                    <div class="blog__content">
                                        <span class="blog__icon"></span>
                                        <p class="blog__date">{{ post.date | date: "%b %-d, %Y" }}</p>
                                        <h2 class="blog__title lead">{{ post.title }}</h2>
                                        <p>{{ post.excerpt | truncate: 150, "…" }}</p>
                                        <a href="{{ post.url | prepend: site.baseurl }}" class="button button--primary button--small button--animate fas fa-eye">
                                            <p class="button__inner">Read more</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>There are no posts available right. Come back soon!</p>
                    {% endif %}
                </div>
            </div>

        </section>

    </div>

{% include footer.html %}