{% include header.html %}

    <div class="button-group filter-button-group">
        <a class="button active" data-filter="*">All</a>
        {% for category in site.categories %}
            <a class="button" data-filter=".{{ category | first }}">{{ category | first }}</a>
        {% endfor %}
    </div>

    <!-- <div class="button-group filter-button-group">
        <a class="button active" data-filter="*">All</a>
        <a class="button active" data-filter=".2018">2018</a>
        <a class="button active" data-filter=".2017">2017</a>
    </div> -->
    
    {% if site.posts.size > 0 %}    
        <div class="grid section">
            {% for post in site.posts %}
                <div class="block element-item {{ post.category }} {{ post.date | date: "%Y" }}">
                    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                    <p>{{ post.category-name }}</p>
                    <h2>
                        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    </h2>
                    <p>{{ post.excerpt | truncate: 150, "…" }}</p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>There are no posts available right. Come back soon!</p>
    {% endif %}

{% include footer.html %}