{% include containers/site/header.html %}

{% include components/page-header.html
    title='Privacy Policy'
    description='Applied Blockchain Ltd. takes personal data seriously. This notice explains how we look after your personal data and tells you about your privacy rights and how the law protects you.'
%}

<section class="section section--alt section--left">
    <div class="row">
        <div class="section__content privacy coloffset--xl2 col--xl8 coloffset--lg1 col--lg10">
            <ul class="privacy__list">
                <li class="privacy__item privacy__title alt lead">In this policy “we”, “us” and “our” refers to Applied Blockchain Ltd, a company registered in England and Wales (company no. 0968627). You can contact us:</li>
                <ul class="privacy__line">
                    <li>By post, to Applied Blockchain, Level39 One Canada Square, Canary Wharf, London, England, E14 5AB.</li>
                    <li>Using our website contact form</li>
                    <li>By email, using info@appliedblockchain.com</li>
                </ul>
                <li class="privacy__item privacy__title lead">This notice covers:</li>
                <ul class="privacy__line anchor">
                    <li class="anchor__item"><a href="#3" class="button--underline">How we obtain personal data</a></li>
                    <li class="anchor__item"><a href="#4" class="button--underline">Why we obtain personal data and how we use it</a></li>
                    <li class="anchor__item"><a href="#5" class="button--underline">How long we retain personal data for</a></li>
                    <li class="anchor__item"><a href="#6" class="button--underline">Your rights with respect to your personal data</a></li>
                    <li class="anchor__item"><a href="#7" class="button--underline">Cookies</a></li>
                    <li class="anchor__item"><a href="#8" class="button--underline">Third party links</a></li>
                    <li class="anchor__item"><a href="#9" class="button--underline">Lawful bases for processing personal data</a></li>
                </ul>
                <li id="3" class="privacy__item privacy__title lead">How we obtain personal data</li>
                <ul class="privacy__content">
                    <li class="privacy__line">In the majority of cases, any personal data we obtain will have been provided by you to us by:</li>
                    <ul class="privacy__line">
                        <li>Subscribing to newsletters or updates from us on our website</li>
                        <li>Contacting us to inquire about services we provide (via the contact form on our website
                            or directly)</li>
                        <li>Contracting with us for services that we provide</li>
                        <li>Supplying your details to representatives of our company at events or meetings</li>
                    </ul>
                    <li class="privacy__line">The personal data that we obtain from you is limited in scope. It will likely include your name, contact details and possibly your position at your company.</li>
                    <li class="privacy__line">We will never ask you for any sensitive personal data (defined as: personal data revealing racial or ethnic origin, political opinions, religious or philosophical beliefs, or trade union membership, and the processing of genetic data, biometric data for the purpose of uniquely identifying a natural person, data concerning health or data concerning a natural person's sex life or sexual orientation).</li>
                    <li class="privacy__line">As well as obtaining data that you supply to us directly, our website uses cookies. For more details on how cookies are used please see section 5.</li>
                </ul> 
                <li id="4" class="privacy__item privacy__title lead">Why we obtain personal data and how we use it</li>
                <ul class="privacy__content">
                    <li class="privacy__line">We collect personal data for two principal reasons: for the essential running of our business (for example to fulfil contractual obligations to our clients), and for marketing purposes (to grow our business).</li>
                    <li class="privacy__line">The lawful bases that we use to justify our use of personal data are: consent, contract, and legitimate interests and, if required, legal obligation (please see section 7 for definitions). One or more of these may apply for each use of personal data.</li>
                    <li class="privacy__line">We will endeavour to explicitly obtain consent from you in order to use your personal data for marketing purposes (in other words, to contact you about our products and services).</li>
                    <li class="privacy__line">We will always give you the option to opt out from any future contact should anything you receive from us be unwanted. When you opt out we will remove your details from our records.</li>
                    <li class="privacy__line">We do not give or sell your personal data to third parties for marketing purposes and will not in the future without expressly agreeing with you in advance.</li>
                </ul>
                <li id="5" class="privacy__item privacy__title lead">How long we retain personal data for</li>
                <ul class="privacy__content">
                    <li class="privacy__line">We retain personal data for as long as we are required to by law or for as long as is reasonable given the use of that data.</li>
                    <li class="privacy__line">We review personal data used for marketing purposes annually and delete any that haven't been used for more than two years.</li>
                </ul>
                <li id="6" class="privacy__item privacy__title lead">Your rights with respect to your personal data</li>
                <ul class="privacy__content">
                    <li class="privacy__line">This section summarises your rights under the law. Some of the rights are complex and not all of the details have been included below. You should read the relevant laws and guidance from the regulatory authorities for a full explanation of these rights.</li>
                    <li class="privacy__line">Your principal rights under the data protection law are:</li>
                    <ul class="privacy__line anchor">
                        <li class="anchor__item"><a href="#6-1" class="button--underline">The right to access</a></li>
                        <li class="anchor__item"><a href="#6-2" class="button--underline">The right to rectification</a></li>
                        <li class="anchor__item"><a href="#6-3" class="button--underline">The right to erasure</a></li>
                        <li class="anchor__item"><a href="#6-4" class="button--underline">The right to restrict processing</a></li>
                        <li class="anchor__item"><a href="#6-5" class="button--underline">The right to object to processing</a></li>
                        <li class="anchor__item"><a href="#6-6" class="button--underline">The right to data portability</a></li>
                        <li class="anchor__item"><a href="#6-7" class="button--underline">The right to complain</a></li>
                        <li class="anchor__item"><a href="#6-8" class="button--underline">The right to ​withdraw consent</a></li>
                    </ul>
                    <ul class="privacy__list">
                        <li id="6-1" class="privacy__item privacy__subtitle body--large body--bold">The right to access</li>
                        <ul class="privacy__content">
                            <li class="privacy__line">You have the right to confirmation as to whether or not we process your personal data and, where we do, access to the personal data, together with certain additional information. That additional information includes details of the purposes of the processing, the categories of personal data concerned and the recipients of the personal data. Providing the rights and freedoms of others are not affected, we will supply to you a copy of your personal data.</li>
                        </ul>
                        <li id="6-2" class="privacy__item privacy__subtitle body--large body--bold">The right to rectification</li>
                        <ul class="privacy__content">
                            <li class="privacy__line">You have the right to have any inaccurate personal data about you rectified and, taking into account the purposes of the processing, to have any incomplete personal data about you completed.</li>
                        </ul>
                        <li id="6-3" class="privacy__item privacy__subtitle body--large body--bold">The right to erasure</li>
                        <ul class="privacy__content">
                            <li class="privacy__line">In some circumstances, you have the right to the erasure of your personal data without undue delay. Those circumstances include: the personal data are no longer necessary in relation to the purposes for which they were collected or otherwise processed; you withdraw consent to consent-based processing; you object to the processing under certain rules of applicable data protection law; the processing is for direct marketing purposes, and the personal data have been unlawfully processed. However, there are exclusions of the right to erasure. The general exclusions include where processing is necessary: for exercising the right of freedom of expression and information; for compliance with a legal obligation; or for the establishment, exercise or defence of legal claims.</li>
                        </ul>
                        <li id="6-4" class="privacy__item privacy__subtitle body--large body--bold">The right to restrict processing</li>
                        <ul class="privacy__content">
                            <li class="privacy__line">In some circumstances, you have the right to restrict the processing of your personal data. Those circumstances are: you contest the accuracy of the personal data; processing is unlawful but you oppose erasure; we no longer need the personal data for the purposes of our processing, but you require personal data for the establishment, exercise or defence of legal claims; and you have objected to processing, pending the verification of that objection. Where processing has been restricted on this basis, we may continue to store your personal data. However, we will only otherwise process it: with your consent; for the establishment, exercise or defence of legal claims; for the protection of the rights of another natural or legal person; or for reasons of important public interest.</li>
                        </ul>
                        <li id="6-5" class="privacy__item privacy__subtitle body--large body--bold">The right to object to processing</li>
                        <ul class="privacy__content">
                            <li class="privacy__line">You have the right to object to our processing of your personal data on grounds relating to your particular situation, but only to the extent that the legal basis for the processing is that the processing is necessary for: the performance of a task carried out in the public interest or in the exercise of any official authority vested in us; or the purposes of the legitimate interests pursued by us or by a third party. If you make such an objection, we will cease to process the personal information unless we can demonstrate compelling legitimate grounds for the processing which override your interests, rights and freedoms, or the processing is for the establishment, exercise or defence of legal claims.</li>
                            <li class="privacy__line">You have the right to object to our processing of your personal data for direct marketing purposes (including profiling for direct marketing purposes). If you make such an objection, we will cease to process your personal data for this purpose.</li>
                            <li class="privacy__line">You have the right to object to our processing of your personal data for scientific or historical research purposes or statistical purposes on grounds relating to your particular situation unless the processing is necessary for the performance of a task carried out for reasons of public interest.</li>
                        </ul>
                        <li id="6-6" class="privacy__item privacy__subtitle body--large body--bold">The right to data portability</li>
                        <ul class="privacy__content">
                            <li class="privacy__line">To the extent that the legal basis for our processing of your personal data is consent or that the processing is necessary for the performance of a contract to which you are party or in order to take steps at your request prior to entering into a contract and such processing is carried out by automated means, you have the right to receive your personal data from us in a structured, commonly used and machine-readable format. However, this right does not apply where it would adversely affect the rights and freedoms of others.</li>
                        </ul>
                        <li id="6-7" class="privacy__item privacy__subtitle body--large body--bold">The right to complain</li>
                        <ul class="privacy__content">
                            <li class="privacy__line">If you consider that our processing of your personal information infringes data protection laws, you have a legal right to lodge a complaint with a supervisory authority responsible for data protection. You may do so in the EU member state of your habitual residence, your place of work or the place of the alleged infringement.</li>
                        </ul>
                        <li id="6-8" class="privacy__item privacy__subtitle body--large body--bold">The right to ​withdraw consent</li>
                        <ul class="privacy__content">
                            <li class="privacy__line">To the extent that the legal basis for our processing of your personal information is consent, you have the right to withdraw that consent at any time. Withdrawal will not affect the lawfulness of processing before the withdrawal.</li>
                            <li class="privacy__line">You may exercise any of your rights in relation to your personal data by written notice to us. ​We usually act on requests and provide information free of charge, but may charge a reasonable fee to cover our administrative costs of providing the information for baseless or excessive/repeated requests or further copies of the same information.</li>
                        </ul>
                    </ul>
                </ul>
                <li id="7" class="privacy__item privacy__title lead">Cookies</li>
                <ul class="privacy__content">
                    <li class="privacy__line">We use cookies on our website to analyse how it is being used and where essential for the efficient functioning of the site. Whilst it is possible to link cookies back to individuals, we do not do this.</li>
                    <li class="privacy__line">If you prefer, most browsers allow you to refuse to accept cookies and to delete cookies. The methods for doing so vary from browser to browser, and from version to version and can usually be found on the support pages of your browser.</li>
                </ul>
                <li id="8" class="privacy__item privacy__title lead">Third party links</li>
                <ul class="privacy__content">
                    <li class="privacy__line">Our website may include links to third-party websites, plug-ins and applications. Clicking on those links or enabling those connections may allow third parties to collect or share data about you. We have no control over these third-party websites and are not responsible for their privacy statements. When you leave our website, we encourage you to read the privacy notice of every website you visit.</li>
                </ul>
                <li id="9" class="privacy__item privacy__title lead">Lawful bases for processing personal data</li>
                <ul class="privacy__content">
                    <li class="privacy__line">We will only obtain and use your personal data if we believe one or more of the following bases applies:</li>
                    <ul class="privacy__line">
                        <li><span class="body--bold">Consent:</span> you have given clear consent for us to process your personal data for a specific purpose.</li>
                        <li><span class="body--bold">Contract:</span> ​the processing is necessary for a contract we have with you, or because you have asked us to take specific steps before entering into a contract.</li>
                        <li><span class="body--bold">Legal obligation:</span> ​the processing is necessary for us to comply with the law (not including contractual obligations).</li>
                        <li><span class="body--bold">Vital interests:</span> ​the processing is necessary to protect someone’s life.</li>
                        <li><span class="body--bold">Public task:</span>​ the processing is necessary for us to perform a task in the public interest or for our official functions, and the task or function has a clear basis in law.</li>
                        <li><span class="body--bold">Legitimate interests:</span> the processing is necessary for our legitimate interests or the legitimate interests of a third party unless there is a good reason to protect your personal data which overrides those legitimate interests.</li>
                    </ul>
                </ul>
            </ul>
        </div>
    </div>
</section>

{% include containers/site/footer.html %}