{% include header.html %}

<div id="products">

    <!-- edit component in _includes/components/page-header.html -->
    {% include components/page-header.html
        title='Products'
        description='It is in our DNA to innovate'
        comment="Applied Blockchain Labs is our research and development centre. We research technologies and solutions to further develop internal tools which support the deployment of our products and client projects."
    %}

    <section class="section section--alt products z-index--1">

        <div class="section__content">
            <div class="row">
                <div class="coloffset--sm3 col--sm6 products__container">
                    <div class="block products__item">
                        <div>
                            <img src="{{ site.url }}{{ site.imageurl }}/logos/products/mantle.svg" alt="" class="products__logo">
                            <h2 class="products__name subtitle">Discover Mantle</h2>
                            <p>An identity and privacy toolkit</p>
                        </div>
                        <a href="{{ site.url }}/mantle" class="products__button button button--secondary button--animate fas fa-search-plus">
                            <p class="button__inner">Learn more</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="section section--margin-minus section--primary section--left products__intro" style="background-image: url({{ site.url }}{{ site.imageurl }}/icons/icon-products-page.svg);">

        <div class="section__content">
            <div class="row">
                <div class="col--lg6">
                    <p class="body--large">While we work on multiple projects across different industries, we tend to identify common problems amongst all projects. As we identify the gap, we develop products internally.
                        <br><br>Our products solve problems which we have encountered over three years of developing blockchain applications. They are all designed to be future-proof and to be used across different blockchain platforms.
                    </p>
                </div>
            </div>
        </div>

    </section>

</div>

{% include footer.html %}