{% include header.html %}

<div id="products">

    <!-- edit component in _includes/components/page-header.html -->
    {% include components/page-header.html
        title='Products'
        description='It is in our DNA to innovate'
        comment="Applied Blockchain Labs is our research and development centre. We research technologies and solutions to further develop internal tools which support the deployment of our products and client projects."
    %}

    <section class="section section--grey section--left products__intro" style="background-image: url({{ site.url }}{{ site.imageurl }}/icons/icon-products-page.svg);">

        <div class="row">    
            <div class="col--6">
                <!-- edit component in _includes/components/page-header.html -->
                {% include components/section-header.html
                    description='While we work on multiple projects across different industries, we tend to identify common problems amongst all projects. As we identify the gap, we develop products internally.<br><br>Our products solve problems which we have encountered over three years of developing blockchain applications. They are all designed to be future-proof and to be used across different blockchain platforms.'
                %}
                </div>
        </div>

    </section>

    <section class="section">

        <!-- edit component in _includes/components/section-header.html -->
        {% include components/section-header.html
            title='Discover our products'
        %}

        <div class="section__content z-index--1">
            <div class="row">
                <!-- edit data in _data/products.yml -->
                {% for product in site.data.products %}
                    <!-- edit component in _includes/components/product.html -->
                    {% include components/product.html %}
                {% endfor %}
            </div>
        </div>

    </section>
    
    <section class="section section--margin-minus section--primary">

        <div class="section__content devtools">
            
        </div>

    </section>

</div>

{% include footer.html %}