{% include header.html %}

<div id="products">

    <!-- edit component in _includes/components/page-header.html -->
    {% include components/page-header.html
        title='Products'
        description='It is in our DNA to innovate'
        comment="Applied Blockchain Labs is our research and development centre. We build our own technology to support our client requirements."
    %}

    <section class="section section--grey section--left products__intro" style="background-image: url({{ site.url }}{{ site.imageurl }}/icons/icon-products-page.svg);">

        <div class="row">    
            <div class="col--lg6">
                <!-- edit component in _includes/components/page-header.html -->
                {% include components/section-header.html
                    subtitle='We pride ourselves on being at the cutting edge of our industry'
                    description='By working on real world projects we see the technology gaps and understand how evolving technology can be applied. That’s why we’ve been focusing on cryptography and zero knowledge proofs (ZKP). We think they will profoundly shape the future of our industry.'
                %}
                <p><br>We are developing and will soon release a new flagship product: K0 for supply chain & trading. K0 (pronounced “K zero”) is our vision to enable digital assets, and digital twins of physical assets, to be created, verified and traded privately and seamlessly across multiple enterprise blockchain platforms & networks.</p>
        </div>

    </section>
    
</div>

{% include footer.html %}