---
layout: compress
---

{% include containers/site/header.html %}

<div id="project-intro" class="section section--header">
    <div class="block__content">
        <div class="row">
            <div class="col--lg7 title">
                <h1>{{ page.title }}</h1>:
                <span class="body--black">{{ page.subtitle }}</span>
            </div>
            <div class="coloffset--lg1 col--lg4 col--md12">
                <div class="card card--xsmall card--landscape body--large">
                    <p class="card__title body--bold">Industry</p>
                    <p class="card__body">{{ page.industry }}</p>
                </div>
                {% if page.deliverables %}
                <div class="card card--xsmall card--landscape body--large">
                    <p class="card__title body--bold">Deliverables</p>
                    <p class="card__body">{{ page.deliverables }}</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if page.summary %}
<section id="project-summary" class="section background--cover" style="background-image: url('{{ site.base-url }}{{ site.imageurl }}/projects/cover/{{ page.slug }}.jpg');">
    <div class="card card--lg card--landscape background--shadow">
        <div class="card__inner">
            <div class="card__content">
                <h1 class="card__title subtitle">About {{ page.title }}</h1>
                <p class="card__body body">{{ page.summary }}</p>
            </div>
        </div>
        <div class="card__image">
            <img src="{{ site.base-url }}{{ site.imageurl }}/carousel/clients_color/{{ page.slug }}.png" alt="{{ page.title }} logo">
        </div>
    </div>
</section>
{% endif %}

{% if page.challenge %}
<section id="project-challenge" class="section section--white">
    <div class="row">
        {% if page.challenge-diagram %}
        <img src="{{ site.base-url }}{{ site.imageurl }}/projects/icon/{{ page.slug }}.svg" alt="Challenge icon" class="col--md4">
        <div class="coloffset--md1 col--md7">
        {% elsif page.challenge-video %}
        {% if page.challenge-video-title == 'lloyds' %}
          <div class="col--md5">
              <div class="video background--shadow background--cover" style="background-image: url('{{ site.base-url }}{{ site.imageurl }}/icons/index/video-{{ page.title | slugify }}.jpg');">
                  <a href="#modal-video-lloyds" class="js-button-modal">
                      <img src="{{ site.base-url }}{{ site.imageurl }}/icons/icon-play.svg" alt="" class="video__button">
                  </a>
              </div>
              <p class="video__notice body--large body--bold">{{ page.challenge-video-lead }}</p>
          </div>
          {% include elements/modals/video-lloyds.html %}
        {% else %}
          <div class="col--md5">
            <div class="video background--shadow background--cover" style="background-image: url('{{ site.base-url }}{{ site.imageurl }}/icons/index/video-{{ page.title | slugify }}.jpg');">
                <a href="#modal-video-ledger" class="js-button-modal">
                    <img src="{{ site.base-url }}{{ site.imageurl }}/icons/icon-play.svg" alt="" class="video__button">
                </a>
            </div>
            <p class="video__notice body--large body--bold">{{ page.challenge-video-lead }}</p>
          </div>
          {% include elements/modals/video-ledger.html %}
        {% endif %}
        <div class="coloffset--md1 col--md6">
        {% else %}
        <div class="col--md6">
        {% endif %}
            <h1 class="block__title subtitle">The Challenge</h1>
            <div class="block__content">
                {% for item in page.challenge %}
                <p class="body--large body--bold">{{ item.lead }}</p>
                <p class="body">{{ item.paragraph }}</p>
                {% endfor %}
            </div>
        </div>
        {% if page.outcome %}
        <div class="coloffset--md1 col--md5">
            <h1 class="block__title subtitle">The Outcome</h1>
            <div class="block__content">
                {% for item in page.outcome %}
                <p class="body">{{ item.paragraph }}</p>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endif %}

{% if page.delivery %}
<section id="project-delivery" class="section section--transparent background--cover" style="background-image: url('{{ site.base-url }}{{ site.imageurl }}/projects/cover/{{ page.slug }}.jpg');">
    <div class="row">
        <div class="col--xl7 col--lg9 block__title">
            <h1 class="subtitle">What Applied Blockchain Delivered</h1>
        </div>
        <div class="block__content">
            {% for content in page.delivery %}
            <div class="block__column col--xl4 col--lg6 col--md8">
                {% for column in content.item %}
                <p class="body">{{ column.paragraph }}</p>
                {% endfor %}
            </div>
            {% endfor %}
        </div>        
    </div>
</section>
{% endif %}

{% if page.results or page.results-icons %}
<section id="project-results" class="section section--white">
    <div class="section__header">
        <p class="section__title subtitle">Results</p>
        {% if page.results %}
        <div class="section__body">
            {% for item in page.results %}
            <p class="body--large">{{ item.paragraph }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% if page.results-icons %}
    <div class="section__content">
        <div class="card__wrapper--inline">
            {% for item in page.results-icons %}
            <div class="card">
                <img src="{{ site.base-url }}{{ site.imageurl }}/icons/{{ item.image }}.svg" alt="Icon {{ item.title }}" class="card__image">
                <p class="card__title body--large body--bold">{{ item.title }}</p>
                <p class="card__body body">{{ item.body }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% if page.results-comment %}
    <div class="section__content">
        <p class="block__subtitle body">{{ page.results-comment }}</p>
    </div>
    {% endif %}
</section>
{% endif %}

{% if page.testimonial %}
<section class="section section--grey no-padding--left no-padding--right">
    <div class="section__content">
        <div class="card testimonials">
            <div class="{% if page.title == 'Shell' %} owl-carousel owl-carousel-testimonials{% endif %} carousel--testimonials">
                {% for item in page.testimonial %}
                <div class="carousel__item">
                    <img src="{{ site.base-url }}{{ site.imageurl }}/carousel/testimonials_clients/{{ item.author | slugify }}.png" class="carousel__image" alt="logo {{ item.name }}">
                    <div class="card body--left">
                        <p class="card__body quote">{{ item.quote }}</p>
                        <div class="card__meta">
                            <p class="body--large body--bold">{{ item.author }}</p>
                            <p>{% if item.position %}{{ item.position }}, {% endif %}{{ item.company }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}

{% include containers/site/footer.html %}