{% include header.html %}

<div class="page project">

    <div class="section section--header section--left project__header">
        <div class="row">
            <h1 class="col--6 project__title title">
                {{ page.title }}:
                <span>{{ page.subtitle }}</span>
            </h1>
            <div class="coloffset--2 col--4 project__meta">
                <div class="meta__item body--large">
                    <p class="body--bold">Industry</p>
                    <p>{{ page.industry }}</p>
                </div>
                <div class="meta__item body--large">
                    <p class="body--bold">Technology</p>
                    <p>{{ page.technology }}</p>
                </div>
                <div class="meta__item body--large">
                    <p class="body--bold">Deliverables</p>
                    <p>{{ page.deliverables }}</p>
                </div>
            </div>
        </div>
    </div>

    <section class="section project__summary summary" style="background-image: url({{ site.url }}{{ site.imageurl }}/projects/cover/{{ page.slug }}.jpg);">
        <div class="block summary__container">
            <div class="summary__content">
                <h1 class="subtitle">About {{ page.title }}</h1>
                <p>{{ page.summary }}</p>
            </div>
            <img src="{{ site.url }}{{ site.imageurl }}/logos/clients-alt/logo-{{ page.slug }}.png" alt="{{ page.title }} Logo" class="summary__image">
        </div>
    </section>

    <section class="section section--left">
        <div class="row">
            <img src="{{ site.url }}{{ site.imageurl }}/icons/icon-challenge.svg" alt="Challenge icon" class="col--4">
            <div class="coloffset--1 col--7">
                <h1 class="project__subtitle subtitle">The Challenge</h1>
                <div class="project__text">{{ page.challenge }}</div>
            </div>
        </div>
    </section>

    <section class="section section--left section--grey delivery" style="background-image: url({{ site.url }}{{ site.imageurl }}/graphics/graphic-vertical-greyscale.svg);">
        <div class="row">
            <div class="col--7">
                <h1 class="project__subtitle subtitle">The AB Delivery</h1>
                <div class="project__text body--large">{{ page.delivery }}</div>    
            </div>
            <div class="project__example project__text">
                <div class="col--4">
                    {{ page.example }}
                </div>
                <img src="{{ site.url }}{{ site.imageurl }}/projects/example/{{ page.slug }}.png" alt="{{ page.title }} example" class="coloffset--1 col--7">
            </div>
        </div>
    </section>

    <section class="section section--primary">
        <h1 class="project__subtitle subtitle">Results</h1>
        <div class="project__text body--large">{{ page.results }}</div>    
    </section>

    <section class="section">
        <!-- edit data in _data/testimonials.html -->
        {% for item in site.data.testimonials.cygnetise %}
            <!-- edit component in _includes/components/testimonial.html -->
            {% include components/testimonial.html %}
        {% endfor %}
     </section>

</div>

{% include footer.html %}