{% include header.html %}

    <!-- edit component in _includes/components/page-header.html -->
    {% include components/page-header.html
        background-color='dark'
        title='Projects'
    %}

    {% if site.projects.size > 0 %}

        <section class="section section--alt section--dark">

            <div class="section__content portfolio portfolio--featured">
                {% for project in site.projects %}
                    <!-- add this tag to project page to featured it -->
                    {% if project.tag contains 'featured' %}
                    <a href="{{ project.url }}" class="portfolio__item block background--cover" style="background-image: url({{ site.baseurl }}{{ site.imageurl }}/projects/cover/{{ project.slug }}.jpg);">
                        <div class="portfolio__logo">
                            <img src="{{ site.url }}{{ site.imageurl }}/logos/clients/{{ project.slug }}.png" alt="{{ project.title }} logo">
                        </div>
                        <div class="portfolio__content">
                            <p class="portfolio__comment">{{ project.industry }}</p>
                            <h2 class="portfolio__title subtitle">{{ project.title }}</h2>
                            <p class="portfolio__subtitle lead">{{ project.subtitle }}</p>
                            <p class="portfolio__desc">
                                <span>{{ project.summary }}</span>
                            </p>
                            <div class="portfolio__button">
                                <span href="" class="button button--secondary button--small button--animate fa fa-eye">
                                    <p class="button__inner">Case study</p>
                                </span>
                            </div>
                        </div>
                    </a>
                    {% endif %}
                {% endfor %}
            </div>
            
        </section>

        <section class="section section--nopadding portfolio">

            <div class="portfolio--grid">
                {% for project in site.projects %}
                    {% unless project.tag contains 'featured' or project.tag contains 'grid' %}
                        <a href="{{ project.url }}" class="portfolio__item background--cover" style="background-image: url({{ site.baseurl }}{{ site.imageurl }}/projects/cover/{{ project.slug }}.jpg);">
                            <div class="portfolio__content">
                                <!-- <div class="portfolio__logo">
                                    <img src="{{ site.url }}{{ site.imageurl }}/logos/clients-bis/{{ project.slug }}.png" alt="{{ project.title }} logo">
                                </div> -->
                                <p class="portfolio__comment">{{ project.industry }}</p>
                                <h2 class="portfolio__title subtitle">{{ project.title }}</h2>
                                <p class="portfolio__subtitle lead">{{ project.subtitle }}</p>
                                <p class="portfolio__desc">
                                    <span>{{ project.summary }}</span>
                                </p>
                                <div class="portfolio__button">
                                    <span href="" class="button button--secondary button--small button--animate fa fa-eye">
                                        <p class="button__inner">Case study</p>
                                    </span>
                                </div>
                            </div>
                        </a>
                    {% endunless %}
                {% endfor %}
            </div>

        </section>

        <section class="section section--nopadding portfolio">

            <div class="section__content portfolio--grid-bis">
                {% for project in site.projects %}
                    <!-- add this tag to project page to add it o this section it -->
                    {% if project.tag contains 'grid' %}
                        <a href="{{ project.url }}" class="portfolio__item background--cover" style="background-image: url({{ site.baseurl }}{{ site.imageurl }}/projects/cover/{{ project.slug }}.jpg);">
                            <div class="portfolio__content">
                                <!-- <div class="portfolio__logo">
                                    <img src="{{ site.url }}{{ site.imageurl }}/logos/clients-bis/{{ project.slug }}.png" alt="{{ project.title }} logo">
                                </div> -->
                                <p class="portfolio__comment">{{ project.industry }}</p>
                                <h2 class="portfolio__title subtitle">{{ project.title }}</h2>
                                <p class="portfolio__subtitle lead">{{ project.subtitle }}</p>
                                <p class="portfolio__desc">
                                    <span>{{ project.summary }}</span>
                                </p>
                                <div class="portfolio__button">
                                    <span href="" class="button button--secondary button--small button--animate fa fa-eye">
                                        <p class="button__inner">Case study</p>
                                    </span>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
    
        </section>
        
    {% else %}

        <section class="section section--alt section--dark">

            <!-- edit component in _includes/components/section-header.html -->
            {% include components/section-header.html
                title='There are no project at the moment. Come back soon!'
            %}

        </section>

    {% endif %}

    <!-- PROJECT GRID WITH TOOLTIP -->
    <!-- <div class="section__content project-grid">
        {% for project in site.projects %}
            {% if project.tag contains 'grid' %}
                <div class="project-grid__item tooltip tooltip--click">
                    <div class="block project-grid__container">
                        <img src="{{ site.baseurl }}{{ site.imageurl }}/logos/clients/{{ project.slug }}.png" alt="Logo {{ project.title }}" class="project-grid__image hover-grayscale tooltip__trigger">
                    </div>
                    <div class="block project-grid__inner tooltip__inner">
                        <div>
                            <p class="project-grid__title lead">{{ project.title }}</p>
                            <p class="body--bold body--small">Industry</p>
                            <p class="body--small">{{ project.industry }}</p>
                            <p class="body--bold body--small">Project</p>
                            <p class="body--small">{{ project.subtitle }}</p>
                        </div>
                        <a href="{{ project.url }}" target="_blank" class="project-grid__button button button--small button--primary button--animate fas fa-globe">
                            <p class="button__inner">Project overview</p>
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div> -->

{% include footer.html %}