---
layout: compress
---

{% include containers/header.html %}

{% capture side_content %}
<div class="card card--md{% if page.recording_type == "form" %} card--maxWidth{% endif %}{% if page.recording_type == "video" %} card--transparent spinner--white{% endif %} spinner spinner--center">
  <div class="card__content">
    {{ content }}
  </div>
</div>
{% endcapture %}

{% capture label %}
{% if page.type == "Webinar "%}
Webinar recording
{% else %}
Download report
{% endif %}
{% endcapture %}

{% include components/page-header.html
  label = label
  subtitle = page.subtitle
  banner_color = "dark"
  side_content = side_content
%}

<div class="section">
  <div class="section__container">
    {% if page.speakers %}
    {% include components/section-header.html 
      title = "Speakers"
    %}
    <div class="section__content">
      <div class="grid__wrapper grid__spacing--3">
        {% for speaker in page.speakers %}
        <div class="grid__item">
          <div class="card card--sm card--transparent card--landscape card--portrait">
            <div class="card__media">
              <img src="{{ site.base-url }}{{ site.imageurl }}/team/portrait/{{ speaker.thumbnail }}" alt="Portrait of {{ speaker.name }}" class="card__thumbnail">
            </div>
            <div class="card__header">
              <p class="card__title">{{ speaker.name }}</p>
              <p class="card__subtitle">{{ speaker.company }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% include components/footer.html %}
{% include containers/footer.html %}