{% include header.html %}

<div class="page">

    <!-- HEADER -->
    <header class="header">
        <img src="" alt="" class="logo">
        <span class="menu__icon"></span>
    </header>
    <!-- /HEADER -->

    <!-- PAGE HEADER -->
    <div class="section section--header section--primary">
        <h1 class="headline">Services</h1>
        <p class="section__desc body--large">We work with enterprises and startups across all verticals to design and develop a blockchain solutions best suited to your needs</p>
    </div>
    <!-- /PAGE HEADER -->

    <!-- DELIVERABLES -->
    <section class="section section--alt section--primary">

        <div class="section__header">
            <h1 class="section__title title">Our deliverables</h1>
        </div>

        <div class="section__content">
        </div>

    </section>
    <!-- /DELIVERABLES -->

    <!-- APPROACH -->
    <section class="section section--grey">

        <div class="section__header">
            <h1 class="section__title title">Our approach</h1>
        </div>

        <div class="section__content">
        </div>

    </section>
    <!-- /APPROACH -->

    <!-- TOOLS -->
    <section class="section section--alt section--grey">

        <div class="section__header">
            <h1 class="section__title title">Tools & Technologies</h1>
            <p class="section__desc body--large">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
        </div>

        <div class="section__content">
        </div>

    </section>
    <!-- /TOOLS -->

    <!-- PROJECTS -->
    <section class="section section--left">

        <div class="section__header">
            <h1 class="section__title title">Previous Projects</h1>
            <p class="section__desc body--large">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
        </div>

        <div class="section__content">
        </div>

    </section>
    <!-- /PROJECTS -->

    <!-- FOOTER -->
    <footer class="footer">

        <!-- TOP -->
        <div class="footer__top">
            <img src="" alt="" class="footer__logo logo">
            <div class="footer__social">
                <h2 class="subtitle"></h2>
                <p></p>
            </div>
            <div class="footer__newsletter newsletter">
                <h2 class="subtitle"></h2>
                <p></p>
            </div>
        </div>
        <!-- /TOP -->

        <!-- BOTTOM -->
        <div class="footer__bottom">
            <p></p>
            <div class="footer__links">
                <h2 class="subtitle"></h2>
            </div>
            <div class="footer__links">
                <h2 class="subtitle"></h2>
            </div>
            <div class="footer__links">
                <h2 class="subtitle"></h2>
            </div>
        </div>
        <!-- /BOTTOM -->

    </footer>
    <!-- /FOOTER -->

</div>

{% include footer.html %}