{% include header.html %}

<div class="page">

    <header class="header">
        <img src="" alt="" class="logo">
        <span class="menu__icon"></span>
    </header>

    <!-- edit component in _includes/components/page-header.html -->
    {% include components/page-header.html
        background-color='primary'
        title='Services'
        description='We work with enterprises and startups across all verticals to design and develop blockchain solutions best suited to your needs.'
    %}

    <section class="section section--alt section--primary">

        <!-- edit component in _includes/components/section-header.html -->
        {% include components/section-header.html
            title='Our Solutions'
        %}

        <div class="section__content">
        </div>

    </section>

    <section class="section section--grey">

        <!-- edit component in _includes/components/section-header.html -->
        {% include components/section-header.html
            title='Our Approach'
            description='Building your Blockchain Project'
        %}

        <div class="section__content">
            <div class="tab tab--vertical approach">
                <div class="section__filter tab__nav approach__filter">
                    <!-- edit data in _data/approach.html -->
                    {% for item in site.data.approach %}
                        <a href="#{{ item.id }}" class="nav__button {{ item.active }} approach__button">
                            <h2 class="comment">{{ item.number }} {{ item.title }}</h2>
                        </a>
                    {% endfor %}
                </div>
                <div class="tab__content block accordion">
                    <!-- edit data in _data/approach.html -->
                    {% for item in site.data.approach %}
                        <div id="{{ item.id }}" class="tab__item">
                            <div class="approach__item">
                                <p class="approach__number">{{ item.number }}</p>
                                <div class="approach__content">
                                    <p class="approach__title lead">{{ item.title }}</p>
                                    <p class="approach__text">{{ item.text }}</p>
                                </div>
                                <img src="resources/images/icons/{{ item.icon }}.svg" alt="Icon" class="apprach__icon">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="section section--alt section--grey">

        <!-- edit component in _includes/components/section-header.html -->
        {% include components/section-header.html
            title='Technology'
        %}

        <div class="section__content">
        </div>

    </section>

    <section class="section">

        <!-- edit component in _includes/components/section-header.html -->
        {% include components/section-header.html
            title='Our Projects'
        %}

        <div class="section__content projects">
            <!-- edit data in _data/projects.html -->
            {% for item in site.data.projects %}
                <div class="projects__item">
                    <img src="resources/images/logos/clients/logo-{{ item.url }}.png" alt="Logo {{ item.alt }}" class="block projects__image hover-grayscale">
                </div>    
            {% endfor %}
        </div>

    </section>

{% include footer.html %}