{% include header.html %}

<div class="page">

    <!-- edit component in _includes/components/page-header.html -->
    {% include components/page-header.html
        background-color='primary'
        title='Services'
        description='We work with enterprises and startups across all verticals to design and develop blockchain solutions best suited to your needs'
    %}

    <section class="section section--alt section--primary">

        <!-- edit component in _includes/components/section-header.html -->
        {% include components/section-header.html
            title='Our Solutions'
        %}

        <div class="section__content tab tab--vertical solutions">
            <div class="section__filter tab__nav solutions__filter">
                <!-- edit data in _data/solutions.html -->
                {% for item in site.data.solutions %}
                    <a href="#{{ item.id }}" class="nav__button {{ item.active }} solutions__button">
                        <div class="solutions__background">
                            <img src="{{ site.baseurl }}{{ site.imageurl }}/icons/solutions/{{ item.icon }}.svg" alt="" class="solutions__icon">
                        </div>
                        <h2 class="comment">{{ item.title }}</h2>
                    </a>
                {% endfor %}
            </div>
            <div class="tab__content solutions__item">
                <!-- edit data in _data/solutions.html -->
                {% for item in site.data.solutions %}
                    <div id="{{ item.id }}" class="tab__item solutions__item">
                        <p class="solutions__text body--large">{{ item.text }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    
    </section>

    <section class="section section--grey">

        <!-- edit component in _includes/components/section-header.html -->
        {% include components/section-header.html
            title='Our Approach'
            description='Building your Blockchain Project'
        %}

        <div class="section__content tab tab--vertical approach">
            <div class="section__filter tab__nav approach__filter">
                <!-- edit data in _data/approach.html -->
                {% for item in site.data.approach %}
                    <a href="#{{ item.id }}" class="nav__button {{ item.active }} approach__button">
                        <h2 class="comment">{{ item.number }} {{ item.title }}</h2>
                    </a>
                {% endfor %}
            </div>
            <div class="tab__content block">
                <!-- edit data in _data/approach.html -->
                {% for item in site.data.approach %}
                    <div id="{{ item.id }}" class="tab__item">
                        <div class="approach__item">
                            <p class="approach__number">{{ item.number }}</p>
                            <div class="approach__content">
                                <p class="approach__title lead">{{ item.title }}</p>
                                <p class="approach__text">{{ item.text }}</p>
                            </div>
                            <img src="{{ site.baseurl }}{{ site.imageurl }}/icons/{{ item.icon }}.svg" alt="Icon" class="apprach__icon">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </section>

    <section class="section section--alt section--grey">

        <!-- edit component in _includes/components/section-header.html -->
        {% include components/section-header.html
            title='Technology'
        %}

        <div class="section__content technology">
            <!-- edit data in _data/images.html -->
            {% for item in site.data.images.technology %}
                <div class="technology__item">
                    <div class="technology__image">
                        <img src="{{ site.baseurl }}{{ site.imageurl }}/logos/tools/logo-{{ item.url }}.svg" alt="Logo {{ item.alt }}" class="">
                    </div>
                    <p class="body--large">{{ item.alt }}</p>
                </div>
            {% endfor %}
        </div>

    </section>

    <section class="section">

        <!-- edit component in _includes/components/section-header.html -->
        {% include components/section-header.html
            title='Our Projects'
        %}

        <div class="section__content projects">
            <!-- edit data in _data/projects.html -->
            {% for item in site.data.projects %}
                <div class="projects__item tooltip tooltip--click" onclick="tooltip{{ item.url }}()">
                    <img src="{{ site.baseurl }}{{ site.imageurl }}/logos/clients/logo-{{ item.url }}.png" alt="Logo {{ item.name }}" class="block projects__image hover-grayscale tooltip__trigger">
                    <p class="tooltip__inner tooltip--top" id="js-tooltip-inner-{{ item.url }}">{{ item.name }}</p>
                </div>
            {% endfor %}
        </div>

    </section>

    <!-- CLICK FUNCTION -->
    <script>

        {% for item in site.data.projects %}
            function tooltip{{ item.url }}() {
                var popup = document.getElementById("js-tooltip-inner-{{ item.url }}");
                popup.classList.toggle("show");
            }
        {% endfor %}            
    
    </script>
    <!-- / CLICK FUNCTION -->
    
    
{% include footer.html %}