---
layout: compress
---

{% include containers/header.html %}

<section class="section section--white">
  <div class="section__content">
    <p class="block__subtitle body--large">In the meantime, don't hesitate to</p>
    <div class="block__content">
      <a href="{{ site.base-url }}" class="ga-button-projects button button--primary-darken button--animate fas fa-fill">
        <p class="button__inner">Back to homepage</p>
      </a>
    </div>
    <p class="block__subtitle body--large">And don't forget to follow us on our social media</p>
    <div class="block__content">
      {% include components/social.html %}
    </div>
  </div>
</section>

{% include containers/footer.html %}