{% include header.html %}

<div id="webinar" style="background-image: url({{ site.url}}{{ site.imageurl}}/background/webinar.png);">
    <!-- edit component in _includes/components/page-header.html -->
    {% include components/page-header.html
        background-color='primary'
        title='Register for our Webinar'
        description='Fancy an introduction on an exciting new techonology?'
        comment='We are hosting a workshop on zero knowledge proofs at Level39 in Canary Wharf. If you can’t attend, don’t hesitate to register for the webinar which will feature the presentation by provided by Adi Ben-Ari, Founder & CEO at Applied Blockchain.'
    %}
    <section class="section section--alt section--primary">
        <div class="section__content">
            <div class="row">
                <div class="coloffset--md2 col--md8">
                    <a href="https://zoom.us/webinar/register/WN_W7RvoOCMTVKa7hvcuWWVZQ" target="_blank" class="button button--large button--highlight button--animate fas fa-calendar">
                        <p class="button__inner">Register</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>

{% include footer.html %}