---
layout: compress
---

{% include containers/header.html %}

<section class="section section--dark">
    <div class="section__content">
        <div class="row row--center">
            {% if page.meta != "hide" %}
            <div class="col--md6 hide--tablet body--left">
                {% include components/cards/webinar.html %}
            </div>
            {% endif %}
            <div class="{% if page.meta != "hide" %}col--md6{% else %}col--lg9{% endif %}">
                <div class="background--shadow">
                    {{ content }}
                </div>
            </div>
        </div>
</section>

{% include containers/footer.html %}