@charset "UTF-8";



/* 
 * —————————————————————————————————————————————————————————————————
 * EVENTS
 * —————————————————————————————————————————————————————————————————
*/

.event {
    width: 100%;
    padding: 0;

    &__item {
        @include display-flex();
        position: relative;

        & + & {
            border-top: 1px solid $mediumgrey;
        }
    }

    &__image {
        @include flex-basis(33.333%);
        @include responsive(max-width, $mobile-max) {
            display: none;
        }
    }

    &__content {
        @include display-flex();
        @include justify-content(space-between);
        @include flex-basis(66.666%);
        text-align: left;
        @include responsive(max-width, $tablet-max) {
            @include flex-direction(column);
        }
        @include responsive(max-width, $mobile-max) {
            @include flex-basis(100%);
        }
    }

    &__meta {
        padding-right: $integer;
    }
    
    &__actions {
        @include display-flex();
        @include flex-direction(column);
        @include responsive(max-width, $tablet-max) {
            @include flex-direction(row);
            margin-top: 10px;
        }
    }

    &__button {
        @include align-self(flex-end);

        & + & {
            margin-top: $integer/4;
        }
    }
}