@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// JOIN
// —————————————————————————————————————————————————————————————————

#join-header {

    .section__header {
        z-index: 2;
    }
}

.join {

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;

        &:before {
            @include pseudo-element('', 0, 0, 0, 0, 100%, 100%);
            background-color: rgba($primary, 0.8);
            z-index: 1;
        }

        &--london {
            @extend .join__background;
            @include background(bottom center, cover);
        }

        &--porto {
            @extend .join__background;
            @include background(center center, cover);
            @include transition(opacity 0.8s ease 0s);
            opacity: 0;
            
            &.js-show {
                opacity: 1;
            }
        }
    }
}