@charset "UTF-8";



/* 
 * —————————————————————————————————————————————————————————————————
 * K0
 * —————————————————————————————————————————————————————————————————
*/

#k0 {
    @include background(top center, cover);

    .section--header {
        @include display-flex();
        @include justify-content(center);
        padding-top: $integer*7;
        padding-bottom: $integer-xxxl;
        height: 100vh;

        .body--bold {
            margin-top: $integer-xl;
            margin-bottom: $integer;
        }
    }

    .title {
        width: 80%;
    }
}

#k0--downloads {

    .section--header {
        @include justify-content(center);
        height: 100vh;
        padding-top: $integer*7;
        padding-bottom: $integer*7;

        & > * {

        }
    }
    
    .k0__logo {
        @include align-self(flex-start);
        margin-left: -35px;
        margin-bottom: 0;
    }

    .title {
        width: 100%;
    }

    .card__download {
        @include display-flex(inline-flex);
        width: 100%;
    }

    .button--large {
        margin-top: $integer-xxxl;
    }
}

.k0 {

    &__header {
        @include display-flex();
        @include align-items(center);
    }

    &__logo {
        margin-bottom: $integer;
        width: $integer*12;
        height: auto;
    }

    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

