@charset "UTF-8";



/* 
 * —————————————————————————————————————————————————————————————————
 * MEDIA
 * —————————————————————————————————————————————————————————————————
*/

.blog {

    &__item  {
        text-align: left;
        padding: 0;
        margin-bottom: $integer;
    }

    &__image {
        height: $integer-xxxl;
    }
    
    &__content {
        position: relative;
    }
    
    &__icon {
        @include display-flex();
        @include align-items(center);
        @include justify-content(center);
        @include border-radius(50%);
        box-sizing: content-box;
        overflow: hidden;
        position: absolute;
        width: $integer*3;
        height: $integer*3;
        top: -36px;
        right: $integer;
        border: $integer/4 solid $white;

        img {
            width: 60%;
        }

        &--news {
            @extend .blog__icon;
            background-color: $secondary;
        }
        &--press-release {
            @extend .blog__icon;
            background-color: $highlight;
        }
        &--blog {
            @extend .blog__icon;
            background-color: $primary;
        }
        &--videos {
            @extend .blog__icon;
            background-color: $dark;

            img {
                width: 45%;
                margin-left: 5px;
            }
        }
        
    }
}

.filter {

    &__button {
        background-color: transparent;
        color: $black;

        &.button--primary-darken {
            color: $white;
        }

        &.active {
            background-color: $primary;
            color: $white;
        }
    }
}
