@charset "UTF-8";



/* 
 * —————————————————————————————————————————————————————————————————
 * POSTS
 * —————————————————————————————————————————————————————————————————
*/

.imVisible { color: blue; }




.post {

    &__header {
        background-attachment: fixed;
        
        &.section--primary {
            
            &:before {
                @include pseudo-element('', 0, 0, 0, 0, 100%, 100%);
                background-color: rgba($primary, 0.8);
                background-image: none;
            }        
        }
    }
    
    &__button {
        @include responsive(max-width, $tablet-max) {
            display: none !important;
        }
    }

    &__headline {
        margin-bottom: $integer-xxl;
    }

    &__title {
        margin-bottom: $integer-xl;

        .post__content + &, .post__quote + & {
            margin-top: $integer-xxl;
        }
    }

    &__subtitle {
        margin-bottom: $integer;
        font-weight: $font-bold;

        .post__content + & {
            margin-top: $integer-xl;
        }
    }

    &__relink {
        margin-top: -40px;
        margin-bottom: 60px;
        color: $primary;
        display: block;
    }

    &__content {

        & + & {
            margin-top: $integer;
        }
    }

    &__quote {
        position: relative;
        padding-left: $integer-xl;
        margin: $integer-xl 0;

        &:before {
            @include pseudo-element('', 0, auto, 0, 0, 5px, 100%);
            @include border-radius(5px);
            background-color: $mediumgrey;
        }
    }

    &__update {
        margin-bottom: $integer-xl;
        padding-top: $integer-xxxl;
        border-top: 5px solid $mediumgrey;

        .post__content + & {
            margin-top: $integer-xxxl;
        }
    }

    &__image {
        margin-top: $integer-xxxl;
    }

    a {
        text-decoration: underline;

        &.button {
            text-decoration: none;
        }
    }
}