@charset "UTF-8";
 
// —————————————————————————————————————————————————————————————————
// PROJECTS
// —————————————————————————————————————————————————————————————————

#project {
    
    &-summary,
    &-delivery {
        position: relative;
        background-attachment: fixed;

        &:before {
            @include pseudo-element('', 0, 0, 0, 0, 100%, 100%);
            background-color: rgba($primary, 0.8);
            background-blend-mode: multiply;
        }
    }

    &-summary {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: $integer-xxxxl;

        & + #project-delivery {
            padding-top: 0;
        }
    }

    &-challenge {
    
        img {

            @include responsive(max-width, $tablet-max) {
                display: none;
            }
        }
    }

    &-results {

        &.section {
            text-align: center;        
        }
    }
}