@charset "UTF-8";



/* 
 * —————————————————————————————————————————————————————————————————
 * PRODUCTS
 * —————————————————————————————————————————————————————————————————
*/

.products-intro__image {
    @include responsive(max-width, $desktop-max) {
        display: none;
    }
}

.products {

    &__intro {
        @include background(85% top, 80%);
        @include responsive(min-width, $desktop-lg-min) {
            @include background(85% 40%, 70%);
        }
        @include responsive(max-width, $desktop-max) {
            background-image: none !important;
            text-align: center;
        }

        .section__header {
            margin-bottom: 0;
        }

        img {
            @include responsive(max-width, $tablet-max) {
                width: $integer*7;
                margin-top: -$integer*7.5;
            }
        }

        .button {
            @include responsive(max-width, $tablet-max) {
                display: block !important;
                margin-bottom: $integer/2;
            }
        }
    }
    
    &__item {
        @include display-flex();
        padding: $integer/2;
        width: 25%;
        @include responsive(max-width, $desktop-max) {
            width: 50%;
        }
        @include responsive(max-width, $mobile-max) {
            width: 100%;
        }

        &:nth-child(-n+2) {
            width: 50%;
            @include responsive(max-width, $mobile-max) {
                width: 100%;
            }
        }
    }
    
    &__container {
        width: 100%;
    }

    &__logo {
        width: 20%;
        min-width: $integer*4;
        max-width: $integer-xl;
        margin-bottom: $integer
    }

    &__name {
        margin-bottom: $integer/2;
    }

    &__button {
        margin-top: $integer;
    }

    &__completion {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.7;
    }
}