@charset "UTF-8";



/* 
 * —————————————————————————————————————————————————————————————————
 * THANK YOU
 * —————————————————————————————————————————————————————————————————
*/

#thank-you {

    .section {

        &--header {
            padding-bottom: $integer-xxl;
        }
        
        &__content {
            @include flex-direction(column);
            @include align-items(center);

            .footer__title {
                display: none;
            }
        }
    }
}

.thank-you {
    
    &__item {

        & + & {
            margin-top: $integer-xl;
        }
    }
    
    &__title {
        margin-bottom: $integer;
    }
    
    &__button {
        @include display-flex();
        @include responsive(max-width, $mobile-max) {
            @include flex-direction(column);

            .button + .button {
                margin-top: $integer/2 !important;
            }
        }
        @include responsive(min-width, $mobile-min) {
            
            .button {

                &:nth-child(1) {
                    @include border-top-right-radius(0);
                    @include border-bottom-right-radius(0);
                }
        
                &:nth-child(2) {
                    @include border-top-left-radius(0);
                    @include border-bottom-left-radius(0);
                }
            }
        }

        .button {
            margin-left: 0 !important;
        }
    }
}