</div>

<!-- VENDOR JS -->
<!-- jquery -->
<script src="{{ site.base-url }}{{ site.resourceurl }}/vendor/jquery/jquery-3.3.1.min.js"></script>
<!-- owl carousel -->
<script src="{{ site.base-url }}{{ site.resourceurl }}/vendor/owlcarousel/owl.carousel.min.js"></script>
<!-- isotope (blog filter) -->
<script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.js"></script>

<!-- JAVASCRIPT -->
{% if page.layout == 'post' %}
<script src="{{ site.base-url }}{{ site.resourceurl }}/js/blog.js"></script>
{% endif %}
<script src="{{ site.base-url }}{{ site.resourceurl }}/js/carousel.js"></script>
<script src="{{ site.base-url }}{{ site.resourceurl }}/js/filter.js"></script>
<script src="{{ site.base-url }}{{ site.resourceurl }}/js/nav.js"></script>
<script src="{{ site.base-url }}{{ site.resourceurl }}/js/script.js"></script>
<script src="{{ site.base-url }}{{ site.resourceurl }}/js/tabs.js"></script>

<script type="text/javascript">
_linkedin_partner_id = "3187025";
window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
window._linkedin_data_partner_ids.push(_linkedin_partner_id);
</script><script type="text/javascript">
(function(){var s = document.getElementsByTagName("script")[0];
var b = document.createElement("script");
b.type = "text/javascript";b.async = true;
b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
s.parentNode.insertBefore(b, s);})();
</script>
<noscript>
<img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=3187025&fmt=gif" />
</noscript>

</body>
</html>
