<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125324953-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-125324953-1');
  </script>

  <!-- Google Tag Manager -->
  <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P69MF67');
  </script>

  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>  

  <!-- META -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="{% if page.layout == "post" or page.layout == "webinar" %}{{ page.headline }}{% else %}{% if page.subtitle %}{{ page.subtitle }}{% else %}{{ site.description }}{% endif %}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
  <!-- Open graphs protocal tags (creates rich content for social sharing) -->
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }} | {{ site.description }}{% endif %}"/>
  <meta property="og:description" content="{% if page.layout == "post" or page.layout == "webinar" %}{{ page.headline }}{% else %}{% if page.subtitle %}{{ page.subtitle }}{% else %}{{ site.description }}{% endif %}{% endif %}"/>
  <meta property="og:image" content="{{ site.url }}{{ site.imageurl }}/{% if page.layout == "post" %}posts/{{ page.image }}.jpg{% elsif page.layout == "webinar" %}events/{{ page.name | remove: '.html' }}.jpg{% elsif page.layout == "beyond" %}social-beyond.png{% else %}social.jpg{% endif %}"/>
  <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
  <!-- Twitter cards tags (creates rich content for social sharing) -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="@SILENTDATA1">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }} | {{ site.description }}{% endif %}">
  <meta name="twitter:description" content="{% if page.layout == "post" or page.layout == "webinar" %}{{ page.headline }}{% else %}{% if page.subtitle %}{{ page.subtitle }}{% else %}{{ site.description }}{% endif %}{% endif %}">
  <meta name="twitter:image" content="{{ site.url }}{{ site.imageurl }}/{% if page.layout == "post" %}posts/{{ page.image }}.jpg{% elsif page.layout == "webinar" %}events/{{ page.name | remove: '.html' }}.jpg{% elsif page.layout == "beyond" %}social-beyond.png{% else %}social.jpg{% endif %}">
  <meta name="twitter:site" content="{{ site.url }}{{ page.url }}" />
  
  <!-- FONTS (preload here to avoid FOUT) -->
  <link rel="preload" href="/assets/fonts/chivo/chivo-black.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/chivo/chivo-blackitalic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/chivo/chivo-bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/chivo/chivo-bolditalic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/chivo/chivo-italic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/chivo/chivo-light.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/chivo/chivo-lightitalic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/chivo/chivo-regular.woff2" as="font" type="font/woff2" crossorigin>

  <!-- FAVICONS -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.base-url }}/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.base-url }}/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.base-url }}/favicon-16x16.png">
  <link rel="manifest" href="{{ site.base-url }}/site.webmanifest">
  <link rel="mask-icon" href="{{ site.base-url }}/safari-pinned-tab.svg" color="#007bff">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.base-url }}{{ site.resourceurl }}/stylesheets/style.css" />
  
  <!-- VENDOR CSS -->
  <!-- font awesome -->
  <link href="{{ site.base-url }}{{ site.resourceurl }}/vendor/fontawesome/css/all.min.css" rel="stylesheet">
    <!-- owl carousel -->
  <link href="{{ site.base-url }}{{ site.resourceurl }}/vendor/owlcarousel/owl.carousel.min.css" rel="stylesheet">
  
  <!-- Pipedrive LeadBooster -->
  <script>window.pipedriveLeadboosterConfig = {base: 'leadbooster-chat.pipedrive.com',companyId: 2026773,playbookUuid: '86b25df7-8f29-4d01-a304-b9308e085b8b',version: 2};</script><script src="https://leadbooster-chat.pipedrive.com/assets/loader.js" async></script>
  <!-- Pipedrive tracker -->
  <script>(function(){ window.ldfdr = window.ldfdr || {}; (function(d, s, ss, fs){ fs = d.getElementsByTagName(s)[0]; function ce(src){ var cs = d.createElement(s); cs.src = src; setTimeout(function(){fs.parentNode.insertBefore(cs,fs)}, 1); } ce(ss); })(document, 'script', 'https://sc.lfeeder.com/lftracker_v1_YEgkB8lvrWM4ep3Z.js'); })();</script>

</head>

<body>

<!-- Google Tag Manager -->
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P69MF67" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>

<!-- cookie banner -->
<div class="widget widget--cookie">
  <p class="overline">We want to give you the best service by using cookies. Carry on browsing if you are happy with this, or <a href="{{ site.base-url }}/privacy-policy" class="button--underline">find out</a> how we manage your cookies.</p>
  <button class="button button--sm button--text button--white">Got it</button>
</div>

{% if page.layout != "beyond" %}
{% include components/navbar.html %}
{% endif %}

<div id="{% if page.layout == "post" %}post{% elsif page.layout == "case-study" %}case-study{% elsif page.layout == "webinar" %}webinar{% else %}{{ page.title | slugify }}{% endif %}" class="page">